@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.menu-media-center-details {
    .media-center-top {
        .top-title {
            font-weight: 800;
            font-size: fontSize(20);
            color: $black;
            margin-bottom: 20px;
            line-height: 120%;
        }
        p {
            font-weight: 400;
            font-size: fontSize(16);
            color: $light-tw-2;
            margin-bottom: 20px;
            line-height: 120%;
        }
        .top-section-links {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #1a1c1f33;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .top-section-links-left {
                display: flex;
                align-items: center;
                a {
                    margin-right: 20px;
                }
            }
            .top-section-links-right {
                margin-left: auto;
                padding-left: 20px;
            }
        }
        a {
            display: flex;
            align-items: center;
            font-weight: 800;
            font-size: fontSize(16);
            color: $light-tw-2;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 20px;
            img {
                width: 12px;
                margin-left: 15px;
                display: block;
            }
        }
    }
    .media-center-box {
        background: $lightgrey-tw;
        border-radius: 12px;
        padding: 20px;
        .media-center-title {
            font-size: fontSize(20);
            font-weight: 800;
            color: $black;
            margin-bottom: 20px;
        }
    }
    .mediaCenterFeatureSliderContainer {
        .FeatureContainer {
            width: auto;
            margin-right: 20px;
            padding: 30px;
            height: 330px;
            @include media-breakpoint-tab-port {
                padding: 30px 15px;
                height: 280px;
            }
            .Heading {
                font-size: fontSize(28);
                line-height: 33px;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(20);
                    line-height: 130%;
                }
                @include media-breakpoint-med-desktop {
                    font-size: fontSize(20);
                    line-height: 130%;
                }
            }
            .DateContainer {
                @include media-breakpoint-tab-port {
                    margin-top: 15px;
                }
                @include media-breakpoint-med-desktop {
                    margin-top: 15px;
                }
                > div {
                    img {
                        @include media-breakpoint-tab-port {
                            margin-left: 4px !important;
                            margin-bottom: 0 !important;
                        }
                        @include media-breakpoint-med-desktop {
                            margin-left: 4px !important;
                            margin-bottom: 0 !important;
                        }
                        @include media-breakpoint-hd-desktop {
                            margin-left: 4px !important;
                            margin-bottom: 0 !important;
                        }
                    }
                }
                .mediaMainImgDate {
                    @include media-breakpoint-tab-port {
                        margin-bottom: 0;
                        font-size: fontSize(12);
                    }
                    @include media-breakpoint-med-desktop {
                        margin-bottom: 0;
                        font-size: fontSize(12);
                    }
                    @include media-breakpoint-hd-desktop {
                        margin-bottom: 0;
                        font-size: fontSize(14);
                    }
                }
                .ArrowText {
                    @include media-breakpoint-tab-port {
                        margin-bottom: 0;
                        font-size: fontSize(12);
                    }
                    @include media-breakpoint-med-desktop {
                        margin-bottom: 0;
                        font-size: fontSize(12);
                    }
                    @include media-breakpoint-hd-desktop {
                        margin-bottom: 0;
                        font-size: fontSize(14);
                    }
                }
                .VerticalLine {
                    @include media-breakpoint-tab-port {
                        border: 0;
                        border-left: 1px solid $white;
                        transform: none;
                        height: 18px;
                        width: auto;
                        margin-bottom: 0;
                    }
                    @include media-breakpoint-med-desktop {
                        border: 0;
                        border-left: 1px solid $white;
                        transform: none;
                        height: 18px;
                        width: auto;
                        margin-bottom: 0;
                    }
                    @include media-breakpoint-hd-desktop {
                        border: 0;
                        border-left: 1px solid $white;
                        transform: none;
                        height: 18px;
                        width: auto;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .slick-dots {
            bottom: -63px;
            width: auto;
            left: 71px;
        }
        .mediaCenterFeatureImgCard {
            width: 132%;
        }
    
        .mediaCenterHeading {
            font-weight: 800;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -2%;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    
        .arrowDotContainer {
            margin-left: 8px;
            margin-top: 35px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .arrowContainer {
                height: 32px;
                width: 55px;
                border-radius: 100px;
                background-color: #fff;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
                    rgba(17, 17, 26, 0.05) 0px 8px 32px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            .dotContainer {
                margin-left: 10px;
                margin-right: 10px;
                height: 32px;
                width: 65px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding-top: 15px;
    
                .dotEl {
                    width: 6px;
                    height: 6px;
                    opacity: 30%;
                    background-color: #4c565c;
                    border-radius: 100%;
                }
    
                .colorActive {
                    background-color: #ee7500;
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                }
            }
        }
    }
}

.language-alignment-right {
    .menu-media-center-details {
        .mediaCenterFeatureSliderContainer {
            .arrowDotContainer {
                direction: ltr;
                justify-content: flex-end;
            }
        }
    }
    .media-center-top {
        a {
            img {
                margin-right: 15px;
                margin-left: 0;
                transform: scaleX(-1);
            }
        }
    }
}