@import "../../../../assets/scss/abstracts/abstracts";

.image-new-upload-wrap {
    position: relative;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 4px;
    padding: 15px;
    padding-right: 116px;
    .file-Titlle {
        color: #455560;
    }
    .browseUploadContainer {
        position: absolute;
        bottom: 5px;
        right: 5px;
        .browseFileUploaderBtn {
            width: 100%;
            background-color: $orange-tw;
            color: $white;
            font-size: fontSize(14);
            font-weight: 400;
            border-radius: 4px;
        }
    }
}