.makeaclaim {
    border-radius: 12px;
    background: white;
    width: 100%;
    height: 466px;
    padding: 24px 16px 0 16px;
    margin: 22px 0px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

    label {
        font-weight: 800;
        font-size: 20px;
        color: #1a1c1f;
        margin: 0;
        padding-bottom: 5px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        color: #455560;
        
    }
    }

    .claimbutton {
        background: #f47b20;
        border-radius: 8px;
        border: none;
        color: white;
        width: 100%;
        height: 54px;
        margin-bottom: 8px;
    }
