@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.AbtUsBannerCard {
	margin: 0 15px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 24px;
	width: 355px;
	height: fit-content;
	border-radius: 12px;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

	@include media-breakpoint-tab-port {
		margin: 0 10px;
		width: 270px;
	}

	h5 {
		font-weight: 900;
		font-size: fontSize(18);
		line-height: 29px;
		letter-spacing: -0.01em;
	}

	p {
		font-weight: 800;
		font-size: fontSize(22);
		line-height: 29px;
		letter-spacing: -0.02em;
		color: #1a1c1f;
		margin-bottom: 0;
		padding-right: 50px;

		@include media-breakpoint-tab-port {
			padding-right: 0;
			font-size: fontSize(16);
			line-height: 26px;
		}
	}
}

.language-alignment-right {
	.AbtUsBannerCard {
		p {
			padding-right: 0;
		}
	}
}

@include media-breakpoint-hd-desktop {
	.AbtUsBannerCard {
		padding: 30px;
		width: 385px;

		h5 {
			font-size: fontSize(22);
			line-height: 40px;
		}

		p {
			font-size: fontSize(28);
			line-height: 35px;
			padding-right: 25px;
		}
	}
}
