@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.dashboard-claims-page {
    padding-top: 20px;
    .view-more-link {
        font-weight: 400;
        font-size: fontSize(14);
        line-height: 140%;
        color: $light-tw-2;
        display: flex;
        align-items: center;
        margin-top: 20px;
        span {
            font-size: fontSize(22);
            margin-left: 10px;
            color: $orange-tw;
        }
    }
    .top-row-content {
        margin-bottom: 30px;
    }
    .small-title-claims {
        font-weight: 800;
        font-size: fontSize(20);
        line-height: 120%;
        color: $light-tw-2;
        margin-bottom: 15px;
    }
    .form-card {
        background: $white;
        border-radius: 8px;
        padding: 20px;
        .menu-section-form {
            background: #F2F3F5;
            border-radius: 12px;
            padding: 15px;
            .input-div {
                margin-bottom: 15px;
                position: relative;
                z-index: 1;
                img {
                    position: absolute;
                    z-index: 1;
                    left: 15px;
                    top: 15px;
                }
                input {
                    background: $white;
                    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
                    border-radius: 4px;
                    width: 100%;
                    border: 0;
                    outline: 0;
                    padding: 15px 20px;
                    padding-left: 50px;
                    font-weight: 400;
                    font-size: fontSize(16);
                    &::placeholder {
                        color: $silver;
                    }
                }
            }
            .form-action {
                text-align: left;
                // border-top: 1px solid #1a1c1f1a;
                // padding-top: 15px;
                // margin-top: 15px;
                width: 100%;
                button {
                    font-weight: 400;
                    font-size: fontSize(16);
                    color: $white;
                    background: #f47b20;
                    border-radius: 8px;
                    outline: 0;
                    border: 0;
                    padding: 13px 25px;
                    width: 100%;
                }
            }
        }
    }
    .submit-a-claim-section-root {
        border-bottom: 1px solid #1a1c1f1a;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }
    .submit-a-claim-section {
        background: $white;
        border-radius: 8px;
        padding: 40px;
        display: flex;
        align-items: center;
        .section-left {
            flex: 0 0 320px;
            max-width: 320px;
            padding-right: 20px;
            .nav-link-root {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                a {
                    display: inline-flex;
                    vertical-align: center;
                    align-items: center;
                    font-weight: 800;
                    font-size: fontSize(26);
                    line-height: 120%;
                    color: $silver;
                    text-decoration: none;
                    &:hover {
                        color: $black;
                    }
                    img {
                        margin-left: 15px;
                        // &.black-color {
                        //     display: none;
                        // }
                    }
                }
            }
        }
        .section-right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            > div {
                flex: 0 0 calc(50% - 5px);
            }
        }
        .submit-section-box {
            border: 1px solid #1a1c1f33;
            border-radius: 8px;
            padding: 20px;
            .title {
                font-weight: 800;
                font-size: fontSize(20);
                color: $black;
                line-height: 120%;
                margin-bottom: 20px;
            }
            .subtitle {
                font-weight: 800;
                font-size: fontSize(16);
                color: $black;
                line-height: 120%;
                margin-bottom: 6px;
            }
            .description {
                font-weight: 400;
                font-size: fontSize(12);
                color: $light-tw-2;
                line-height: 140%;
                margin-bottom: 0;
            }
            .section-list {
                border-bottom: 1px solid #1a1c1f1a;
                padding-bottom: 15px;
                margin-bottom: 15px;
                &:last-child {
                    border-bottom: 0;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        } 
    }
}