@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.FixedHeightCard {
	width: 32%;
	height: 205px;
	padding: 30px 40px;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 12px;

	@include media-breakpoint-tab-port {
		height: 168px;
		padding: 20px 20px;
	}

	.fhcTitle {
		font-weight: 900;
		line-height: 34px;
		letter-spacing: -0.02em;
		margin-bottom: 20px;

		@include media-breakpoint-tab-port {
			font-size: fontSize(15);
			margin-bottom: 15px;
			line-height: 22px;
			padding-right: 18px;
			margin-top: 8px;
		}
	}

	.fhcSubtitle {
		font-weight: 800;
		font-size: fontSize(15);
		line-height: 16px;
		text-transform: capitalize;
		@include media-breakpoint-tab-port {
			font-size: fontSize(12);
			margin-bottom: 10px;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
		img {
			width: 12px;
			margin-left: 10px;

			@include media-breakpoint-tab-port {
				width: 10px;
			}
		}
	}
}

.language-alignment-right {
	.fhcSubtitle {
		img {
			transform: rotate(180deg);
			margin-right: 20px;
			margin-left: 0 !important;
		}	
	}
}

@include media-breakpoint-hd-desktop {
	.FixedHeightCard {
		.fhcTitle {
			font-size: fontSize(25);
		}

		.fhcSubtitle {
			font-weight: 900;
			font-size: fontSize(14);
		}
	}
}
