.ithra_source {
  .ithra_career_banner {
    margin-top: 10px;
    position: relative;
    // box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;

    .ithra_image_size {
      height:545px;
      padding:16px;
      width: 100% !important;
    }
    .ithra_banner_body {
      position: absolute;
      top: 27%;
      padding: 0px 30px;
      color: #ffffff;
      height: 460px;
      h6 {
        font-weight: 800;
        font-size: 24px;
        line-height: 120%;
      }
      h4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
      }

      label {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
  .ithra_container_benefits {
    padding: 16px;
    h4 {
      font-weight: 800;
      font-size: 24px;
      
      color: #1a1c1f;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
    }
  }
  .ithra_header {
    padding-left: 16px;
    h4 {
      font-size: 24px;
      font-weight: 800;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
      margin-top: 16px;
    }
  }
  .ithra_clients {
    padding-left: 16px;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #455560;
      margin-top: 16px;
      margin-bottom: 30px;
    }
  }
  .ithra_terms {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    h4 {
      font-size: 24px;
      font-weight: 800;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
      line-height: 22.4px;
    }
  }
}
// yogesh
.ithra_benifits {
  h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
  }
  p {
    font-family: "Bliss 2";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #455560;
    margin-bottom: 20px;
  }
}

.ithra_table {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    // border: 1px solid white;
    text-align: left;
    font-size: 13px;
    padding-bottom: 10px;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f3f5;
  }
}

.ithratable_headings {
  background-color: #f2f3f5;
}
.total_table {
  background-color: #ffff;
}
.partners_color {
  color: #679ab4;
}
.ithra_discount {
  color: #1a1c1f;
  font-weight: 400;
}
.ithra_insurance {
  color: #455560;
  font-weight: 400;
}
.partner_footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-left: 12px;
}
.ithra_maintenance {
  display: flex;
  overflow: auto;
  height: 145px;
  margin-left: 7px;
}
.ithra_maintenance_more {
  margin-top: 16px;
  padding-left: 16px;
  margin-bottom: 20px;
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #455560;
  }
}

.ithra_desc_text {
  bottom: 50px;
  width: 227.25px;
  height: 135px;
  background-color: white;
  border-radius: 8px;
}

.ithra_image_position {
  padding-left: 100px;
  margin-top: 10px;
  p {
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
  }
}
.ithra_maintenance_display {
  font-size: 14px;
  font-weight: 800;
  line-height: 140%;
}
@media only screen and (min-width: 320px) and (max-width: 360px){
  .ithra_source{
  .ithra_career_banner{
    margin-top: 10px;
    position: relative;
    // box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 6px;
  }
  .ithra_banner_body {
    position: absolute;
    top: 32%;
    padding: 0px 30px;
    color: #ffffff;
    h6 {
      font-weight: 800;
      font-size: 20px;
      line-height: 120%;
    }
    h4 {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    label {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
}
