@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.mainBannerContainer{
.reportheadtag {
	color: black !important;
}
.mainBannerPara{
	color: #4C565C;
}
.maincard{
	border-radius: 8px !important;
	box-shadow: 0 0 1px 1px #fff;
	height: 100%;
	border: none;

}
.activemaincard{
	border-radius: 8px !important;
	box-shadow: 0 0 1px 1px #fff;
	height: 100%;
	border: none;
	background-color: #EE7500 ;
	

	.mainBannerPara{
		color: #fff;
	}

}
// .reportheader {
// 	font-size: fontSize(35) !important;
// }
.aligncenter {
	display: flex;
	justify-content: center;
}
.alignimage {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.alignmiddle{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignright{
	margin-left: auto !important; 
margin-right: 0 !important;
}

.openFormContainer {
	padding: 10px;
	width: 100%;
	max-width: 640px;
	.complaint-formTitle {
		color: $black;
	}
	.complaint-formPara {
		color: $light-tw;
	}
	.personalTitle {
		color: $black;
	}
	.complaintSelectContainer {
		background-color: $white;
		padding: 7px 0px 0px 10px;
		border-radius: 4px;
		.serviceTypeLabel {
			position: absolute;
			z-index: 9;
			transform: translateX(15%);
			color: #676f7c;
		}
		#complaintArrowAlign {
			bottom: 25%;
		}
		.complaintFormSelectInput {
			padding-top: 10px;
		}
	}
	.formInputFieldOne {
		background-color: $white;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 4px;
		border: none;
		padding: 30px;
		padding-left: 65px;
	}
	.formPhoneInput {
		border-radius: 4px;
	}
	#formSelectFlexType {
		padding: 15px 25px;
		display: flex;
		align-items: center;
	}
	.borderLiningTwo {
		width: 100%;
		background-color: #262626;
		opacity: 0.1;
		height: 1px;
	}
	.requestTitle {
		color: $black;
	}
	.requestTypePara {
		color: $light-tw;
	}
	.higlightRadioContainer {
		background-color: $white;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 4px;
		padding: 12px;
	}
	.normalRadioContainer {
		background-color: transparent;
		border: 1px solid rgba(38, 38, 38, 0.1);
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 4px;
		padding: 12px;
	}
	.messageTitle {
		color: $light-tw;
	}
	.complaintForm-textArea {
		width: 100%;
		height: 150px;
		padding: 12px 20px;
		box-sizing: border-box;
		border: none;
		border-radius: 4px;
		background-color: $white;
		font-size: 16px;
		font-weight: 400;
		resize: none;
		color: $light-tw;
	}
	.formConditions {
		color: $light-tw;
		width: 100%;
		max-width: 700px;
	}
	.formConditionsList {
		color: $light-tw;
	}
	.borderLiningThree,
	.borderLiningFour {
		width: 100%;
		background-color: #262626;
		opacity: 0.1;
		height: 1px;
	}
	.doc-Title {
		color: $black;
	}
	.image-upload-wrap {
		margin-top: 20px;
		border: 2px dashed rgba(38, 38, 38, 0.1);
		position: relative;
		padding: 40px 0px 20px 0px;
		border-radius: 4px;
		.file-upload-input {
			position: absolute;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			outline: none;
			opacity: 0;
			cursor: pointer;
		}
		.drag-text {
			display: flex;
			justify-content: center;
			.uploadTitle {
				color: $light-tw;
				width: 100%;
				max-width: 150px;
			}
			.uploadLink {
				color: $orange-tw;
				cursor: pointer;
			}
			.allowedFormats {
				color: $light-tw;
				width: 100%;
				max-width: 230px;
			}
		}
	}
	.complaintFormSubmitBtn {
		width: 100%;
		background-color: $orange-tw;
		color: $white;
		font-size: fontSize(16);
		font-weight: 400;
		border: none;
		border-radius: 8px;
	}
}

}