.slick-dots li {
	margin: 0px !important;
	width: 100px;
}
.TawuniyaAppSliderContainer {
	// height: 100vh;
	position: sticky;
	overflow: hidden;
	width: 100vw;
	transform: translateX(-4%);


	.slick-slide {
		height: 600px; // ← that must not be ignored
	}
	.slick-track {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
	}

	.slick-track {
		width: max-content !important;
	}
	.slider-card-root {
		padding: 0 10px;
		> div {
			width: auto;
		}
	}
	.arrowDotContainer {
		cursor: pointer;
		margin-top: 20px;
		margin-left: 8px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;

		.arrowContainer {
			height: 32px;
			width: 55px;
			border-radius: 100px;
			background-color: #fff;
			box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
				rgba(17, 17, 26, 0.05) 0px 8px 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}

		// .arrowContainerPrev {
		// 	margin-right: 100px;
		// }

		// .arrowContainerLeft {
		// 	margin-left: 100px;
		// }

		.dotContainer {
			margin-left: 10px;
			margin-right: 10px;
			height: 32px;
			width: 65px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			padding-top: 15px;
			.dotEl {
				width: 6px;
				height: 6px;
				opacity: 30%;
				background-color: #4c565c;
				border-radius: 100%;
			}
		}
	}
}
