@import "../../../assets/scss/abstracts/abstracts";

// main banner starts here

.OnlyDesktopUseMainBannerContainerGuest {
	margin-bottom: 140px;
}

.mainBannerContainer {
	.mainBannerTop {
		.mainBannerHeading {
			font-size: fontSize(50);
			line-height: 40px;
			color: $lightBlack-tw;
		}
		.mainBannerPara {
			color: $light-tw;
			font-size: fontSize(15);
		}
		.pillContainer {
			width: 100%;
			max-width: 720px;
			.pillBtnContainer {
				.highlightPill {
					background-color: $white;
					border-radius: 100px;
					padding: 3px;
					box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
					width: 100%;
					width: 133px;
					cursor: pointer;

					.pillIcon {
						position: relative;
						top: 10%;
						left: 15%;
						border-radius: 100px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.pillHighlightText {
						color: $black;
						transform: translateY(30%);
						margin-left: 15px;
					}
				}
				.normalPill {
					transform: translateY(10px);
					cursor: pointer;
					width: 100%;
					width: 133px;
					.pillIcon {
						position: relative;
						// right: 10px;
					}
					.pillNormalText {
						color: #676f7c;
						margin-left: 10px;
					}
				}
				.moreProductPill {
					transform: translateY(10px);
					cursor: pointer;
					width: 100%;
					width: 140px;
				}
				.threeDotImg {
					position: relative;
					left: 10px;
					transform: translateY(180%);
					cursor: pointer;
				}
			}
		}
	}
}

.language-alignment-right {
	.mainBannerContainer {
		.mainBannerTop {
			.pillContainer {
				.pillBtnContainer {
					&.pr-4 {
						padding-right: 0 !important;
						padding-left: 1.5rem;
					}
					.threeDotImg {
						left: -3px;
					}
					.highlightPill {
						.pillIcon {
							left: 0;
						}
						.pillHighlightText {
							margin-left: 0;
							margin-right: 15px;
						}
					}
					.normalPill {
						.pillNormalText {
							margin-left: 0;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

// main banner ends here

// main banner responsive starts here

@include media-breakpoint-hd-desktop {
	// main banner starts here
	.mainBannerContainer {
		margin-top: 60px;
		margin-bottom: 110px;
		.mainBannerTop {
			.mainBannerHeading {
				font-size: fontSize(52);
				line-height: 40px;
				color: $lightBlack-tw;
			}
			.mainBannerPara {
				color: $light-tw;
				font-size: fontSize(16);
			}
		}
	}
}

@include media-breakpoint-tab-port {
	.mainBannerContainer {
		.mainBannerTop {
			.pillContainer {
				.pillBtnContainer {
					.moreProductPill {
						font-size: fontSize(12);
						width: auto;
					}
					.normalPill {
						align-items: center;
						padding-top: 8px;
						padding-bottom: 8px;
						transform: none;
						.pillNormalText {
							margin-bottom: 0;
							transform: none;
							font-size: fontSize(12);
						}
					}
					.highlightPill {
						display: flex;
						align-items: center;
						padding-top: 5px;
						padding-bottom: 5px;
						.pillHighlightText {
							font-size: fontSize(12);
							margin-bottom: 0;
							transform: none;
						}
					}
				}
			}
			.mainBannerHeading {
				font-size: fontSize(40);
			}
		}
	}
}

// main banner responsive starts here
