@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.dashboard-support-center-page {
    padding-top: 20px;
    .help-center-card-root {
        margin-bottom: 15px;
    }
    .top-row-content {
        margin-bottom: 30px;
    }
    .resultBar-title {
        font-weight: 800;
        font-size: fontSize(20);
        line-height: 120%;
        color: $light-tw-2;
        margin-bottom: 15px;
    }
    .view-more-link {
        font-weight: 400;
        font-size: fontSize(14);
        line-height: 140%;
        color: $light-tw-2;
        display: flex;
        align-items: center;
        span {
            font-size: fontSize(22);
            margin-left: 10px;
            color: $orange-tw;
        }
    }
    .resultBar {
        background-color: $white;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 12px;
        .accordionToggler {
          box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
          cursor: pointer;
          > .pl-3 {
            @include media-breakpoint-tab-port {
                padding-left: 0 !important;
            }
          }
          > .pr-3 {
            @include media-breakpoint-tab-port {
                padding-right: 0 !important;
            }
          }
          .fs-16 {
            @include media-breakpoint-tab-port {
                font-size: fontSize(14);
            }
          }
          .fs-14 {
            @include media-breakpoint-tab-port {
                font-size: fontSize(12);
            }
          }
          .searchStatus {
            background-color: #fdf1e5;
            color: #ee7500;
            transform: translateY(5px);
            border-radius: 100px;
          }
          .searchSuccessStatus {
            background-color: #e3ffef;
            color: #237b4b;
            transform: translateY(5px);
            border-radius: 100px;
          }
        }
        .detailReportContainer {
          padding: 0px 27px 0px 27px;
          .complaintDetailTitle {
            color: $black;
            border-bottom: 1px solid rgba(38, 38, 38, 0.1);
          }
          .detailInfoContainer {
            background-color: $white;
            padding: 10px;
            &:nth-child(odd) {
              background-color: rgba(242, 243, 245, 1);
            }
            .leftComplaintText {
              color: $light-tw;
            }
            .rightComplaintText {
              color: $black;
            }
          }
        }
    }
    .product-services-support {
        border-bottom: 1px solid #1a1c1f1a;
        padding-bottom: 40px;
        margin-bottom: 20px;
        .product-services-support-title {
            font-weight: 800;
            font-size: fontSize(20);
            line-height: 120%;
            color: $black;
            margin-bottom: 15px;
        }
        .space-normal {
            &:first-child {
                margin-left: 20px;
            }
        }
    }
}