.my-family {
	.insure-card {
		margin-top: 24px;
		padding: 0px 16px;

		img {
			width: 100%;
			border-radius: 12px;
			min-height: 268px;
		}

		h4 {
			position: absolute;
			top: 47%;
			transform: translate(-50%, -45%);
			text-align: center;
			font-style: normal;
			font-weight: 800;
			font-size: 22px;
			color: #fff;
			left: 50%;
			width: 100%;
			max-width: 300px;
		}

		p {
			position: absolute;
			top: 63%;
			transform: translate(-50%, -63%);
			text-align: center;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			color: #fff;
			left: 50%;
			width: 85%;
		}
	}

	.policy-card {
		padding: 0px 16px;
		margin-bottom: 28px;

		h5 {
			font-style: normal;
			font-weight: 800;
			font-size: 20px;
			color: #000;
			padding: 24px 0px 12px;
			text-align: center;
		}
	}

	.question-section {
		margin: 0px 16px;

		h6 {
			font-weight: 800;
			font-size: 24px;
			margin: 0;
			padding: 12px 0px 8px;
			color: #1a1c1f;
		}

		p {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			color: #455560;
		}
	}

	.future-card {
		padding: 0px 16px;

		h4 {
			font-weight: 800;
			margin-top: 35px;
		}

		.simple_text {
			font-weight: 400;
			font-size: 16px;
			color: #455560;
		}

		.plan_details {
			margin-top: 14px;
			font-size: 12px;
			font-weight: 800;
			color: #455560;
			margin-bottom: 30px;
		}

		.center_content {
			font-weight: 400;
			font-size: 15.5px;
			color: #455560;
		}

		.silver_blue {
			color: #679ab4;
		}

		.plans_font {
			font-weight: 800;
		}

		.annual_font {
			font-size: 12px;
			font-weight: 400;
			color: #455560;
		}

		.enquiry_btn {
			border: none;
			background-color: #f47b20;
			color: white;
			border-radius: 5px;
			font-size: 14px;
			height: 30px;
			margin-bottom: 10px;
		}

		.program_text {
			font-size: 16px;
			// padding: 10px;
			// width: 200px;
			display: flex;
			width: 150%;
			justify-content: space-between;
		}

		.program_btns {
			border: none;
			background-color: white;
			color: black;
			margin-bottom: 0px;
			padding: 16px;
			border-radius: 5px;
			font-size: 15px;
			margin-right: 16px;

			&.active {
				background-color: #f47b20;
				color: white;
				box-shadow: 0px 10px 20px #ee750033;
				border-radius: 4px;
			}
		}

		.total_smallscroll {
			overflow: hidden;
			overflow: auto;
			width: 100%;
		}

		.insurance_bg {
			background-color: white;
		}

		.insurancefooter_box {
			padding-top: 3px;
			padding-left: 28px;
			padding-bottom: 15px;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 0px 0px 20px 20px;

			li {
				font-weight: 400;
				font-size: 16px;
				color: #455560;
				list-style-type: none;
				position: relative;

				&::before {
					position: absolute;
					content: "";
					background: #455560;
					height: 5px;
					width: 5px;
					left: -13px;
					top: 10px;
					border-radius: 50%;
				}
			}
		}

		.li {
			font-weight: 400;
			font-size: 16px;
			color: #455560;
		}

		.four_box {
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border: none;
		}

		.final_para {
			font-weight: 400;
			font-size: 15px;
			color: #455560;
		}

		.golden_fonts {
			font-size: 12px;
			font-weight: 800;
		}

		.list_text {
			font-weight: 400;
			font-size: 16px;
			color: #455560;
		}
	}
}

.insurancetitle {
	margin-left: 10px;
	font-weight: 800;
	font-size: 24px;
	line-height: 120%;
}

@import "../../assets/scss/abstracts/abstracts";
@import "../../assets/scss/abstracts/mixins.scss";

.motorInsuranceContainer {
	.motorTitle {
		font-size: fontSize(48);
		color: $black;
	}

	.motorPara {
		color: rgba(76, 86, 92, 1);
		width: 100%;
		max-width: 700px;
	}

	.insuranceText {
		transform: translateY(10px);
	}

	#insureCardTextWidth {
		width: 100%;
		max-width: 130px;
	}

	.positionReward-ManageCard {
		.managePolicy {
			width: 100%;

			// max-width: 390px;
			.policyContainer {
				padding: 15px;
				background-color: rgba(52, 56, 62, 1);
				border-radius: 12px 12px 0px 0px;

				.addManageIcon {
					transform: translateY(10%);
				}

				.manageText {
					color: $white;
				}

				.addText {
					color: $white;
					font-size: fontSize(12);
				}
			}

			.policyTypeContainer {
				background-color: $white;
				border-radius: 0px 0px 12px 12px;

				.vehilcleBox {
					border-right: 1px dashed #bfbebe;

					.policyBoxPara {
						color: $light-tw;
						transform: translateY(20%);
						text-align: center;
					}
				}

				.coverageBox {
					border-right: 1px dashed #bfbebe;

					.policyBoxPara {
						color: $light-tw;
						transform: translateY(20%);
						text-align: center;
					}
				}

				.renewBox {
					.renewBoxPara {
						color: $light-tw;
						transform: translateY(20%);
						text-align: center;
					}
				}
			}
		}
	}

	.rewardTitle {
		color: $white;
	}

	.rewardSubTitle {
		color: $white;
		width: 100%;
		max-width: 100px;
	}

	.rewardBtnClass {
		width: 100%;
		max-width: 170px;
		background-color: $orange-tw;
		color: $white;
		border-radius: 6px;
		font-size: fontSize(16);
		font-weight: 400;
	}

	.insureMotorCard {
		.insureLayerOne {
			background-image: url("../../assets/svg/productformhead.svg");
			background-color: $orange-tw;
			padding: 12px 40px 12px 40px;
			border-radius: 12px 12px 0px 0px;

			.insureCardTitle {
				font-size: fontSize(38);
				color: $white;
			}
		}

		.insureLayerTwo {
			background-color: $white;
			padding: 20px 0px 10px 0px;
			border-radius: 0px 0px 10px 10px;

			.insureSubMotorLayerTwo {
				padding: 0px 38px 0px 38px;

				.individualMotorBtn {
					width: 100%;
					background-color: $orange-tw;
					color: $white;
					border: none;
					border-radius: 8px;
					font-size: fontSize(16);
					font-weight: 800;
					padding: 30px;

					.singleIcon {
						width: 40px;
						height: 40px;
					}
				}

				.smeBtn {
					width: 100%;
					background-color: transparent;
					color: $black;
					border: 1px solid #d9dce1;
					border-radius: 8px;
					font-size: fontSize(16);
					font-weight: 800;
					padding: 30px 0px 30px 0px;
				}
			}

			.subInsureLayer {
				background-color: $lightgrey-tw;
				border-radius: 8px;
				margin: 20px 40px 20px 40px;

				.motorInputfieldOne {
					background-color: $white;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					border-radius: 4px;
					border: none;
					padding: 29px 0px 29px 0px;
					padding-left: 65px;
				}

				.motorPhoneInput {
					border-radius: 0px 8px 8px 0px;
					padding: 15px 15px;
				}

				#motorSelectInputWidth {
					max-width: 135px;
				}

				#motorFlexType {
					display: flex;
					padding: 15px 45px;
					justify-content: space-around;
					align-items: center;
				}
			}

			.insureNowBtn {
				width: 100%;
				max-width: 535px;
				background-color: #ee7500;
				padding: 10px;
				color: $white;
				border-radius: 8px;
			}

			.termsContainer {
				padding: 0px 38px 0px 38px;

				.insureTerms {
					color: $light-tw;
				}
			}
		}
	}
}

.motorProduct-CardContainer {
	.motorProduct-CardLayout {
		background-color: $white;
		border-radius: 10px;
		padding: 35px 45px 45px 45px;
		height: 100%;

		.motorCard-headerContent {
			color: $black;
		}

		.motor-cardcarIcon {
			transform: translateY(5px);
		}

		.motorCard-ProgressContainer {
			width: 100%;
			border-radius: 25px;
			background-color: #ededed;

			.progress-LevelMotor {
				background-color: $orange-tw;
				padding: 5px;
				border-radius: 25px;
			}

			#individual-ProgressLevelOne {
				width: 100%;
			}

			#individual-ProgressLevelTwo {
				width: 50%;
			}
		}

		.motorLearnBtn {
			width: 100%;
			min-height: 50px;
			background-color: transparent;
			border: 1px solid $orange-tw;
			border-radius: 10px;
			color: $orange-tw;
			font-size: fontSize(16);
			font-weight: 400;
		}

		.motorCard-SubHeader,
		.motorCard-SubParas {
			color: $light-tw;
		}

		.motorCard-SubParaOne {
			color: $light-tw;
			width: 100%;
			max-width: 340px;
		}

		.motorCard-SubParaTwo {
			color: $light-tw;
			width: 100%;
		}

		.motorCard-SubParaThree {
			color: $light-tw;
			width: 100%;
		}

		.available-motorProductTitle {
			color: $black;
		}

		.alShameel-Title {
			color: $light-tw;
			position: relative;
			top: 15%;
		}

		.buyNowMotorBtn,
		.buyNowMotorBtnNew {
			width: 100%;
			background-color: $orange-tw;
			color: $white;
			border-radius: 8px;
			border: none;
			font-size: fontSize(16);
			font-weight: 400;
		}

		.buyNowMotorBtnNew {
			min-height: 50px;
		}

		.breakdown-CardContainer {
			padding-top: 85px;
		}
	}
}

.MotorInsuranceMainContainer {
	// styles for motor blog section starts here
	.MotorBlogs {
		// height: 647px;
		width: 100%;

		.MotorBlogsHead {
			.MotorBlogsText {
				h5 {
					font-weight: 800;
					font-size: fontSize(40);
					line-height: 48px;
					letter-spacing: -0.02em;
					color: $black;
				}

				span {
					font-weight: 400;
					font-size: fontSize(18);
					line-height: 25px;
					color: $light-tw;
				}
			}
		}

		.MotorBlogsImgContainer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;

			.MotorBlogsImga {
				background-repeat: no-repeat;
				background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 14.18%,
						rgba(0, 0, 0, 0.63) 78.64%
					),
					url("../../assets/images/family-lobby.png");
				height: 500px;
				min-height: 455px;
				background-repeat: no-repeat;
			}

			.MotorBlogsImgb {
				background-repeat: no-repeat;
				margin-left: 20px;
				background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 14.18%,
						rgba(0, 0, 0, 0.63) 78.64%
					),
					url("../../assets/images/woman-drive.png");
				height: 500px;
				min-height: 455px;
				background-repeat: no-repeat;
			}
		}

		.MotorBlogsImga,
		.MotorBlogsImgb {
			background-repeat: no-repeat;
			position: relative;
			width: 100%;
			height: 380px;
			margin-top: 20px;
			border-radius: 20px;

			.MotorBlogsImgText {
				position: absolute;
				bottom: 30px;
				left: 5%;
				z-index: 3;

				h5 {
					font-weight: 800;
					font-size: fontSize(38);
					letter-spacing: -0.02em;
					color: #ffffff;
					width: 100%;
					max-width: 520px;
				}

				p {
					font-weight: 400;
					font-size: fontSize(12);
					line-height: 20px;
					color: #ffffff;
					width: 100%;
					max-width: 390px;
				}

				.MotorBlogsBtn {
					.blog-readMore-Btn {
						background-color: transparent;
						color: $white;
						border-radius: 4px;
						font-size: fontSize(16);
						font-weight: 400;
						width: 100%;
						max-width: 110px;
						border: 1px solid $white;
						border-radius: 8px;
					}
				}
			}
		}
	}

	.insureTerms {
		color: $light-tw;
	}
}

// styles for motor blog section ends here

//Styles for motor product section starts here
.MotrProContainer {
	.otherProductCard {
		background-color: $white;
		border-radius: 12px;
		height: 100%;
		padding: 16px;
		box-shadow: 0px 4px 10px #091e420f;
		border-radius: 8px;

		.otherProduct-header {
			color: $black;
			font-style: normal;
			font-weight: 800;
			font-size: 16px;
		}

		.otherProduct-para {
			width: 100%;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			color: #455560;
		}

		.otherProduct-Subheader {
			font-weight: 800;
			font-size: 14px;
			color: #679ab4;
		}

		.otherProduct-Subpara {
			color: #4c565c;
			font-weight: 400;
			font-size: 12px;
			line-height: 140%;
			padding-left: 10px;
			position: relative;

			&::before {
				position: absolute;
				content: "";
				background: #4c565c;
				height: 4px;
				width: 4px;
				left: 0px;
				top: 7px;
				border-radius: 50%;
			}
		}
	}

	.MotrProText {
		h5 {
			width: 100%;
			font-weight: 800;
			font-size: 24px;
			color: #1a1c1f;
		}

		span {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			color: #455560;
		}
	}

	.MotrProCardsContainer {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

//Styles for motor product section ends here

//styles for why choose tawuniya section starts here
.wctContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 20px 0;

	.wctLeft {
		width: 50%;

		.wctLeftHead {
			h5 {
				font-size: fontSize(40);
			}

			p {
				font-size: fontSize(18);
			}
		}
	}

	.wctRight {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		align-items: center;
		width: 100%;

		.wctImg1 {
			width: 400px;
			height: auto;
		}

		.wctImg2 {
			width: 200px;
			height: auto;
		}

		.wctRightImg {
			border-radius: 20px;
		}

		// .wct1 {
		//   background-image: url("../../../assets/images/homeproducts1.png") repeat 0 0;
		//   background-size: 100%;
		//   background-repeat: no-repeat;
		//   height: 400px;
		//   width: 100%;
		// }

		// .wct2 {
		//   background-image: url("../../../assets/images/homeproducts2.png");
		//   background-size: contain;
		//   background-repeat: no-repeat;
		//   height: 200px;
		//   width: 100%;
		// }
	}
}

//styles fro why choose tawuniya section ends here

// extensioncard starts here
.extensionCardContainer {
	.additionExtensionHeader {
		font-size: fontSize(40);
		color: $black;
	}

	.additionExtensionPara {
		color: #4c565c;
	}

	.extension-layout {
		width: 20%;

		.extension-service-card {
			padding: 20px;
			height: 100%;
			background-color: #ffffff;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 8px;

			.extension-content {
				color: #4c565c;
				width: 100%;
				max-width: 220px;
			}
		}
	}
}

// extensioncard ends here

// motorcard starts here
.motorcard {
	border-radius: 5px !important;
	box-shadow: 0 0 2px 2px #fff;
	// height: auto;
	border: none;
	height: 370px;

	h5 {
		font-weight: 700;
		font-size: fontSize(20);
		color: $light-tw;
	}

	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px;
	}

	.motorcard-title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h6 {
			font-style: normal;
			font-weight: 700;
			font-size: fontSize(24);
		}
	}

	.motorcard-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		.motorcard-name {
			display: flex;
			align-items: center;
		}
	}

	.statusbar-img {
		width: 20rem;
	}

	@include media-breakpoint-med-desktop {
		height: 385px;

		.motorcard-title {
			h6 {
				font-size: fontSize(18);
			}
		}
	}
}

.motor-cardcar {
	float: right;
}
.motor-ptag {
	color: #4c565c;
}

.motorbtn {
	float: right;
	border-radius: 5px !important;
	background: $orange-tw;
	border: none;
	font-size: fontSize(16);
	font-style: normal !important;
	font-weight: 400;

	&:not(:disabled):not(.disabled):active:focus {
		box-shadow: none;
	}

	&:not(:disabled):not(.disabled):active {
		background: $orange-tw;
		box-shadow: none;
		border-color: $orange-tw;
	}

	&:hover {
		background: $white;
		border-radius: 5px !important;
		color: $orange-tw;
		border: 1px solid $orange-tw;
	}

	&.outline {
		border: 1px solid $orange-tw;
		background: transparent;
		color: $orange-tw;

		&:hover {
			background: $orange-tw;
			color: $white;
		}

		&:not(:disabled):not(.disabled):active {
			border: 1px solid $orange-tw;
			background: transparent;
			color: $orange-tw;
			box-shadow: none;
		}
	}
}

// motorcard ends here

@include media-breakpoint-mobile-land {
	// extensioncard starts here
	.extensionCardContainer {
		.extension-layout {
			width: 100%;
		}
	}

	// extensioncard ends here
}

@include media-breakpoint-hd-desktop {
	.motorInsuranceContainer {
		.positionReward-ManageCard {
			padding-top: 40px;
		}
	}
}

@include media-breakpoint-med-desktop {
	.motorInsuranceContainer {
		.motorTitle {
			font-size: fontSize(40);
		}

		.motorPara {
			font-size: fontSize(18);
			width: 100%;
			max-width: 600px;
		}

		.rewardBtnClass {
			width: 100%;
			max-width: 140px;
			font-size: fontSize(12);
		}

		.insureMotorCard {
			.insureLayerOne {
				background-image: url("../../assets/svg/productformhead.svg");
				background-color: $orange-tw;
				padding: 12px 40px 12px 40px;
				border-radius: 12px 12px 0px 0px;

				.insureCardTitle {
					font-size: fontSize(26);
				}
			}

			.insureLayerTwo {
				.insureSubMotorLayerTwo {
					.individualMotorBtn {
						padding: 15px 20px 15px 20px;
					}

					.smeBtn {
						padding: 15px 0px 15px 0px;
					}
				}
			}

			.insureTerms {
				font-size: fontSize(12);
			}
		}

		.positionReward-ManageCard {
			padding-top: 27px;

			.managePolicy {
				.policyContainer {
					padding: 22px;

					.addManageIcon {
						position: relative;
						bottom: 6px;
					}

					.manageText {
						font-size: fontSize(12);
					}

					.addText {
						font-size: fontSize(10);
					}
				}

				.policyTypeContainer {
					.policyBoxPara,
					.renewBoxPara {
						font-size: fontSize(10);
					}
				}
			}
		}
	}

	.extensionCardContainer {
		.additionExtensionHeader {
			font-size: fontSize(32);
		}

		.additionExtensionPara {
			font-size: fontSize(16);
		}

		.extension-layout {
			.extension-service-card {
				.extension-content {
					width: 100%;
					max-width: 200px;
					font-size: fontSize(20);
				}
			}
		}
	}

	.motorProduct-CardContainer {
		.motorProduct-CardLayout {
			padding: 30px 20px 20px 20px;

			.motorCard-headerContent {
				font-size: fontSize(18);
			}

			.motor-cardcarIcon {
				transform: translateY(0px);
			}

			.motorLearnBtn {
				font-size: fontSize(14);
			}

			.motorCard-SubHeader {
				font-size: fontSize(14);
			}

			.motorCard-SubParaOne {
				width: 100%;
				max-width: 300px;
				font-size: fontSize(12);
			}

			.motorCard-SubParaTwo {
				width: 100%;
				font-size: fontSize(12);
			}

			.motorCard-SubParaThree {
				width: 100%;
				font-size: fontSize(12);
			}

			.available-motorProductTitle {
				font-size: fontSize(14);
				padding-bottom: 5px;
			}

			.alShameel-Title {
				font-size: fontSize(20);
			}

			.buyNowMotorBtn,
			.buyNowMotorBtnNew {
				font-size: fontSize(14);
			}
		}
	}

	.MotrProContainer {
		.otherProductCard-Container {
			.otherProductCard {
				padding: 30px;

				.otherProduct-header {
					font-size: fontSize(18);
				}

				.otherProduct-para {
					font-size: fontSize(12);
					width: 100%;
					max-width: 330px;
				}

				.otherProduct-Subheader {
					font-size: fontSize(12);
				}

				.otherProduct-Subpara {
					font-size: fontSize(12);
				}
			}
		}

		.MotrProText {
			h5 {
				font-size: fontSize(26);
				line-height: 20px;
			}

			span {
				font-size: fontSize(12);
			}
		}
	}
}

@include media-breakpoint-tab-land {
	.motorInsuranceContainer {
		.motorTitle {
			font-size: fontSize(56);
		}

		.motorPara {
			font-size: fontSize(14);
			width: 100%;
			max-width: 500px;
		}

		.positionReward-ManageCard {
			padding-top: 30px;

			.managePolicy {
				.policyContainer {
					.addManageIcon {
						position: relative;
						bottom: 6px;
					}

					.manageText {
						font-size: fontSize(10);
					}

					.addText {
						font-size: fontSize(7) !important;
						line-height: 10px;
						max-width: 400px;
					}
				}

				.policyTypeContainer {
					.vehilcleBox {
						.policyBoxPara {
							font-size: fontSize(8);
						}
					}

					.coverageBox {
						.policyBoxPara {
							font-size: fontSize(8);
						}
					}

					.renewBox {
						.renewBoxPara {
							font-size: fontSize(8);
						}
					}
				}
			}
		}

		.rewardTitle {
			font-size: fontSize(14);
		}

		.rewardSubTitle {
			font-size: fontSize(14);
			transform: translateY(8px);
		}

		.rewardBtnClass {
			width: 100%;
			max-width: 100px;
			max-height: 30px;
			font-size: fontSize(8);
			position: relative;
		}

		.insureMotorCard {
			.insureLayerOne {
				padding: 12px 40px 12px 40px;

				.insureCardTitle {
					font-size: fontSize(22);
				}
			}

			.insureLayerTwo {
				.insureSubMotorLayerTwo {
					padding: 0px 20px 0px 20px;

					.individualMotorBtn {
						padding: 15px 20px 15px 20px;
						font-size: fontSize(10);

						.singleIcon {
							width: 30px;
							height: 30px;
						}
					}

					.smeBtn {
						padding: 15px 0px 15px 0px;
						font-size: fontSize(10);

						.groupIcon {
							width: 40px;
							height: 40px;
						}
					}
				}

				.subInsureLayer {
					margin: 20px 20px 20px 20px;

					#motorSelectInputWidth {
						max-width: 100px;
					}

					.companyTerms {
						font-size: fontSize(10);
					}
				}

				.termsContainer {
					padding: 0px 20px 0px 20px;

					.insureTerms {
						color: $light-tw;
					}
				}

				#position-BuyBtn {
					position: relative;
					top: 0px;
				}
			}

			.insureTerms {
				font-size: fontSize(10);
				width: 100%;
			}
		}

		.managePolicy {
			.policyContainer {
				.addText {
					font-size: fontSize(12);
				}
			}

			.policyTypeContainer {
				.policyBoxPara,
				.renewBoxPara {
					font-size: fontSize(12);
				}
			}
		}
	}

	.extensionCardContainer {
		.additionExtensionHeader {
			font-size: fontSize(26);
		}

		.additionExtensionPara {
			color: #4c565c;
			font-size: fontSize(13);
		}

		.extension-layout {
			.extension-service-card {
				.extension-content {
					width: 100%;
					max-width: 200px;
					font-size: fontSize(15);
				}
			}
		}
	}

	.motorProduct-CardContainer {
		.motorProduct-CardLayout {
			padding: 20px 10px 10px 10px;

			.motorCard-headerContent {
				font-size: fontSize(16);
			}

			.motor-cardcarIcon {
				transform: translateY(-5px);
			}

			.motorLearnBtn {
				font-size: fontSize(12);
			}

			.motorCard-SubHeader {
				font-size: fontSize(12);
			}

			.motorCard-SubParaOne {
				width: 100%;
				max-width: 250px;
				font-size: fontSize(10);
			}

			.motorCard-SubParaTwo {
				width: 100%;
				font-size: fontSize(10);
			}

			.motorCard-SubParaThree {
				width: 100%;
				font-size: fontSize(10);
			}

			.available-motorProductTitle {
				font-size: fontSize(12);
				padding-bottom: 5px;
			}

			.alShameel-Title {
				color: $light-tw;
				position: relative;
				top: 5%;
				font-size: fontSize(14);
			}

			.buyNowMotorBtn,
			.buyNowMotorBtnNew {
				font-size: fontSize(12);
			}
		}
	}

	.MotorInsuranceMainContainer {
		// styles for motor blog section starts here
		.MotorBlogs {
			width: 100%;

			.MotorBlogsHead {
				.MotorBlogsText {
					h5 {
						font-size: fontSize(26);
						line-height: 20px;
					}

					span {
						font-size: fontSize(12);
					}
				}
			}

			.MotorBlogsImgContainer {
				.MotorBlogsImga {
					height: 500px;
					min-height: 455px;
				}

				.MotorBlogsImgb {
					height: 500px;
					min-height: 455px;
				}
			}

			.MotorBlogsImga,
			.MotorBlogsImgb {
				.MotorBlogsImgText {
					h5 {
						font-size: fontSize(24);
						width: 100%;
						max-width: 330px;
					}

					p {
						font-size: fontSize(12);
						max-width: 390px;
					}
				}
			}
		}
	}

	.MotrProContainer {
		.otherProductCard-Container {
			.otherProductCard {
				padding: 10px;

				.otherProduct-header {
					font-size: fontSize(16);
				}

				.otherProduct-para {
					font-size: fontSize(10);
				}

				.otherProduct-Subheader {
					font-size: fontSize(12);
				}

				.otherProduct-Subpara {
					font-size: fontSize(12);
				}
			}
		}

		.MotrProText {
			h5 {
				font-size: fontSize(26);
				line-height: 20px;
			}

			span {
				font-size: fontSize(12);
			}
		}
	}
}

@include media-breakpoint-tab-port-med-only {
	.MotorInsuranceMainContainer {
		// styles for motor blog section starts here
		.MotorBlogs {
			.MotorBlogsHead {
				.MotorBlogsText {
					h5 {
						font-size: fontSize(26);
						line-height: 20px;
					}

					span {
						font-size: fontSize(12);
					}
				}
			}

			.MotorBlogsImgContainer {
				display: flex;
				justify-content: flex-start;
				flex-direction: column;

				.MotorBlogsImga {
					height: 100%;
					min-height: 455px;
				}

				.MotorBlogsImgb {
					height: 500px;
					min-height: 455px;
					margin-left: 0px;
				}
			}

			.MotorBlogsImga,
			.MotorBlogsImgb {
				.MotorBlogsImgText {
					position: absolute;
					bottom: 30px;
					left: 5%;
					z-index: 3;

					h5 {
						// font-size: fontSize(18);
						width: 100%;
						// max-width: 240px;
					}

					p {
						// font-size: fontSize(10);
						width: 100%;
						// max-width: 390px;
					}

					.MotorBlogsBtn {
						.blog-readMore-Btn {
							font-size: fontSize(16);
							width: 100%;
							max-width: 110px;
						}
					}
				}
			}
		}
	}

	.MotrProContainer {
		.otherProductCard-Container {
			.otherProductCard {
				padding: 10px;

				.otherProduct-header {
					font-size: fontSize(16);
				}

				.otherProduct-para {
					font-size: fontSize(12);
					width: 100%;
					max-width: 700px;
				}

				.otherProduct-Subheader {
					font-size: fontSize(12);
				}

				.otherProduct-Subpara {
					font-size: fontSize(12);
				}
			}
		}

		.MotrProText {
			h5 {
				font-size: fontSize(26);
				line-height: 20px;
			}

			span {
				font-size: fontSize(12);
			}
		}
	}

	.extensionCardContainer {
		.additionExtensionHeader {
			font-size: fontSize(26);
		}

		.additionExtensionPara {
			font-size: fontSize(12);
		}

		.extension-layout {
			width: 20%;

			.extension-service-card {
				padding: 10px 10px 25px 10px;

				.extensionIcon {
					width: 60px;
					height: 60px;
				}

				.extensionIconOne,
				.extensionIconTwo,
				.extensionIconThree,
				.extensionIconFive {
					position: relative;
					right: 13%;
				}

				.extensionIconFour {
					position: relative;
					right: 10%;
				}

				.extension-content {
					width: 100%;
					max-width: 100px;
					font-size: fontSize(10);
				}
			}
		}
	}

	.motorInsuranceContainer {
		.motorTitle {
			font-size: fontSize(36);
		}

		.motorPara {
			width: 100%;
			max-width: 550px;
			font-size: fontSize(16);
		}

		.insureMotorCard {
			.insureLayerTwo {
				.insureNowBtn {
					width: 100%;
					max-width: 700px;
					background-color: #ee7500;
					padding: 10px;
					color: $white;
					border-radius: 8px;
				}
			}
		}
	}
}

.insurancecardslider {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;

	.otherProductCard-Container {
		max-width: 80%;
		padding-right: 0px;
	}
}

.orange {
	justify-content: center;
	padding-bottom: 20px;
	.orange_circle_one {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: #f47b20;
		box-shadow: 0px 10px 20px rgba(238, 117, 0, 0.2);
	}

	.orange_circle_two {
		width: 8px;
		height: 8px;

		border-radius: 50%;
		margin: 0px 5px;
		background: #f47b20;
	}

	.orange_circle_three {
		width: 8px;
		height: 8px;
		border-radius: 50%;
		margin-left: 5px;

		background: #f47b20;

		&.orange_circle_one {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: #f47b20;
			box-shadow: 0px 10px 20px rgba(238, 117, 0, 0.2);
		}
	}
}

.orange {
	justify-content: center;
	.orange_circle_two,
	.orange_circle_three {
		background: #cfd2d5;
		opacity: 1.67;
	}
}

.otherProductCard1 {
	background-color: $white;
	border-radius: 12px;
	// height: 100%;
	padding: 16px;
	box-shadow: 0px 4px 10px #091e420f;
	border-radius: 8px;
	// width: 240px;
	height: 192px;

	.otherProduct-header {
		color: $black;
		font-style: normal;
		font-size: 16px;
		line-height: 19.2px;
	}

	.otherProduct-para {
		width: 100%;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		color: #455560;
	}
}

// -----------------yashwanthcode
.myfamilytitletext {
	h5 {
		width: 358px;
		// height: 58px;
		font-weight: 800;
		font-size: 24px;
		line-height: 120%;
		color: #000;
	}

	span {
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
		color: #818b9b;
	}
}

.myfamilycontenttitle {
	margin: 30px 20px;
	border-bottom: 1px solid #bbbdbe;
	font-weight: 800;
	font-size: 16px;
	line-height: 120%;

	.left-content {
		width: 30%;
		// position: absolute;
		background-color: #f2f3f5;

		div {
			border-bottom: 1px solid #bbbdbe;
			box-shadow: 2px 1px #dfe1e2;
		}
	}

	.right-content {
		div {
			margin-left: 125px;
		}
	}
}

.myfamilycontent {
	margin: 30px 20px;
	border-bottom: 1px solid #bbbdbe;
	font-size: 16px;
	line-height: 120%;
	margin-top: -25px;

	.left-content {
		width: 30%;
		background-color: #f2f3f5;

		div {
			border-bottom: 1px solid #bbbdbe;
			box-shadow: 2px 1px #dfe1e2;
			padding: 25px 25px 22px 8px;
		}
	}

	.right-content {
		padding: 17px 10px 10px 0px;
		text-align: center;
		color: #455560;

		div {
			margin-left: 89px;
		}
	}
}

.opticalcontent {
	padding-top: 28px;
}

// -----example
.family_tables {
	table,
	th,
	td {
		border: 1px solid #1a1c1f1a;
		height: 54px;
	}

	table {
		th {
			font-style: normal;
			font-weight: 800 !important;
			font-size: 16px;
			line-height: 120%;
			color: #1a1c1f !important;
		}
	}

	.benefits_fonts {
		font-weight: 400;
		font-size: 16px;
		color: #1a1c1f;
		padding: 25px;
	}
}

.silver_fonts {
	color: #be5e00;
	background: linear-gradient(
		180deg,
		rgba(245, 172, 102, 0.02) 0%,
		rgba(245, 172, 102, 0.31) 100%
	);
	padding: 5px 15px 5px 15px;
}

p.text-dark {
	font-weight: 800;
	font-size: 19px;
	color: #1a1c1f;
	width: 100%;
}

.benefits_fonts {
	position: sticky;
	font-weight: 400;
	font-size: 16px;
	color: #1a1c1f;
	padding: 5px 15px 5px 15px;
}

.gold_fonts {
	padding: 5px 15px 5px 15px;
	font-weight: 400;
	font-size: 14px;
	color: #455560;
}

.plans_para {
	font-weight: 400;
	font-size: 16px;
	color: #455560;
}

.custom-header {
	padding: 0px !important;
}

.insurancecardslider1 {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;

	.otherProductCard-Container1 {
		max-width: 60%;
		padding-right: 0px;
	}
}

.plansforfuture {
	padding: 16px;
	background-color: white;
	margin: 10px;
	border-radius: 12px 12px 0px 0px;
	border-bottom: 1px solid #cdced1;
	margin: 0px;
}

.futureplancoverage {
	color: #679ab4;
}

.SR {
	color: #455560;
}

.plansforfuture1 {
	padding: 16px;
	margin: 0px 10px 0px 10px;
	border-radius: 0px;
	border-bottom: 1px solid #cdced1;
	margin: 0px;
}

.plansforfuture2 {
	padding: 16px;
	margin: 10px;
	border-radius: 0px;
	border-bottom: 1px solid #cdced1;
	background-color: white;
	margin: 0px;
}

.plan {
	height: 900px;
	overflow: hidden !important;

	&.fullwidth {
		height: 100%;
	}
}

.futureplancoverage1 {
	color: #f47b20;
	align-items: center;
}

.plansforfuture3 {
	padding: 16px;
	background-color: white;
	margin: 10px;
	border-radius: 0px 0px 12px 12px;
	border-bottom: 1px solid #cdced1;
	margin-bottom: 0px;
	margin-top: 0px;
	justify-content: center;
	align-items: center;
}

.UsefulInformation {
	padding: 16px;
	margin: 15px;
	border-radius: 8px;
	background-color: white;
}

.UsefulInformationcontent {
	color: #455560;
}
@media only screen and (max-width: 600px) {
	.otherProductCard1 .otherProduct-header {
		padding-bottom: 8px;
	}

	.otherProductCard1 .otherProduct-para {
		font-size: 16px;
		margin: 0;
		overflow: hidden;
		width: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	.family_tables {
		background: #fff;
		padding-top: 34px;
		overflow-x: scroll;

		h5 {
			font-weight: 800 !important;
			font-size: 20px;
		}

		.plans_para {
			margin-bottom: 34px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.otherProductCard1 {
		min-height: 220px;
	}
}
