.news_color{
    background-color: #679AB4 !important;
    height: 30px;
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 29px;
    padding-right: 9px;
    width: 73px;
    border-radius: 40px;
    overflow-x: auto;
}
.tawuniyanow_content{
    font-weight: 800;
    font-family: Bliss 2;
}
.now-scroll{
    overflow: hidden;
    overflow-x: auto;
}
// .newsnow_scroll{
//      background-color: white;
//      min-height: 100px;
// }
.insurance_fonts{
    font-weight: 800;
    font-family: bliss 2;
    color: #455560;
    font-size: 20px;
}
.help_font{
    font-size: 16px;
    font-weight: 800;
    font-family: bliss 2;
    color: #455560;

}
.now_box{
    margin: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 210px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.now_heading{
    margin-left: 10px;
}