.search_box_mob{
    background-color: white;
    margin-bottom: 30px;
    h5{
        font-weight: 800;
    }
    h6{
        font-weight: 800;
        margin-top: 20px;
    }
}
.results_color{
    color: #F47B20;
}
.popular_scroll{
    background-color: #F2F3F5;
    margin-bottom: 10px;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
}
