@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.slick-dots li {
  margin: 0px !important;
  width: 10px;
}

.SStyle {
  background-color: transparent;
}

.Align {
  size: 5px;
}

.Auto {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  width: 100%;
  z-index: 99;
}

.Whole {
  color: black !important;
}

.SStyle .nav-link {
  padding: 0.5rem 0.3rem;
}

.SStyle .nav-link img {
  padding-right: 6px;
}

.text-style {
  font-size: xx-small;
  color: #4c565c;
  font-style: normal;
  font-weight: 400;
}

.Styles {
  width: 300px;
  height: 52px;
  font-family: "arial";
  font-style: normal;
  font-weight: 100;
  font-size: xx-small;
}

.Style {
  width: 300px;
  height: 52px;

  font-family: "arial";
  font-style: normal;
  font-weight: 100;
  font-size: 0px;
  line-height: 130%;

  /* or 21px */
  letter-spacing: -0.01em;

  /* Neutral/Neutral 06 */
  color: #1a1c1f;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.iconn {
  height: 18.33px;
  width: 18.33px;
}

.icon {
  padding: 0px 8px 0 13px;
  padding-left: 5px;
}

.Texas {
  font-size: larger;
  font-weight: bold;
}

.bottons {
  font-weight: bolder;
}

.Slider {
  font-size: x-small;
  font-weight: 650;
}

.sou {
  width: 43%;
}

.BannerContainer_mobile {
  background: #f2f3f5;

  p.Sec {
    position: relative;
  }

  p.up {
    font-size: 16px;
    margin: 0;
    padding-bottom: 14px;
    position: relative;
    font-weight: 400;
    color: #1a1c1f;
  }
}

.landing-input {
  position: relative;
  margin: 16px;

  input.loginInputFieldOne.searchBox {
    border: 1.5px solid #d9dce1;
    border-radius: 4px;
    height: 54px;
    padding: 10px 42px 10px 50px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #4c565c;
    }
  }

  div .leftIcon .Inputicon {
    transform: translateX(18px) !important;
  }

  .phone-number-input-common {
    width: 100%;

    .select-input .input {
      cursor: default;
      display: flex;
      height: 54px;
      background: #fff;
      justify-content: center;
      align-items: center;
      width: 85px;
    }

    .image.pr-1 {
      padding: 0px !important;
      margin-right: 15px;
    }

    .number-input {
      flex: 1 0;
      height: 54px;
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
    }

    .number-input input::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #4c565c;
    }
  }
}

// cardSliderContent
.Area {
  border-radius: 5rem;
}

.card {
  margin: 0px 5px;
  /* padding: 5px; */
  /* transition: 10s ease; */
}

.scrollcards {
  overflow: auto;
  white-space: pre;
  padding: 0px 0px 25px;
}

.scrollcards.home {
  padding-left: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.match {
  background-color: grey;
}

.landingSectionSelect {
  position: relative;
  margin: 0px 15px !important;

  .helper {
    position: absolute;
    bottom: -200px;
    z-index: 0;
    left: -16px;
    width: 108%;
  }

  .menu-dot {
    position: absolute;
    right: -3px;
    top: 15px;
    background: #fff;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 7px 10px #091e420d;
  }

  .nav-tabs .nav-link {
    background: transparent;
    border: none;
    color: #4c565c;
    font-size: 15px;
    width: 100%;
    padding: 0;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}

div.scrollcards .card {
  display: inline-block;
  border: none;
  width: auto;
  box-shadow: 0px 7px 10px #091e420d;
  border-radius: 100px;
  padding: 9px 10px;
  padding-right: 15px;

  &:first-child {
    margin-left: 0px;
  }
}

img.union-top {
  position: absolute;
  z-index: 0;
}

.card-desc {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 14px;
  color: #1a1c1f;
  position: relative;
  top: 2px;
}

.font-size {
  font-size: 11px;
}

.bc {
  background-color: grey;
}

ul.landing-tab-mobile.nav.nav-tabs {
  border: none;
}

// LANDING SECTION SELECT
.landingSectionSelect {
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    border-bottom: 2px solid white;
    background-color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border: none;
    color: #1a1c1f;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
  }

  li.nav-item {
    width: 30.3%;
  }

  .Silver {
    width: 100%;
    box-shadow: 0px 7px 10px #091e420d;
    border-radius: 8px;
    border-top-left-radius: 0px;
    padding: 23px 15px 15px 15px !important;
    position: relative;
    z-index: 9;
  }

  .tab-icons {
    padding-right: 6px;
  }

  .nav-link img {
    padding: 0;
    height: 30px;
    width: 30px;
    object-fit: contain;
    box-shadow: 0px 7px 10px #091e420d;
    margin-right: 5px;
    border-radius: 50%;
  }

  .fontSize-16-400 {
    font-size: 16px;
    font-weight: 400;
  }

  .flex-space {
    display: flex;
    justify-content: space-around;
    background: #fff;
    margin: 16px;
    margin-bottom: 0px;
    border-radius: 8px;
    padding: 8px;

    button.btn {
      width: 50%;
      border-radius: 8px;
      border: none;

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  .button-color {
    color: #4c565c;
  }

  .active-color {
    background-color: #ee7500 !important;
    color: white !important;
    box-shadow: none !important;
  }

  .cardd-position {
    position: relative;
    right: 85%;
  }

  .img-move-1 {
    background-color: white;
    padding-bottom: 15px;
    /* border-right: none; */
  }

  .img-move-2 {
    background-color: white;
    padding-bottom: 15px;
    /* border-left: none; */
  }

  .imgPos2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    height: 20px;
    object-fit: contain;
  }

  .imgPos1 {
    position: relative;
    top: 2px;
  }

  .img-move-3 {
    background-color: white;
    padding-bottom: 15px;
  }

  .imgPos3 {
    position: relative;
    top: 5px;
  }

  .drop-color {
    background-color: #f2f3f5;
  }

  .img-move-4 {
    background-color: white;
    padding-bottom: 15px;
    background-color: #f2f3f5;
  }

  .buy-button {
    border: none;
    color: white;
    height: 54px;
    font-weight: 700;
    font-size: 16px;
    background: #ee7500;
    border-radius: 8px;
  }

  .bg-light {
    padding-bottom: 20px;
    margin: 0;
    border: none;
    background-color: #f2f3f5 !important;
    border-radius: 8px;
    position: relative;
  }

  .input-width input {
    width: 264px !important;
    border-radius: 20px;
    font-size: 60%;
    font-weight: 400;
    border: none;
  }
}

// LANDING HELPER SECTION
.landingHelperSection {
  background-image: url("../../../../assets/images/mobile/Rewards.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 303px;
  position: relative;
  top: 55px;
  border-top-right-radius: 8%;

  .image-button {
    display: flex;
  }

  .input-width input {
    border-radius: 20px;
    font-size: 60%;
    font-weight: 400;
    border: none;
    width: 100%;
    height: 45px;
    position: relative;
    box-shadow: 0px 4px 10px #091e420f;
    padding: 11px 24px;
    font-size: 14px;
    color: #676f7c;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #676f7c;
    }
  }

  form.input-width {
    position: relative;
    top: -25px;
    margin: 0px -2px;
  }

  img.search {
    position: absolute;
    right: 16px;
    width: auto;
  }

  .imgPos3 {
    position: relative;
  }

  .tx-style {
    font-size: 20px;
    color: #1a1c1f;
    font-weight: 800;
    // top: -55px;
    position: relative;
    margin: 0;
  }

  .SStyle {
    background-color: #f2f3f5;
  }

  .Align {
    size: 5px;
  }

  .Auto {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    width: 100%;
    z-index: 99;
  }

  .Whole {
    color: black !important;
  }

  .SStyle .nav-link {
    padding: 0.5rem 0.3rem;
  }

  .SStyle .nav-link img {
    padding-right: 6px;
  }

  .text-style {
    font-size: xx-small;
    color: #4c565c;
    font-style: normal;
    font-weight: 400;
  }

  .Styles {
    width: 300px;
    height: 52px;
    font-family: "arial";
    font-style: normal;
    font-weight: 100;
    font-size: xx-small;
  }

  .Style {
    width: 300px;
    height: 52px;

    font-family: "arial";
    font-style: normal;
    font-weight: 100;
    font-size: 0px;
    line-height: 130%;

    /* or 21px */
    letter-spacing: -0.01em;

    /* Neutral/Neutral 06 */
    color: #1a1c1f;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .iconn {
    display: flex;
    align-self: center;
  }

  .Texas {
    font-size: larger;
    font-weight: bold;
  }

  .bottons {
    font-weight: bolder;
  }

  .Slider {
    font-size: x-small;
    font-weight: 650;
  }

  .sou {
    width: 43%;
  }

  .bc-style {
    border: none;
    padding: 0px !important;
    margin: 0px 0px;

    .col-4 {
      padding: 0px 5px;
    }

    .bg-white {
      padding: 28px 0px !important;
      border-radius: 8px;
      box-shadow: 0px 7px 10px #091e420d;

      p {
        margin: 0;
      }
    }
  }

  .t-style {
    font-size: 12px;
  }
}

// PRODUCTS AND OFFERINGS
.productsOfferings {
  .txt-size {
    font-size: 14px;
    font-weight: 800;
    color: #4c565c;
    text-transform: uppercase;
  }

  .te-style {
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 500;
  }

  .Area {
    border-radius: 5rem;
  }

  .card {
    margin: 0px 5px;
    /* padding: 5px; */
    /* transition: 10s ease; */
  }

  .swipercards {
    overflow: auto;
    white-space: pre;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  .match {
    background-color: grey;
  }

  div.swipercards {
    .card {
      display: inline-block;
      position: relative;
      z-index: 9;
      width: 240.19px;
      height: 287.71px;
      border: none;
      border-radius: 8px;

      &::before {
        position: absolute;
        content: "";
        background: linear-gradient(180deg, #db175391 14.18%, #db175391 78.64%),
          url("../../../../assets/images/mobile/_Tint-Image.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-radius: 8px;
      }

      .top {
        position: absolute;
        left: 16px;
        color: #fff;
        top: 20px;

        p {
          margin: 0;
          font-weight: 800;
          font-size: 14px;
          padding-bottom: 5px;
        }

        h3 {
          font-style: italic;
        }
      }

      .bottom-slide {
        bottom: 10px;
        position: absolute;
        left: 16px;
        color: #fff;

        h4 {
          font-size: 18px;
          font-weight: 600;
        }

        h6 {
          img {
            height: 22.55px;
            width: 28.97px;
            margin-right: 10px;
          }

          font-size: 13px;
          font-weight: 600;
        }
      }
    }

    .card.one {
      &::before {
        background: linear-gradient(180deg, #6e9fbba3 14.18%, #6e9fbb 78.64%),
          url("../../../../assets/images/mobile/Tint-Image-1.svg");
        border-radius: 8px;
      }
    }

    .card.two {
      &::before {
        background: linear-gradient(180deg, #f5ac66cf 14.18%, #f5ac66cf 78.64%),
          url("../../../../assets/images/mobile/Tint-Image-2.svg");
        border-radius: 8px;
      }

      .top span {
        font-size: 70px;
        font-weight: 900;
        margin: 0;

        sub {
          font-size: 30px;
          position: relative;
          left: -10px;
          bottom: 1px;
        }
      }
    }

    .card.three {
      &::before {
        background: linear-gradient(180deg, #6e9fbba3 14.18%, #6e9fbb 78.64%),
          url("../../../../assets/images/mobile/Tint-Image-3.svg");
        border-radius: 8px;
      }
    }
  }

  .card-text {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
  }

  .font-size {
    font-size: 11px;
  }

  .bc {
    background-color: grey;
  }

  .card-text:last-child {
    margin-bottom: 0;
    font-size: xx-small;
    font-weight: bolder;
  }
}

.get-insured {
  p {
    margin: 0px;
    font-weight: 800;
    font-size: 24px;
    color: #1a1c1f;
  }
}

.terms {
  margin: 0px 16px;

  p {
    font-weight: 400;
    font-size: 12px;
    color: #4c565c;
  }
}

.productsOfferings {
  margin: 0px 16px;

  .te-style {
    position: relative;
    margin-bottom: 15px;
    color: #fff;
    padding-top: 25px;
  }

  .product-row {
    margin: 0px -5px;
  }
}

.landing-page-mobile {
  padding-bottom: 15rem;
  background: #f2f3f5;
}

.map-landing {
  p {
    color: #fff;
    padding-top: 15px;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0px;
    font-size: 14px;
  }

  iframe {
    border: none;
    width: 100%;
    border-radius: 8px;
    height: 208px;
    border: 1px solid #ddd;
  }

  .txt-size {
    font-size: 14px;
    color: #4c565c;
    font-weight: 800;
    text-transform: uppercase;
  }
}

div .map-landing {
  padding-top: 25px;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-top: 15px;
    margin: 0;
    justify-content: center;
    width: 100%;

    li {
      background: #fff;
      width: 63px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border-radius: 6px;
    }
  }

  .map-search {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;

    img.search {
      position: absolute;
      top: 16px;
    }
  }
}

.health {
  height: 102px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0px;
}

.healthsinsurancecardtittle {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #679ab4;
}

.insurancelink {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #455560;
}

.insuranceque {
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  color: #1a1c1f;
}

.nationIdClass,
.css-177d1ai-placeholder,
.mobileNoClass {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
  color: #455560;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
    color: #455560;
  }
}

.css-11nd9yp-placeholder {
  font-weight: 400;
  font-size: 16px !important;
  opacity: 0.5;
  color: #455560;
}

.inndividualDashboardBtn {
  min-height: 44px;
}

.smeDashboardBtn {
  min-height: 44px;
}

.recentFeed-navpillFlow .pillBox {
  margin-right: 10px;

  .recentFeedHighlightPill {
    // width: 107px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px #091e420f;

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #1a1c1f;
    }

    .pillIcon {
      width: 38px;
      // height: 38px;
    }
  }

  .recentFeedNormalPill {
    width: 107px;
    height: 48px;
    display: flex;

    span.recentFeed-normalPillLabel {
      padding-top: 11px;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #1a1c1f;
    }

    .pillIcon {
      width: 35px;
      height: 35px;
      box-shadow: 0px 4px 10px #091e420f;
      border-radius: 50%;
      padding: 0px !important;
      margin-right: 10px;
    }
  }

  .pillIcon {
    width: 40px;
    // height: 40px;
  }
}

// ---------------health--
.health {
  height: 102px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0px;
}

.healthsinsurancecardtittle {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #679ab4;
}

.insurancelink {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #455560;
}

.insuranceque {
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  color: #1a1c1f;
}

.healthcontent {
  margin-left: 15px;
}

// ------------faq
.question_section {
  margin: 0px 16px;
  padding: 0px;

  .accordionCollapseIcon {
    position: relative;
    top: 0;
  }

  h6 {
    color: #1a1c1f;
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 10px;
  }
}

// ------------service
.service_list {
  padding: 0px 0px 38px 16px;
  background: #f2f3f5;
  border-radius: 20px 20px 0px 0px;

  h5 {
    padding-top: 34px;
    font-weight: 800;
    font-size: 20px;
    color: #1a1c1f;
    padding-bottom: 16px;
    margin: 0;
  }
}

p.title-to {
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  color: #1a1c1f;
  margin-bottom: 12px;
  padding-top: 5px;
}

.do-more-get {
  background: #ffffff;
  box-shadow: 0px 4px 10px #091e420f;
  border-radius: 8px;
  margin: 32px 16px;
  padding: 16px;

  h6 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #1a1c1f;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #455560;
  }

  button {
    width: 100%;
    min-height: 54px;
    background: #f47b20;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 600px) {
  .landingHelperSection {
    top: 35px;

    .can-help {
      .tx-style {
        top: -38px;
      }

      form.input-width {
        top: -30px;
      }

      .bc-style {
        position: relative;
        top: -16px;

        .bg-white {
          min-height: 100px;
          background: #ffffff;
          box-shadow: 0px 4px 10px #091e420f;
          border-radius: 4px;

          p {
            margin: 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: #455560;
          }
        }
      }
    }
  }

  div .map-landing {
    padding-top: 0;
  }

  .map-landing p {
    color: #fff;
    margin: 0px;
    font-weight: 800;
    font-size: 16px;
    padding: 11px 0px 16px;
  }
}
@media only screen and (max-width: 600px) {
  .recentFeedContainer .recent-main-container .recentContainer {
    .recentFeed-navpillFlow .pillBox {
      width: auto;
    }
    .recentFeed-SubForm {
      margin-top: 0px !important;
    }
  }
  .landing-insurance {
    margin: 0px;
  }
  .recent-main-container {
    padding: 0;
  }
  .scrollcards {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    .card {
      max-width: auto;
      padding: 9px 10px;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .recentFeedContainer
    .recent-main-container
    .recentContainer
    .recentFeed-navpillFlow {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 54px;
    padding-bottom: 16px;
    .pillBox {
      max-width: auto;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      .recentFeedHighlightPill {
        padding: 3px 15px 3px 8px;
      }
      .recentFeedNormalPill {
        align-items: center;
        span.recentFeed-normalPillLabel {
          padding-top: 0;
        }
      }
    }
  }
  .map-landing iframe {
    border: none;
  }
  .productsOfferings .swipercards {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 15px;
    .card {
      border-radius: 8px;
      max-width: auto;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .do-more-get {
    margin: 17px 16px 32px 16px;
  }
  .productsOfferings .te-style {
    font-size: 20px;
    font-weight: 800;
  }
}
