@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.motorInsuranceContainer {
	.motorTitle {
		font-size: fontSize(48);
		color: $black;
	}
	.motorPara {
		color: rgba(76, 86, 92, 1);
		width: 100%;
		max-width: 700px;
	}
	.insuranceText {
		transform: translateY(10px);
	}
	#insureCardTextWidth {
		width: 100%;
		max-width: 130px;
	}
	.positionReward-ManageCard {
		.managePolicy {
			width: 100%;
			// max-width: 390px;
			.policyContainer {
				padding: 15px;
				background-color: rgba(52, 56, 62, 1);
				border-radius: 12px 12px 0px 0px;
				.addManageIcon {
					transform: translateY(10%);
				}
				.manageText {
					color: $white;
				}
				.addText {
					color: $white;
					font-size: fontSize(12);
				}
			}
			.policyTypeContainer {
				background-color: $white;
				border-radius: 0px 0px 12px 12px;
				.vehilcleBox {
					border-right: 1px dashed #bfbebe;
					.policyBoxPara {
						color: $light-tw;
						transform: translateY(20%);
						text-align: center;
					}
				}
				.coverageBox {
					border-right: 1px dashed #bfbebe;
					.policyBoxPara {
						color: $light-tw;
						transform: translateY(20%);
						text-align: center;
					}
				}
				.renewBox {
					.renewBoxPara {
						color: $light-tw;
						transform: translateY(20%);
						text-align: center;
					}
				}
			}
		}
	}

	.rewardTitle {
		color: $white;
	}
	.rewardSubTitle {
		color: $white;
		width: 100%;
		max-width: 100px;
	}
	.rewardBtnClass {
		width: 100%;
		max-width: 170px;
		background-color: $orange-tw;
		color: $white;
		border-radius: 6px;
		font-size: fontSize(16);
		font-weight: 400;
	}
	.insureMotorCard {
		.insureLayerOne {
			background-image: url("../../../assets/svg/productformhead.svg");
			background-color: $orange-tw;
			padding: 12px 40px 12px 40px;
			border-radius: 12px 12px 0px 0px;
			.insureCardTitle {
				font-size: fontSize(38);
				color: $white;
			}
		}
		.insureLayerTwo {
			background-color: $white;
			padding: 20px 0px 10px 0px;
			border-radius: 0px 0px 10px 10px;
			.insureSubMotorLayerTwo {
				padding: 0px 38px 0px 38px;
				.individualMotorBtn {
					width: 100%;
					background-color: $orange-tw;
					color: $white;
					border: none;
					border-radius: 8px;
					font-size: fontSize(16);
					font-weight: 800;
					padding: 30px;
					.singleIcon {
						width: 40px;
						height: 40px;
					}
				}
				.smeBtn {
					width: 100%;
					background-color: transparent;
					color: $black;
					border: 1px solid #d9dce1;
					border-radius: 8px;
					font-size: fontSize(16);
					font-weight: 800;
					padding: 30px 0px 30px 0px;
				}
			}
			.subInsureLayer {
				background-color: $lightgrey-tw;
				border-radius: 8px;
				margin: 20px 40px 20px 40px;
				.motorInputfieldOne {
					background-color: $white;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					border-radius: 4px;
					border: none;
					padding: 29px 0px 29px 0px;
					padding-left: 65px;
				}
				.motorPhoneInput {
					border-radius: 0px 8px 8px 0px;
					padding: 15px 15px;
				}
				#motorSelectInputWidth {
					max-width: 135px;
				}
				#motorFlexType {
					display: flex;
					padding: 15px 15px;
					justify-content: space-around;
					align-items: center;
				}
			}
			.insureNowBtn {
				width: 100%;
				max-width: 535px;
				background-color: #ee7500;
				padding: 10px;
				color: $white;
				border-radius: 8px;
			}
			.termsContainer {
				padding: 0px 38px 0px 38px;
				.insureTerms {
					color: $light-tw;
				}
			}
		}
	}
}

.motorProduct-CardContainer {
	.motorProduct-CardLayout {
		background-color: $white;
		border-radius: 10px;
		padding: 35px 45px 45px 45px;
		height: 100%;
		.motorCard-headerContent {
			color: $black;
		}
		.motor-cardcarIcon {
			transform: translateY(5px);
		}
		.motorCard-ProgressContainer {
			width: 100%;
			border-radius: 25px;
			background-color: #ededed;
			.progress-LevelMotor {
				background-color: $primary-tw;
				padding: 5px;
				border-radius: 25px;
			}
			#individual-ProgressLevelOne {
				width: 100%;
			}
			#individual-ProgressLevelTwo {
				width: 50%;
			}
		}
		.motorLearnBtn {
			width: 100%;
			min-height: 50px;
			background-color: transparent;
			border: 1px solid $orange-tw;
			border-radius: 10px;
			color: $orange-tw;
			font-size: fontSize(16);
			font-weight: 400;
		}
		.motorCard-SubHeader,
		.motorCard-SubParas {
			color: $light-tw;
		}
		.motorCard-SubParaOne {
			color: $light-tw;
			width: 100%;
			max-width: 340px;
		}
		.motorCard-SubParaTwo {
			color: $light-tw;
			width: 100%;
		}
		.motorCard-SubParaThree {
			color: $light-tw;
			width: 100%;
		}
		.available-motorProductTitle {
			color: $black;
		}
		.alShameel-Title {
			color: $light-tw;
			position: relative;
			top: 15%;
		}
		.buyNowMotorBtn,
		.buyNowMotorBtnNew {
			width: 100%;
			background-color: $orange-tw;
			color: $white;
			border-radius: 8px;
			border: none;
			font-size: fontSize(16);
			font-weight: 400;
		}
		.buyNowMotorBtnNew {
			min-height: 50px;
		}
		.breakdown-CardContainer {
			padding-top: 85px;
		}
	}
}

.MotorInsuranceMainContainer {
	// styles for motor blog section starts here
	.MotorBlogs {
		// height: 647px;
		width: 100%;
		.MotorBlogsHead {
			.MotorBlogsText {
				h5 {
					font-weight: 800;
					font-size: fontSize(40);
					line-height: 48px;
					letter-spacing: -0.02em;
					color: $black;
				}

				span {
					font-weight: 400;
					font-size: fontSize(18);
					line-height: 25px;
					color: $light-tw;
				}
			}
		}

		.MotorBlogsImgContainer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;

			.MotorBlogsImga {
				background-repeat: no-repeat;
				background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 14.18%,
						rgba(0, 0, 0, 0.63) 78.64%
					),
					url("../../../assets/images/family-lobby.png");
				height: 500px;
				min-height: 455px;
				background-repeat: no-repeat;
			}

			.MotorBlogsImgb {
				background-repeat: no-repeat;
				margin-left: 20px;
				background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 14.18%,
						rgba(0, 0, 0, 0.63) 78.64%
					),
					url("../../../assets/images/woman-drive.png");
				height: 500px;
				min-height: 455px;
				background-repeat: no-repeat;
			}
		}
		.MotorBlogsImga,
		.MotorBlogsImgb {
			background-repeat: no-repeat;
			position: relative;
			width: 100%;
			height: 380px;
			margin-top: 20px;
			border-radius: 20px;

			.MotorBlogsImgText {
				position: absolute;
				bottom: 30px;
				left: 5%;
				z-index: 3;

				h5 {
					font-weight: 800;
					font-size: fontSize(38);
					letter-spacing: -0.02em;
					color: #ffffff;
					width: 100%;
					max-width: 520px;
				}

				p {
					font-weight: 400;
					font-size: fontSize(12);
					line-height: 20px;
					color: #ffffff;
					width: 100%;
					max-width: 390px;
				}

				.MotorBlogsBtn {
					.blog-readMore-Btn {
						background-color: transparent;
						color: $white;
						border-radius: 4px;
						font-size: fontSize(16);
						font-weight: 400;
						width: 100%;
						max-width: 110px;
						border: 1px solid $white;
						border-radius: 8px;
					}
				}
			}
		}
	}
	.insureTerms {
		color: $light-tw;
	}
}
// styles for motor blog section ends here

//Styles for motor product section starts here
.MotrProContainer {
	// height: fit-content;
	// padding: 40px 0;
	// width: 100%;
	.otherProductCard-Container {
		padding: 0 10px;
	}
	.MotrPro-slider-root {
		.arrowDotContainer {
			margin-left: 8px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 100%;
			z-index: 2;
			margin-top: 20px;
			.arrowContainer {
				cursor: pointer;
				height: 32px;
				width: 55px;
				border-radius: 100px;
				background-color: #fff;
				box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
					rgba(17, 17, 26, 0.05) 0px 8px 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				position: relative;
				z-index: 1;
			}

			// .arrowContainerPrev {
			// 	margin-right: 100px;
			// }

			// .arrowContainerLeft {
			// 	margin-left: 100px;
			// }

			.dotContainer {
				margin-left: 10px;
				margin-right: 10px;
				height: 32px;
				width: 65px;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				padding-top: 15px;
				.dotEl {
					width: 6px;
					height: 6px;
					opacity: 30%;
					background-color: #4c565c;
					border-radius: 100%;
				}
			}
		}
	}
	.otherProductCard {
		background-color: $white;
		border-radius: 12px;
		height: 100%;
		padding: 40px;
		.otherProduct-header {
			color: $black;
		}
		.otherProduct-para {
			color: $light-tw;
			width: 100%;
			max-width: 370px;
		}
		.otherProduct-Subheader {
			color: $primary-tw;
		}
		.otherProduct-Subpara {
			color: $light-tw;
		}
	}
	.MotrProText {
		h5 {
			font-weight: 800;
			font-size: fontSize(40);
			line-height: 48px;
			letter-spacing: -0.02em;
			color: #1a1c1f;
		}

		p {
			font-weight: 400;
			font-size: fontSize(18);
			line-height: 25px;
			color: #818b9b;
		}
	}

	.MotrProCardsContainer {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
//Styles for motor product section ends here

//styles for why choose tawuniya section starts here
.wctContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 20px 0;

	.wctLeft {
		width: 50%;

		.wctLeftHead {
			h5 {
				font-size: fontSize(40);
			}

			p {
				font-size: fontSize(18);
			}
		}
	}

	.wctRight {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		align-items: center;
		width: 100%;

		.wctImg1 {
			width: 400px;
			height: auto;
		}

		.wctImg2 {
			width: 200px;
			height: auto;
		}

		.wctRightImg {
			border-radius: 20px;
		}

		// .wct1 {
		//   background-image: url("../../../assets/images/homeproducts1.png") repeat 0 0;
		//   background-size: 100%;
		//   background-repeat: no-repeat;
		//   height: 400px;
		//   width: 100%;
		// }

		// .wct2 {
		//   background-image: url("../../../assets/images/homeproducts2.png");
		//   background-size: contain;
		//   background-repeat: no-repeat;
		//   height: 200px;
		//   width: 100%;
		// }
	}
}
//styles fro why choose tawuniya section ends here

// extensioncard starts here
.extensionCardContainer {
	.additionExtensionHeader {
		font-size: fontSize(40);
		color: $black;
	}
	.additionExtensionPara {
		color: #4c565c;
	}
	.extension-layout {
		width: 20%;
		.extension-service-card {
			padding: 20px;
			height: 100%;
			background-color: #ffffff;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 8px;
			.extension-content {
				color: #4c565c;
				width: 100%;
				max-width: 220px;
			}
		}
	}
}
// extensioncard ends here

// motorcard starts here
.motorcard {
	border-radius: 5px !important;
	box-shadow: 0 0 2px 2px #fff;
	// height: auto;
	border: none;
	height: 370px;
	h5 {
		font-weight: 700;
		font-size: fontSize(20);
		color: $light-tw;
	}
	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px;
	}
	.motorcard-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h6 {
			font-style: normal;
			font-weight: 700;
			font-size: fontSize(24);
		}
	}
	.motorcard-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		.motorcard-name {
			display: flex;
			align-items: center;
		}
	}
	.statusbar-img {
		width: 20rem;
	}
	@include media-breakpoint-med-desktop {
		height: 385px;
		.motorcard-title {
			h6 {
				font-size: fontSize(18);
			}
		}
	}
}
.motor-cardcar {
	float: right;
}
.motor-cardcar2 {
	// float: left;
}
.motor-ptag {
	color: #4c565c;
}
.motorbtn {
	float: right;
	border-radius: 5px !important;
	background: $orange-tw;
	border: none;
	font-size: fontSize(16);
	font-style: normal !important;
	font-weight: 400;
	&:not(:disabled):not(.disabled):active:focus {
		box-shadow: none;
	}
	&:not(:disabled):not(.disabled):active {
		background: $orange-tw;
		box-shadow: none;
		border-color: $orange-tw;
	}
	&:hover {
		background: $white;
		border-radius: 5px !important;
		color: $orange-tw;
		border: 1px solid $orange-tw;
	}
	&.outline {
		border: 1px solid $orange-tw;
		background: transparent;
		color: $orange-tw;
		&:hover {
			background: $orange-tw;
			color: $white;
		}
		&:not(:disabled):not(.disabled):active {
			border: 1px solid $orange-tw;
			background: transparent;
			color: $orange-tw;
			box-shadow: none;
		}
	}
}

// motorcard ends here

@include media-breakpoint-mobile-land {
	// extensioncard starts here
	.extensionCardContainer {
		.extension-layout {
			width: 100%;
		}
	}
	// extensioncard ends here
}

@include media-breakpoint-hd-desktop {
	.motorInsuranceContainer {
		.positionReward-ManageCard {
			padding-top: 40px;
		}
	}
}

@include media-breakpoint-med-desktop {
	.motorInsuranceContainer {
		.motorTitle {
			font-size: fontSize(40);
		}
		.motorPara {
			font-size: fontSize(18);
			width: 100%;
			max-width: 600px;
		}
		.rewardBtnClass {
			width: 100%;
			max-width: 140px;
			font-size: fontSize(12);
		}
		.insureMotorCard {
			.insureLayerOne {
				background-image: url("../../../assets/svg/productformhead.svg");
				background-color: $primary-tw;
				padding: 12px 40px 12px 40px;
				border-radius: 12px 12px 0px 0px;
				.insureCardTitle {
					font-size: fontSize(26);
				}
			}
			.insureLayerTwo {
				.insureSubMotorLayerTwo {
					.individualMotorBtn {
						padding: 15px 20px 15px 20px;
					}
					.smeBtn {
						padding: 15px 0px 15px 0px;
					}
				}
			}
			.insureTerms {
				font-size: fontSize(12);
			}
		}
		.positionReward-ManageCard {
			padding-top: 27px;
			.managePolicy {
				.policyContainer {
					padding: 22px;
					.addManageIcon {
						position: relative;
						bottom: 6px;
					}
					.manageText {
						font-size: fontSize(12);
					}
					.addText {
						font-size: fontSize(10);
					}
				}
				.policyTypeContainer {
					.policyBoxPara,
					.renewBoxPara {
						font-size: fontSize(10);
					}
				}
			}
		}
	}
	.extensionCardContainer {
		.additionExtensionHeader {
			font-size: fontSize(32);
		}
		.additionExtensionPara {
			font-size: fontSize(16);
		}
		.extension-layout {
			.extension-service-card {
				.extension-content {
					width: 100%;
					max-width: 200px;
					font-size: fontSize(20);
				}
			}
		}
	}

	.motorProduct-CardContainer {
		.motorProduct-CardLayout {
			padding: 30px 20px 20px 20px;
			.motorCard-headerContent {
				font-size: fontSize(18);
			}
			.motor-cardcarIcon {
				transform: translateY(0px);
			}
			.motorLearnBtn {
				font-size: fontSize(14);
			}
			.motorCard-SubHeader {
				font-size: fontSize(14);
			}
			.motorCard-SubParaOne {
				width: 100%;
				max-width: 300px;
				font-size: fontSize(12);
			}
			.motorCard-SubParaTwo {
				width: 100%;
				font-size: fontSize(12);
			}
			.motorCard-SubParaThree {
				width: 100%;
				font-size: fontSize(12);
			}
			.available-motorProductTitle {
				font-size: fontSize(14);
				padding-bottom: 5px;
			}
			.alShameel-Title {
				font-size: fontSize(20);
			}
			.buyNowMotorBtn,
			.buyNowMotorBtnNew {
				font-size: fontSize(14);
			}
		}
	}

	.MotrProContainer {
		.otherProductCard-Container {
			.otherProductCard {
				padding: 30px 30px 20px 30px;
				.otherProduct-header {
					font-size: fontSize(18);
				}
				.otherProduct-para {
					font-size: fontSize(12);
					width: 100%;
					max-width: 330px;
				}
				.otherProduct-Subheader {
					font-size: fontSize(12);
				}
				.otherProduct-Subpara {
					font-size: fontSize(12);
				}
			}
		}
		.MotrProText {
			h5 {
				font-size: fontSize(26);
				line-height: 20px;
			}
			span {
				font-size: fontSize(12);
			}
		}
	}
}

@include media-breakpoint-tab-land {
	.motorInsuranceContainer {
		.motorTitle {
			font-size: fontSize(56);
		}
		.motorPara {
			font-size: fontSize(14);
			width: 100%;
			max-width: 500px;
		}
		.positionReward-ManageCard {
			padding-top: 30px;
			.managePolicy {
				.policyContainer {
					.addManageIcon {
						position: relative;
						bottom: 6px;
					}
					.manageText {
						font-size: fontSize(10);
					}
					.addText {
						font-size: fontSize(7) !important;
						line-height: 10px;
						max-width: 400px;
					}
				}
				.policyTypeContainer {
					.vehilcleBox {
						.policyBoxPara {
							font-size: fontSize(8);
						}
					}
					.coverageBox {
						.policyBoxPara {
							font-size: fontSize(8);
						}
					}
					.renewBox {
						.renewBoxPara {
							font-size: fontSize(8);
						}
					}
				}
			}
		}

		.rewardTitle {
			font-size: fontSize(14);
		}
		.rewardSubTitle {
			font-size: fontSize(14);
			transform: translateY(8px);
		}
		.rewardBtnClass {
			width: 100%;
			max-width: 100px;
			max-height: 30px;
			font-size: fontSize(8);
			position: relative;
		}
		.insureMotorCard {
			.insureLayerOne {
				padding: 12px 40px 12px 40px;
				.insureCardTitle {
					font-size: fontSize(22);
				}
			}
			.insureLayerTwo {
				.insureSubMotorLayerTwo {
					padding: 0px 20px 0px 20px;
					.individualMotorBtn {
						padding: 15px 20px 15px 20px;
						font-size: fontSize(10);
						.singleIcon {
							width: 30px;
							height: 30px;
						}
					}
					.smeBtn {
						padding: 15px 0px 15px 0px;
						font-size: fontSize(10);
						.groupIcon {
							width: 40px;
							height: 40px;
						}
					}
				}
				.subInsureLayer {
					margin: 20px 20px 20px 20px;
					#motorSelectInputWidth {
						max-width: 100px;
					}
					.companyTerms {
						font-size: fontSize(10);
					}
				}
				.termsContainer {
					padding: 0px 20px 0px 20px;
					.insureTerms {
						color: $light-tw;
					}
				}
				#position-BuyBtn {
					position: relative;
					top: 0px;
				}
			}
			.insureTerms {
				font-size: fontSize(10);
				width: 100%;
			}
		}
		.managePolicy {
			.policyContainer {
				.addText {
					font-size: fontSize(12);
				}
			}
			.policyTypeContainer {
				.policyBoxPara,
				.renewBoxPara {
					font-size: fontSize(12);
				}
			}
		}
	}
	.extensionCardContainer {
		.additionExtensionHeader {
			font-size: fontSize(26);
		}
		.additionExtensionPara {
			color: #4c565c;
			font-size: fontSize(13);
		}
		.extension-layout {
			.extension-service-card {
				.extension-content {
					width: 100%;
					max-width: 200px;
					font-size: fontSize(15);
				}
			}
		}
	}
	.motorProduct-CardContainer {
		.motorProduct-CardLayout {
			padding: 20px 10px 10px 10px;
			.motorCard-headerContent {
				font-size: fontSize(16);
			}
			.motor-cardcarIcon {
				transform: translateY(-5px);
			}
			.motorLearnBtn {
				font-size: fontSize(12);
			}
			.motorCard-SubHeader {
				font-size: fontSize(12);
			}
			.motorCard-SubParaOne {
				width: 100%;
				max-width: 250px;
				font-size: fontSize(10);
			}
			.motorCard-SubParaTwo {
				width: 100%;
				font-size: fontSize(10);
			}
			.motorCard-SubParaThree {
				width: 100%;
				font-size: fontSize(10);
			}
			.available-motorProductTitle {
				font-size: fontSize(12);
				padding-bottom: 5px;
			}
			.alShameel-Title {
				color: $light-tw;
				position: relative;
				top: 5%;
				font-size: fontSize(14);
			}
			.buyNowMotorBtn,
			.buyNowMotorBtnNew {
				font-size: fontSize(12);
			}
		}
	}

	.MotorInsuranceMainContainer {
		// styles for motor blog section starts here
		.MotorBlogs {
			width: 100%;
			.MotorBlogsHead {
				.MotorBlogsText {
					h5 {
						font-size: fontSize(26);
						line-height: 20px;
					}
					span {
						font-size: fontSize(12);
					}
				}
			}
			.MotorBlogsImgContainer {
				.MotorBlogsImga {
					height: 500px;
					min-height: 455px;
				}
				.MotorBlogsImgb {
					height: 500px;
					min-height: 455px;
				}
			}
			.MotorBlogsImga,
			.MotorBlogsImgb {
				.MotorBlogsImgText {
					h5 {
						font-size: fontSize(24);
						width: 100%;
						max-width: 330px;
					}
					p {
						font-size: fontSize(12);
						max-width: 390px;
					}
				}
			}
		}
	}

	.MotrProContainer {
		.otherProductCard-Container {
			.otherProductCard {
				padding: 10px;
				.otherProduct-header {
					font-size: fontSize(16);
				}
				.otherProduct-para {
					font-size: fontSize(10);
				}
				.otherProduct-Subheader {
					font-size: fontSize(12);
				}
				.otherProduct-Subpara {
					font-size: fontSize(12);
				}
			}
		}
		.MotrProText {
			h5 {
				font-size: fontSize(26);
				line-height: 20px;
			}
			span {
				font-size: fontSize(12);
			}
		}
	}
}

@include media-breakpoint-tab-port-med-only {
	.MotorInsuranceMainContainer {
		// styles for motor blog section starts here
		.MotorBlogs {
			.MotorBlogsHead {
				.MotorBlogsText {
					h5 {
						font-size: fontSize(26);
						line-height: 20px;
					}
					span {
						font-size: fontSize(12);
					}
				}
			}
			.MotorBlogsImgContainer {
				display: flex;
				justify-content: flex-start;
				flex-direction: column;
				.MotorBlogsImga {
					height: 100%;
					min-height: 455px;
				}
				.MotorBlogsImgb {
					height: 500px;
					min-height: 455px;
					margin-left: 0px;
				}
			}
			.MotorBlogsImga,
			.MotorBlogsImgb {
				.MotorBlogsImgText {
					position: absolute;
					bottom: 30px;
					left: 5%;
					z-index: 3;
					h5 {
						// font-size: fontSize(18);
						width: 100%;
						// max-width: 240px;
					}
					p {
						// font-size: fontSize(10);
						width: 100%;
						// max-width: 390px;
					}
					.MotorBlogsBtn {
						.blog-readMore-Btn {
							font-size: fontSize(16);
							width: 100%;
							max-width: 110px;
						}
					}
				}
			}
		}
	}

	.MotrProContainer {
		.otherProductCard-Container {
			.otherProductCard {
				padding: 10px;
				.otherProduct-header {
					font-size: fontSize(16);
				}
				.otherProduct-para {
					font-size: fontSize(12);
					width: 100%;
					max-width: 700px;
				}
				.otherProduct-Subheader {
					font-size: fontSize(12);
				}
				.otherProduct-Subpara {
					font-size: fontSize(12);
				}
			}
		}
		.MotrProText {
			h5 {
				font-size: fontSize(26);
				line-height: 20px;
			}
			span {
				font-size: fontSize(12);
			}
		}
	}

	.extensionCardContainer {
		.additionExtensionHeader {
			font-size: fontSize(26);
		}
		.additionExtensionPara {
			font-size: fontSize(12);
		}
		.extension-layout {
			width: 20%;
			.extension-service-card {
				padding: 10px 10px 25px 10px;
				.extensionIcon {
					width: 60px;
					height: 60px;
				}
				.extensionIconOne,
				.extensionIconTwo,
				.extensionIconThree,
				.extensionIconFive {
					position: relative;
					right: 13%;
				}
				.extensionIconFour {
					position: relative;
					right: 10%;
				}
				.extension-content {
					width: 100%;
					max-width: 100px;
					font-size: fontSize(10);
				}
			}
		}
	}

	.motorInsuranceContainer {
		.motorTitle {
			font-size: fontSize(36);
		}
		.motorPara {
			width: 100%;
			max-width: 550px;
			font-size: fontSize(16);
		}
		.insureMotorCard {
			.insureLayerTwo {
				.insureNowBtn {
					width: 100%;
					max-width: 700px;
					background-color: #ee7500;
					padding: 10px;
					color: $white;
					border-radius: 8px;
				}
			}
		}
	}
}
