@import "../../../../assets/scss/abstracts/abstracts";

.supportRequestContainer{
    .breadcrumbTitle{
        color: #34383E;
        cursor: pointer;
    }
    .breadcrumbSubTitle{
        color: #676F7C;
        cursor: pointer;
    }
}