@import "../../../../../assets/scss/abstracts/abstracts";

.keyBenifiCardTitle {
	color: $black;
	width: 100%;
	max-width: 134px;
}

.medicalMalpractice-faqHeader {
	color: $black;
}
.medicalMalpractice-faqPara {
	color: $newLight-tw;
	width: 100%;
	max-width: 710px;
}
