.image_slider_container {
    position: relative;
    display: inline-block;
    white-space: normal;

    .description {
        position: absolute;
        top: 55px;
        left: 20px;
        position: absolute;
        color: #FFFFFF;

        h6 {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 6px;
            color: #FFFFFF;
        }

        p {
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF;
        }
    }
}