.newsRelated {
    width: 642px;

    .DateContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buttonEl {
            height: 23px;
            padding: 5px 16px 6px;
            border-radius: 100px;
            background-color: #EE7500;
            font-weight: 400;
            font-size: fontSize(12);
            border: none;
            color: #ffffff;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .dateEl {
            font-weight: 400;
            font-size: fontSize(14);
            line-height: 14px;
            margin-top: 14px;
        }

    }

    .RelatedHeading {
        font-weight: 800;
        font-size: fontSize(24);
    }

    .hrLine {
        opacity: 0.1;
        border: 1px solid #1a1c1F;

    }
}


// mobile
.newsRelated_mobile {
    padding: 0px 16px;

    .DateContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .buttonEl {
            height: 25px;
            padding: 5px 16px 6px;
            border-radius: 100px;
            background: #679AB4;
            font-weight: 400;
            font-size: fontSize(12);
            border: none;
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .dateEl {
            font-weight: 400;
            font-size: fontSize(14);
            line-height: 14px;
            margin-top: 14px;
        }

    }

    .RelatedHeading {
        font-weight: 800;
        font-size: fontSize(24);
    }

    .hrLine {
        opacity: 0.1;
        border: 1px solid #1a1c1F;
    }
}