.bottom_popup_container {
  position: inherit;
  overflow: auto;
  // background-color: white;

  .close_icon {
    position: absolute;
    right: 28px;
    top: 37px;
    cursor: pointer;
  }
}
.is-bottom.bottom_popup_container img.close_icon {
  top: 24px;
  right: 16px;
  z-index: 9;
}
