.support-overall {
  .track-tab-body {
    background: #ffffff;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 0px 0px 20px 20px;
    padding: 40px;
    h3 {
      font-weight: 800;
      font-size: 20px;
      color: #1a1c1f;
    }
    ul {
      padding: 0;
      list-style-type: none;
      li {
        font-weight: 400;
        font-size: 14px;
        color: #4c565c;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        align-items: center;
        &.active {
          background: #f2f3f5;
          border-radius: 4px;
        }
        div {
          display: flex;
          width: 100%;
          justify-content: start;
          &:last-child {
            padding-left: 10px;
            color: #1a1c1f;
          }
        }
      }
    }
  }
  h5.find {
    padding: 30px 0px 30px;
  }
  .service_list.request {
    h5 {
      padding-top: 0px;
    }
  }
}

.clickcard{
  width: 100%;
  border: none;
}
.track-request{
  .accordion-header{
    button{
      width: 100%;
      border: none;
      padding: 0;
    }
  }
}

.support-overall .track-tab-body{
  margin-bottom: 10px;
}

.support-overall .track-card{
  margin-bottom: 0px;
}