@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";
.careers-page-desktop {
    .banner-section {
        min-height: 600px;
        margin-bottom: 50px;
        background-size: cover;
        background-position: center top;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        flex-direction: column;
        text-align: center;
        padding: 30px;
        @include media-breakpoint-tab-port {
            min-height: 500px;
        }
        .banner-title {
            font-weight: 800;
            font-size: fontSize(64);
            line-height: 110%;
            margin-bottom: 20px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(44);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(56);
            }
        }
        .banner-subtitle {
            font-weight: 800;
            font-size: fontSize(40);
            line-height: 120%;
            margin-bottom: 20px;
        }
        p {
            font-weight: 400;
            font-size: fontSize(22);
            max-width: 800px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            line-height: 140%;
        }
        button {
            display: flex;
            align-items: center;
            outline: 0;
            border: 0;
            background: $orange-tw;
            border-radius: 8px;
            height: 46px;
            padding: 10px 20px;
            font-weight: 400;
            font-size: fontSize(16);
            color: $white;
        }
        .banner-link {
            display: flex;
            align-items: center;
            > div {
                font-weight: 800;
                font-size: fontSize(24);
                line-height: 120%;
                display: flex;
                align-items: center;
                cursor: pointer;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(18);    
                }
                @include media-breakpoint-med-desktop {
                    font-size: fontSize(20);
                }
                img {
                    width: 50px;
                    margin-right: 10px;
                }
            }
        }
        &.bottom-content {
            min-height: 450px;
            @include media-breakpoint-tab-port {
                min-height: 400px;
            }
        }
    }
    .careers-page-text-content {
        color: $black;
        font-weight: 800;
        font-size: fontSize(34);
        line-height: 140%;
        margin: auto;
        margin-bottom: 50px;
        max-width: 1100px;
        text-align: center;
        width: 100%;
        @include media-breakpoint-tab-port {
            font-size: fontSize(22);
            max-width: 760px;
        }
        @include media-breakpoint-med-desktop {
            font-size: fontSize(28);
            max-width: 900px;
        }
    }
    .meaningful-innovation {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 30px;
        margin-bottom: -120px;
        position: relative;
        z-index: 2;
        @include media-breakpoint-tab-port {
            padding: 0;
            margin-bottom: -90px;
        }
        @include media-breakpoint-med-desktop {
            margin-bottom: -90px;
        }
        // @include media-breakpoint-hd-desktop {
        //     margin-bottom: -120px;
        // }
        > div {
            flex: 0 0 33.3333%;
            padding: 0 10px;
        }
        .align-top-content {
            position: relative;
            z-index: 1;
            top: -110px;
        }
        .title {
            color: $black;
            font-weight: 800;
            font-size: fontSize(38);
            line-height: 120%;
            margin-bottom: 10px;
            padding-top: 20px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(28);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(32);
            }
        }
        .description {
            color: $black;
            font-weight: 400;
            font-size: fontSize(18);
            line-height: 140%;
            margin-bottom: 20px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(15);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(15);
            }
        }
        .image {
            margin-bottom: 10px;
            img {
                width: 100%;
            }
        }
        .section-box {
            padding: 20px;
            background: $white;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 12px;
            margin-bottom: 20px;
            .box-title {
                color: $primary-tw;
                font-weight: 800;
                font-size: calc(28);
                line-height: 120%;
                margin-bottom: 10px;
            }
            p {
                font-weight: 400;
                font-size: fontSize(16);
                line-height: 140%;
                margin: 0;
                color: $light-tw-2;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(13);
                }
            }
        }
    }
}