.road-assistance-request {
  .request-progress {
    display: flex;
    max-width: 92%;
    margin: 0px auto;
    position: relative;
    top: -41px;
    min-height: 65px;
    background: #ffffff;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 8px;

    ul {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        width: 100%;
        position: relative;

        span {
          color: #b3b9c3;
          font-size: 11px;
          position: absolute;
          color: #b3b9c3;
          bottom: -7px;
        }

        &:before {
          position: absolute;
          content: "";
          height: 24px;
          width: 24px;
          bottom: -11px;
          background: #fdf1e6;
          border-radius: 50%;
        }

        &.icon-circle-active {
          &:before {
            background: #ee7500;
          }
        }

        img {
          position: absolute;
          bottom: -4px;
        }

        p {
          margin: 0px;
          font-size: 12px;
          color: #4c565c;
          font-weight: 400;
        }
      }

      li.in-active:before {
        background: transparent;
        border: 1px solid #b3b9c3;
      }
    }
  }

  .request-card {
    width: 90%;
    min-height: auto;
    background: #ffffff;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 8px;
    margin: 0px auto;
    padding: 12px;
    top: -10px;
    position: relative;
    margin-left: 15px;

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0;

      li {
        display: flex;
        padding-left: 8px;
        margin-bottom: 2px;

        .icon-block {
          min-width: 23px;
        }

        span,
        p {
          font-size: 12px;
          color: #4c565c;
          font-weight: 400;
        }

        span.date {
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          color: #4c565c;
          padding-left: 5px;
        }

        p {
          font-size: 14px;
          margin: 0px;
        }

        &.active {
          background: #f2f3f5;
          border-radius: 4px;
        }
      }
    }
  }
}

.request-model {
  img {
    position: fixed;
    bottom: 175px;
    left: 50%;
    transform: translateX(-50%);
    height: 207px;
  }

  p {
    font-size: 18px;
    color: #4c565c;
    font-weight: 400;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 103px;
    width: 100%;
    text-align: center;
  }

  h4 {
    font-weight: 800;
    font-size: 20px;
    color: #4c565c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 84px;
  }

  .bottom_button_submit {
    position: absolute;
    bottom: 9px;
    padding: 0;
    width: 95%;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.woman-block {
  margin-bottom: 15rem;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  position: relative;

  p {
    font-weight: 400;
    font-size: 18px;
    color: #4c565c;
    position: absolute;
    bottom: -36px;
    margin: 0;
  }

  img {
    height: 180px;
  }
}