.competitive_advantage {
  padding: 0px 16px;
  .news_tag {
    padding: 5px 16px 6px;
    gap: 10px;
    width: 65px;
    height: 25px;
    background: #679ab4;
    border-radius: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
  }
  .competitive_days {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #1a1c1f;
  }
  .competitive_title {
    font-weight: 800;
    font-size: 16px;
    color: #1a1c1f;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #1A1C1F;
    opacity: 0.1;
}
  }

  @media screen and (min-width: 320px) and (max-width: 360px) {
    .competitive_advantage {
      padding: 0px 16px;
      .news_tag {
        padding: 5px 16px 6px;
       font-size: 12px;
        width: 60px;
        
      }
      .competitive_days {
      
        font-size: 12px !important;
        margin-top: 5px;
        
      }
      .competitive_title {
        font-weight: 800;
        font-size: 12px;
        color: #1a1c1f;
        width:271px
      }
      hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid #1A1C1F;
        opacity: 0.1;
    }
      }

  }