.Terms_conditions{
    margin-top: 32px;
    box-shadow: 0px 4px 10pxrrgb(9 30 66 / 6%);
    border-radius: 12px;
}

.Conditions_Heading{
 font-family: Bliss 2;
font-size: 28px;
font-weight: 800;
margin-top: 24px;
}

.Conditions_Start{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_collection{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}

.Conditions_Information{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_Personal_Topic{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}

.Conditions_Personal_Customerservice{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_Personal_Sharing{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}

.Conditions_Personal_Except{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_accessing{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}

.Conditions_ability{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_Communication{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}

.Conditions_promotional{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_Security{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}
.Conditions_Socket{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_Cookies{
font-size: 28px;
font-weight: 800;
margin-top: 16px;
}

.Conditions_decline{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_Enforcement{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}

.Conditions_regarding{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Conditions_privacystatement{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}

.Conditions_occasionally{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}