@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.homeVaccinate-LandingContainer{
  #homeVaccinate-sub-home-container{
    padding: 65px 24px 65px 60px;
  }
  .homeVaccinate-carBanner {
    position: absolute;
    top:-150px;
    right: -15px;
    width: 500px;
    height: 560px;
  }
}

