.support-overall {
  h5 {
    font-weight: 800;
    font-size: 28px;
    color: #1a1c1f;
    margin: 0px 16px;
    padding: 16px 0px 30px;
  }

  .track-request {
    margin: 0px 16px;

    h6 {
      font-weight: 400;
      font-size: 12px;
      color: #1a1c1f;
      padding: 16px 0px;
    }

    h5 {
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: #1a1c1f;
      padding: 0px;
      margin: 0px;
      padding-bottom: 10px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      margin: 0px;
      color: #1a1c1f;
    }

    a {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: #f47b20;
      width: 113px;
      height: 21px;
      background: #fdf1e6;
      border-radius: 100px;
      padding: 8px 13px;
    }

    a.success {
      background: #e3ffef;
      color: #237b4b;
    }
  }

  .support-team {
    margin: 0px 16px;
    background: #ffffff;
    box-shadow: 0px 10px 20px #1d252d1a;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 30px;

    .title {
      a {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #237b4b;
        width: 59px;
        height: 21px;
        background: #e3ffef;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }
    }

    h6 {
      font-weight: 800;
      font-size: 16px;
      line-height: 120%;
      color: #1a1c1f;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #4c565c;
      margin: 0;
      margin-bottom: 16px;
    }

    .border_support {
      padding-bottom: 16px;
      border-top: 1px solid #1a1c1f;
      opacity: 0.1;
    }

    button {
      background: #f47b20;
      border-radius: 6px;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
      width: 100%;
      position: relative;
    }

    img.arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 73%;
      padding-left: 15px;
    }
  }

  .track-card {
    height: 78px;
    background: #ffffff;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 12px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
  }

  .support-team.live {
    button {
      background: #237b4b;
    }
  }

  .support-input-card {
    background: #9aa2af;
    border-radius: 8px;
    margin: 0px 16px;

    .support-card {
      height: auto;
      padding: 16px;

      h5 {
        font-weight: 800;
        font-size: 20px;
        color: #ffffff;
        margin: 0;
        padding-bottom: 8px;
        padding-top: 0px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        margin: 0;
        margin-bottom: 16px;
        border-bottom: 1px solid #ffffff29;
        padding-bottom: 16px;
      }

      .normal-search .searchBox {
        padding: 10px 25px 10px 51px;
        border: none;
        width: 100%;
        height: 54px;
        background: #ffffff;
        box-shadow: 0px 4px 10px #091e420f;
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 16px;

        &::placeholder {
          font-weight: 400;
          font-size: 16px;
          color: #9aa2af;
        }
      }

      .phone-number-input-common {
        margin-bottom: 16px;

        .number-input {
          width: 100%;
          height: 54px;
        }

        .select-input .input {
          width: 80px;
          height: 54px;
          background: #f2f3f5;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          border-radius: 4px;
        }
      }

      button.buy-button {
        height: 42px;
        background: #f47b20;
        border-radius: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #ffffff;
        border: none;
      }
    }
  }

  .service_list {
    padding-bottom: 16px;

    h5 {
      margin: 0;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 16px;
    }

    .insuranceBannerCardContainerMobile {
      padding-left: 16px;

      .insuranceBannerCardMobile {
        margin-right: 10px;
      }
    }
  }

  .view_all_question label {
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #455560;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 16px;
  }

  .phone-number-input-common .number-input input {
    height: 100%;
    padding-left: 16px;
    border-radius: 4px;

    &::placeholder {
      font-size: 16px;
    }
  }

  div .support-card .normal-search .searchBox {
    &::placeholder {
      font-size: 16px !important;
    }
  }

  .height {
    height: 20vh;
  }
}