@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.insuranceBannerCardContainerMobile {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  // justify-content: center;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.insuranceBannerCardMobile {
  background-color: #ffffff !important;
  padding: 18px 18px 5px 18px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  width: 165px;
  margin-left: 16px;
  height: 110px;

  .InsuranceCardText {
    color: $light-tw;
    width: 129px
  }
}

.row_wice_list {
  margin: 0px;
  padding: 0px 16px;

  .insuranceBannerCardMobile {
    width: 160px;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-left: 0px;

    .InsuranceCardText {
      width: auto;
      margin-bottom: 0px;
    }

    &:nth-child(2) {
      margin-right: 0px;
    }

    // &:nth-child(1) {
    //   margin-left: 16px;
    // }
  }

}

@include media-breakpoint-hd-desktop {
  .insuranceBannerCardMobile {
    transform: translateY(4%);
  }
}

@include media-breakpoint-med-desktop {
  .insuranceBannerCardMobile {
    .InsuranceCardText {
      font-size: fontSize(14);
    }
  }
}

@include media-breakpoint-tab-land {
  .insuranceBannerCardMobile {
    .InsuranceCardText {
      font-size: fontSize(10);
    }
  }
}

@media screen and (min-device-width:320px) and (max-device-width:360px) {

  .row_wice_list {
    .insuranceBannerCardMobile {
      width: 150px;
      margin-bottom: 12px;

      .InsuranceCardText {
        width: auto;
        margin-bottom: 0px;
        font-size: 14px;
      }
    }

  }
}