.mobile_travel_insurace_container {
  .Insure_Trip {
    background-image: url("../../../assets/images/mobile/Insurance_Trip.svg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 24px;
    position: relative;

    h4 {
      font-size: 24px;
      color: #ffffff;
      position: absolute;
      top: 132px;
      width: 100%;
      text-align: center;
    }

    p {
      font-size: 14px;
      color: white;
      position: absolute;
      margin: 8px 32px 0px 32px;
      top: 180px;
      text-align: center;
    }
  }

  .Manage_policy {
    font-size: 20px;
    font-weight: 800;
    margin: 24px 16px 12px 95px;
    color: #1A1C1F;
  }

  .Policycard_Travel {
    margin: 0px 16px 0px 16px;
  }

  .Plans_Future {
    h4 {
      font-size: 24px;
      font-weight: 800px;
      margin-top: 32px;
      margin-left: 16px;
      color: Black;
    }

    p {
      margin: 8px 16px 16px 16px;
      color: #455560;
    }
  }

  .contents-row {
    padding: 0px 16px;
    display: grid;
    grid-template-columns: auto auto;

    .mobile_plan_for_future {
      margin: 0px 12px 12px;

      &:nth-child(odd) {
        margin-left: 0px;
      }

      &:nth-child(even) {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
  }

  .peacemind_slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 5px;

    .peacemind_card {
      border: 1px solid #d9dce1;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      width: 100%;
      margin-left: 11px;
      padding: 16px;

      h5 {
        font-weight: 800;
        font-size: 16px;
        color: #1a1c1f;
        width: 195px;
        margin-top: 8px;
      }

      p {
        font-weight: 400;
        font-size: 11px;
        color: #1a1c1f;
      }
    }
  }

  h4 {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-top: 24px;
    margin-left: 16px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #455560;
    margin-top: 8px;
    // margin-left: 16px;
  }

  .Our_Exclusive {
    h4 {
      font-size: 24px;
      margin: 16px 16px 0px 16px;
      color: #1A1C1F;
      font-weight: 800;
    }

    label {
      margin: 4px 16px 0px 16px;
      font-weight: 400;
      font-size: 16px;
      color: #455560;
    }
  }

  h4 {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-top: 24px;
    margin-left: 0px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #455560;
    margin-top: 8px;
  }

  .veiw_questions_style {
    padding-left: 16px;
    padding-bottom: 16px;

    p {
      font-weight: 800;
      font-size: 16px;
      line-height: 16px;
      text-transform: capitalize;
      color: #1a1c1f;
    }
  }

  .taj_services_slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 5px;
    margin-top: 16px;

    .taj_services_card {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      width: 100%;
      margin-left: 11px;
      height: 224px;
      padding: 22px 16px;

      h5 {
        font-weight: 800;
        font-size: 16px;
        color: #1a1c1f;
        width: 195px;
        margin-top: 14px;
        margin-bottom: 8px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        color: #455560;
      }
    }
  }

  .travel_products {
    h4 {
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #1a1c1f;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
    }
  }

  .mobile_services_slider {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    margin-left: 5px;
    margin-top: 16px;

    .mobile_services_card {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      padding: 16px;
      margin-left: 11px;

      h5 {
        font-weight: 800;
        font-size: 16px;
        color: #1a1c1f;
        width: 195px;
        margin-top: 8px;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        color: #455560;
        width: 211px;
        padding: 0px 3px;
      }

      h4 {
        font-size: 14px;
        font-weight: 800;
        color: #679ab4;
      }

      li {
        font-size: 12px;
        font-weight: 400;
        color: #455560;
      }
    }
  }

  .medical_claim {
    padding: 16px;
  }

  .questions_section {
    padding: 0px 16px;
  }

  .Advantages_Program {
    padding: 0px 16px;

    h4 {
      font-weight: 800;
      font-size: 24px;
      color: #1A1C1F;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
    }
  }
}