@import "../../../../assets/scss/abstracts/abstracts";

.insurance-program-benefits-careers {
    background-color: $black;
    background-size: cover;
    background-position: center top;
    border-radius: 20px;
    padding: 50px;
    padding-top: 160px;
    margin-bottom: 50px;
    @include media-breakpoint-tab-port {
        padding-top: 120px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .benefits-title {
        color: $white;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-size: fontSize(40);
        font-weight: 800;
        line-height: 120%;
        text-align: center;
        margin-bottom: 150px;
        @include media-breakpoint-tab-port {
            margin-bottom: 70px;
            font-size: fontSize(32);
        }
        @include media-breakpoint-med-desktop {
            font-size: fontSize(32);
            margin-bottom: 70px;
        }
    }

    .cards-list-block {
        display: flex;
        align-items: flex-start;

        .cards-column {
            flex: 0 0 calc(25% - 20px);
            margin: 0 10px;

            .benefits-card-root {
                margin-bottom: 20px;
                cursor: pointer;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}