@import "../../../../assets//scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.discountClaimCard {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 8px;
	.alignDiscount-Tag {
		.renewDiscountTxt {
			color: $black;
			width: 100%;
			max-width: 250px;
			line-height: 19px;
			.percentageRenewDiscount {
				color: $orange-tw;
			}
		}
	}
	.align-discount-cardLayout {
		position: relative;
		bottom: 10px;
		.discountProductBox {
			margin: 0px 20px 0px 20px;
			padding: 20px 20px 18px 20px;
			background-color: #fdf1e5;
			border-radius: 6px;
			.car-Series {
				color: $black;
			}
			.car-Variety {
				color: $orange-tw;
			}
			.plateContainerLayout {
				width: 135px;
				position: relative;
				.plateContainer {
					background-color: $white;
					border: 1px solid $black;
					border-radius: 4px;
					:is(.plateText) {
						color: $light-tw;
					}
					.plateSubLayerOne {
						border-right: 1px solid $black;
						border-bottom: 1px solid $black;
						border-radius: 4px 0px 0px 0px;
					}
					.plateSubLayerTwo {
						border-left: 1px solid $black;
						border-right: 1px solid $black;
						border-bottom: 1px solid $black;
					}
					.plateSubLayerThree {
						border-top: 1px solid $black;
						border-right: 1px solid $black;
					}
					.plateSubLayerFour {
						border-top: 1px solid $black;
						border-left: 1px solid $black;
						border-right: 1px solid $black;
					}
					.plateSubLayerFive {
						position: absolute;
						right: 10px;
						.dark-point {
							width: 5px;
							height: 5px;
							border-radius: 50px;
							background-color: $black;
						}
					}
				}
			}
		}
		.get-Discount-Now-Btn {
			width: 100%;
			background-color: $orange-tw;
			color: $white;
			font-size: fontSize(16);
			font-weight: 400;
			border-radius: 6px;
		}
	}
}
