@import "../../../../assets/scss/abstracts/abstracts";

.ithraService-Benifit-Container {
  .ithraServiceTitle {
    color: $black;
    width: 100%;
    max-width: 650px;
    font-size: fontSize(34);
    line-height: 120%;
  }
  .ithraServicePara {
    color: $newLight-tw;
    width: 100%;
    max-width: 920px;
  }
  .ithraBenifitCardLayout {
    .ithraBenifitCard-box {
      width: 100%;
      min-width: 920px;
      .ithra-benifit-service-card {
        background-color: $white;
        padding: 20px 30px 20px 30px;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 12px;
        height: 100%;
        .ithra-benifit-card-title {
          color: $black;
          width: 100%;
          max-width: 150px;
          line-height: 120%;
        }
      }
      .ithra-more {
        color: $newLight-tw;
      }
    }
  }
}
