.right_arrow_container {
    label {
        font-weight: 700;
        font-size: 14px;
        color: #1A1C1F;
        margin-bottom: 0px;
        margin-right: 18px;
        position: relative;
    }

    img {
        position: relative;
    }

    padding-left: 16px;
}