.product_sticky_header {
  background: #ffffff;
  .product_sticky_image {
    padding: 16px 8px;
    position: relative;
    left: 20rem;
  }
  .product_content {
    padding: 8px 0px 0px 16px;
    color:#455560;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      
    }
    h4 {
      font-weight: 800;
      font-size: 16px;
      line-height: 120%;
      padding-top: 5px;
    }
  }

  .service_sticky_products {
    display: flex;

    padding: 0px 0px 40px 16px;

    .service_product_body{
      overflow: auto;
      display: flex;
      align-items: center;
      padding-top: 10px;
      button {
        
        padding: 10px;
        width: 106px;
        height: 42px;
        font-weight: 600;
        font-size: 14px;
        color: #455560;
        background: white;
        margin-right: 10px;
        margin-bottom: 0px;
        text-align: center;
        border: none;
        background: #f2f3f5;
        border-radius: 4px;
      }

      .Service_active {
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        background: #ee7500;
        width:106px;
      }
    }
  }
  .header_close_nav_container {
    background: #8bb2c9;
    border-radius: 0px 0px 20px 0px;
    color: #ffffff;
    padding: 20px 16px 55px 16px;

    img {
      margin-bottom: 18px;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 6px;
    }

    h6 {
      font-weight: 800;
      font-size: 20px;
    }
    .header_image_position {
      margin-left: 20rem;
    }
  }
}
