.contact_us_black_box {
  width: 92%;
  height: 440px;
  margin-left: 13px;
  background: #1a1c1f;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 12px;

  .black_box_image_phone {
    margin-top: 24px;
    margin-left: 24px;
  }

  .black_box_phone {
    font-weight: 400;
    font-size: 12px;

    color: #ffffff;
    margin-top: 24px;
    padding-left: 6%;
  }

  .black_box_phno {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin-left: 7px;
  }
  .black_box_image_fax {
    margin-top: 7px;
    margin-left: 24px;
  }
  .black_box_fax {
    font-weight: 400;
    font-size: 12px;

    color: #ffffff;
    margin-top: 7px;
    padding-left: 6%;
  }
  .black_box_faxno {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin-left: 7px;
  }
  .fax_chat {
    font-weight: 400;
    font-size: 12px;
    margin-left: 6%;
    color: #ffffff;
  }
  .black_box_image_email {
    margin-top: 7px;
    margin-left: 24px;
  }
  .black_box_email {
    font-weight: 400;
    font-size: 12px;

    color: #ffffff;
    margin-top: 7px;
    padding-left: 6%;
  }
  .black_box_emailid {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin-left: 12px;
  }
  .black_box_image_box {
    margin-top: 7px;
    margin-left: 24px;
  }
  .black_box_faxbox {
    font-weight: 400;
    font-size: 12px;

    color: #ffffff;
    margin-top: 7px;
    padding-left: 22%;
  }
  .black_box_boxno {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    margin-left: 12px;
  }
  .black_box_image_location {
    margin-top: 7px;
    margin-left: 24px;
  }
  .black_box_location {
    font-weight: 400;
    font-size: 12px;

    color: #ffffff;
    margin-top: 7px;
    padding-left: 6%;
  }
  .black_box_address {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-left: 12px;
  }
  .contact_line {
    width: 310px;
    height: 0px;
    opacity: 0.1;
    border: 1px solid #ffffff;
    margin: revert;
  }
  .bottom{
    height: 20vh;
  }
}
