@import "../../../../assets/scss/abstracts/abstracts";

.carMaintain-ParentContainer {
  .carMain-requestMap-title {
    color: $newLight-tw;
  }
  .carMaintain-MapContainer {
    background-color: $lightgrey-tw;
    border-radius: 8px;
    .carMaintain-SelectInput {
      background: #ffffff;
      border-radius: 0px 0px 4px 4px;
      padding: 5px;
    }
  }
  .carMaintain-Selector-liner {
    border-bottom: 1px solid rgba(26, 28, 31, 0.1);
  }
  .submit-carMaintain-Button {
    width: 100%;
    background-color: $orange-tw;
    color: $white;
    border: none;
    border-radius: 8px;
    font-size: fontSize(16);
    font-weight: 400;
  }
}
