@import "../scss/abstracts/abstracts";
@import "../scss/abstracts/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

html body {
  // font-family: Avenir, sans-serif;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color: $lightgrey-tw;
  &.language-alignment-right {
    direction: rtl;
    text-align: right;
  }
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

:is(h1, h2, h3, h4, h5, h6, p, span, div, li) {
  font-family: "Lato", sans-serif;
}

.font-color-a {
  color: #ee7500;
}

// ::-webkit-scrollbar {
// 	width: 5px;
// }

// ::-webkit-scrollbar-thumb {
// 	background-color: $orange-tw;
// 	border-radius: 10px;
// }

// @-ms-viewport {
// 	width: device-width;
// }

button {
  &.btn {
    // border-radius: 0;
    // font-size: fontSize(16px);
    // line-height: 19px;
    // height: 45px;
    // padding: 0 12px;
    // font-weight: 500;
    &.primary-btn {
      background: $primary-color;
      border-radius: 4px;
      font-weight: 500;
      border: 1px solid transparent;
      color: $white;
    }
    &.viewButtonHeader {
      background: transparent;
      border-radius: 4px;
      border: 1px solid $grey-ca;
      color: $primary-color;
      width: 150px;
      padding: 5px;
      font-weight: 500;
    }
    &.viewButtonColorHeader {
      background: $primary-color;
      border: 1px solid transparent;
      border-radius: 4px;
      color: $white;
      width: 150px;
      padding: 5px;
      font-weight: 500;
    }
  }
}

.word-break-normal {
  word-break: normal;
}

.btn {
  height: 45px;
}
.btn:hover {
  color: none !important;
}
// .btn:focus,
// .btn.focus,
// input:focus {
// 	outline: none !important;
// 	box-shadow: none;
// }

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #fcfdfe !important;
  outline: 0;
  background-color: $white !important;
  box-shadow: none;
  background: none;
}

.text-black {
  color: $black;
}

.cursor-pointer {
  cursor: pointer;
}

//Hide Arrows in input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//Hide Arrows in input
input[type="number"] {
  -moz-appearance: textfield;
}

.text-underline {
  text-decoration: underline;
}

.modal-content {
  border: none;
  padding: 0;
  height: 100%;
}

.Select__dropdown-indicator {
  .icon-up {
    padding-bottom: 2px;
  }
}

.form-control {
  &:disabled {
    border-radius: 4px;
    font-size: fontSize(14px);
    line-height: 18px;
    color: $text-black-1a;
    opacity: 0.9;
    background-color: $white;
    cursor: not-allowed;
  }
}

button:focus {
  outline: none;
}

.border-radius-50 {
  border-radius: 50%;
}

.word-wrap {
  word-wrap: break-word;
}

.border-top {
  border-top: 1px solid #b8bcc5 !important;
}

.landingPageContainer {
  background-color: $lightgrey-tw;
}

.landingPageContainerBlur {
  background-color: $lightgrey-tw;
  filter: blur(7px);
}

.mainContainer {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}

.paddingContainer {
  padding: 0px 25px 0px 25px;
  background-color: $lightgrey-tw;
}

.authBgContainer {
  background-image: url("../../assets/svg/authBg.svg");
  background-size: 85.3rem;
  background-repeat: no-repeat;
  background-position: 100% 70%;
  width: 100%;
}

.tawuniyaCanvasContainer {
  background-color: #ffffff;
}

.card-Language-Layout {
  position: absolute;
  top: 10px;
  right: 340px;
  bottom: 0;
  z-index: 10;
}
.card-Language-Layout-forInsurance {
  position: absolute;
  top: -70px;
  right: 340px;
  z-index: 10;
}

.card-Support-Layout {
  position: absolute;
  top: 10px;
  right: 180px;
  bottom: 0;
  z-index: 10;
}

.card-Support-Layout-forInsurance {
  position: absolute;
  top: -70px;
  right: 180px;
  z-index: 10;
}

.card-GetStarted-Layout {
  position: absolute;
  top: 10px;
  right: 60px;
  bottom: 0;
  z-index: 10;
}
.card-GetStarted-Layout-forInsurance {
  position: absolute;
  top: -70px;
  right: 60px;
  z-index: 10;
}

.MoreProduct-Card-Layout {
  display: flex;
  justify-content: center;
}

.blurBackground {
  filter: blur(5px);
}

#hideSubClass {
  display: none;
}

.sticky {
  position: sticky !important;
  top: 0px !important;
  z-index: 10 !important;
  padding: 0px 30px 0px 30px;
  background-color: $lightgrey-tw;
}

.insuranceNavBg {
  background-color: $white;
}

.space-higlight {
  padding-right: 25px;
}

.space-normal {
  padding-right: 50px;
}

.dashboard-RightContainer {
  .flexDashboardOne {
    width: 2%;
  }
  .flexDashboardTwo {
    width: 70%;
    border-radius: 0px 0px 50px 0px;
    padding: 0px 25px 0px 40px;
    .footer-road-container {
      .road-copyrights {
        color: $light-tw;
      }
    }
  }
  .flexDashboardThree {
    width: 28%;
    background-color: $white;
  }
}

.dashboard-notify-numbers {
  background-color: $lightgrey-tw;
  color: $black;
  border-radius: 100px;
  padding: 6px 15px 6px 15px;
  position: relative;
  bottom: 3px;
}

.language-alignment-right {
  .card-Language-Layout {
    right: auto;
    left: 340px;
  }
  .card-Support-Layout {
    left: 180px;
    right: auto;
  }
  .card-GetStarted-Layout {
    left: 60px;
    right: auto;
  }
}

@include media-breakpoint-med-desktop {
  .dashboard-RightContainer {
    .flexDashboardTwo {
      padding: 0px 25px 0px 40px;
    }
  }
}

@include media-breakpoint-tab-port {
  .dashboard-RightContainer {
    .flexDashboardTwo {
      padding: 0px 20px 0px 30px;
    }
  }
}

@include media-breakpoint-tab-port-med-only {
  .paddingContainer {
    padding: 0px 10px 0px 10px;
  }
}

@include media-breakpoint-tab-land {
  .paddingContainer {
    padding: 0px 10px 0px 10px;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    zoom: 1;
  }
}
