// @import "./default/default.scss";
@import "./default/utility.scss";
@import "./vendors/vendors-dir.scss";
@import "./icons/style.css";
@import "./common.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("./abstracts/_abstracts.scss");

@font-face {
  font-family: "GESS";
  src: local("GESS"),
  url("../fonts/GE_SS/GE_SS_bold.otf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "GESS";
  src: local("GESS"),
  url("../fonts/GE_SS/GE_SS_light.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "GESS";
  src: local("GESS"),
  url("../fonts/GE_SS/GE_SS_medium.otf") format("truetype");
  font-weight: 500;
}


body .rtl * {
  font-family: GESS, sans-serif
}
