@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.how-it-work-Features {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;

	h5 {
		font-family: "Bliss 2";
		font-style: normal;
		font-weight: 800;
		font-size: 32px;
		text-align: center;
		letter-spacing: -0.02em;
		color: #1a1c1f;
	}

	p {
		font-family: "Bliss 2";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		width: 60%;
		text-align: center;
		color: #455560;
	}

	.how-it-work-fetBox {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		transform: translateX(-25px);
		width: 60%;

		.how-it-work-CurvLineA {
			transform: translateY(8px);
			z-index: 2;
			left: 23%;
			width: 8rem;
			position: absolute;
		}

		.how-it-work-CurvLineB {
			transform: translateY(-25px);
			z-index: 2;
			right: 23%;
			width: 8rem;
			position: absolute;
		}

		.how-it-work-FetBoxItem {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding: 10px;
			width: 220px;
			height: 125px;
			background: #ffffff;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 12px;

			img {
				width: 56px;
				height: 56px;
				padding: 10px;
			}

			span {
				font-family: "Bliss 2";
				font-style: normal;
				font-weight: 800;
				font-size: 16px;
				text-align: center;
				letter-spacing: -0.01em;
				color: #1a1c1f;
				line-height: 18px;
			}
		}
	}

	.how-it-work-claim-btn {
		background-color: $orange-tw;
		color: $white;
		font-size: 14px;
		position: relative;
		right: 2%;
		border-radius: 8px;
	}
}
