@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.phone-number-input-common {
  display: flex;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 4px;
  position: relative;

  // z-index: 1;
  &.dropdown-open {
    z-index: 100;

    .select-input {
      .downarrow {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }

  .select-input {
    position: relative;
    background: #F2F3F5;
    border-radius: 4px 0px 0px 4px;
    display: flex;
    height: 54px;
    align-items: center;
    padding: 0px 10px;

    img {
      width: 23px;
      border-radius: 4px;
      overflow: hidden;
    }

    .downarrow {
      img {
        width: 14px;
      }
    }

    .input {
      display: flex;
      cursor: default;

      .code {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-size: fontSize(16);
        font-weight: 400;
        color: $light-tw;
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: transparent;
      display: none;

      &.open {
        display: block;
      }
    }

    .options {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      max-height: 290px;
      overflow-y: auto;
      background: #ffffff;
      border-radius: 0 0 8px 8px;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      display: none;
      scroll-behavior: smooth;
      z-index: 2;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      &.open {
        display: block;
      }

      .option {
        display: flex;
        align-items: center;
        padding: 14px 20px;
        border-bottom: 1px solid $silver;
        cursor: pointer;

        .image {
          margin-right: 10px;

          img {
            display: block;
          }
        }

        .code {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-size: fontSize(16);
          font-weight: 400;
          color: $light-tw;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  .number-input {
    flex: 1 0 0;
    height: 54px;

    input {
      width: 100%;
      height: 100%;
      padding-left: 14px;
      outline: 0;
      border: 0;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-size: fontSize(16);
      font-weight: 400;

      &::placeholder {
        color: $silver;
        padding-left: 14px;
      }
    }
  }
}

.language-alignment-right {
  .phone-number-input-common {
    .select-input {
      > div {
        > .pr-1 {
          padding-right: 0 !important;
          padding-left: 0.25rem;
        }
        > .pr-2 {
          padding-right: 0 !important;
          padding-left: 0.5rem;
        }
      }
    }
  }
}

@include media-breakpoint-tab-land {
  .phone-number-input-common {
    .select-input {
      img {
        width: 13px;
        border-radius: 4px;
        overflow: hidden;
      }

      .downarrow {
        img {
          width: 10px;
        }
      }

      .input {
        .code {
          font-size: fontSize(12);
          transform: translateY(10%);
        }
      }
    }

    .options {
      .option {
        display: flex;
        border-bottom: 1px solid $silver;
        cursor: pointer;

        .code {
          font-size: fontSize(10) !important;
        }
      }
    }
  }
}