@import "../../../../assets/scss/abstracts/abstracts";

iframe {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
}

.eligibility-ParentContainer {
  .eligibility-requestMap-title {
    color: $newLight-tw;
  }
  .eligibility-member-titlename{
    color: $newLight-tw;
  }
  .eligibility-search-liner{
    border-bottom: 1px solid rgba(26, 28, 31, 0.1);
    .eligibility-Search-box {
      background-color: $lightgrey-tw;
      border-radius: 12px;
      .eligibility-headerSearch {
        border-radius: 4px;
        width: 100%;
        border: none;
        background-color: $white;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      }
    }  
  }
  .eligibility-ProviderName{
    color: $black;
  }
  .eligibility-MapContainer {
    background-color: $lightgrey-tw;
    border-radius: 8px;
    padding: 22px 20px 18px 20px;
    .eligibility-mapBoxLayout{
      .eligibility-SelectInput {
        background: #ffffff;
        border-radius: 0px 0px 4px 4px;
        padding: 5px;
      }
    }
  }
  .eligibility-Selector-liner {
    border-bottom: 1px solid rgba(26, 28, 31, 0.1);
  }
  .submit-eligibility-Button {
    width: 100%;
    background-color: $orange-tw;
    color: $white;
    border: none;
    border-radius: 8px;
    font-size: fontSize(16);
    font-weight: 400;
  }
}
