@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap");

.font-Lato {
	font-family: "Lato", sans-serif;
}

.font-Ibm {
	font-family: "IBM Plex Sans Arabic", sans-serif;
}

@font-face {
	font-family: "Bliss 2";
	src: url("../../../assets/fonts/Bliss/Bliss2-ExtraLight.otf");
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}
@font-face {
	font-family: "Bliss 2";
	src: url("../../../assets/fonts/Bliss/Bliss2-Light.otf");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: "Bliss 2";
	src: url("../../../assets/fonts/Bliss/Bliss2-Regular.otf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Bliss 2";
	src: url("../../../assets/fonts/Bliss/Bliss2-Medium.otf");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: "Bliss 2";
	src: url("../../../assets/fonts/Bliss/Bliss2-Bold.otf");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Bliss 2";
	src: url("../../../assets/fonts/Bliss/Bliss2-ExtraBold.otf");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
