$primary-color: #08316d;
$secondary-color: #52575c;
$gold-d8: #d8af49;
$white: #ffffff;
$green-18: #189c5c;
$black: #1a1c1f;
$text-black-1a: #1a202c;
$grey-67: #676b70;
$black-25: #25282b;
$white-f9: #f9f9fa;
$grey-ca: #cacccf;
$white-f0: #f0f2f5;
$yellow-C1: #c18f13;
$light-tw: #4c565c;
$newLight-tw: #455560;
$orange-tw: #ee7500;
$lightOrange-tw: #f5ac66;
$lightgrey-tw: #f2f3f5;
$lightBlack-tw: #262626;
$lightRed-tw: #c4314b;
$lightGreen-tw: #237b4b;
$lightWhite-tw: #b3b9c3;
$lightShadowBlack-tw: #262626;
$silver: #9aa2af;
$light-tw-2 : #455560;
$primary-tw: #679AB4;

.text-secondary {
	color: $secondary-color !important;
}

$myColors: (
	"secondary-color": $secondary-color,
	"grey-67": $grey-67,
	"black-25": $black-25,
	"primary-color": $primary-color,
	"black": $black,
	"gold-d8": $gold-d8,
	"yellow-C1": $yellow-C1,
);

@each $name, $colors in $myColors {
	$index: index($myColors, $colors);
	.text-#{$name} {
		color: $colors;
	}
	.bg-#{$name} {
		background-color: $colors;
	}
	.text-#{$name} {
		color: $colors;
	}
	.bg-h-#{$name} {
		background-color: $colors;
	}
	.bc-#{$name} {
		border-color: $colors;
	}
}
