@import "../../../../assets/scss/abstracts/abstracts";

.all-services-dashboard-container{
    .space-normal {
        &:first-child {
            margin-left: 20px;
        }
    }
    .all-tawuniya-service-header-container{
        background-color: $white;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        .all-tawuniya-service-header-title{
            color: $black;
        }
    }
    .tawniya-allService-tab-liner{
        border-bottom: 1px solid rgba(26, 28, 31, 0.1);
    }
}