@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.notification-status-update,
.n-s-u-container {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 8px;
	padding: 12px 20px;

	.n-s-u-status {
		background: #e3ffef;
		border-radius: 4px;
		padding: 10px 25px;

		p {
			margin-bottom: 0;
		}

		.n-s-u-serviceIcon {
			height: 1.5rem;
		}

		.n-s-u-button {
			padding: 2px 10px 5px 10px;
			background: #237b4b;
			border-radius: 100px;
			height: fit-content;
			color: $white;
		}
	}
}
