@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.BannerContainer {
	.BannerBackground {
		background: #818B9B;
		.navToggleConatinerContentOne {
			color: $white;
		}
		.toggleContainerTwo {
			.rightToggleContent {
				.toggleHeading {
					font-size: fontSize(40);
					color: $white;
				}
				.togglePara {
					color: $white;
					padding-bottom: 10px;
				}
				.download-tawuniya-close-drive-btn {
					background-color: #ee7500;
					color: $white;
					border-radius: 6px;
					border: none;
				}
				.poweredText {
					color: $white;
					position: relative;
					top: 15%;
				}
			}
		}
		.previewbannerleft {
			position: absolute;
			bottom: 0;
			left: 2%;
		}
		.previewbannerrighta {
			position: absolute;
			top: 0%;
			right: 5%;
		}
		.previewbannerrightb {
			position: absolute;
			bottom: -45%;
			right: 5%;
			width: 30rem;
			height: 100%;
		}
		.download-tawuniya-open-drive-btn {
			background-color: #ee7500;
			color: $white;
			border-radius: 6px;
			border: none;
			max-height: 15px;
			padding: 15px;
			line-height: 0;
		}
		.expandIconToggler {
			cursor: pointer;
			position: absolute;
			right: 4%;
			bottom: 10px;
		}
		.closeIconToggler {
			cursor: pointer;
			position: absolute;
			right: 20px;
			top: 10%;
		}
	}
}

.language-alignment-right {
	.BannerContainer {
		.BannerBackground {
			text-align: left;
			direction: ltr;
		}
	}
}

@include media-breakpoint-tab-port {
	.BannerContainer {
		.BannerBackground {
			.toggleContainerTwo {
				.rightToggleContent {
					transform: translateY(10%);
					.toggleHeading {
						font-size: fontSize(20);
					}
					.togglePara {
						font-size: fontSize(12);
					}
					.download-tawuniya-close-drive-btn {
						font-size: fontSize(12);
					}
					.poweredText {
						font-size: fontSize(12);
					}
				}
				.carBanner{
					width: 280px;
					height: 150px;
				}
			}
			.download-tawuniya-open-drive-btn {
				max-height: 15px;
				padding: 15px;
			}
		}
	}
}

@include media-breakpoint-med-desktop {
	.BannerContainer {
		.BannerBackground {
			.toggleContainerTwo {
				.rightToggleContent {
					transform: translateY(2%);
					.toggleHeading {
						font-size: fontSize(30);
					}
					.togglePara {
						font-size: fontSize(18);
					}
					.download-tawuniya-close-drive-btn {
						font-size: fontSize(12);
					}
					.poweredText {
						font-size: fontSize(12);
					}
				}
				.carBanner{
					width: 420px;
					height: 150px;
				}
			}
		}
	}
}

@include media-breakpoint-hd-desktop {
	.BannerContainer {
		.BannerBackground {
			.navToggleConatinerContentOne {
				color: $white;
			}
			.toggleContainerTwo {
				.rightToggleContent {
					.toggleHeading {
						font-size: fontSize(36);
						color: $white;
					}
					.togglePara {
						color: $white;
					}
					.download-tawuniya-close-drive-btn {
						background-color: #ee7500;
						color: $white;
						border-radius: 6px;
						border: none;
					}
					.poweredText {
						color: $white;
						position: relative;
						top: 15%;
					}
				}
			}
			.previewbannerleft {
				position: absolute;
				bottom: 0;
				left: 2%;
			}
			.previewbannerrighta {
				position: absolute;
				top: 0%;
				right: 5%;
			}
			.previewbannerrightb {
				position: absolute;
				bottom: -45%;
				right: 5%;
				width: 30rem;
				height: 100%;
			}
			.download-tawuniya-open-drive-btn {
				background-color: #ee7500;
				color: $white;
				border-radius: 6px;
				border: none;
				max-height: 15px;
				padding: 15px;
				line-height: 0;
			}
			.expandIconToggler {
				cursor: pointer;
				position: absolute;
				right: 4%;
				bottom: 10px;
			}
			.closeIconToggler {
				cursor: pointer;
				position: absolute;
				right: 20px;
				top: 10%;
			}
		}
	}
}

@include media-breakpoint-tab-port-med-only{
	.BannerContainer {
		.BannerBackground {
			.toggleContainerTwo {
				.rightToggleContent {
					// transform: translateY(2%);
					.toggleHeading {
						font-size: fontSize(16);
					}
					.togglePara {
						font-size: fontSize(10);
						padding-bottom: 0px;
					}
					.download-tawuniya-close-drive-btn {
						font-size: fontSize(10);
						max-height: 30px;
					}
					.poweredText {
						font-size: fontSize(10);
					}
				}
				.carBanner{
					width: 220px;
					height: 100px;
				}
			}
		}
	}
}
