@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.motorInsuranceContainer {
	.motorTitle {
		font-size: fontSize(48);
		// color: rgba(76, 86, 92, 1);
	}
	.motorPara {
		color: rgba(76, 86, 92, 1);
		font-size: fontSize(20);
	}
	.insuranceText {
		transform: translateY(10px);
	}
	.managePolicy {
		width: 100%;
		// max-width: 390px;
		.policyContainer {
			background-color: rgba(52, 56, 62, 1);
			border-radius: 12px 12px 0px 0px;
			.manageText {
				color: $white;
			}
			.addText {
				color: $white;
			}
		}
		.policyTypeContainer {
			background-color: $white;
			border-radius: 0px 0px 12px 12px;
			.vehilcleBox {
				border-right: 1px dotted #bfbebe;
				.policyBoxPara {
					transform: translateY(25px);
				}
			}
			.coverageBox {
				border-right: 1px dotted #bfbebe;
				.policyBoxPara {
					transform: translateY(13px);
				}
			}
			.renewBox {
				.renewBoxPara {
					transform: translateY(15px);
				}
			}
		}
	}
	.rewardTitle {
		color: $white;
	}
	.rewardSubTitle {
		color: $white;
		width: 100%;
		max-width: 140px;
	}
	.rewardBtnClass {
		background-color: $white;
		color: rgba(238, 117, 0, 1);
		border-radius: 4px;
		font-size: fontSize(14);
		font-weight: 400;
	}

	.insureMotorCard {
		.insureLayerOne {
			background-color: #ee7500;
			padding: 30px 40px 30px 40px;
			border-radius: 12px 12px 0px 0px;
			.insureCardTitle {
				font-size: fontSize(40);
				color: $white;
			}
		}
		.insureLayerTwo {
			background-color: $white;
			padding: 20px 0px;
			border-radius: 0px 0px 12px 12px;
			.subInsureLayer {
				background-color: rgba(253, 241, 229, 1);
				border-radius: 8px;
				margin: 20px 40px 20px 40px;
				.motorInputfieldOne {
					width: 100%;
					background-color: $white;
					box-shadow: 1px 2px 3px grey;
					border-radius: 4px;
				}
			}
			.insureNowBtn {
				background-color: #ee7500;

				color: $white;
				border-radius: 8px;
				border: none;
				width: 100%;
			}
			.insureNowBtn2 {
				background-color: #ffff;

				color: $black;
				border-radius: 8px;
				border: none;
				width: 100%;
			}

			.btn-img {
				width: 25%;
			}
		}
	}

	.insurancecard {
		border-radius: 4px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: #ffff;
		height: 100%;
	}
}

.MotorBlogs {
	height: 647px;
	width: 100%;
	.MotorBlogsHead {
		display: flex;
		justify-content: space-between;

		.MotorBlogsText {
			h5 {
				font-weight: 800;
				font-size: fontSize(40);
				line-height: 48px;
				letter-spacing: -0.02em;
				color: #1a1c1f;
			}

			span {
				font-weight: 400;
				font-size: fontSize(18);
				line-height: 25px;
				color: #818b9b;
			}
		}
	}

	.MotorBlogsImgContainer {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;

		.MotorBlogsImga {
			background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0) 14.18%,
					rgba(0, 0, 0, 0.63) 78.64%
				),
				url("../../../../assets/svg/Homeinsurance/blogbg.svg");
		}

		.MotorBlogsImgb {
			margin-left: 20px;
			background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0) 14.18%,
					rgba(0, 0, 0, 0.63) 78.64%
				),
				url("../../../../assets/svg/Homeinsurance/blogbg2.svg");
		}
	}
	.MotorBlogsImga,
	.MotorBlogsImgb {
		background-repeat: no-repeat;
		position: relative;
		width: 100%;
		height: 380px;
		margin-top: 20px;
		border-radius: 20px;

		.MotorBlogsImgText {
			position: absolute;
			width: 400px;
			top: 50%;
			left: 5%;
			z-index: 3;

			h5 {
				font-weight: 800;
				font-size: fontSize(30);
				letter-spacing: -0.02em;
				color: #ffffff;
			}

			span {
				font-weight: 400;
				font-size: fontSize(12);
				line-height: 20px;
				display: flex;
				align-items: center;
				color: #ffffff;
			}

			.MotorBlogsBtn {
				margin-top: 10px;
			}
		}
	}
}

.MotrProContainer {
	height: fit-content;
	padding: 40px 0;
	width: 100%;

	.MotrProText {
		h5 {
			font-weight: 800;
			font-size: fontSize(40);
			line-height: 48px;
			letter-spacing: -0.02em;
			color: #1a1c1f;
		}

		span {
			font-weight: 400;
			font-size: fontSize(18);
			line-height: 25px;
			color: #818b9b;
		}
	}

	.MotrProCardsContainer {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
