@import "../../../../assets/scss/abstracts/abstracts";


.pregnancy-LandingContainer{
	#pregnancy-sub-home-container{
	  padding: 65px 24px 65px 30px;
	}
	.pregnancy-carBanner {
	  position: absolute;
	  top:-100px;
	  right: -15px;
	  width: 500px;
	  height: 500px;
	}
  }

  .teleMedicine-LandingContainer {
	#teleMedicine-sub-home-container {
		padding: 65px 24px 65px 60px;
	}
	.teleMedicine-carBanner {
		position: absolute;
		top: -150px;
		right: -15px;
		width: 500px;
		height: 560px;
	}
}

.reimBursment-LandingContainer {
	#reimBursment-sub-home-container {
		padding: 65px 24px 65px 60px;
	}
	.reimBursment-carBanner {
		position: absolute;
		top: -107px;
		right: -15px;
		width: 500px;
		height: 560px;
	}
}

.roadAssistance-LandingContainer {
	#road-sub-home-container {
		padding: 65px 24px 65px 30px;
	}
	.road-assisstant-carBanner {
		position: absolute;
		top: -103px;
		right: -15px;
		width: 630px;
		height: 560px;
	}
}



.periodicInspect-LandingContainer{
	#periodicInspect-sub-home-container{
	  padding: 65px 24px 65px 30px;
	}
	.periodicInspect-carBanner {
	  position: absolute;
	  top:-103px;
	  right: -15px;
	  width: 630px;
	  height: 560px;
	}
  }
