.normal-popup {
  .modal-dialog {
    margin: 0;
  }
  .modal-content {
    border: none;
    border-radius: none;
  }
  .header {
    background: #f2f3f5;
    justify-content: flex-end;
    padding: 25px 0px;
  }
}
