.news_slider_card {
  width: 196px;
  height: 186px;
  padding: 17px 16px 24px 16px;
  background: #FFFFFF;
  border-radius: 8px;
  display: inline-block;
  margin-right: 12px;

  .header_part {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      width: 59px;
      height: 23px;
      background: #F47B20;
      // box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
      border-radius: 10px;
      text-align: center;
      border: none;
      font-weight: 700;
      font-size: 10px;
      color: #FFFFFF;
    }

    label {
      font-weight: 700;
      font-size: 10px;
      color: #455560;
      margin-bottom: 0px;
    }
  }

  .header_news_description {
    height: 100%;
    display: flex;
    align-items: center;

    h6 {
      font-weight: 700;
      font-size: 16px;
      color: #1A1C1F;
      white-space: initial;
      margin-bottom: 0px;
    }

  }
}

.silver_theme {
  .header_part {
    button {
      width: 88px;
      background: #F2F3F5;
      color: #455560;
    }
  }
}

.Area {
  border-radius: 5rem;
}

.card {
  margin: 0px 5px;
}

.scrollcards {

  overflow: auto;
  white-space: pre;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;

}

.match {
  background-color: grey;
}

div.scrollcards .card {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.5rem;
  width: 12rem;
  height: 11rem;
  padding: 17px 16px 24px 16px;
  border: 1;
}

.card-text {
  display: flex;
  justify-content: flex-start;

}

.font-size {
  font-size: 11px;
}

.bc {
  background-color: grey;
}

.card-text:last-child {
  margin-bottom: 0;
  font-size: xx-small;
  font-weight: bolder;
}

.bg-image {

  background-repeat: no-repeat;
  background-size: 100%;
}

.data-description {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  top: 2.5rem;
  left: 5px
}

.data-appoints {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 1px;
}

.date-style {
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: 0.5em;
  left: 2rem;
}