.header_steps_container {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 0px 0px 10px 10px;
    padding: 16px;
    border-top: 1px solid #F2F3F5;
    min-height: 72px;

    .header_body_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .header_button {
            background: #F47B20;
            box-shadow: 0px 10px 20px rgba(238, 117, 0, 0.2);
            border-radius: 4px;
            min-width: 85px;
            height: 36px;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 14px;
            border: none;
            padding: 8px 16px;
           
        }
       
    }

    .header_steps_body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            margin-right: 12px;
        }
    }


    .header_menu_list {
        label {
            font-weight: 400;
            font-size: 16px;
            color: #1A1C1F;
            margin-bottom: 16px;
        }

        .menu_active {
            font-weight: 600;
            color: #F47B20;
        }

        img {
            padding-right: 8px;
        }
    }

    h6 {
        font-weight: 800;
        font-size: 16px;
        color: #1A1C1F;
        margin-bottom: 0px;
    }

    label {
        font-weight: 400;
        font-size: 12px;
        color: #1A1C1F;
        padding-right: 10px;
        margin-bottom: 0px;
    }
}


.over_lay{
    position: fixed;
    bottom: 0;
    background-color: white;
    color: black;
    width: 93%;
    height: 0;
    z-index: 99;

    &.active {
        height: 90%;
    }
}
// -----yashwanth
.myfamilytitletext{
    h5 {
      width: 358px;
  // height: 58px;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #000;
    }
  
    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #818b9b;
    }
  }
  
  .myfamilycontenttitle{
    margin: 30px 20px;
    border-bottom: 1px solid #bbbdbe;
    font-weight: 800;
      font-size: 16px;
      line-height: 120%;
    .left-content{
      width: 30%;
      // position: absolute;
      background-color: #f2f3f5;
      div{
        border-bottom: 1px solid #bbbdbe;
              box-shadow: 2px 1px #dfe1e2;
      }
      
    }
    .right-content{
      div{
        margin-left: 125px
      }
      
    }
  
  }
  
  .myfamilycontent{
    margin: 30px 20px;
    // border-bottom: 1px solid #bbbdbe;
      font-size: 16px;
      line-height: 120%;
    margin-top: -25px;
    .left-content{
      width: 30%;
      background-color: #f2f3f5;
      div{
        border-bottom: 1px solid #bbbdbe;
              box-shadow: 2px 1px #dfe1e2;
        padding: 25px 25px 22px 8px;
      }
      
    }
    .right-content{
      padding: 17px 10px 10px 0px;
      text-align: center;
      color: #455560;
      ;
      div{
        margin-left: 89px  
      }
      
    }
  
  }
  .opticalcontent{
    padding-top: 28px;
  }