.social_responsibility_details{


.social_artical {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
  color: #455560;
  font-family: "IBM Plex Sans", sans-serif;
}

.social_trending {
  padding: 8px 16px;
  margin-top: 25px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  font-weight: 400;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #4c565c;
  width: 90px;
  margin-left: 16px;
  border-radius: 100px;
}

.social_headline {
  font-weight: 800;
  font-size: 28px;
 
  letter-spacing: -0.02em;
  color: #1A1C1F;
  padding: 0px 16px;
  margin-top: 24px;
  width:404px
}

.social_image {
  margin-top: 14px;
  padding: 0px 16px;
  width: -webkit-fill-available;
}


.social_date {
  font-weight: 400;
  font-size: 14px;
  margin-left: 16px;
  color: #4c565c;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 16px;
}


.social_body {
  position: relative;
  bottom: 1.5rem;
  border-radius: 8px;
  padding: 0px 16px;


.social_text {
  background: #ffffff;
  border-radius: 12px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #4c565c;
  padding: 16px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
}
.social_para {
  margin-top: 13px;
}

}

.social_image_face {
  display: flex;
  width: 32px;
 height:32px;
}

.related_projects {
  font-weight: 800;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: #1A1C1F;
}
.competitive_advantage{
  padding: 0px 16px;

  .competitive_date {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    color: #1A1C1F;
  }
    .ammr_financial_officer {
      font-weight: 800;
      font-size: 15px;
  
      color: #1A1C1F;
    }
    .competitive_days{
      font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    color: #1A1C1F;
    }
    .vehicle_insurance_policies{
      font-weight: 800;
      font-size: 15px;
  
      color: #1A1C1F;
    }
    .competitive_week{
      font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    color: #1A1C1F;
    }
      .competitive_insurance_program{
        font-weight: 800;
        font-size: 15px;
    
        color: #1A1C1F;
      }


}
.height {
  height: 10vh;
}}


@media screen and (min-width: 320px) and (max-width: 360px){
  .social_responsibility_details{
    .social_headline {

      font-size: 22px;
      width:321px
    }
    .social_trending {
      padding: 8px 9px;
   
    width: 73px;
    
    height: 34px;
    }
    .social_date {
      
      font-size: 12px;
      
  }
  .social_body .social_text {
   
    font-size: 12px;
   
  }
  .social_image_face {
 
    width: 25px;
    height: 25px;
  
  }
  .social_artical {
    
    font-weight: 400;
    font-size: 12px;
    
  }
  .related_projects {
    
    font-size: 20px;
    
}

}
}