@import "../../../../assets/scss/abstracts/abstracts";

.dashBoardNavtabContainer {
  background-color: $lightgrey-tw;
  padding: 7px;
  border-radius: 4px;
  .highlight-pillTabOne {
    width: 100%;
    background-color: $orange-tw;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    color: $white;
    border: none;
  }
  .normal-pillTabOne {
    width: 100%;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    color: $newLight-tw;
    border-radius: 8px;
    border: none;
  }
  .highlight-pillTabTwo {
    width: 100%;
    background-color: $orange-tw;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    color: $white;
    border: none;
  }
  .normal-pillTabTwo {
    width: 100%;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    color: $newLight-tw;
    border-radius: 8px;
    border: none;
  }
}
