.motor-fraud {
  padding-bottom: 13rem;
  .card {
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 10px #091e420f;
  }
  .report_font {
    font-weight: 800;
    font-size: 24px;
    color: #1a1c1f;
    padding: 8px 0px 9px;
  }
  .motor_total {
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #455560;
    }
  }

  .align_sticky{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  .negative_header {
    font-weight: 800;
    font-size: 20px;
    color: #1a1c1f;
  }
  .report_button {
    button {
      background-color: #f47b20;
      color: white;
      border: hidden;
      height: 54px;
      border-radius: 8px;
      margin: 16px 0px 32px;
    }
  }
  .list_para {
    p {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
    }
    li {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
      padding-left: 20px;
      position: relative;
      list-style-type: none;
      &:before {
        position: absolute;
        content: "";
        background: #455560;
        height: 6px;
        width: 6px;
        left: 4px;
        top: 9px;
        border-radius: 50%;
      }
    }
  }

  .faq-list {
    .accordionCollapseIcon {
      top: 0;
    }
  }
}
