.support-request-helper {
  background: white;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 12px;
  // margin-top: 30px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;

  .support-request-callcenter {
    padding-top: 16px;

    .call-center {
      font-size: 12px;
      font-weight: 400;
      margin-left: 18px;
      color: #455560;
    }

    .call-number {
      font-size: 20px;
      font-weight: 800;
      margin-top: 4px;
      color: #1a1c1f;
      margin-left: 50px;
    }
  }

  .support-request-whatsapp {
    padding-top: 16px;

    .whatsapp {
      font-size: 12px;
      font-weight: 400;
      margin-left: 18px;
      color: #455560;
    }

    .whatsapp-number {
      font-size: 20px;
      font-weight: 800;
      margin-top: 4px;
      color: #1a1c1f;
      margin-left: 50px;
    }

    .whatsapp-chat {
      font-size: 12px;
      font-weight: 400;
      margin-left: 52px;
      color: #455560;
    }
  }

  .support-request-executives {
    margin-top: 16px;

    .executives {
      font-size: 12px;
      font-weight: 400;
      margin-left: 18px;
      color: #455560;
    }

    .executives-livechat {
      font-size: 20px;
      font-weight: 800;
      color: #1a1c1f;
      margin-top: 4px;
      margin-left: 50px;
    }

    .button-online {
      background-color: #e3ffef;
      color: #237b4b;
      border: none;
      text-decoration: none;
      display: inline-block;
      font-size: 10px;
      border-radius: 100px;
      margin-left: 16px;
    }
  }

  .support-request-mail {
    margin-top: 12px;

    .support-email {
      font-size: 12px;
      font-weight: 400;
      margin-left: 18px;
      color: #455560;
    }

    .support-email-care {
      font-size: 20px;
      font-weight: 800;
      margin-top: 4px;
      color: #1a1c1f;
      margin-left: 50px;
    }
  }

  .phone-img {
    margin-left: 18px;
  }

  .whatsapp-img {
    @extend .phone-img;
  }

  .chatmobile-img {
    @extend .phone-img;
  }

  .mail-img {
    @extend .phone-img;
  }

  .hr-lines {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
    color: #455560;
  }

  .hr-lines:before {
    content: " ";
    height: 0.1px;
    width: 120px;
    background: rgb(114, 114, 114);
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
  }

  .hr-lines:after {
    content: " ";
    height: 0.1px;
    width: 120px;
    background: rgb(114, 114, 114);
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
  }

  .support-button {
    justify-content: center;
    display: flex;
    padding: 0px 16px 16px;

    .support-request-button {
      color: white;
      font-size: 16px;
      width: 318px;
      height: 54px;
      justify-content: center;
      background-color: #f47b20;
      border-radius: 6px;
      display: flex;
      padding: 8px;
      border: none;
      align-items: center;
    }
  }
}