@import "../../../assets/scss/abstracts/mixins.scss";

.positionMotor {
	position: absolute;
	bottom: 70px;
}

@include media-breakpoint-med-desktop{
    .positionMotor{
        position: absolute;
        bottom: 80px;
    }
}

@include media-breakpoint-tab-land{
    .positionMotor{
        position: absolute;
        bottom: 70px;
    }
}
