@import "../../../../assets/scss/abstracts/abstracts";

.insurance-program-benefits {
    background-color: $black;
    background-size: cover;
    background-position: bottom center;
    border-radius: 20px;
    padding: 50px;
    padding-top: 160px;

    .benefits-title {
        color: $white;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-size: fontSize(40);
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
        line-height: 1.3;
    }

    .cards-list-block {
        display: flex;
        align-items: center;

        .cards-column {
            flex: 0 0 calc(20% - 20px);
            margin: 0 10px;

            .benefits-card-root {
                margin-bottom: 20px;
                cursor: pointer;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}