@import "../../../assets/scss/abstracts/abstracts";

.drive-head-text{
    .get-most-drive-heading{
        color:$black;
        font-size: fontSize(64);
        width: 100%;
        max-width: 850px;
        line-height: 70px;
    }
    .get-most-drive-para{
        color:$newLight-tw;
        width: 100%;
        max-width: 550px;
    }
    .drive-button-container{
        width: 100%;
        min-width: 400px;
        .get-most-claim-btn{
            background-color: $orange-tw;
            width: 100%;
            min-width: 200px;
            color: $white;
            border-radius: 8px;
            border: none;
            font-size: fontSize(16);
            font-weight: 400;
        }
        .get-most-download-btn{
            background-color: transparent;
            width: 100%;
            min-width: 130px;
            color: $primary-tw;
            border-radius: 8px;
            border: 1px solid $primary-tw;
            font-size: fontSize(16);
            font-weight: 400;
        }
    }
}