@import "../../../../assets/scss/abstracts/abstracts";

.board-of-directors-card {
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    .image {
        img {
            width: 100%;
            // height: 157px;
            object-fit: cover;
            border-radius: 8px;
            overflow: hidden;
        }
    }
    .details-card {
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        margin: 0 10px;
        margin-top: -40px;
        background: $white;
        position: relative;
        z-index: 1;
        border-radius: 8px;
        padding: 10px 8px;
        min-height: 90px;
        .name {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-size: fontSize(14);
            color: $black;
            line-height: 1.3;
        }
        .position {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-size: fontSize(12);
            color: $light-tw;
            line-height: 1.3;
        }
    }
    @media (max-width: 1240px) {
        .details-card {
            min-height: 110px;
        }
    }
}