.zero-interactions {
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 8px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;

	img {
		height: 80px;
	}

	p {
		margin-left: 20px;
		margin-top: 10px;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #1a1c1f;
	}
}
