@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.rewardConatiner {
  width: 100%;
  padding: 30px 10px 30px 10px;
  border-radius: 12px;
  .driveBanner{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    top:0px;
    left:0px;
  }
  .appdevice{
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 7px;
  }
  .rewardContent{
    position: relative;
  }
}

@include media-breakpoint-tab-land{
  .rewardConatiner {
    width: 100%;
    padding: 23px 10px 42px 10px;
    .driveBanner{
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0px;
      top:0px;
      left:0px;
    }
    .appdevice{
      width: 40px;
      height: 40px;
      position: relative;
      bottom: 0px;
    }
    .rewardContent{
      position: relative;
    }
  }
}

@include media-breakpoint-tab-port-med-only {
	.rewardConatiner {
    width: 100%;
    padding: 30px;
    .driveBanner{
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0px;
      top:0px;
      left:0px;
    }
    .appdevice{
      width: 40px;
      height: 40px;
      position: relative;
      bottom: 7px;
    }
    .rewardContent{
      position: relative;
    }
  }
}