@import "../../../../../assets/scss/abstracts/abstracts";
@import "../../../../../assets/scss/abstracts/mixins.scss";

.slick-dots li {
  margin: 0px !important;
  width: 10px;
}

.SStyle {
  background-color: transparent;
}

.Align {
  size: 5px;
}

.Auto {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
  width: 100%;
  z-index: 99;
}

.Whole {
  color: black !important;
}

.SStyle .nav-link {
  padding: 0.5rem 0.3rem;
}

.SStyle .nav-link img {
  padding-right: 6px;
}

.text-style {
  font-size: xx-small;
  color: #4c565c;
  font-style: normal;
  font-weight: 400;
}

.Styles {
  width: 300px;
  height: 52px;
  font-family: "arial";
  font-style: normal;
  font-weight: 100;
  font-size: xx-small;
}

.Style {
  width: 300px;
  height: 52px;

  font-family: "arial";
  font-style: normal;
  font-weight: 100;
  font-size: 0px;
  line-height: 130%;

  /* or 21px */
  letter-spacing: -0.01em;

  /* Neutral/Neutral 06 */
  color: #1a1c1f;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.iconn {
  height: 18.33px;
  width: 18.33px;
}

.icon {
  padding: 0px 7px 3px 0;
}

.Texas {
  font-size: larger;
  font-weight: bold;
}

.bottons {
  font-weight: bolder;
}

.Slider {
  font-size: x-small;
  font-weight: 650;
}

.sou {
  width: 43%;
}

.BannerContainer_mobile {
  background: #f2f3f5;
  padding-top: 20px;
  .quick p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #1a1c1f;
    padding-bottom: 12px;
  }

  .container-fluid {
    padding: 0px;
  }

  .view_all_cards {
    position: absolute;
    top: 367px;
    left: 16px;
    font-weight: 800;
    font-size: 14px;
    color: #455560;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 0px;
    align-items: center;

    img {
      margin-left: 18px;
    }
  }

  .landing_section {
    margin-top: 55px;

    .get-insured {
      p {
        font-weight: 800;
        font-size: 24px;
        color: #1a1c1f;
      }
    }
  }

  .policy_count {
    display: flex;
    margin-bottom: 25px;
    padding-left: 16px;

    label {
      font-weight: 500;
      font-size: 14px;
      color: #1a1c1f;
      text-transform: uppercase;
      padding-right: 14px;
    }

    span {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 100px;
      width: 31px;
      height: 21px;
      padding: 0px 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      color: #1a1c1f;
    }
  }

  // Claim section
  .create_claim {
    p {
      font-size: 18px;
    }
  }

  .policy_bg {
    position: relative;
    height: 25rem;

    .policy_banner_header {
      width: 100%;
    }
  }

  .policy_banner {
    position: absolute;
    top: 30%;
    width: 100%;
  }

  .card_swap {
    position: absolute;
    height: 308px;
    width: 94%;
    left: 3%;
    top: -1.2%;

    .travel_policy_card_container {
      position: absolute;
      width: 100%;
      bottom: 57px;
    }

    .motor_policy_card_container {
      position: absolute;
      width: 100%;
      bottom: 21px;
    }

    .policy_card_container {
      position: absolute;
      width: 100%;
      top: 114px;
    }
  }

  .policy_list_view {
    padding: 16px;
    padding-top: 0px;
    transition: all 0.5s linear;

    .policy_card_container,
    .motor_policy_card_container,
    .travel_policy_card_container {
      margin-bottom: 9px;
      position: relative;
    }
  }

  p.Sec {
    position: relative;
  }

  p.up {
    font-size: 22px;
    margin: 0;
    padding-bottom: 14px;
    position: relative;
  }
}

.landing-input {
  position: relative;
  margin: 16px;

  input.loginInputFieldOne.searchBox {
    border: 1.5px solid #d9dce1;
    border-radius: 4px;
    height: 54px;
    padding: 10px 42px 10px 50px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #4c565c;
    }
  }

  div .leftIcon .Inputicon {
    transform: translateX(18px) !important;
  }

  .phone-number-input-common {
    width: 100%;

    .select-input .input {
      cursor: default;
      display: flex;
      height: 54px;
      background: #fff;
      justify-content: center;
      align-items: center;
      width: 85px;
    }

    .image.pr-1 {
      padding: 0px !important;
      margin-right: 15px;
    }

    .number-input {
      flex: 1 0;
      height: 54px;
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
    }

    .number-input input::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #4c565c;
    }
  }
}

// cardSliderContent
.Area {
  border-radius: 5rem;
}

.card {
  margin: 0px 5px;
  /* padding: 5px; */
  /* transition: 10s ease; */
}

.scrollcards {
  overflow: auto;
  white-space: pre;
  // height: 60px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.match {
  background-color: grey;
}

.landingSectionSelect {
  position: relative;
  margin: 0px 15px !important;

  .helper {
    position: absolute;
    bottom: -200px;
    z-index: 0;
    left: -16px;
    width: 108%;
  }

  .menu-dot {
    position: absolute;
    right: -3px;
    top: 15px;
    background: #fff;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 7px 10px #091e420d;
  }

  .nav-tabs .nav-link {
    background: transparent;
    border: none;
    color: #4c565c;
    font-size: 15px;
    width: 100%;
    padding: 0;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
}

div.scrollcards .card {
  display: inline-block;
  border: none;
  padding: 7px 10px;
  box-shadow: 0px 7px 10px #091e420d;
  border-radius: 100px;

  &:first-child {
    margin-left: 15px;
  }
}

img.union-top {
  position: absolute;
  z-index: 0;
}

.card-desc {
  display: flex;
  // justify-content: flex-start;
  font-weight: 700;
  font-size: 12px;
}

.font-size {
  font-size: 11px;
}

.bc {
  background-color: grey;
}

ul.landing-tab-mobile.nav.nav-tabs {
  border: none;
}

// LANDING SECTION SELECT
.landingSectionSelect {
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    border-bottom: 2px solid white;
    background-color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border: none;
    color: #1a1c1f;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
  }

  li.nav-item {
    width: 30.3%;
  }

  .Silver {
    width: 100%;
    box-shadow: 0px 7px 10px #091e420d;
    border-radius: 8px;
    border-top-left-radius: 0px;
    padding: 23px 15px 15px 15px !important;
    position: relative;
    z-index: 9;
  }

  .tab-icons {
    padding-right: 6px;
  }

  .nav-link img {
    padding: 0;
    height: 30px;
    width: 30px;
    object-fit: contain;
    box-shadow: 0px 7px 10px #091e420d;
    margin-right: 5px;
    border-radius: 50%;
  }

  .fontSize-16-400 {
    font-size: 16px;
    font-weight: 400;
  }

  .flex-space {
    display: flex;
    justify-content: space-around;
    background: #fff;
    margin: 16px;
    margin-bottom: 0px;
    border-radius: 8px;
    padding: 8px;

    button.btn {
      width: 50%;
      border-radius: 8px;
      border: none;

      &:first-child {
        margin-right: 5px;
      }
    }
  }

  .button-color {
    color: #4c565c;
  }

  .active-color {
    background-color: #ee7500 !important;
    color: white !important;
    box-shadow: none !important;
  }

  .cardd-position {
    position: relative;
    right: 85%;
  }

  .img-move-1 {
    background-color: white;
    padding-bottom: 15px;
    /* border-right: none; */
  }

  .img-move-2 {
    background-color: white;
    padding-bottom: 15px;
    /* border-left: none; */
  }

  .imgPos2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    height: 20px;
    object-fit: contain;
  }

  .imgPos1 {
    position: relative;
    top: 2px;
  }

  .img-move-3 {
    background-color: white;
    padding-bottom: 15px;
  }

  .imgPos3 {
    position: relative;
    top: 5px;
  }

  .drop-color {
    background-color: #f2f3f5;
  }

  .img-move-4 {
    background-color: white;
    padding-bottom: 15px;
    background-color: #f2f3f5;
  }

  .buy-button {
    border: none;
    color: white;
    height: 54px;
    font-weight: 700;
    font-size: 16px;
    background: #ee7500;
    border-radius: 8px;
  }

  .bg-light {
    padding-bottom: 20px;
    margin: 0;
    border: none;
    background-color: #f2f3f5 !important;
    border-radius: 8px;
    position: relative;
  }

  .input-width input {
    width: 264px !important;
    border-radius: 20px;
    font-size: 60%;
    font-weight: 400;
    border: none;
  }
}

// LANDING HELPER SECTION
.landingHelperSection {
  background-image: url("../../../../../assets/images/mobile/blue_rewards.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  position: relative;
  top: 40px;
  border-top-right-radius: 8%;

  .image-button {
    display: flex;
  }

  .input-width input {
    border-radius: 20px;
    font-size: 60%;
    font-weight: 400;
    border: none;
    width: 100%;
    height: 45px;
    position: relative;
    box-shadow: 0px 4px 10px #091e420f;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: #676f7c;
    }
  }

  form.input-width {
    position: relative;
    top: -22px;
    margin: 0px -2px;
  }

  img.search {
    position: absolute;
    right: 16px;
    width: 44px;
  }

  .imgPos3 {
    position: relative;
  }

  .tx-style {
    font-size: 20px;
    color: #1a1c1f;
    font-weight: 800;
    margin-top: 30px;
    top: -33px;
    position: relative;
    margin-bottom: 0px;
  }

  .SStyle {
    background-color: #f2f3f5;
  }

  .Align {
    size: 5px;
  }

  .Auto {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    width: 100%;
    z-index: 99;
  }

  .Whole {
    color: black !important;
  }

  .SStyle .nav-link {
    padding: 0.5rem 0.3rem;
  }

  .SStyle .nav-link img {
    padding-right: 6px;
  }

  .text-style {
    font-size: xx-small;
    color: #4c565c;
    font-style: normal;
    font-weight: 400;
  }

  .Styles {
    width: 300px;
    height: 52px;
    font-family: "arial";
    font-style: normal;
    font-weight: 100;
    font-size: xx-small;
  }

  .Style {
    width: 300px;
    height: 52px;

    font-family: "arial";
    font-style: normal;
    font-weight: 100;
    font-size: 0px;
    line-height: 130%;

    /* or 21px */
    letter-spacing: -0.01em;

    /* Neutral/Neutral 06 */
    color: #1a1c1f;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .iconn {
    display: flex;
    align-self: center;
  }

  .Texas {
    font-size: larger;
    font-weight: bold;
  }

  .bottons {
    font-weight: bolder;
  }

  .Slider {
    font-size: x-small;
    font-weight: 650;
  }

  .sou {
    width: 43%;
  }

  .bc-style {
    border: none;
    padding: 0px !important;
    margin: -5px -6px;

    .col-4 {
      padding: 0px 5px;
    }

    .bg-white {
      padding: 16px 0px !important;
      border-radius: 8px;
      box-shadow: 0px 7px 10px #091e420d;

      p {
        margin: 0;
        font-size: 12px;
        color: #455560;
        font-weight: 400;
      }
    }
  }

  .t-style {
    font-size: 12px;
  }
}

// PRODUCTS AND OFFERINGS
.productsOfferings {
  .txt-size {
    font-size: 14px;
    font-weight: 800;
    color: #4c565c;
    text-transform: uppercase;
  }

  .te-style {
    font-size: 14px;
    line-height: 15.4px;
    font-weight: 500;
  }

  .Area {
    border-radius: 5rem;
  }

  .card {
    margin: 0px 5px;
    /* padding: 5px; */
    /* transition: 10s ease; */
  }

  .swipercards {
    overflow: auto;
    white-space: pre;
    padding: 0px;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  .match {
    background-color: grey;
  }

  div.swipercards {
    .card {
      display: inline-block;
      position: relative;
      z-index: 9;
      width: 240.19px;
      height: 287.71px;
      border: none;
      border-radius: 8px;

      &::before {
        position: absolute;
        content: "";
        background: linear-gradient(180deg, #db175391 14.18%, #db175391 78.64%),
          url("../../../../../assets/images/mobile/_Tint-Image.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        z-index: -1;
        border-radius: 8px;
      }

      .top {
        position: absolute;
        left: 16px;
        color: #fff;
        top: 20px;

        p {
          margin: 0;
          font-weight: 800;
          font-size: 14px;
          padding-bottom: 5px;
        }

        h3 {
          font-style: italic;
        }
      }

      .bottom-slide {
        bottom: 25px;
        position: absolute;
        left: 16px;
        color: #fff;

        h4 {
          font-size: 16px;
          font-weight: 700;
        }

        h6 {
          img {
            height: 22.55px;
            width: 28.97px;
            margin-right: 10px;
          }

          font-size: 13px;
          font-weight: 600;
        }
      }
    }

    .card.one {
      &::before {
        background: linear-gradient(180deg, #6e9fbba3 14.18%, #6e9fbb 78.64%),
          url("../../../../../assets/images/mobile/Tint-Image-1.svg");
        border-radius: 8px;
      }
    }

    .card.two {
      &::before {
        background: linear-gradient(180deg, #f5ac66cf 14.18%, #f5ac66cf 78.64%),
          url("../../../../../assets/images/mobile/Tint-Image-2.svg");
        border-radius: 8px;
      }

      .top span {
        font-size: 70px;
        font-weight: 900;
        margin: 0;

        sub {
          font-size: 30px;
          position: relative;
          left: -10px;
          bottom: 1px;
        }
      }
    }

    .card.three {
      &::before {
        background: linear-gradient(180deg, #6e9fbba3 14.18%, #6e9fbb 78.64%),
          url("../../../../../assets/images/mobile/Tint-Image-3.svg");
        border-radius: 8px;
      }
    }
  }

  .card-text {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
  }

  .font-size {
    font-size: 11px;
  }

  .bc {
    background-color: grey;
  }

  .card-text:last-child {
    margin-bottom: 0;
    font-size: xx-small;
    font-weight: bolder;
  }
}

.get-insured {
  // margin-top: 50px;
  padding-left: 16px;

  p {
    font-size: 22px;
    font-weight: 700;
    color: white;
    padding: 5px 0 3px 0px;
    position: relative;
    z-index: 9;
  }
}

.terms {
  margin: 0px 16px;

  p {
    font-weight: 400;
    font-size: 12px;
    color: #4c565c;
  }
}

.productsOfferings {
  margin: 0px 16px;

  .te-style {
    position: relative;
    margin-bottom: 15px;
    color: #1a1c1f;
    padding-top: 35px;
    font-weight: 500;
    font-size: 14px;
  }

  .product-row {
    margin: 0px -5px;
  }
}

// .landing-page-mobile {
//   margin-bottom: 14rem;
// }

.map-landing {
  p {
    color: #fff;
    padding-top: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0px;
    font-size: 14px;
  }

  iframe {
    border: none;
    width: 100%;
    border-radius: 8px;
    height: 208px;
    // border: 1px solid #ddd;
  }

  .txt-size {
    font-size: 14px;
    color: #4c565c;
    font-weight: 800;
    text-transform: uppercase;
  }
}

div .map-landing {
  padding-top: 25px;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-top: 15px;
    margin: 0;

    li {
      background: #fff;
      width: 63px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border-radius: 6px;
    }
  }

  .map-search {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;

    img.search {
      position: absolute;
      top: 12px;
    }
  }
}

.MuiDialogContent-dividers {
  padding: 0px;
}

.view_policy {
  margin-top: 50px;

  .title {
    font-weight: 500;
    font-size: 14px;
    color: #1a1c1f;
    text-transform: uppercase;
    margin: 16px;

    span {
      font-weight: 400;
      font-size: 12px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 100px;
      width: 31px;
      height: 21px;
      padding: 0px 12px;
      margin-left: 14px;
    }
  }

  .policy_card_container,
  .motor_policy_card_container,
  .travel_policy_card_container {
    margin: 16px;
  }

  .policy_card_container {
    position: relative;
    z-index: 10;
  }
}

.manage_your_policy {
  p {
    font-weight: 700;
    font-size: 14px;
    color: #213039;
    margin-bottom: 4px;
  }

  h6 {
    font-weight: 700;
    font-size: 22px;
    color: #213039;
    margin-bottom: 40px;
  }

  .manage_policy_body {
    margin-top: 40px;

    div {
      display: flex;
      align-items: start;

      img {
        padding-right: 18.33px;
      }

      label {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        border-bottom: 1px solid #f2f3f5;
        padding-bottom: 15px;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .policy_footer {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;

    .banner {
      width: 100%;
    }

    .content_section {
      position: absolute;
      top: 0px;
      padding: 20px 30px;

      p {
        font-weight: 600;
        font-size: 22px;
        color: #ffffff;
        margin-bottom: 10px;
      }

      label {
        font-weight: 600;
        font-size: 16px;
        margin-left: 10px;
        color: #ffffff;
      }
    }
  }
}

//  medical-section

.medical-section {
  .medical-card {
    background: #ffffff;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 0px 0px 20px 20px;
    padding: 68px 20px 0px;

    .card-head {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;

      .share {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          margin: 0px;
          font-weight: 800;
          font-size: 14px;
          color: #455560;
          padding-left: 10px;
        }
      }
    }

    .wallet {
      width: 140px;
      height: 54px;
      background: #1a1c1f;
      border-radius: 6px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 10px;
        display: flex;
      }

      h6 {
        font-size: 12px;
        padding-left: 10px;
        margin: 0px;
      }
    }
  }

  .recent-inter {
    margin: 0px 16px;

    h6 {
      margin-bottom: 14px;
      font-weight: 800;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #1a1c1f;
    }

    .recent-card {
      background: #ffffff;
      box-shadow: 0px 4px 10px #091e420f;
      border-radius: 8px;
      padding: 15px;

      span {
        width: 76px;
        height: 24px;
        background: #f1f5f8;
        border-radius: 100px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #009dde;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #455560;
        margin: 0;

        img {
          padding-right: 7px;
        }
      }

      .hospital {
        background: #f2f3f5;
        border-radius: 4px;
        padding: 12px;
        margin-top: 15px;

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          color: #455560;
          padding-bottom: 5px;
        }

        h5 {
          font-weight: 800;
          font-size: 16px;
          line-height: 19px;
          color: #1a1c1f;
          margin: 0px;
          padding-top: 2px;
        }
      }

      .help-section {
        display: flex;
        justify-content: space-between;
        padding: 16px 0px;
        align-items: center;
        padding-bottom: 0;

        p {
          margin: 0px;
          font-size: 14px;
          color: #455560;
          padding-left: 8px;
          font-weight: 800;
        }

        .detail {
          display: flex;
          align-items: center;

          h6 {
            margin: 0px;
            font-size: 14px;
            font-weight: 800;
            color: #455560;
            padding-right: 8px;
          }
        }
      }
    }
  }
}

.faqContainer {
  .faqTitle {
    font-size: 40px;
    color: black;
  }

  .faqPara {
    color: #4c565c;
  }

  .reportAccordionQuestion {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    padding: 0px 20px 0px 20px;

    .reportQuestion {
      color: black;
    }

    .reportAccordionAnswer {
      background-color: #f2f3f5;
      border-radius: 8px;
    }

    .addButton {
      background-color: transparent;
      border: none;
      padding: 0px;
    }

    .reportAccordionAnswer {
      background-color: #f2f3f5;
    }
  }
}

.question_section {
  margin: 0px 16px;
  padding: 0px;

  .accordionCollapseIcon {
    position: relative;
    top: 0;
  }

  h6 {
    color: #1a1c1f;
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 10px;
  }
}

.txt-size {
  color: #1a1c1f;
  font-weight: 800;
  font-size: 16px;
}

.service_list {
  padding: 0px 0px 38px 16px;
  background: #f2f3f5;
  border-radius: 20px 20px 0px 0px;

  h5 {
    padding-top: 34px;
    font-weight: 800;
    font-size: 20px;
    color: #1a1c1f;
    padding-bottom: 16px;
    margin: 0;
  }
}

.upload-fail {
  background-color: #fff;
  padding: 68px 16px 12px 16px;

  .file-error {
    background: #fff5e5;
    border-radius: 8px;
    padding: 16px;
    display: flex;

    h6 {
      font-weight: 800;
      font-size: 16px;
      color: #332500;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #332500;
      margin: 0px;
    }
  }
}

.pending-inter {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 10px #091e420f;
  border-radius: 8px;
  padding: 16px;
  justify-content: space-between;

  p {
    font-weight: 400;
    font-size: 14px;
    color: #213039;
    margin: 0px;
  }

  button {
    width: 133px;
    height: 34px;
    background: #f47b20;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
  }
}

.coverage-section {
  .coverage-head {
    width: 100%;
    height: 158px;
    background: #8bb2c9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
    border-bottom-right-radius: 40px;

    p {
      font-weight: 400;
      font-size: 12px;
      color: #ffffff;
    }

    h6 {
      font-weight: 800;
      font-size: 20px;
      color: #ffffff;
    }
  }
}

.coverage-body {
  background: #fff;
  height: 100vh;
  padding: 0px 16px;

  h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    padding: 40px 0px 46px;
  }

  .card-view {
    display: flex;
    justify-content: space-between;

    p {
      font-weight: 500;
      font-size: 16px;
      color: #455560;
      padding-bottom: 6px;
      margin: 0;
      // width: 209px;

      &.active {
        font-weight: 700;
        font-size: 16px;
        min-width: 70px;
        color: #679ab4;
      }
    }
  }

  .basic {
    border-bottom: 1px solid #1a1c1f30;
    padding-bottom: 14px;
    margin-top: 17px;

    .progress-block {
      .progress {
        height: 8px;

        .progress-bar {
          background-color: #f47b20;
        }
      }
    }
  }

  .policy {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #1a1c1f40;
    margin-top: 10px;

    .policy-view {
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      p {
        font-size: 12px;
        color: #455560;

        &.active {
          font-weight: 800;
          font-size: 16px;
          color: #1a1c1f;
          margin: 0px;
        }
      }
    }
  }
}

.cchibody {
  background: #fff5e5;
  border-radius: 8px;
  padding: 10px;
}

.cchibody img {
  vertical-align: top;
}

.cchi {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  color: #332500;
}

.cchicontent {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #332500;
}

.alert {
  padding: 10px;
}

.cchitext {
  padding: 10px;
}

.getsupport {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  isolation: isolate;
  width: 100%;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 8px;
}

.getsupporttext {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #213039;
}

.getsupportbutton {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 6px;
  gap: 6px;
  width: 88px;
  height: 32px;
  background: #f47b20;
  border-radius: 4px;
  flex: none;
  order: 3;
  color: white;
  font-size: 10px;
  border: 0px;
}

.grey {
  height: 158px;
  background: #8bb2c9;
  border-radius: 0px 0px 20px 0px;
}

.policy {
  font-weight: 600;
  font-size: 19px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.health {
  font-size: 11px;
  line-height: 12px;
  color: #ffffff;
}

.greytext {
  padding: 58px 16px;
}

.closeicon {
  margin-top: 33px;
}

.Deductible {
  margin-top: 10px;
}

.support-request-helper {
  background: #f2f3f5;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 12px;
  // margin-top: 0;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;

  .support-request-callcenter {
    padding-top: 16px;

    .call-center {
      font-size: 12px;
      font-weight: 400;
      margin-left: 18px;
      color: #455560;
    }

    .call-number {
      font-size: 20px;
      font-weight: 800;
      margin-top: 4px;
      color: #1a1c1f;
      margin-left: 50px;
    }
  }

  .support-request-whatsapp {
    padding-top: 16px;

    .whatsapp {
      font-size: 12px;
      font-weight: 400;
      margin-left: 18px;
      color: #455560;
    }

    .whatsapp-number {
      font-size: 20px;
      font-weight: 800;
      margin-top: 4px;
      color: #1a1c1f;
      margin-left: 50px;
    }

    .whatsapp-chat {
      font-size: 12px;
      font-weight: 400;
      margin-left: 52px;
      color: #455560;
    }
  }

  .support-request-executives {
    margin-top: 16px;

    .executives {
      font-size: 12px;
      font-weight: 400;
      margin-left: 18px;
      color: #455560;
    }

    .executives-livechat {
      font-size: 20px;
      font-weight: 800;
      color: #1a1c1f;
      margin-top: 4px;
      margin-left: 50px;
    }

    .button-online {
      background-color: #e3ffef;
      color: #237b4b;
      border: none;
      text-decoration: none;
      display: inline-block;
      font-size: 10px;
      border-radius: 100px;
      margin-left: 16px;
    }
  }

  .support-request-mail {
    margin-top: 12px;

    .support-email {
      font-size: 12px;
      font-weight: 400;
      margin-left: 18px;
      color: #455560;
    }

    .support-email-care {
      font-size: 20px;
      font-weight: 800;
      margin-top: 4px;
      color: #1a1c1f;
      margin-left: 50px;
    }
  }

  .phone-img {
    margin-left: 18px;
  }

  .whatsapp-img {
    @extend .phone-img;
  }

  .chatmobile-img {
    @extend .phone-img;
  }

  .mail-img {
    @extend .phone-img;
  }

  .hr-lines {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: small;
    color: #455560;
  }

  .hr-lines:before {
    content: " ";
    height: 0.1px;
    width: 120px;
    background: rgb(114, 114, 114);
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
  }

  .hr-lines:after {
    content: " ";
    height: 0.1px;
    width: 120px;
    background: rgb(114, 114, 114);
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
  }

  .support-button {
    justify-content: center;
    display: flex;
    padding: 0px 16px 16px;

    .support-request-button {
      color: white;
      font-size: 16px;
      width: 318px;
      height: 54px;
      justify-content: center;
      background-color: #f47b20;
      border-radius: 6px;
      display: flex;
      padding: 8px;
      border: none;
      align-items: center;
    }
  }
}

.language-alignment-right {
  .faqContainer {
    .reportAccordionQuestion {
      button {
        img {
          padding-right: 0 !important;
          padding-left: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .recentFeedContainer
    .recent-main-container
    .recentContainer
    .recentFeed-navpillFlow
    .pillBox {
    width: auto;
  }
  .accident_card .track_claim span {
    width: auto !important;
  }
  .BannerContainer_mobile {
    .policy_count {
      margin-bottom: 15px;
    }
    .view_all_cards {
      top: 372px;
    }
  }
  .customer-insurance {
    padding-top: 10px;
  }
  .productsOfferings .te-style {
    font-size: 20px;
    font-weight: 800;
  }
  .help-sec {
    padding-top: 15px;
  }
  .landingHelperSection .bc-style {
    position: relative;
    top: -12px;
  }
}
