@import "../../../assets/scss/abstracts/abstracts";

.taj-advantage-title{
    color: $black;
    width: 100%;
    max-width: 200px;
}
.taj-advantage-para{
    color: $black;
    width: 100%;
    max-width: 233px;
}