.ithra_container {
  .taj_program_banner {
    margin-top: 24px;
    position: relative;
    padding: 0px 16px;

    .taj_banner_body {
      position: absolute;
      top: 54%;

      color: #FFFFFF;

      h5 {
        font-weight: 800;
        font-size: 24px;
        color: #FFFFFF;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
      }

      button {
        width: 87%;
        background: #F47B20;
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        border: none;
        margin-left: 16px;
        padding: 10px;
      }
    }
  }

  h5 {
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-top: 24px;
    margin-left: 16px;
  }

  .taj_services_slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 5px;
    margin-top: 16px;

    .taj_services_card {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      width: 100%;
      margin-left: 11px;

      img {
        padding-left: 16px;
        padding-top: 16px;
      }

      h5 {
        font-weight: 800;
        font-size: 16px;
        color: #1a1c1f;
        width: 195px;
        margin-top: 8px;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        color: #1a1c1f;
        width: 211px;
        padding: 0px 3px;
      }
    }
  }

  h4 {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-top: 24px;
    margin-left: 16px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #455560;
    margin-top: 8px;
    margin-left: 16px;
  }

  .taj_application_slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 5px;
    margin-top: 16px;
    margin-bottom: 48px;

    .taj_application_card {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      margin-left: 12px;
      width: 158px;
      height: auto;
      padding: 1px 20px 3px 4px;

      h5 {
        font-weight: 800;
        font-size: 16px;
        color: #455560;
        width: 129px;
        padding: 2px 1px;
      }
    }
  }
}


@media only screen and (min-width: 320px) and (max-width: 360px) {
  .ithra_container {
    .taj_program_banner {
      margin-top: 24px;
      position: relative;
      padding: 0px 16px;

      .taj_banner_body {
        position: absolute;
        top: 54%;

        color: #FFFFFF;

        h5 {
          font-weight: 800;
          font-size: 20px;
          color: #FFFFFF;


        }

        p {
          font-weight: 400;
          font-size: 12px;
          color: #FFFFFF;
          width: 75%;



        }

        button {

          background: #F47B20;
          border-radius: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;
          color: #FFFFFF;
          border: none;
          margin-left: 16px;
          margin-bottom: 0px;
          width: 85%;

        }
      }
    }

    h5 {

      font-size: 20px;


    }

    .taj_services_slider {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-left: 5px;
      margin-top: 16px;

      .taj_services_card {
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 8px;
        width: 60%;
        margin-left: 11px;

        img {
          padding-left: 16px;
          padding-top: 16px;
        }

        h5 {

          font-size: 16px;


          width: 186px;

        }

        p {

          font-size: 10px;

          width: 173px;

        }
      }
    }

    h4 {

      font-size: 20px;

    }

    p {

      font-size: 14px;

    }

    .taj_application_slider {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-left: 5px;
      margin-top: 16px;
      margin-bottom: 48px;

      .taj_application_card {
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 8px;
        margin-left: 12px;
        width: 121px;
        height: auto;
        padding: 1px 20px 3px 4px;

        h5 {
          font-weight: 800;
          font-size: 14px;
          color: #455560;
          width: 100px;
          padding: 2px 1px;
        }
      }
    }

  }
}