@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.slick-dots li {
	margin: 0px !important;
	width: 10px;
}

.corporate-highlight-navtab-container {
	background-color: $white;
	box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
	border-radius: 100px;
	padding: 10px;
	cursor: pointer;
}
.corporate-normal-navtab-container {
	transform: translateY(30%);
	cursor: pointer;
	.normalCorporateIcon {
		position: relative;
		top: 3px;
	}
}

// home banner starts here
.BannerContainer {
	.BannerBackground {
		background: #818B9B;
		.toggleHeading {
			font-size: fontSize(40);
			color: $white;
		}

		.togglePara {
			color: $white;
		}

		.previewbannerleft {
			position: absolute;
			bottom: 0;
			left: 2%;
		}

		.previewbannerrighta {
			position: absolute;
			top: 0%;
			right: 5%;
		}

		.previewbannerrightb {
			position: absolute;
			bottom: -45%;
			right: 5%;
			width: 30rem;
			height: 100%;
		}

		.download-tawuniya-open-drive-btn {
			background-color: #ee7500;
			color: $white;
			border-radius: 6px;
			border: none;
			max-height: 15px;
			padding: 15px;
			line-height: 0;
		}

		.download-tawuniya-close-drive-btn {
			background-color: #ee7500;
			color: $white;
			border-radius: 6px;
			border: none;
		}

		.closeIconToggler {
			cursor: pointer;
		}
	}
}
// home banner ends here

// main banner starts here
.topContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 85vh;

	.mainBannerContainer {
		.mainBannerHeading {
			font-size: fontSize(64);
			line-height: 76px;
			color: #262626;
		}
		.mainBannerPara {
			color: #4c565c;
		}
		.pillContainer {
			width: 100%;
			max-width: 720px;
			.pillBtnContainer {
				width: 100%;
				min-width: 170px;
				.highlightPill {
					background-color: $white;
					border-radius: 100px;
					padding: 8px;
					box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
					cursor: pointer;
				}
				.normalPill {
					transform: translateY(10px);
					cursor: pointer;
				}
			}
		}
	}
}

// main banner ends here

//HomeProsucts starts here
.homeProductsContainer {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 100%;

	.hm-textContainer {
		padding-top: 70px;
		padding-left: 150px;
		position: relative;
		border-radius: 80px 0px 0px 20px;
		width: 70%;
		height: 450px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
		h4 {
			margin-top: 15px;
			font-family: "Lato";
			font-weight: 800;
			font-size: 28px;
			color: #ffffff;
			letter-spacing: -0.02em;
		}

		p {
			font-size: 16px;
			font-weight: 400;
			color: #ffffff;
		}

		.uniontopright {
			position: absolute;
			height: 23rem;
			right: 0%;
			top: 0%;
			z-index: 1;
		}

		.unioinbottomleft {
			width: 461.92px;
			position: absolute;
			height: 19rem;
			left: -8%;
			bottom: -8%;
			z-index: 1;
		}
	}

	.hm-mainImage {
		position: relative;
		.hm-buttons {
			display: flex;
			justify-content: space-evenly;
			width: 120px;
			position: absolute;
			left: 70%;
			top: 10%;
			img {
				height: 2rem;
				padding: 10px;
				border-radius: 100px;
				background-color: #ee7500;
			}

			.arrowback {
				border-radius: 50%;
			}

			.arrowforward {
				width: 55px;
			}
		}
	}

	.hm-productCards {
		position: absolute;
		top: 218px;
		left: 10%;
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.ProductBtmCta {
		position: absolute;
		left: 12%;
		bottom: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.ProductBtmCtaArrow {
			height: 0.9rem;
			margin-bottom: 2px;
			cursor: pointer;
		}
	}

	.MouseScrolldown {
		position: absolute;
		top: -7%;
		cursor: pointer;
	}
}

//HomeProsucts ends here

//home services start hear

.serviceContainer {
	// padding-left: 30px;
	// padding-right: 30px;
	margin-top: 20px;
	font-family: "Lato", sans-serif;
	height: fit-content;
	margin-bottom: 50px;

	.serviceContainerFlex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.slick-track {
		width: max-content !important;
	}
	.slider-card-root {
		padding: 0 10px;
		> div {
			width: auto;
		}
	}
	/* the slides */
	.slick-slide {
		width: 212px;
		// margin: 0 20px;
	}
	/* the parent */
	.slick-list {
		margin: 0 -10px;
	}

	.HomeServiceHeading1 {
		font-size: fontSize(32);
		line-height: 48px;
		font-weight: 800;
		color: $black;
		margin-bottom: 0;
	}

	.homeservicePar1 {
		font-weight: 600;
		font-size: fontSize(16);
		line-height: 25px;
		color: $light-tw;
		margin-bottom: 0;
	}

	.otherServiceNavCont {
		transform: translateY(75px);
		.navSearchContainer {
			height: 45px;
			width: 375px;
			padding: 0px 24px 0px 24px;
			background-color: #fff;
			border-radius: 100px;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.inputEl {
				height: 100%;
				border: 0px;
				width: 100%;
			}

			.homeserviceSearchIcon {
				color: #ee7500;
				height: 1.2rem;
			}
		}
	}

	.ServiceNavCont {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		// border-bottom: 1px solid #1a1c1f1a;
		// padding-bottom: 50px;
		.ServiceNavEl {
			height: 45px;
			display: flex;
			align-items: center;

			.navEl {
				color: #818b9b;
				font-size: fontSize(16);
				line-height: 16px;
				font-weight: 600;
				margin-right: 20px;
				margin-bottom: 0;
				&:hover {
					color: #ee7500;
					cursor: pointer;
					font-weight: 800;
				}
			}

			.navEl-highlight {
				color: $orange-tw;
				font-size: fontSize(16);
				line-height: 16px;
				font-weight: 600;
				margin-right: 20px;
				margin-bottom: 0;
				&:hover {
					color: #ee7500;
					cursor: pointer;
					font-weight: 800;
				}
			}
		}

		.navSearchContainer {
			height: 45px;
			width: 375px;
			padding: 0px 24px 0px 24px;
			background-color: #fff;
			border-radius: 100px;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.inputEl {
				height: 100%;
				border: 0px;
				width: 100%;
			}

			.homeserviceSearchIcon {
				color: #ee7500;
				height: 1rem;
			}
		}
	}

	.hrLine {
		border: 0;
		border-bottom: 1px solid #1a1c1f;
		background-color: #262626;
		opacity: 0.1;
		margin-top: 45px;
		margin-bottom: 45px;
		// opacity: 0%;
	}

	.invisiblehrLine {
		opacity: 0%;
		margin-top: 0;
		margin-bottom: 80px;
	}

	.arrowDotContainer {
		margin-left: 8px;
		margin-top: 35px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.arrowContainer {
			z-index: 9;
			height: 32px;
			width: 55px;
			border-radius: 100px;
			background-color: #fff;
			box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
				rgba(17, 17, 26, 0.05) 0px 8px 32px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.dotContainer {
			margin-left: 10px;
			margin-right: 10px;
			height: 32px;
			width: 65px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			padding-top: 15px;
			.dotEl {
				width: 6px;
				height: 6px;
				opacity: 30%;
				background-color: #4c565c;
				border-radius: 100%;
			}
		}
	}
}
.ServiceImgCard {
	display: flex;
	justify-content: space-evenly;
}
//home services ends hear

//FooterAbout Starts here

.FooterAboutContainer {
	position: relative;
	margin-bottom: 50px;
	.FooterAbout {
		margin-top: 70px;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		height: "fit-content";
		padding: 10px 0;

		.FootAbtLeft {
			height: fit-content;
			flex: 0 0 38%;
			padding-right: 20px;
			.FootAbtText {
				width: 360px;

				.FootAbtTitle {
					font-size: fontSize(45) !important;
					font-weight: 800;
					line-height: 110%;
					letter-spacing: -1px;
					color: $black;
				}

				.FootAbtSubTitile {
					font-size: fontSize(18);
					font-weight: 400;
					line-height: 140%;
					color: $light-tw;
				}
			}
			.FooterAbtFetureTitleDescription {
				font-family: "Lato";
				font-style: normal;
				font-weight: 400;
				font-size: fontSize(18);
				line-height: 140%;
				color: $light-tw;
			}
			.FootAbtCard {
				position: relative;
				z-index: 1;
				.FooterAbtFeatureOuterBox {
					height: 280px;
				}
				.FooterAbtFeature {
					display: flex;
					flex-direction: row;
					align-items: flex-start;
					gap: 25px;
					padding: 0px;
					width: 340px;
					height: 80px;
					position: relative;

					.FooterAbtFeatureImg {
						width: 48px;
						height: 48px;
					}
				}

				.FooterAbtFetureInfo {
					.FooterAbtFetureTitle {
						font-weight: 800;
						font-size: fontSize(20);
						line-height: 120%;
						letter-spacing: -0.01em;
						color: #1a1c1f;
					}

					.FooterAbtFetureSubtitile {
						font-family: "Lato";
						font-style: normal;
						font-weight: 400;
						font-size: fontSize(16);
						line-height: 140%;
						color: #4c565c;
					}
				}
			}
		}
		.FootAbtRight {
			flex: 1;
		}
	}

	img {
		height: 14rem;
		z-index: 0;
	}
	@include media-breakpoint-hd-desktop {
		.FooterAbout {
			.FootAbtLeft {
				.FootAbtText {
					width: 400px;
					.FootAbtTitle {
						font-size: fontSize(50);
					}
					.FootAbtSubTitile {
						font-size: fontSize(17);
					}
				}
				.FooterAbtFetureTitleDescription {
					font-size: fontSize(17);
				}
			}
		}
	}
	@include media-breakpoint-full-hd-desktop {
		.FooterAbout {
			.FootAbtLeft {
				.FootAbtText {
					.FootAbtTitle {
						font-size: fontSize(60);
					}
					.FootAbtSubTitile {
						font-size: fontSize(22);
					}
				}
				.FootAbtCard {
					.FooterAbtFeatureOuterBox {
						height: 340px;
					}
					.FooterAbtFeature {
						width: 450px;
					}
					.FooterAbtFetureInfo {
						.FooterAbtFetureTitle {
							font-size: fontSize(24);
						}
						.FooterAbtFetureSubtitile {
							font-size: fontSize(22);
						}
					}
				}
				.FooterAbtFetureTitleDescription {
					font-size: fontSize(22);
				}
			}
		}
	}
	@include media-breakpoint-med-desktop {
		.FooterAbout {
			.FootAbtLeft {
				.FootAbtText {
					width: 70%;
					.FootAbtTitle {
						font-size: fontSize(40);
						width: 80%;
					}
					.FootAbtSubTitile {
						font-size: fontSize(16);
					}
				}
				.FootAbtCard {
					.FooterAbtFeatureOuterBox {
						height: 220px;
					}
					.FooterAbtFeature {
						width: 322px;
					}
					.FooterAbtFetureInfo {
						.FooterAbtFetureTitle {
							font-size: fontSize(16);
							margin-top: 5px;
						}
						.FooterAbtFetureSubtitile {
							margin-top: 5px;
							font-size: fontSize(12);
							line-height: 15px;

							&:last-child {
								width: 200px;
							}
						}
					}
				}
				.FooterAbtFetureTitleDescription {
					font-size: fontSize(14);
				}
			}
		}
	}
}

//FooterAbout Ends here

.serviceBlogsImgContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;

	.serviceBlogsImga {
		background-repeat: no-repeat;
		background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.48) 14.18%,
				rgba(0, 0, 0, 0.48) 78.64%
			),
			url("../../../assets/images/family-lobby.png");
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		background-size: cover;
		background-position-x: 75%;
	}

	.serviceBlogsImgb {
		margin-left: 20px;
		background-repeat: no-repeat;
		background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.48) 14.18%,
				rgba(0, 0, 0, 0.48) 78.64%
			),
			url("../../../assets/images/woman-drive.png");
		background-size: cover;
		background-position-x: 75%;
	}
}
.serviceBlogsImga,
.serviceBlogsImgb {
	position: relative;
	width: 100%;
	height: 600px;
	margin-top: 20px;
	border-radius: 20px;

	.serviceBlogsImgText1 {
		position: absolute;
		width: 92%;
		top: 12%;
		left: 8%;
		z-index: 3;
	}

	.serviceBlogsImgText2 {
		position: absolute;
		width: 85%;
		// top: 68%;
		bottom: 12%;
		left: 8%;
		z-index: 3;
	}

	.serviceBlogsImgText1,
	.serviceBlogsImgText2 {
		h5 {
			font-weight: 800;
			font-size: fontSize(30);
			letter-spacing: -0.02em;
			color: #f3efef;
			width: 90%;
			margin-bottom: 10px;
		}

		span {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: fontSize(14);
			line-height: 25px;
			color: #e4e4e4;
			opacity: 95%;
		}

		.serviceBlogsBtn {
			margin-top: 15px;
			button {
				&[class*="MuiButton-containedPrimary"] {
					&:hover {
						background-color: $orange-tw;
					}
				}
				&[class*="MuiButton-outlinedSecondary"] {
					&:hover {
						background: transparent;
						border: 1px solid rgba(255, 255, 255, 0.5);
					}
				}
			}
			:nth-child(2) {
				margin-left: 10px;
			}
		}
	}
}

@include media-breakpoint-hd-desktop {
	.homeProductsContainer {
		position: relative;
		display: flex;
		justify-content: space-around;
		width: 100%;
		.hm-textContainer {
			padding-top: 70px;
			padding-left: 163px;
			position: relative;
			border-radius: 80px 0px 0px 20px;
			width: 70%;
			height: 450px;
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			align-items: flex-start;
			h4 {
				margin-top: 15px;
				font-family: "Lato";
				font-weight: 800;
				font-size: fontSize(40);
				color: #ffffff;
				letter-spacing: -0.02em;
			}
			p {
				font-size: 18px;
				font-weight: 600;
				color: #ffffff;
			}

			.uniontopright {
				position: absolute;
				height: 23rem;
				right: 0%;
				top: 0%;
				z-index: 1;
			}
			.unioinbottomleft {
				width: 461.92px;
				position: absolute;
				height: 19rem;
				left: -8%;
				bottom: -8%;
				z-index: 1;
			}
		}
		.hm-mainImage {
			position: relative;
			.hm-buttons {
				display: flex;
				justify-content: space-evenly;
				width: 120px;
				height: 32px;
				position: absolute;
				left: 70%;
				top: 10%;

				img {
					height: 2.3rem;
					padding: 10px;
					border-radius: 100px;
					background-color: #ee7500;
				}

				.arrowback {
					border-radius: 50%;
				}

				.arrowforward {
					width: 55px;
				}
			}
		}
		.hm-productCards {
			position: absolute;
			top: 283px;
			left: 11%;
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
		}

		.ProductBtmCta {
			position: absolute;
			left: 13%;
			bottom: 2%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			.ProductBtmCtaArrow {
				height: 0.85rem;
				margin-bottom: 2px;
				cursor: pointer;
			}
		}

		.MouseScrolldown {
			position: absolute;
			top: -6%;
			cursor: pointer;
		}
	}
}

.language-alignment-right {
	.corporate-navtab-container-root {
		> .pr-3 {
			padding-right: 0 !important;
			padding-left: 1rem;
		}
	}
	.homeProductsContainer {
		.hm-textContainer {
			padding-left: 20px;
			padding-right: 100px;
			border-radius: 0px 80px 20px 0px;
		}
		.hm-productCards {
			left: auto;
			right: 100px;
		}
		.ProductBtmCta {
			left: auto;
			right: 100px;
			button {
				> span {
					> span {
						transform: rotate(180deg);
						margin-right: 8px;
						margin-left: 0;
					}
				}
			}
		}
		.hm-mainImage {
			.hm-buttons {
				direction: ltr;
			}
		}
	}
	.homeProBtn-style {
		> span {
			> span {
				margin-right: 0;
				margin-left: 8px;
			}
		}
	}
	.serviceContainer {
		.ServiceNavCont {
			.ServiceNavEl {
				.navEl {
					margin-right: 0;
					margin-left: 20px;
				}
				.navEl-highlight {
					margin-right: 0;
					margin-left: 20px;
				}
			}
		}
		.arrowDotContainer {
			direction: ltr;
		}
	}
	.serviceBlogsImgContainer {
		.serviceBlogsImgb {
			margin-left: 0;
			margin-right: 20px;
		}
	}
	.serviceBlogsImga,
	.serviceBlogsImgb {
		.serviceBlogsImgText2 {
			left: auto;
			right: 8%;
			bottom: auto;
			top: 12%;
			.serviceBlogsBtn {
				button {
					margin-left: 8px;
				}
			}
		}
	}
	.serviceBlogsImga,
	.serviceBlogsImgb {
		.serviceBlogsImgText1 {
			left: auto;
			right: 8%;
			bottom: 12%;
			top: auto;
			.serviceBlogsBtn {
				button {
					margin-left: 8px;
				}
			}
		}
	}
	.FooterAboutContainer {
		.FooterAbout {
			.FootAbtLeft {
				padding-right: 0;
				padding-left: 20px;
			}
		}
	}
}

@include media-breakpoint-tab-port {
	.homeProductsContainer {
		height: 900px;
		.ProductBtmCta {
			left: 20px;
			// bottom: 3%;
			button {
				span {
					font-size: fontSize(12);
				}
			}
			.ProductBtmCtaArrow {
				height: 0.85rem;
			}
		}
		.hm-productCards {
			top: 212px;
			left: 10px;
			> div {
				flex: 0 0 33.3333%;
				> div {
					width: auto;
				}
			}
		}
		.hm-textContainer {
			flex: 0 0 60%;
			padding-right: 12%;
			padding-left: 20px;
			button {
				span {
					> span {
						> span {
							width: 20px;
							height: 20px;
							img {
								width: 18px;
								height: 18px;
							}
						}
					}
					font-size: fontSize(12);
				}
			}
		}
		.hm-mainImage {
			> img {
				height: 510px;
				object-fit: cover;
				object-position: top center;
				border-radius: 0px 20px 80px;
			}
			.hm-buttons {
				right: 10px;
				top: 10%;
				left: auto;
			}
		}
	}
	.serviceContainer {
		.invisiblehrLine {
			opacity: 1;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.HomeServiceHeading1 {
			font-size: fontSize(28);
		}
		.homeservicePar1 {
			font-size: fontSize(14);
		}
		.ServiceNavCont {
			.navSearchContainer {
				width: 300px;
				.inputEl {
					font-size: fontSize(12);
				}
				.homeserviceSearchIcon {
					width: 16px;
				}
			}
			.ServiceNavEl {
				.navEl {
					font-size: fontSize(12);
				}
			}
		}
	}
	.serviceBlogsImga,
	.serviceBlogsImgb {
		height: 420px;
		.serviceBlogsImgText1,
		.serviceBlogsImgText2 {
			h5 {
				font-size: fontSize(20);
				width: auto;
				padding-right: 10%;
			}
			> span {
				font-size: fontSize(12);
				line-height: 1.5;
			}
			button {
				span {
					font-size: fontSize(12);
				}
			}
		}
	}
	.FooterAboutContainer {
		.FooterAbout {
			.FootAbtLeft {
				flex: 0 0 35%;
				padding-right: 10px;
				.FooterAbtFetureTitleDescription {
					font-size: fontSize(12);
				}
				.FootAbtText {
					width: auto;
					.FootAbtTitle {
						font-size: fontSize(32);
					}
					.FootAbtSubTitile {
						font-size: fontSize(12);
					}
				}
				.FootAbtCard {
					> div {
						padding: 20px;
						gap: 15px;
					}
					.FooterAbtFeature {
						width: auto;
						gap: 10px;
						grid-gap: 10px;
					}
					.FooterAbtFeature {
						height: 70px;
						> span {
							width: auto !important;
						}
						.FooterAbtFeatureImg {
							width: 25px;
						}
					}
					.FooterAbtFeatureOuterBox {
						height: 250px;
					}
					.FooterAbtFetureInfo {
						.FooterAbtFetureTitle {
							font-size: fontSize(14);
						}
						.FooterAbtFetureSubtitile {
							font-size: fontSize(12);
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-tab-port-med-only {
	.serviceContainer {
		.HomeServiceHeading1 {
			font-size: fontSize(24);
			line-height: 48px;
		}
		.homeservicePar1 {
			font-size: fontSize(12);
			line-height: 25px;
		}
		.otherServiceNavCont {
			.navSearchContainer {
				width: 275px;
			}
		}
	}
}
