.mobile_sticky_bottom_menu {
  display: none;
}
.media-center-image{
  display: inline-block;
  text-decoration: none;
  border-radius: 15px; 
  width: 55%;
  background-repeat: no-repeat;
}
.media-center-date{
  color: white;
  margin-top: 72%;
  font-size: 10px;
  margin-left: 5px;
font-weight: 200;
}
.media-center-description{
color: aliceblue;
    position: relative;
    width: 147px;
    bottom: 116px;
    font-size: 15px;
    font-weight: 800;
    margin-left: 4px;
}
.media-content{
// width: 171px;
height: 231.8px;
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
border-radius: 12px;
margin: 15px;

&:nth-child(odd){
  margin-right: 0px;
}
}

.contents-row{
  display: grid;
    flex-wrap: wrap;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 13px;
}
.media-center-topic {
  font-weight: 800;
  font-size: 24px;
  color: #1a1c1f;
  margin-top: 5%;
  margin-left: 16px;
}

.our-feature {
  overflow: auto;
  white-space: pre;
  margin-top: 15px;
}

.mediacentercontent-description{
font-size: 16px;
font-weight: 800;
height: 95px;
margin-top: 33px;
margin-left: 10px;
padding-right: 8px;
}
.mediacentercontent-date{
font-family: Bliss 2;
font-size: 12px;
font-weight: 400;
margin-left: 14px;
margin-top: 3px ;
}

.mediacentercontent-title{
  width: 72px;
  height: 26px;
  background: #679ab4;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  padding: 4px;
  text-align: center;
  color: #ffffff;
  margin-left: 8px;
  margin-top: 12px;
}
.h{
  height: 56px;
}

// .latest-bottom {
//   height: 15vh;
// }


.media-news{
  font-size: 24px;
  font-weight: 800;
  margin-top: 17px;
  margin-left: 16px;
  margin-bottom: 22px;
}

// .mediacenter-title{
//   width: 72px;
//   height: 26px;
//   background: #F47B20;
//   border-radius: 100px;
//   font-size: 12px;
//   padding: 4px;
//   text-align: center;
//   color: #ffffff;
//   margin-left: 5px;
//   margin-top: 4px;
// }

.Media-center-contentpages{
  display: flex;
  justify-content: space-between;
}

.Media-center-contentpages{
  margin-top: 40px;
  .Media-center-contentprevious{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 10px;

    display: -webkit-inline-box;
  }

    .Media-center-pagenumbers{
     font-size: 14px;
     font-weight: 600;
     word-spacing: 10px;

    }

    .Media-center-contentnext{
    margin-right: 15px;
font-size: 16px;
font-weight: 600;
word-spacing: 10px;

    }
    p{
      margin-left: 10px;
      color: #818B9B;
    }
  }
.media-center-image{
height:20rem;
width:15rem;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .media-center-image{
  
    width:13rem;
    }
    .media-center-topic {
      
      font-size: 22px;
      
  }
  .media-news {
    font-size: 22px;
}
.media-content {
  height: 231.8px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
  margin: 15px;
  
}
.contents-row {
  display: grid;
  grid-gap:0px;

}
.mediacentercontent-description {
  font-size: 14px;
  font-weight: 800;
  height: 95px;
  margin-top: 33px;
  margin-left: 10px;
  padding-right: 8px;
}
.mediacentercontent-title {
  width: 67px;
  
  margin-left: 14px;
  margin-top: 12px;
  padding: 3px 6px;
}
}
