@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";
.products-list-menu-root {
    .all-products {
        border-top: 1px solid #1a1c1f1a;
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: fontSize(12);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $light-tw-2;
        cursor: pointer;
        img {
            margin-left: 15px;
            width: 12px;
        }
    }
    .products-list-menu {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        .menu-list-section {
            flex: 0 0 33.3333%;
            padding-right: 20px;
            &:last-child {
                padding-right: 0;
            }
            .menu-list-title {
                font-weight: 800;
                font-size: fontSize(20);
                color: $black;
                text-transform: uppercase;
                margin-bottom: 20px;
                // padding-right: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #1a1c1f1a;
                padding-bottom: 15px;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(15);
                }
                img {
                    margin-left: 15px;
                }
            }
            .menu-details {
                display: flex;
                align-items: flex-start;
                text-decoration: none;
                padding: 10px;
                padding-top: 0;
                margin-bottom: 10px;
                border-bottom: 1px solid #1a1c1f1a;
                // min-height: 71px;
                &:last-child {
                    border-bottom: 0;
                }
                .image {
                    margin-right: 10px;
                    img {
                        @include media-breakpoint-tab-port {
                            width: 25px;
                        }
                    }
                }
                .text-content {
                    .title {
                        color: $black;
                        font-weight: 800;
                        font-size: fontSize(16);
                        @include media-breakpoint-tab-port {
                            font-size: fontSize(13);
                            line-height: 120%;
                            margin-bottom: 6px;
                        }
                    }
                    .description {
                        color: $light-tw-2;
                        font-weight: 400;
                        font-size: fontSize(12);
                        @include media-breakpoint-tab-port {
                            font-size: fontSize(10);
                        }
                    }
                }
            }
        }
    }
    .products-list-menu-after-login {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .section-left, .section-right {
            flex: 0 0 calc(50% - 10px);
        }
        .all-products {
            border-top: 0;
            justify-content: flex-start;
        }
        .section-title {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            font-weight: 800;
            font-size: fontSize(24);
            line-height: 120%;
            color: $black;
            @include media-breakpoint-tab-port {
                font-size: fontSize(18);
            }
            img {
                margin-right: 20px;
            }
        }
        .less-employees-list {
            display: flex;
            flex-direction: column;
            .less-employees {
                background: #ffffff;
                border: 1px solid #D9DCE1;
                border-radius: 12px;
                padding: 20px;
                text-decoration: none;
                margin-bottom: 10px;
                flex: 0 0 100%;
                .title {
                    color: $black;
                    font-weight: 700;
                    font-size: fontSize(20);
                    line-height: 1.2;
                    margin-bottom: 15px;
                    display: block;
                    @include media-breakpoint-tab-port {
                        font-size: fontSize(16);
                    }
                }
                .description {
                    color: #676f7c;
                    display: block;
                    line-height: 1.2;
                    font-size: fontSize(16);
                    margin-bottom: 15px;
                    @include media-breakpoint-tab-port {
                        font-size: fontSize(13);
                    }
                }
            }
        }
        .more-employees-list {
            .more-employees-title {
                font-weight: 800;
                font-size: fontSize(20);
                color: $black;
                text-transform: uppercase;
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(16);
                }
                img {
                    margin-left: 15px;
                }
            }
            .more-employees-box {
                border: 1px solid #D9DCE1;
                border-radius: 12px;
                padding: 20px;
                margin-bottom: 10px;
            }
            .more-employees {
                display: flex;
                align-items: flex-start;
                text-decoration: none;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #1a1c1f1a;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }
                .image {
                    margin-right: 10px;
                    img {
                        @include media-breakpoint-tab-port {
                            width: 25px;
                        }
                    }
                }
                .text-content {
                    .title {
                        color: $black;
                        font-weight: 800;
                        font-size: fontSize(16);
                        @include media-breakpoint-tab-port {
                            font-size: fontSize(13);
                            line-height: 120%;
                            margin-bottom: 6px;
                        }
                    }
                    .description {
                        color: $light-tw-2;
                        font-weight: 400;
                        font-size: fontSize(12);
                        @include media-breakpoint-tab-port {
                            font-size: fontSize(10);
                        }
                    }
                }
            }
        }
    }
}

.language-alignment-right {
    .products-list-menu-root {
        .products-list-menu-after-login {
            .section-title {
                img {
                    margin-right: 0;
                    margin-left: 20px;
                }
            }
            .more-employees-list {
                .more-employees {
                    .image {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            }
            .less-employees-list {
                .less-employees {
                    .image {
                        img {
                            transform: scaleX(-1);
                        }
                    }
                }
            }
        }
        .all-products {
            img {
                margin-left: 0;
                margin-right: 15px;
                transform: scaleX(-1);
            }
        }
        .products-list-menu {
            .menu-list-section {
                .menu-details {
                    .image {
                        margin-right: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}