@import "../../../assets/scss/abstracts/abstracts";

.teleMed-RequestDetail-Container {
  background-color: $white;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 12px;
  padding: 30px;
  .teleMed-RequestDetail-Container-Liner{
    .teleMed-Search-Container {
      .teleMed-searchTitle {
        color: #455560;
      }
      .teleMed-searchPara {
        color: #455560;
      }
      .telemed-Search-box {
        background-color: $lightgrey-tw;
        border-radius: 12px;
        .teleMed-headerSearch {
          border-radius: 4px;
          width: 100%;
          border: none;
          background-color: $white;
          box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        }
      }
      .consultation-Container {
        border-top: 1px solid rgba(26, 28, 31, 0.1);
        border-bottom: 1px solid rgba(26, 28, 31, 0.1);
        .consult-Title {
          color: $black;
        }
        .consult-para {
          color: #455560;
        }
        .consult-sub-container {
          background-color: $lightgrey-tw;
          border-radius: 12px;
          padding: 18px;
          .teleMedForm-textArea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: none;
            border-radius: 4px;
            background-color: $white;
            font-size: 16px;
            font-weight: 400;
            resize: none;
            color: $light-tw;
          }
          .letterCountLabel{
            color: #455560;
          }
          .tele-med-mobileNo{
            color: #455560;
          }
          .teleMedPhoneInput {
            border-radius: 0px 8px 8px 0px;
            padding: 15px 15px;
          }
          #teleMedSelectFlexType {
            display: flex;
            padding: 15px 20px;
            justify-content: space-around;
            align-items: center;
          }
        }
      }
      .SubmitTelemedicineRequestBtn{
        width: 100%;
        background-color: $orange-tw;
        color: $white;
        border-radius: 8px;
        border: none;
        font-size: fontSize(16);
        font-weight: 400;
      }
    }
  }
}

.telemed-bottom-liner{
  background-color: rgba(26, 28, 31, 0.1);
  padding: 0.3px;
  width: 100%;
}