.mobile_home_insurance_container {
  .mobile_home {
    position: relative;
    img {
      width: 100%;
      padding: 24px 16px 0px;
    }
    .mobile_mobile_insurance {
      position: absolute;
      top: 56%;
      h6 {
        font-weight: 800;
        font-size: 24px;
        text-align: center;
        color: #ffffff;
      }

      .mobile_saudi {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        margin: 0px 16px;
      }
    }
  }

  .mobile_policy {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #1a1c1f;
    margin-top: 24px;
  }

  .mobile_list {
    color: #ffffff;
    margin: 12px 16px 0px 16px;
    font-weight: 400;
  }

  .mobile_cover {
    p {
      font-weight: 800;
      font-size: 20px;
      color: #1a1c1f;
      margin: 32px 16px 8px;
    }

    .mobile_limit {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
      margin: 0px 16px;
    }
  }

  .mobile_home_box {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 16px;

    .mobile_home_white {
      border: 1px solid #d9dce1;
      border-radius: 8px;
      margin-left: 16px;
      width: 240px;
      height: auto;

      img {
        margin: 18px 16px 18px 16px;
      }

      p {
        font-weight: 800;
        font-size: 16px;
        color: #1a1c1f;
        margin: 0px 16px;
      }

      .mobile_home_content {
        font-weight: 400;
        font-size: 12px;
        color: #1a1c1f;
        margin: 8px 16px 33px 16px;
        width: 208px;
      }
    }
  }

  .mobile_advantage {
    p {
      font-weight: 800;
      font-size: 24px;
      color: #1a1c1f;
      margin: 32px 16px 8px;
    }

    .mobile_pioneer {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
      margin: 0px 16px;
    }
  }

  .mobile_home_advantage {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 16px;

    .mobile_home_white_advantage {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      width: 298px;
      height: auto;
      margin-left: 16px;
      margin-bottom: 32px;

      img {
        margin: 16px 16px 12px;
      }

      p {
        font-weight: 800;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #1a1c1f;
        margin: 0px 16px;
      }

      .mobile_home_content_advantage {
        font-weight: 400;
        font-size: 12px;
        display: flex;
        align-items: center;
        color: #455560;
        margin: 12px 16px;
        width: 266px;
        height: auto;
      }
    }
  }

  .mobile_ques {
    p {
      font-weight: 800;
      font-size: 24px;
      color: #1a1c1f;
      margin: 32px 16px 8px;
    }

    .mobile_ans {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
      margin: 0px 16px;
    }
  }

  .mobile_faq {
    margin: 16px;
  }

  .mobile_view {
    display: flex;
    margin-left: 16px;
    align-items: center;

    p {
      font-weight: 800;
      font-size: 16px;
      text-transform: capitalize;
      color: #1a1c1f;
      margin-bottom: 0px;
    }

    img {
      margin: 0px 0px 9px 18px;
    }
  }

  .mobile_claim {
    margin: 0px 16px;
  }
}
