@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";


.space-normal {
	&:first-child {
		margin-left: 20px;
	}
}
.main-div {
	padding: 30px 0px 50px 0px;
	gap: 40px;
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 20px;
}
.btnReq {
	justify-content: center;
	align-items: center;
	padding: 0px 24px;
	width: 198px;
	height: 44px;
	background: #ee7500;
	border-radius: 10px;
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: fontSize(16);
	line-height: 40px;
	color: #ffffff;
	cursor: pointer;
}

.backBtn {
	width: 112px;
	height: 16px;
	cursor: pointer;
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: fontSize(16);
	line-height: 16px;

	color: #4c565c;
}
.mainHeading {
	font-weight: 800;
	font-size: fontSize(32);
	letter-spacing: -0.02em;
	font-style: normal;
}
.text-para {
	font-size: fontSize(18);
	color: #4c565c;
	width: 100%;
	max-width: 970px;
}

.mainHeading2 {
	width: 100%;
	text-align: center;
	font-style: normal;
	font-weight: 800;
	font-size: fontSize(40);
	line-height: 120%;
	letter-spacing: -0.02em;
	color: #1a1c1f;
}
.serviceRequestLining {
	width: 100%;
	background-color: rgba(26, 28, 31, 0.1);
	padding: 0.3px;
}
.text-para1 {
	width: 100%;
	max-width: 650px;
	font-size: fontSize(18);
	line-height: 140%;
	text-align: center;
	color: #4c565c;
}
.servicewomen {
	width: 200px;
	height: 200px;
}
.product-Support-Title {
	font-size: fontSize(34);
}
.product-Support-InfoText {
	width: 100%;
	max-width: 650px;
	color: $light-tw;
}
.viewProducts-ServiceLink {
	color: $light-tw;
}
.viewArrowIcon {
	width: 30px;
	height: 30px;
}
.serviceBtn {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 20px 10px 12px;
	gap: 8px;
	justify-content: space-between;
	width: 212px;
	height: 48px;
	background: #ffffff;
	box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
	border-radius: 100px;
}
.viewMore {
	width: 203px;
	height: 12px;
	margin-top: 16px;
	font-family: "Lato";
	font-style: normal;
	font-weight: 800;
	font-size: 12px;

	line-height: 12px;
	align-items: center;
	text-transform: uppercase;

	color: #4c565c;
}
.serviceBtn1 {
	width: 127px;
	height: 16px;
	margin: 16px;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: fontSize(16);
	line-height: 16px;
	cursor: pointer;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #4c565c;
}
.iconDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 20px 10px 12px;
	gap: 8px;
	justify-content: space-between;
	width: 120px;
	padding: 10px;
	height: 48px;
	margin: 20px;
	border-radius: 100px;
	background-color: transparent;
}
.tHeading {
	width: 100%;
	height: 48px;
	text-align: right;

	font-family: "Lato";
	font-style: normal;
	font-weight: 800;
	font-size: fontSize(40);
	line-height: 120%;

	letter-spacing: -0.02em;

	color: #1a1c1f;
}
.highlight {
	width: 177px;
	height: 48px;

	font-style: normal;
	font-weight: 800;
	font-size: fontSize(40);
	line-height: 120%;

	text-align: center;
	letter-spacing: -0.02em;

	color: #b3b9c3;
}
.paraText {
	width: 100%;
	height: 25px;

	font-style: normal;
	font-weight: 400;
	font-size: fontSize(18);
	line-height: 140%;
	text-align: right;
	color: #4c565c;
}
.view-ComplaintProducts {
	color: $light-tw;
}

.language-alignment-right {
	.viewProducts-ServiceLink {
		img {
			transform: rotate(180deg);
		}
	}
}

@include media-breakpoint-med-desktop{
	.product-Support-Title{
		font-size: fontSize(28);
	}
	.product-Support-InfoText {
		width: 100%;
		max-width: 550px;
		font-size: fontSize(15);
	}
	.mainHeading{
		font-size: fontSize(27);
	}
	.text-para {
		width: 100%;
		max-width: 800px;
		font-size: fontSize(15);
		line-height: 140%;
	}
}

@include media-breakpoint-tab-land{
	.product-Support-Title{
		font-size: fontSize(28);
	}
	.product-Support-InfoText {
		width: 100%;
		max-width: 550px;
		font-size: fontSize(15);
	}
	.mainHeading{
		font-size: fontSize(27);
	}
	.text-para {
		width: 100%;
		max-width: 800px;
		font-size: fontSize(15);
		line-height: 140%;
	}
}