
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .motorInsuranceContainer .motorTitle {
        padding-bottom: 25px;
    }
    .motorInsuranceContainer .insurancecard {
        width: 109%;
    }
    .motorInsuranceContainer .insurancecard {
        width: 107%;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1699px) {
}

@media only screen and (min-width: 1700px) {
}