@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.MotorInsuranceMainContainer {
	.motorInsuranceContainer {
		.motorTitle {
			font-size: fontSize(64);
		}
		.motorPara {
			color: rgba(76, 86, 92, 1);
		}
		.insuranceText {
			transform: translateY(10px);
		}
        .mangerPolicyHeading{
            font-weight: 800;
            font-size: fontSize(40);
            line-height: 48px;
        }
        .mangerPolicyHeading1{
            font-weight: 400;
            font-size: fontSize(18);
            line-height: 25.2px;
            color: #4C565C;
        }
		.managePolicy {
			width: 100%;
			// max-width: 390px;
			.policyContainer {
				background-color: rgba(52, 56, 62, 1);
				border-radius: 12px 12px 0px 0px;
				.manageText {
					color: $white;
				}
				.addText {
					color: $white;
				}
			}
			.policyTypeContainer {
				background-color: $white;
				border-radius: 0px 0px 12px 12px;
				.vehilcleBox {
					border-right: 1px dotted #bfbebe;
					.policyBoxPara {
						transform: translateY(25px);
					}
				}
				.coverageBox {
					border-right: 1px dotted #bfbebe;
					.policyBoxPara {
						transform: translateY(13px);
					}
				}
				.renewBox {
					.renewBoxPara {
						transform: translateY(15px);
					}
				}
			}
		}
		.rewardTitle {
			color: $white;
		}
		.rewardSubTitle {
			color: $white;
			width: 100%;
			max-width: 140px;
		}
		.rewardBtnClass {
			background-color: $white;
			color: rgba(238, 117, 0, 1);
			border-radius: 4px;
			font-size: fontSize(14);
			font-weight: 400;
		}
	}

	// styles for motor blog section starts here
	.MotorBlogs {
		height: 647px;
		width: 100%;
		.MotorBlogsHead {
			display: flex;
			justify-content: space-between;

			.MotorBlogsText {
				h5 {
					font-weight: 800;
					font-size: fontSize(40);
					line-height: 48px;
					letter-spacing: -0.02em;
					color: #1a1c1f;
				}

				span {
					font-weight: 400;
					font-size: fontSize(18);
					line-height: 25px;
					color: #818b9b;
				}
			}
		}

		.MotorBlogsImgContainer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;

			.MotorBlogsImga {
				background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 14.18%,
						rgba(0, 0, 0, 0.63) 78.64%
					),
					url("../../../assets/images/family-lobby.png");
			}

			.MotorBlogsImgb {
				margin-left: 20px;
				background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 14.18%,
						rgba(0, 0, 0, 0.63) 78.64%
					),
					url("../../../assets/images/woman-drive.png");
			}
		}
		.MotorBlogsImga,
		.MotorBlogsImgb {
			background-repeat: no-repeat;
			position: relative;
			width: 100%;
			height: 380px;
			margin-top: 20px;
			border-radius: 20px;

			.MotorBlogsImgText {
				position: absolute;
				width: 400px;
				top: 50%;
				left: 5%;
				z-index: 3;

				h5 {
					font-weight: 800;
					font-size: fontSize(30);
					letter-spacing: -0.02em;
					color: #ffffff;
				}

				span {
					font-weight: 400;
					font-size: fontSize(12);
					line-height: 20px;
					display: flex;
					align-items: center;
					color: #ffffff;
				}

				.MotorBlogsBtn {
					margin-top: 10px;
				}
			}
		}
	}
}
// styles for motor blog section ends here

//Styles for motor product section starts here



