.mobile_arrowDotContainer {
    // margin-left: 8px;
    // margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .mobile_arrowContainer {
        z-index: 9;
        height: 32px;
        width: 55px;
        border-radius: 100px;
        background-color: #fff;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        margin-left: 16px;
    }

    .mobile_arrow_dotContainer {
        margin-left: 10px;
        margin-right: 10px;
        height: 32px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 15px;

        .dotEl {
            width: 6px;
            height: 6px;
            opacity: 30%;
            border-radius: 100%;
        }
    }
}