.car_plate_number{
    padding: 16px;
    grid-gap: 16px;
    gap: 16px;
   
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);        border-radius: 8px;
    
    margin: 0px 16px;
    .silver_theme{
    
        height: auto;
        
        background: #F2F3F5;
        border-radius: 8px;
            }
            .red_car{
            .gray_vertical_line{
                opacity: 0.1;
                width: 49px;
height: 0px;
border: 1px solid #1A1C1F;
transform: rotate(90deg);
margin-top: 40px;
background-color: #1A1C1F;
            }
            p{
                font-weight: 400;
            font-size: 16px;
            display: flex;
            align-items: center;
            color: #455560;
            }
            h6{
                font-weight: 800;
        font-size: 16px;
        display: flex;
        position: relative;
        bottom: 1ch;
        align-items: center;
        color: #455560;
            }
        }
        .case_number{
            p{font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                color: #455560;
                margin-left: 13px;
                

            }
            h6{
                font-weight: 800;
font-size: 16px;
line-height: 140%;
margin-left: 13px;
bottom: 1ch;
position: relative;
color: #1A1C1F;
            }
        }
        .accident_date{
            margin-left: 15%;
            p{
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;    
                color: #455560;
                margin-left: 13px;
            }
            h6{
                font-weight: 800;
font-size: 16px;
line-height: 140%;
margin-left: 13px;
bottom: 1ch;
position: relative;
color: #1A1C1F;
            }
        }
        .orange_create_claim{
            
height: 42px;
background: #F47B20;
border-radius: 6px;
p{
font-weight: 400;
font-size: 14px;
line-height: 14px;
position: relative;
top:28%;
text-align: center;

color: #FFFFFF;
}

        }
        
}
