@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.menu-customer-service-details {
    .customer-service-top {
        .top-title {
            font-weight: 800;
            font-size: fontSize(20);
            color: $black;
            margin-bottom: 10px;
            line-height: 120%;
        }
        p {
            font-weight: 400;
            font-size: fontSize(16);
            color: $light-tw-2;
            margin-bottom: 20px;
            line-height: 120%;
        }
        .top-section-links {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #1a1c1f33;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .top-section-links-left {
                display: flex;
                align-items: center;
                a {
                    margin-right: 20px;
                }
            }
            .top-section-links-right {
                margin-left: auto;
                padding-left: 20px;
            }
        }
        a {
            display: flex;
            align-items: center;
            font-weight: 800;
            font-size: fontSize(16);
            color: $black;
            text-transform: uppercase;
            text-decoration: none;
            @include media-breakpoint-tab-port {
                font-size: fontSize(13);
            }
            img {
                width: 12px;
                margin-left: 15px;
                display: block;
            }
        }
    }
    .customer-service-box-root {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap ;
        .customer-service-box-content {
            padding: 20px;
            margin-bottom: 20px;
            border: 1px solid #D9DCE1;
            border-radius: 12px;
            background-color: $white;
            flex: 1 0 100%;
            position: relative;
            z-index: 1;
            &.content-width-50 {
                flex: 0 0 calc(50% - 10px);
            }
            .box-bg-image {
                position: absolute;
                right: -10px;
                bottom: -10px;
                z-index: 0;
                @include media-breakpoint-tab-port {
                    width: 200px;
                    bottom: -5px;
                }
                @include media-breakpoint-med-desktop {
                    width: 200px;
                    bottom: -5px;
                }
            }
            .customer-service-box-links {
                position: relative;
                z-index: 1;
            }
            .customer-service-box-title {
                font-weight: 800;
                font-size: fontSize(20);
                color: $black;
                line-height: 120%;
                margin-bottom: 10px;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(16);
                }
            }
            p {
                font-weight: 400;
                font-size: fontSize(16);
                color: $light-tw-2;
                line-height: 120%;
                margin-bottom: 20px;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(13);
                }
            }
            .customer-service-box-links {
                a {
                    margin-bottom: 4px;
                }
            }
        }
        .network-coverage {
            display: flex;
            align-items: center;
            .network-coverage-left {
                margin-right: 40px;
                p {
                    margin-bottom: 0;
                }
            }
            .network-coverage-right {
                display: flex;
                align-items: center;
                margin-left: auto;
                a {
                    margin-right: 20px;
                }
            }
        }
        a {
            display: flex;
            align-items: center;
            font-weight: 800;
            font-size: fontSize(16);
            color: $black;
            text-transform: uppercase;
            text-decoration: none;
            @include media-breakpoint-tab-port {
                font-size: fontSize(13);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(13);
            }
            img {
                width: 12px;
                margin-left: 15px;
                display: block;
            }
        }
    }
}

.language-alignment-right {
    .menu-customer-service-details {
        .customer-service-box-root {
            .customer-service-box-content {
                .box-bg-image {
                    right: auto;
                    left: 0;
                }
            }
            a {
                img {
                    margin-left: 0;
                    margin-right: 15px;
                    transform: scaleX(-1); 
                }
            }
        }
        .customer-service-top {
            .top-section-links {
                .top-section-links-left {
                    a {
                        margin-left: 20px;
                        margin-right: 0;
                    }
                }
            }
            a {
                img {
                    margin-left: 0;
                    margin-right: 15px;
                    transform: scaleX(-1);     
                }
            }
        }
    }
}