@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.Maincontainerinsurance{

    .insuranceptag{
        color: #818B9B;
    }

    .insurancecard{
        border-radius: 4px;
        border: none;
        -webkit-box-shadow: 0 0 2px #fff;
        box-shadow: 0 0 2px #fff;
        background: #ffff ;
        height: 100%;
      
        
       
        
    }
    .imgsize{
        width: 25%;
    }
    .cardptag{
        color:#4C565C;
    }
    .alignslider{
        margin-top: 100px;
    }

}