@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.MotorInsuranceMainContainer {
	.motor-faq-container {
		.motor-fag-para {
			padding: 10px 22% !important;
		}
	}
}

.perkHeading,
.breakdownHeading {
	color: $black;
	font-size: fontSize(40);
	line-height: 50px;
}
.perkHeading {
	width: 100%;
	max-width: 400px;
}
.perkPara,
.breakingPara {
	color: #4c565c;
	font-size: fontSize(18);
}

@include media-breakpoint-med-desktop {
	.perkHeading,
	.breakdownHeading {
		font-size: fontSize(36);
	}
	.perkHeading {
		width: 100%;
		max-width: 300px;
		line-height: 40px;
	}
	.perkPara,
	.breakingPara {
		font-size: fontSize(13);
	}
}

@include media-breakpoint-tab-land {
	.perkHeading,
	.breakdownHeading {
		font-size: fontSize(26);
	}
	.perkHeading {
		width: 100%;
		max-width: 280px;
		line-height: 40px;
	}
	.perkPara,
	.breakingPara {
		color: #4c565c;
		font-size: fontSize(12);
	}
}

@include media-breakpoint-tab-port-med-only {
	.perkHeading,
	.breakdownHeading {
		font-size: fontSize(26);
	}
	.perkHeading {
		width: 100%;
		max-width: 280px;
		line-height: 40px;
	}
	.perkPara,
	.breakingPara {
		color: #4c565c;
		font-size: fontSize(12);
	}
}
