.tawuniya-drive {
  .tawuniya_image_container {
    text-align: center;
    position: relative;

    .tawuniya_image {
      margin-top: 24px;
      padding: 0px 16px;
      width: 100%;
    }

    .device {
      position: absolute;
      top: 175px;

      img {
        width: 100%;
      }
    }
  }


  .total {
    margin-top: 30%;
  }

  .drive_most {
    margin: 0px 16px;

    .car {
      font-weight: 700;
      font-size: 20px;
      color: #1a1c1f;
    }

    .save {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
    }
  }

  .drive_what {
    margin: 0px 16px;

    .drive_tawuniya {
      font-weight: 800;
      font-size: 20px;
      color: #1a1c1f;
      margin-top: 32px;
    }

    .drive_para {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
    }
  }

  .drive_features {
    margin-left: 16px;
    margin-right: 16px;

    .drive_title {
      font-weight: 800;
      font-size: 24px;
      color: #1a1c1f;
    }

    .drive_content {
      font-weight: 400;
      font-size: 16px;
      color: #455560;
    }

    .drive_box {
      display: grid;
      grid-column-gap: 10px;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-gap: 10px;
      margin-left: 0px;
      margin-right: 0p  x;

      .drive_white {
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 8px;

        .drive_reward {
          margin-left: 16px;
          margin-top: 16px;
        }

        .drive_discount {
          margin-left: 16px;
          margin-top: 12px;
          font-weight: 800;
          font-size: 16px;
          line-height: 120%;
          display: flex;
          align-items: center;
          color: #1a1c1f;
        }
      }
    }
  }

  .drive_work {
    margin: 0px 16px;

    .drive_how {
      font-weight: 800;
      font-size: 24px;
      color: #1a1c1f;
      margin-top: 32px;
    }

    .drive_earn {
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: #455560;
      margin-top: 8px;
    }

    .dirve_install {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 12px;
      padding-top: 24px;

      .drive_orange {
        display: flex;

        .drive_number {
          height: 24px;
          width: 24px;
          border-radius: 100%;
          background: #f47b20;
          font-weight: 700;
          font-size: 11px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fdf1e6;
          margin-left: 21px;
        }

        .drive_safe {
          font-weight: 800;
          font-size: 14px;
          margin-left: 17px;
          color: #1a1c1f;
        }

        .drive_complete {
          font-weight: 400;
          font-size: 12px;
          color: #676f7c;
          margin-left: 14px;
        }
      }
    }
  }

  .drive_bottom {
    margin-left: 16px;

    .drive_drive {
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      color: #1a1c1f;
      margin-top: 32px;
    }

    .drive_engage {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
    }
  }

  .pc_button_white {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 102px;
    background: #FFFFFF;
    box-shadow: 0px -8px 49px rgba(9, 30, 66, 0.15);
    border-radius: 12px 12px 0px 0px;

    .pc_button {
      background: #F47B20;
      border-radius: 8px;
      border: navajowhite;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      position: fixed;
      left: 50%;
      bottom: 0px;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      padding: 19px;
      width: 90%;
      justify-content: center;
      display: flex;
    }
  }
}