@import "../../../assets/scss/abstracts/abstracts";

.openFormContainer {
    padding: 10px;
    width: 100%;
    max-width: 640px;
    .complaint-formTitle {
      color: $black;
    }
    .complaint-formPara {
      color: $light-tw;
    }
    .personalTitle {
      color: $black;
    }
    .complaintSelectContainer-motor {
      // padding: 7px 0px 0px 10px;
      background-color: $white;
      padding: 8px;
      border-radius: 4px;
      .serviceTypeLabel {
        position: absolute;
        z-index: 9;
        transform: translateX(15%);
        color: #676f7c;
      }
      #complaintArrowAlign {
        bottom: 25%;
      }
      .complaintFormSelectInput {
        // padding-top: 10px;
        // z-index: 20;
        // border: none;
      }
    }
    .formInputFieldOne {
      background-color: $white;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 4px;
      border: none;
      padding: 30px;
      padding-left: 65px;
    }
    .formPhoneInput {
      border-radius: 4px;
    }
    #formSelectFlexType-motor {
      padding: 15px 15px;
      display: flex;
      justify-content: center;
    }
    .borderLiningTwo {
      width: 100%;
      background-color: #262626;
      opacity: 0.1;
      height: 1px;
    }
    .requestTitle {
      color: $black;
    }
    .requestTypePara {
      color: $light-tw;
    }
    .higlightRadioContainer {
      background-color: $white;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 4px;
      padding: 12px;
    }
    .normalRadioContainer {
      background-color: transparent;
      border: 1px solid rgba(38, 38, 38, 0.1);
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 4px;
      padding: 12px;
    }
    .messageTitle {
      color: $light-tw;
    }
    .complaintForm-textArea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: none;
      border-radius: 4px;
      background-color: $white;
      font-size: 16px;
      font-weight: 400;
      resize: none;
      color: $light-tw;
    }
    .formConditions {
      color: $light-tw;
      width: 100%;
      max-width: 700px;
    }
    .formConditionsList {
      color: $light-tw;
    }
    .borderLiningThree,
    .borderLiningFour {
      width: 100%;
      background-color: #262626;
      opacity: 0.1;
      height: 1px;
    }
    .doc-Title {
      color: $black;
    }
    .image-upload-wrap {
      margin-top: 20px;
      border: 2px dashed rgba(38, 38, 38, 0.1);
      position: relative;
      padding: 40px 0px 20px 0px;
      border-radius: 4px;
      .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
      }
      .drag-text {
        display: flex;
        justify-content: center;
        .removeImgBtn {
          background-color: $white;
          color: $black;
          padding: 5px;
          width: 100%;
          width: 20px;
          position: absolute;
          right: 42%;
          bottom: 78%;
        }
        .uploadTitle {
          color: $light-tw;
          width: 100%;
          max-width: 150px;
        }
        .uploadLink {
          color: $orange-tw;
          cursor: pointer;
        }
        .allowedFormats {
          color: $light-tw;
          width: 100%;
          max-width: 230px;
        }
      }
    }
    .complaintFormSubmitBtn {
      width: 100%;
      background-color: $orange-tw;
      color: $white;
      font-size: fontSize(16);
      font-weight: 400;
      border: none;
      border-radius: 8px;
    }
    .complaintFileSubmitBtn {
       
        background-color: $orange-tw;
        color: $white;
        font-size: fontSize(16);
        font-weight: 400;
        border: none;
        border-radius: 8px;
        height: 55px;
        width: 20%;
        margin-left: 385px;
        height: 50px;
       
      }
    .complaintFormSelectInput2{
        // .css-bovsgj-placeholder{
        //     top:28%;
        //     color: #9AA2AF;
        //     font-weight: 400;
        //     z-index: 20;
        // }
    }
    .hidefile{
       display: none;
       
    }
    
    .fileuploadInput {
        cursor: pointer;
       
        position:absolute;
        z-index: 99;
        font-size:50px;
        opacity: 0;
        -moz-opacity: 0;
       
    }
  }