.my_profile_container {
  .name_container {
    background: white;
    height: 30px;
    display: flex;
    justify-content: center;

    .my_profile_header {
      width: 100px;
      height: 100px;
      background: #b3b9c3;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: #ffffff;
      font-weight: 600;
      font-size: 42px;
      top: 50px;
    }
  }

  .my_profile_name {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #1a1c1f;
    margin-top: 16%;
  }

  .my_profile_number {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #455560;
  }

  .my_profile_body {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    margin: 24px 16px 0px 16px;

    .my_profile_your {
      font-weight: 400;
      font-size: 12px;
      color: #679ab4;
      margin-bottom: 14px;
      margin-left: 16px;
      padding-top: 11px;
    }

    .my_profile_image {
      margin-left: 14px;
      margin-bottom: 14px;
      margin-right: 13px;
    }

    .my_profile_data {
      font-weight: 800;
      font-size: 20px;
      line-height: 120%;
      text-align: center;
      color: #455560;
    }
  }

  .my_profile_content {
    .my_profile_contact {
      font-weight: 800;
      font-size: 20px;
      color: #1a1c1f;
      margin-left: 16px;
      margin-top: 32px;
      margin-bottom: 18px;
    }

    .my_profile_content_data {
      font-weight: 400;
      font-size: 12px;
      color: #455560;
      margin-bottom: 4px;
    }
      .my_profile_content_text {
      font-weight: 400;
      font-size: 16px;
      color: #1a1c1f;
      margin-bottom: 12px;
    }

    .my_profile_content_image {
      margin-left: 18px;
      margin-right: 13px;
    }

  

    .line {
      height: 0px;
      margin: 12px 16px 14px 16px;
    }
  }

  .my_profile_language {
    border: 1.5px solid #d9dce1;
    border-radius: 4px;
    justify-content: space-between;
    display: flex;
    margin: 10px 14px 0px 16px;
    padding: 10px;

    .my_profile_language_image {
      align-items: center;
      display: flex;
    }

    .my_profile_circle {
      width: 20px;
      height: 20px;
      background: #d9dce1;
      border-radius: 100px;
    }
  }

  .my_profile_notification {
    font-weight: 800;
    font-size: 20px;
    color: #1a1c1f;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 30px;
  }

  .my_profile_strong {
    font-weight: 400;
    font-size: 14px;
    color: #1a1c1f;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .my_profile_box {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    margin: 16px 17px 32px;
    display: flex;

    .my_profile_switch {
      margin: 10px 12px 0px 16px;
    }

    .my_profile_box_image {
      margin-left: 16px;
      margin-right: 12px;
      align-items: center;
      display: flex;
    }

    .my_profile_box_data {
      font-weight: 400;
      font-size: 13px;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: #455560;
    }

    .switch {
      position: relative;
      width: 45px;
      height: 28px;
    }

    .switch input {
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
    }

    input:checked+.slider {
      background-color: #2196f3;
    }

    input:checked+.slider:before {
      transform: translateX(18px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }

  .my_profile_button {
    background: #f47b20;
    border-radius: 8px;
    margin: 16px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }

  .bottom {
    height: 25vh;
  }
}

.arrow1 {
  margin-left: 23vh;
}

.arrow2 {
  margin-left: 12vh;
}

.div1 {
  width: 23px;
  height: 18px;
  border: 1px;
  font-size: 10px;
  color: white;
  background-color: #f47b20;
  padding-left: 8px;
  border-radius: 3px;
  padding-top: 2px;
  margin-left: 10px;
  margin-top: 1px;
}

.my_profile_english {
  border: 1.5px solid #d9dce1;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 15px 14px 0px 16px;
  padding: 10px;
}

.my_profile_english_circle {
  width: 20px;
  height: 20px;
  background: #d9dce1;
  border-radius: 100px;
}
.my_profile_Topic {
  font-size: 20px;
  font-weight: 800;
  margin-left: 16px;
  margin-top: 5px;
}

.my_profile_Topic_content {
  font-weight: 400;
  font-size: 14px;
  width: 358px;
  margin-left: 16px;
  margin-top: 10px;
}

.my_profile_update {
  h5 {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-top: 24px;
    padding-left: 16px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    padding-left: 16px;
    margin-top: 8px;
    color: #455560;
  }

  .country_code {
    margin: 0px 16px;
    // height: 54px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 4px;

    // .country_number {
    //   font-weight: 400;
    //   font-size: 16px;
    //   color: #455560;
    //   margin-left: 16px;
    // }
  }

  .my_profile_input {
    width: 100%;
    border: none;
  }

  ::placeholder {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #9aa2af;
    padding: 16px 16px;
  }

  .orange_update_mobile {
    background: #f47b20;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    padding: 19px;
    margin: 150px 16px;
  }
}

.my_email {
  margin: 0px 16px;
  height: 54px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 4px;
  display: flex;

  .normal-search {
    width: 100%;

    .searchBox {
      padding: 10px 25px 2px 61px;
    }
  }
}

// Verification model css
.verification_container {
  .verify{
    font-weight: 800;
font-size: 24px;
color: #1A1C1F;
padding-top: 32px;
  }
  .verify_code{
    font-weight: 400;
    font-size: 16px;
    color: #455560;
    margin-top: 8px;
  }
  
  .orange_update_mobile {
    background: #f47b20;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
    padding: 16px;
  }
  .resend{
    font-weight: 400;
    font-size: 16px;
    color: #455560;
    margin-top: 16px;
  }
  .verify_dont{
    display: flex;
    margin-top: 8px; 
    font-weight: 400;
    font-size: 16px;
    .verify_receive{
      color: #455560;
    }
    .verify_resend{
      color: #F47B20;
      margin-left: 4px;
    }
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 360px){
  .arrow1{
margin-left: 16vh;
  }
  .arrow2{
margin-left: 5vh;
  }
}