@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.dashboard-policy-details-page {
    .dashboard_new_main_container_details {
        // min-height: 465px;
        background: hsl(0, 0%, 100%);
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 8px;
        padding: 30px;
        // height: 100%;
        margin-bottom: 30px;
        .view_all_cards {
        position: absolute;
        bottom: 60px;
        left: 50px;
        font-weight: 800;
        font-size: 12px;
        text-transform: uppercase;
        color: #455560;
        margin-top: 20px;
        z-index: 10;
        cursor: pointer;
        overflow: hidden;
        img {
            padding-right: 10px;
        }
        }
        .policy-card-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
            .left-btn {
                padding-right: 20px;
            }
            a {
                display: flex;
                align-items: center;
                color: $orange-tw;
                font-weight: 700;
                font-size: fontSize(14);
                line-height: 140%;
                img {
                    margin-right: 10px;
                }
            }
            button {
                display: flex;
                align-items: center;
                border: 0;
                outline: 0;
                padding: 10px 12px;
                text-align: left;
                background: $black;
                border-radius: 8px;
                color: $white;
                font-weight: 400;
                font-size: fontSize(14);
                line-height: 120%;
                span {
                    font-size: fontSize(11);
                }
                img {
                    margin-right: 10px;
                }
            }
        }
        .dashboard-your-policies-slider {
            padding-bottom: 20px;
            .slick-slide {
                padding-right: 20px;
            }
            .slick-dots {
                text-align: left;
                bottom: -10px;
                li {
                    button {
                        &:before {
                            color: $orange-tw;
                        }
                    }
                }
            }
        }
        .dashboard_card_container {
        display: flex;
        justify-content: center;
        .card_swap {
            position: absolute;
            height: 308px;
            width: 80%;
    
            .travel_policy_card_container {
            position: absolute;
            width: 100%;
            bottom: 55px;
            }
    
            .motor_policy_card_container {
            position: absolute;
            width: 100%;
            bottom: 21px;
            }
    
            .policy_card_container {
            position: absolute;
            width: 100%;
            top: 114px;
            margin-bottom: 0px;
            }
        }
    
        .policy_list_view {
            width: 100%;
            padding-top: 0px;
            transition: all 0.5s linear;
            .policy_card_container,
            .motor_policy_card_container,
            .travel_policy_card_container {
            margin-bottom: 9px;
            position: relative;
            }
        }
        }
    }
    .recent-policy-card-root {
        background: $white;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 8px;
        padding: 30px;
    }
    .alert-card-root {
        margin-bottom: 20px;
    }
    .your-services-row-policy {
        border-bottom: 1px solid #1a1c1f1a;
        padding-bottom: 40px;
        margin-bottom: 20px;
        padding-right: 12px;
    }
    .requests-content-title-policy {
        font-weight: 800;
        font-size: fontSize(20);
        line-height: 120%;
        color: $light-tw-2;
        margin-bottom: 15px;
        color: $light-tw-2;
    }
    .view-more-link-policy {
        font-weight: 400;
        font-size: fontSize(14);
        line-height: 140%;
        color: $light-tw-2;
        display: flex;
        align-items: center;
        margin-top: 20px;
        span {
            font-size: fontSize(22);
            margin-left: 10px;
            color: $orange-tw;
        }
    }
    .dashboard-your-policydetails-slider {
        padding-bottom: 20px;
        .slick-slide {
            padding-right: 10px;
        }
        .slick-slider {
            .slick-list {
                overflow: visible;       
            }
        }
        .slick-dots {
            text-align: left;
            bottom: -10px;
            li {
                button {
                    &:before {
                        color: $orange-tw;
                    }
                }
            }
        }
    }
}