.dashboard-pages-alert-card {
    background: #FFF5E5;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    img {
        margin-right: 15px;
    }
    .alert-card-title {
        font-weight: 800;
        font-size: fontSize(16);
        line-height: 120%;
        color: #332500;
        margin-bottom: 10px;
    }
    p {
        font-weight: 400;
        font-size: fontSize(14);
        line-height: 120%;
        color: #332500;
        margin-bottom: 0;
    }
}