@import "../../../assets/scss/abstracts/abstracts";

.board-of-directors-page {
	text-align: center;
	padding-top: 50px;

	.title-section {
		max-width: 65%;
		margin: auto;
	}

	.page-title {
		font-family: "Lato", sans-serif;
		font-style: normal;
		font-size: fontSize(48);
		margin-bottom: 20px;
		color: $black;
		line-height: 1;
	}

	.page-description {
		font-family: "Lato", sans-serif;
		font-style: normal;
		font-size: fontSize(18);
		margin: 40px auto;
		width: 82%;
		margin-bottom: 50px;
		color: $light-tw;
		line-height: 1.3;
	}
}