@import "../../../assets/scss/abstracts/abstracts";

.insureMotorContainer {
	width: 100%;
	.insureLayerOne {
		background-color: $orange-tw;
		padding: 30px 40px 30px 40px;
		border-radius: 12px 12px 0px 0px;
		.insureCardTitle {
			font-size: 40px;
			color: $white;
			width: 100%;
			max-width: 300px;
			line-height: 44px;
		}
	}
	.insureLayerTwo {
		background-color: $white;
		padding: 20px 0px;
		border-radius: 0px 0px 12px 12px;
		.insureSubLayerTwo {
			background-color: rgba(253, 241, 229, 1);
			border-radius: 8px;
			margin: 20px 40px 20px 40px;
			.motorInputfieldOne {
				width: 100%;
				background-color: $white;
				box-shadow: 1px 2px 3px grey;
				border-radius: 4px;
			}
		}
		.insureNewSubLayer {
			padding-bottom: 40px;
			.insureTerms {
				width: 100%;
			}
			.insureNowBtn {
				width: 100%;
				max-width: 535px;
				background-color: $orange-tw;
				padding: 10px;
				color: $white;
				border-radius: 8px;
			}
		}
	}
}
