@import "../../../../assets/scss/abstracts/abstracts";

.offCanvasContainer {
  padding: 30px;
  background-color: $white;
  .canvasContainerOne {
    border-bottom: 2px solid $lightgrey-tw;
    .canvasHeadingOne {
      color: #262626;
    }
    .canvasSubHeadingOne {
      color: #ee7500;
    }
    .lineSeperator {
      padding: 0.5px;
      background-color: $lightgrey-tw;
    }
    .canvasHeadingTwo {
      transform: translateY(45px);
    }
    .canvasHeadingThree {
      transform: translateY(45px);
    }
    .canvasClose {
      width: 15px;
      height: 15px;
      position: relative;
      top: 10px;
      cursor: pointer;
    }
  }
  .canvasContainerTwo {
    .canvasProducts {
      font-size: 54px;
      cursor: pointer;
    }
    #highlightProducts {
      color: #262626;
      cursor: pointer;
    }
    #nonHighlightProducts {
      color: #b3b9c3;
      cursor: pointer;
    }
    .otherProductsContents {
      color: #262626;
      cursor: pointer;
    }
    .otherProductSubContent {
      color: #4c565c;
      cursor: pointer;
      &:hover {
        color: $orange-tw;
        cursor: pointer;
        font-weight: 700;
      }
    }
  }
}
.offCanvasFooterContainer {
  background-color: $lightgrey-tw;
  padding: 0px 30px;
  .canvasContainerThree {
    .socialIcons {
      width: 25px;
      height: 25px;
      transform: translateY(23px);
      cursor: pointer;
    }
    .canvasButtonContainer {
      position: relative;
      top: 5px;
      cursor: pointer;
    }
  }
}
