.motor_policy_card_container.shrink {
    padding: 10px 20px;

    .card_header_section {
        width: 70%;
    }
}

.motor_policy_card_container {
    border-radius: 8px;
    background-image: url("../../../../../assets/images/mobile/policy_two.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;

    .card_header_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .health_title {
            display: flex;
            align-items: center;
            label {
                margin: 0px;
                font-weight: 700;
                font-size: 12px;
                margin-left: 6.8px;
            }

            .shrink {
                label {
                    font-weight: 400;
                }

                span {
                    font-weight: 900;
                }
            }
        }

        .plolicy_number {
            display: flex;
            align-items: center;

            label {
                font-weight: 400;
                font-size: 10px;
                margin: 0px;
                padding-left: 10px;
            }

            .status {
                padding: 4px 4px 4px 6px;
                display: flex;
                align-items: center;
                background: #FFFFFF;
                border-radius: 24px;
                color: #6AB151;
                margin-right: 10px;
                height: 18px;
            }
        }
    }

    .policy_body_section {
        h6 {
            text-shadow: 0px 1px 1px rgba(9, 30, 66, 0.08);
            font-weight: 700;
            font-size: 16px;
        }

        p {
            font-weight: 400;
            font-size: 10px;
            margin-bottom: 5px;
        }

        .details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;

            p {
                font-weight: 700;
                font-size: 12px;
                background: white;
                color: #F47B20;
                box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.12);
                border-radius: 34px;
                height: 23px;
                padding: 0px 14px;
                margin: 0px;
                display: flex;
                align-items: center;

            }

            label {
                font-weight: 400;
                font-size: 10px;

                span {
                    font-weight: 800;
                }
            }
        }
    }

    .policy_border {
        opacity: 0.2;
        border: 1px solid #FFFFFF;
        margin-bottom: 0px;
    }

    .policy_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .weekly_points {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-right: 1px solid #ffffff5e;
            padding-right: 16px;

            p {
                margin: 0px;
                font-weight: 400;
                font-size: 10px;
                padding-left: 5px;

                span {
                    font-weight: 800;
                    display: block;
                }
            }
        }

        .body_section {
            display: flex;

            p {
                font-weight: 400;
                font-size: 10px;
                margin: 0px;
                padding-left: 10px;

                span {
                    font-weight: 800;
                }
            }

            div {
                border-right: 1px solid #ffffff5e;
                height: 33px;
                padding-left: 15px;
            }
        }

        .progress_policy {

            img {
                width: 58.3px;
            }

            p {
                margin: 0px;
                font-weight: 400;
                font-size: 8px;
                padding-left: 10px;

                span {
                    font-weight: 800;
                    display: block;
                }
            }
        }

        hr {
            border-right: 1px solid white;
            margin: 0px 12px;
            width: 29px;
            transform: rotate(90deg);
        }
    }

}