@import "../../../../assets/scss/abstracts/abstracts";

.ithra-banner-layout {
  .ithra-banner-box {
    background: linear-gradient(rgba(49, 48, 48, 0.56), rgba(33, 32, 32, 0.58))
        50% center / cover no-repeat,
      url("../../../../assets/svg/LoyaltyProgram/ithraFamily.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 43%;
    padding: 50px 0px 400px 0px;
    border-radius: 20px 20px 0px 0px;
    .ithra-banner-header {
      font-size: fontSize(60);
      color: $white;
      width: 100%;
      max-width: 770px;
      line-height: 110%;
    }
    .ithra-banner-para {
      color: $white;
      transform: translateX(18px);
    }
    .ithra-banner-quotes {
      color: $white;
      width: 100%;
      max-width: 480px;
    }
    .get-quote-taj-btn {
      width: 100%;
      max-width: 150px;
      background-color: $orange-tw;
      border: none;
      border-radius: 8px;
      font-size: fontSize(16);
      font-weight: 400;
      color: $white;
    }
    .ithraMouseScrollPic {
      position: absolute;
      top: 60%;
      left: 50%;
    }
  }
  .ithra-banner-content-box {
    padding: 50px 50px 50px 50px;
    border-radius: 0px 0px 20px 20px;
    background-color: $primary-tw;

    .ithraOfficeFamilyPic {
      position: absolute;
      right: 340px;
      bottom: 35%;
    }
    .ithraJimPic {
      position: absolute;
      bottom: 17%;
      left: 75px;
      width: 200px;
      height: 200px;
      z-index: 3;
    }
    .ithraRelationPic {
      position: absolute;
      right: 110px;
      bottom: 15%;
      width: 260px;
      height: 260px;
    }
    .ithraUnionOne {
      position: absolute;
      bottom: 80px;
      left: 0%;
      opacity: 0.1;
      width: 180px;
      height: 180px;
    }
    .ithraUnionTwo {
      position: absolute;
      right: 0px;
      bottom: 0%;
      z-index: 3;
      opacity: 0.1;
      width: 470px;
      height: 260px;
    }
    .ithra-banner-content-para {
      color: $white;
      width: 100%;
      max-width: 750px;
    }
  }
}
