@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.dashboard-page-title-card {
    background: $white;
    border-radius: 8px;
    padding: 16px 20px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    margin-bottom: 20px;
    color: $black;
    font-weight: 800;
    font-size: fontSize(16);
    line-height: 120%;
    display: flex;
    align-items: center;
    span {
        margin-left: 10px;
        width: 31px;
        height: 21px;
        padding: 5px;
        background: $lightgrey-tw;
        border-radius: 100px;
        font-weight: 400;
        font-size: fontSize(12);
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}