.ir-navigationContainer {
	width: 100%;
	height: 70px;

	.ir-navigation {
		position: absolute;
		width: 100vw;
		background-color: #ffff;
		display: flex;
		justify-content: flex-start;
		left: 0%;
		padding: 20px 50px;

		.ir-navlinks {
			&:hover {
				cursor: pointer;
			}

			&:focus {
				color: #fd7e14;
			}
			&:not(:nth-child(0)) {
				margin-right: 20px;
			}
		}
	}
}
