.medical-slider {
  overflow: auto;
  white-space: pre;
  height: auto;
  margin: 30px 16px 38px;

  .slider-card {
    display: inline-block;
    width: 176px;
    background: #ffffff;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 8px;
    padding: 16px;
    margin-right: 14px;

    img {
      padding: 0px 10px 0;
    }

    p {
      margin: 0px;
      white-space: normal;
      font-weight: 700;
      font-size: 14px;
      color: #455560;
    }
  }
}

