@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.ProgramAdvantages {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;

	.ProgramAdvantagesLeft {
		@include media-breakpoint-tab-port {
			padding-right: 10px;
		}

		h2 {
			font-weight: 800;
			font-size: fontSize(28);
			letter-spacing: -1px;
			color: #1a1c1f;

			@include media-breakpoint-tab-port {
				font-size: fontSize(36);
			}
		}
	}

	@include media-breakpoint-tab-port {
		.ProgramAdvantagesRight {
			padding-left: 10px;
		}
	}

	@include media-breakpoint-tab-port {
		.ProgramAdvantagesRight {
			padding-left: 10px;
		}
	}

	.ProgramAdvantagesLeft,
	.ProgramAdvantagesRight {
		.ProgramAdvantagesCard {
			padding: 25px 20px 25px;
			width: 600px;
			height: fit-content;
			background: #ffffff;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 12px;

			@include media-breakpoint-tab-port {
				width: 100%;
			}

			.ProgramAdvantagesRight {
				width: 100%;
			}

			h5 {
				font-weight: 800;
				font-size: fontSize(22);
				line-height: 48px;
				letter-spacing: -0.02em;
				color: #1a1c1f;

				@include media-breakpoint-tab-port {
					font-size: fontSize(22);
				}
			}

			p {
				font-family: "Lato";
				font-style: normal;
				font-weight: 400;
				font-size: fontSize(15);
				color: #4c565c;

				@include media-breakpoint-tab-port {
					font-size: fontSize(11);
					line-height: 18px;
				}
			}
		}
	}
}
