@import "../../../../../assets/scss/abstracts/abstracts";

.home-landing-insurance-layout{
    .homeInsure-faqHeader{
        color: $black;
    }
    .homeInsure-faqPara{
        color: $newLight-tw;
        width: 100%;
        max-width: 710px;
    }
    .tranparent-advantage-title {
        color: $black;
      }
      .tranparent-advantage-para {
        color: $black;
        width: 100%;
        max-width: 180px;
      }
}

.protect-HomeCard-Para{
    width: 100%;
    max-width: 390px;
    // padding-right: 18px;
}
