.careers_mobile_container {
  .career_banner {
    margin-top: 20px;
    position: relative;
    // box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;

    .banner_body {
      position: absolute;
      top: 32%;
      padding: 0px 44px;
      color: #ffffff;
      text-align: center;

      h6 {
        font-size: 28px;
        font-weight: 800;
      }

      label {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 0px;
        cursor: pointer;
        padding-left: 12px;
      }
    }

  }

  .innovation_part {
    padding: 0px 16px;

    h6 {
      font-weight: 800;
      font-size: 22px;
      color: #1a1c1f;
      margin-bottom: 14px;
    }

    p {
      font-weight: 400;
      font-size: 16px;

      color: #4c565c;
    }
  }

  .career_body {
    padding: 16px;

    img {
      width: 100%;
    }

    .career_body_card {
      position: relative;
      bottom: 26px;
      padding: 16px 16px;
      background: #ffffff;
      box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
      border-radius: 12px;
      margin-bottom: 24px;

      h6 {
        font-weight: 800;
        font-size: 24px;
        color: #679ab4;

        margin-bottom: 14px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: #4c565c;
      }

    }

    .card_body_space {
      padding: 16px;
    }
  }

  .careers_accessibility {
    background-image: url('../../../assets/images/mobile/contact_us_banner.svg');
    background-size: cover;
    height: 364px;
    margin: 16px;
    position: relative;

    span {
      font-weight: 800;
      font-size: 24px;
      color: #FFFFFF;
      position: absolute;
      top: 84px;
      padding-left: 16px;
    }

    .careers_body_container {
      position: relative;
      overflow: scroll;
      top: 210px;

      .career-parent {
        display: flex;
        padding-left: 18px;
        width: fit-content;
      }

      .career_box {
        background: #FFFFFF;
        box-shadow: 0px 7.96377px 15.9275px rgba(29, 37, 45, 0.1);
        border-radius: 8px;
        padding: 16px;
        margin: 0 12px 0 0;
        width: 193.5px;


        .career-title {
          font-weight: 800;
          font-size: 24px;
          color: #679AB4;
        }

        .career-des {
          font-weight: 400;
          font-size: 12px;
          color: #455560;
          margin-top: 16px;
        }
      }
    }

    .community_container {
      margin-top: 32px;
    }
  }
}

.mobile_sticky_bottom_menu {
  display: none;
}

// .career-parent {
//   overflow-y: scroll;
//   position: relative;
//   bottom: 138px;
//   display: flex;
//   left: 36px;

//   .career_box {
//     background: #FFFFFF;
//     box-shadow: 0px 7.96377px 15.9275px rgba(29, 37, 45, 0.1);
//     border-radius: 8px;
//     padding: 16px;
//     margin: 0 16px 0 0;
//     height: 125px;
//     width: 194px;

//     .career-title {
//       font-weight: 800;
//       font-size: 24px;
//       color: #679AB4;
//     }

//     .career-des {
//       font-weight: 400;
//       font-size: 16px;
//       color: #455560;
//       margin-top: 16px;
//     }
//   }
// }
