.faqContainer {
  .faqTitle {
    font-size: 40px;
    color: black;
  }

  .faqPara {
    color: #4c565c;
  }

  .reportAccordionQuestion {
    background-color: white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    padding: 0px 20px 0px 20px;

    .reportQuestion {
      color: black;
    }

    .reportAccordionAnswer {
      background-color: #f2f3f5;
      border-radius: 8px;
    }

    .addButton {
      background-color: transparent;
      border: none;
      padding: 0px;
    }

    .reportAccordionAnswer {
      background-color: #f2f3f5;
    }

    .accordionQuestion {
      text-align: start;
    }
  }
}

.accordion_additional {
  top: 0px !important
}