@import "../../../../assets/scss/abstracts/abstracts";

.roadAssistance-LandingContainer{
  #road-sub-home-container{
    padding: 65px 24px 65px 30px;
  }
  .road-assisstant-carBanner {
    position: absolute;
    top:-103px;
    right: -15px;
    width: 630px;
    height: 560px;
  }
  .benifitPrgressLine {
    width: 56%;
    background-color: $lightgrey-tw;
    padding: 1px;
    z-index: 9;
    position: absolute;
    top: 170px;
    left: 22%;
  }
}