@import "../../../../assets/scss/abstracts/abstracts";

.highlight-selector-card{
    background-color: $orange-tw;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    .highLight-diseaseName{
        color: $white;
    }
    .highLight-diseasePara{
        color: $white;
    }
}

.selector-card{
    background-color: transparent;
    border: 1px solid #D9DCE1;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    .normal-diseaseName{
        color: $black;
        width: 100%;
        max-width: 300px;
    }
    .normal-diseasePara{
        color: $newLight-tw;
        width: 100%;
        max-width: 500px;
    }
}