@import "../../../../assets/scss/abstracts/mixins.scss";

// styles for Tawuniya App Slide starts here
.tawuniyaAppMain {
	position: relative;
	.tawuniyaAppContainer {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		position: relative;
		z-index: 3;
		height: 70vh;

		.tawuniyaAppLeft {
			position: relative;
			height: 425px;
			width: 50%;
			display: flex;
			justify-content: center;

			img {
				top: 0%;
				position: absolute;
				width: auto;
				height: 530px;
				margin: auto 0;
			}
		}

		.tawuniyaAppRight {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 722px;
			margin-top: 70px;
			.tawuniyaArWm {
				width: 186px;
				height: 57px;
				margin-bottom: 20px;

				img {
					width: 100%;
				}
			}
			.tawuniyaArTextbox {
				margin-bottom: 40px;
				width: 597px;

				h5 {
					font-weight: 800;
					font-size: 48px;
					line-height: 110%;
					letter-spacing: -1px;
					color: #ffffff;
					margin-bottom: 20px;
				}
				p {
					font-weight: 800;
					font-size: 28px;
					line-height: 120%;
					letter-spacing: -0.02em;
					color: #ffffff;
				}
				span {
					font-weight: 400;
					font-size: 16px;
					line-height: 140%;
					color: #ffffff;
				}
			}

			.tawuniyaArBtnCont {
				font-weight: 800;
				font-size: 28px;
				line-height: 120%;
				letter-spacing: -0.02em;
				color: #ffffff;

				.tawuniyaArBtnGrp {
					width: 456px;
					display: flex;
					justify-content: space-between;
					img {
						height: 48px;
					}
				}
			}
		}
	}

	.tawuniyaAppPaper {
		left: 0;
		position: absolute;
		width: 100%;
		height: 600px;
		background-color: #6e9fbb;
	}
}
// styles for Tawuniya App Slide ends here

// styles for Tawuniya Drive Slide starts here
.tawuniyaDriveMain {
	position: relative;
	.tawuniyaDriveContainer {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		position: relative;
		z-index: 3;

		.tawuniyaDriveLeft {
			position: relative;
			height: 646px;
			width: 642px;

			img {
				top: 6%;
				position: absolute;
				width: auto;
				height: 570px;
			}
		}

		.tawuniyaDriveRight {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 753px;
			height: 501px;

			.tawuniyaDrHead {
				width: 722px;
				height: 126px;
				margin-bottom: 10px;

				h5 {
					font-weight: 800;
					font-size: 48px;
					line-height: 70px;
					letter-spacing: -1px;
					color: #4c565c;
					width: 722px;
					height: 70px;
					margin-bottom: 0;
				}

				p {
					font-family: "Lato";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					color: #4c565c;
					width: 597.66px;
					height: 44px;
				}
			}

			.tawuniyaDrFeatures {
				width: 519px;
				height: 153px;
				margin-bottom: 20px;

				p {
					font-weight: 800;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: -0.01em;
					color: #4c565c;
					margin-bottom: 30px;
				}

				.tawuniyaDrfetBox {
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					transform: translateX(-25px);

					.tawuniyaDrCurvLineA {
						transform: translateY(-15px);
					}

					.tawuniyaDrCurvLineB {
						transform: translateY(-30px);
					}

					.tawuniyarDrFetBoxItem {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: center;
						width: 124px;
						height: 101px;

						img {
							width: 56px;
							height: 56px;
							padding: 10px;
							border-radius: 100px;
							background-color: rgba(253, 241, 230, 0.6);
							box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
						}

						span {
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							text-align: center;
							color: #4c565c;
						}
					}
				}
			}

			.tawuniyaDrDnldBox {
				width: 440px;
				height: 131px;

				h5 {
					font-weight: 800;
					font-size: 28px;
					line-height: 34px;
					letter-spacing: -0.02em;
					color: #4c565c;
				}

				.tawuniyaDrDnldIcCon {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.tawuniyaDrBarcode {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						img {
							margin-bottom: 10px;
						}
					}

					.tawuniyaDrRestIcon {
						width: 100%;
						display: flex;
						justify-content: space-evenly;
						align-items: center;
						margin-bottom: 30px;

						.span {
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							color: #000000;
						}
					}
				}
			}
		}
	}

	.tawuniyaDrivePaper {
		top: 0%;
		left: 0;
		position: absolute;
		width: 100%;
		height: 621px;
		background-color: #ffffff;
	}
}
// styles for Tawuniya Drive Slide ends here

// styles for Tawuniya Drive Features Slide starts here
.tawuniyaFeaturesMain {
	position: relative;
	.tawuniyaFeaturesContainer {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		position: relative;
		z-index: 3;
		height: 70vh;

		.tawuniyaFeaturesLeft {
			position: relative;
			height: 100%;
			width: 50%;

			img {
				top: 8%;
				position: absolute;
				width: auto;
				left: 4%;
				height: 530px;
			}
		}

		.tawuniyaFeaturesRight {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			width: 608px;
			height: 460px;

			h5 {
				width: 541px;
				font-family: "Lato";
				font-style: normal;
				font-weight: 800;
				font-size: 48px;
				line-height: 70px;
				letter-spacing: -1px;
				color: #ffffff;
				margin-bottom: 20px;
			}

			.tawuniyaFrBox {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				margin-bottom: 30px;

				.tawuniyaFrBoxItem {
					width: 192px;
					height: 162px;
					border: 2px dashed #ffffff;
					border-radius: 12px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					span {
						font-weight: 800;
						font-size: 16px;
						line-height: 24px;
						margin-top: 10px;
						width: 80%;
						text-align: center;
						letter-spacing: -0.01em;
						color: #ffffff;
					}
				}
			}

			.tawuniyaFrDnld {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 296px;
				height: 83px;

				span {
					font-weight: 800;
					font-size: 20px;
					line-height: 24px;
					letter-spacing: -0.01em;
					color: #ffffff;
					margin-bottom: 10px;
				}

				.tawuniyaFrDnldBtn {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
				}
			}
		}
	}

	.tawuniyaFeaturesPaper {
		left: 0;
		position: absolute;
		width: 100%;
		height: 621px;
		background-color: #6e9fbb;
	}
}
// styles for Tawuniya Drive Features Slide ends here

@include media-breakpoint-med-desktop {
	.tawuniyaDriveMain {
		position: relative;
		.tawuniyaDriveContainer {
			.tawuniyaDriveRight {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				width: 600px;
				height: 520px;
			}
		}
	}
}
