.main_card_motor{


.maincard{
	border-radius: 5px !important;
	box-shadow: 0 0 1px 1px #fff;
	height: auto;
	border: none;

}
.motorptag{
    color: #455560;
}

.formbg {
    background: #f2f3f5;
    border-radius: 4px;
    width: 95%;
    height: auto;
}
.rowbg{
    background-color: #ffff;
    border-radius: 8px;
    margin-top: 20px;
}
.align_motortbtn{
  
    padding: 12px;
}
.btn_bg {
    background: #679AB4;
    border-radius: 4px;
    min-width: 145px;
    height: 36px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    border: none;
    padding: 8px 16px;
}
.btn_bg2 {
    background: #F2F3F5;
    color: black;
  
}


// --------end--------
}
