.serviceCardContainer {
	box-sizing: border-box;
	height: 750px;
	width: 750px;
	border: none;
	display: flex;
	border-radius: 20px;
	position: relative;
	margin-bottom: 30px;
	margin-top: 45px;
	font-family: "Lato", sans-serif;

	.serviceCardImgContainer {
		position: relative;
		z-index: 0;

		.serviceImgEl {
			position: absolute;
			height: 62%;
			width: 38rem;
			border-radius: 20px;
			z-index: 3;
			border: none;
		}

		.img {
			// background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
			// box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			backdrop-filter: blur(5px);
		}
	}

	.serviceImgBottomTrue {
		top: 450px;
	}
	.serviceDetailsContainer {
		position: absolute;
		width: 441px;
		font-family: "Lato";
		left: 40px;
		bottom: 420px;

		.serviceMainHeading {
			font-size: 40px;
			font-weight: 800;
			color: #ffffff;
			line-height: 48px;
			margin-bottom: 20px;
		}

		.serviceDescription {
			color: #ffffff;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			margin-bottom: 20px;
		}
		.serviceBtnContainer {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;

			.serviceImgCardButton1 {
				width: 112px;
				height: 54px;
				font-weight: 400;
				font-size: 16px;
				color: #ffffff;
				border-radius: 8px;
				padding: 0px 24px 0px 24px;
				background-color: #ee7500;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
				border: none;
				margin-right: 15px;
			}

			.serviceImgCardButton2 {
				width: 135px;
				height: 54px;
				font-weight: 400;
				font-size: 16px;
				color: #ffffff;
				border-radius: 8px;
				padding: 0px 24px 0px 24px;
				background-color: transparent;
				border: 3px solid #ffffff;
			}
		}
	}
}
