.emergency_parent {
    .bottom-fix {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #ffffff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .need_support_button {
            border: none;
            background-color: #ee7500;
            color: white;
            height: 50px;
            width: 300px;
            border-radius: 5px;
        }
    }

    .emergency_banner {
        position: relative;

        p {
            font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 49%;
    color: white;
    padding: 15px;

        }
        img{
            border-radius: 0px 0px 20px 20px;
        }

        .sub_Text {
            font-size: 28px;
    top: 60%;
    font-weight: 800;
        }

        .close_icon {
            position: absolute;
            right: 4%;
            top: 5%;
        }

    }

    .emergency_container {
        overflow: auto;

        .support_label {
            font-size: 20px;
    font-weight: 800;
    white-space: normal;
    width: 100%;
    margin-bottom: 10px;
    color: #1A1C1F;
    padding-left: 16px;
    padding: 0px 16px;
    margin-top: 5px;
        }

        .motorcard-design {
            border: 1px solid whitesmoke;
            
            transition: 0.6s ease;
            border-radius: 8px;
            background-color: white;
            line-height: 1;
            
            display: inline-block;
            height: auto;
            padding: 0px 5px 0px 5px;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        
            margin-left: 13px;
            width: 173px;
            height: 110px;

            h6{
                font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    
    padding-top: 14px;
    font-weight: 800;
    font-size: 16px;
    color: #455560;
            }
        }
    }
    .emergency_still_need{
        font-weight: 800;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: #1A1C1F;
    bottom: 62px;
    position: relative;
    padding-left: 16px;
    }
    .emergency_support_request{
        position: relative;
        bottom: 9ch;
        
    }
}

.bottom_space {
    margin-bottom: 80px;
}

.scrollcards {
    overflow: auto;
    white-space: pre;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.mobile_sticky_bottom_menu {
    display: none;
    
}