.welcome-tab {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	width: 100%;
	height: 370px;
	background-repeat: no-repeat;
	background-size: cover !important;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../../../assets//images/MediaCenterImgCard1.png");

	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 20px;
	background-position: 0% 45%;
	padding: 40px 60px;

	.welcome-tab-text {
		width: 70%;

		.welcome-tab-title {
			// font-family: "Bliss 2";
			// font-style: normal;
			font-weight: 800;
			font-size: 18px;
			line-height: 34px;
			letter-spacing: -0.02em;
			color: #ffffff;
		}
		.welcome-tab-title2 {
			// font-family: "Bliss 2";
			// font-style: normal;
			font-weight: 800;
			font-size: 48px;
			line-height: 70px;
			letter-spacing: -0.03em;
			color: #ffffff;

			span {
				color: #f47b20;
			}
		}
		.welcome-tab-subtitle {
			// font-family: "Bliss 2";
			// font-style: normal;
			font-weight: 800;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.01em;
			color: #ffffff;
		}
		.welcome-tab-para {
			display: flex;

			p {
				// font-family: "Bliss 2";
				// font-style: normal;
				font-weight: 400;
				font-size: 12px;
				margin-top: 20px;
				line-height: 25px;
				color: #ffffff;
				padding-right: 25px;

				&:not(:nth-child(1)) {
					margin-left: 20px;
				}
			}
		}
	}

	.welcome-tab-tickerstatic {
		transform: translateY(20%);
	}
}

.welcome-tab-financialcalender {
	margin-top: 40px;
	height: fit-content;
}

.welcome-tab-subscriptioncenter {
	margin-top: 20px;
	height: fit-content;

	h5 {
		font-weight: 800;
		font-size: 28px;
		line-height: 34px;
		text-align: center;
		letter-spacing: -0.02em;
		color: #1a1c1f;
		margin-bottom: 20px;
	}
}
