@import "../../../../assets/scss/abstracts/abstracts";

.medicDetail-mainContainer {
  background-color: $lightgrey-tw;
  padding: 7px;
  border-radius: 12px;
  .medicDetail-container {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    .disease-type, .medicine-name, .quantity-level{
        color: $newLight-tw;
    }
    .date-time-container{
        background-color: #F0F5F8;
        padding: 0px 8px 3px 8px;
        border-radius: 100px;
        .timeline-text{
            color: $primary-tw;
        }
    }
  }
}
