@import "../../../assets/scss/abstracts/abstracts";

.road-sideBar {
	width: 100%;
	// max-width: 75px;
	height: 100%;
	min-height: 100vh;
	background-color: $white;
	border-radius: 0px 0px 25px 0px;
	.logo-sidebar-container {
		background-color: $orange-tw;
		border-radius: 0px 0px 25px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		.sidebarLogo {
			position: absolute;
			cursor: pointer;
		}
		.content-sidebar-container {
			height: 75px;
			.road-sidebarIcons {
				width: 30px;
				height: 30px;
				cursor: pointer;
			}
		}
	}
	.settingIcon {
		position: absolute;
		bottom: 25px;
		cursor: pointer;
	}
}
