@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";
.loyalityprograms-menu-list {
    display: flex;
    align-items: flex-start;
    .details-menu {
        position: relative;
        z-index: 1;
        padding: 20px 15px;
        margin-left: 20px;
        flex: 0 0 calc(33.3333% - 20px);
        min-height: 38vw;
        // min-height: 650px;
        display: flex;
        .bg-image {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 12px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top center;
            }
        }
        .img-content {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
            .content-logo {
                img {
                    max-width: 100%;
                }
            }
            .text-content {
                margin-top: auto;
                color: $white;
                p {
                    font-weight: 800;
                    font-size: fontSize(24);
                    margin-bottom: 10px;
                    line-height: 120%;
                    @include media-breakpoint-tab-port {
                        font-size: fontSize(18);
                    }
                }
                a {
                    color: inherit;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    font-weight: 800;
                    font-size: fontSize(16);
                    color: $white;
                    @include media-breakpoint-tab-port {
                        font-size: fontSize(13);
                    }
                    span {
                        margin-right: 10px;
                        background: $white;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50px;
                        height: 30px;
                        @include media-breakpoint-tab-port {

                        }
                        img {
                            width: 14px;
                        }
                    }
                }
            }
        }
    }
}

.language-alignment-right {
    .loyalityprograms-menu-list {
        .details-menu {
            .img-content {
                .text-content {
                    a {
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                        span {
                            transform: scaleX(-1);
                        }
                    }
                }
            }
        }
    }
}