.mobile_insurance_cover {
    padding: 16px;
    margin-bottom: 12px;
    height: 114px;
    background: #1A1C1F;
    border-radius: 8px;

    .cover_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
            display: flex;
            align-items: center;
            font-weight: 800;
            color: #FFFFFF;
            margin-bottom: 0px;

            span {
                color: #F47B20;
                margin-left: 4px;
            }
        }
    }

    .cover_body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            margin-bottom: 0px;
        }

        button {
            width: 73px;
            height: 32px;
            background: #F47B20;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            font-size: 12px;
            color: #FFFFFF;
        }
    }
}


@media screen and (min-device-width:320px) and (max-device-width:360px) {
    .mobile_insurance_cover {
        .cover_body {
            p {
                font-size: 12px;
            }
        }
    }
}