.new_policy_card_container {
    border-radius: 8px;
    background-image: url("../../../../../assets/images/mobile/new_policy_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5px 20px;
    color: white;
    text-transform: uppercase;

    .card_header_section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .health_title {
            display: flex;
            align-items: center;

            label {
                font-weight: 700;
                font-size: 12px;
                margin-left: 10px;
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .new_policy_card_container {
        display: none;
    }
}