@import "../../../assets/scss/abstracts/mixins.scss";

.positionTravel{
    position: absolute;
    bottom: 70px;
}

@include media-breakpoint-med-desktop{
    .positionTravel{
        position: absolute;
        bottom: 80px;
    }
}

@include media-breakpoint-tab-land{
    .positionTravel{
        position: absolute;
        bottom: 70px;
    }
}
