.cookie_conditions{
 margin-top: 20px;
 right: 1px;
 box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
border-radius: 12px;
}

.Cookiepolicy_heading{
font-size: 28px;
font-weight: 800;
margin-top: 24px;
}
.Conditions_Start{
font-size: 16px;
font-weight: 400;
margin-top: 25px;
color: #455560;
}

.Conditions_next{
font-size: 16px;
font-weight: 400;
color: #455560;
margin-top: 16px;
}

.Cookiepolicy_collection{
font-size: 20px;
font-weight: 800;
}
.Cookiepolicy_AdditionalInformation{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}
.Cookiepolicy_personalInformation{
font-size: 20px;
font-weight: 800;
}
.Cookiepolicy_moreffective{
margin-top: 16px;
font-size: 16px;
font-weight: 400;
color: #455560;
}

.Cookiepolicy_shareInformation{
font-size: 20px;
font-weight: 800;
}
.Cookiepolicy_Expect{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}
.Cookiepolicy_Accessing{
font-size: 20px;
font-weight: 800;
margin-top: 16px;
}

.Cookiepolicy_ability{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Cookiepolicy_communication{
font-size: 20px;
font-weight: 800;
}
.Cookiepolicy_promotional{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Cookiepolicy_securitypersonal{
font-size: 20px;
font-weight: 800;
}

.Cookiepolicy_securityprotocol{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}
.Cookiepolicy_securitycookies{
font-size: 20px;
font-weight: 800;
}
.Cookiepolicy_web{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}
.Cookiepolicy_privacystatement{
font-size: 20px;
font-weight: 800;
}

.Cookiepolicy_firstcontact{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}

.Cookiepolicy_changesprivacy{
font-size: 20px;
font-weight: 800;
}

.Cookiepolicy_reflect{
font-size: 16px;
font-weight: 400;
margin-top: 16px;
color: #455560;
}
.cookie_secondconditions{
    margin-top: 35px;
    padding-top: 10px;
    right: 1px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
}


.k{
    height: 20vh;
}