@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.app-advert-container {
	position: relative;
	background: linear-gradient(
		106.91deg,
		#679ab4 43.11%,
		rgba(103, 154, 180, 0) 105.87%
	);
	border-radius: 20px;
	padding: 50px 0px 100px 90px;
	width: 100%;

	.app-advert-left {
		width: 40%;

		.app-advert-download-container {
			.app-advert-text {
				width: 90%;
				margin-top: 50px;
				h2 {
					font-family: "Bliss 2";
					font-style: normal;
					font-weight: 800;
					font-size: fontSize(28);
					letter-spacing: -0.02em;
					color: #ffffff;
					margin-bottom: 0;
				}

				p {
					font-family: "Bliss 2";
					font-style: normal;
					font-weight: 400;
					font-size: fontSize(15);
					line-height: 22px;
					color: #ffffff;
				}
			}

			.app-advert-download {
				margin-top: 35px;
				p {
					font-family: "Bliss 2";
					font-style: normal;
					font-weight: 800;
					font-size: 16px;
					line-height: 19px;
					color: #ffffff;
					margin-bottom: 8px;
				}

				.app-advert-download-btn-container {
					width: 85%;

					.app-advert-download-btn {
						height: 45px;
					}
				}
			}

			.app-advert-support-text {
				margin-top: 35px;

				h5 {
					font-family: "Bliss 2";
					font-style: normal;
					font-weight: 800;
					font-size: fontSize(20);
					line-height: 24px;
					letter-spacing: -0.01em;
					color: #ffffff;
				}

				p {
					font-family: "Bliss 2";
					font-style: normal;
					font-weight: 400;
					font-size: fontSize(16);
					line-height: 22px;
					color: #ffffff;
				}
			}
		}
	}

	.app-advert-right {
		position: relative;
		width: 55%;
		z-index: 2;

		.app-advert-fitness-card {
			padding: 40px 20px 20px 20px;
			width: 14.638rem;
			height: 8.661rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			.img {
				height: 40px;
			}

			h5 {
				font-family: "Lato";
				font-style: normal;
				font-weight: 600;
				font-size: 15.2438px;
				line-height: 17px;
				color: #ffffff;
			}

			.advert-fitness-card-btn {
				img {
					height: 25px;
					width: auto;
				}

				span {
					font-family: "Lato";
					font-style: normal;
					font-weight: 600;
					font-size: 11px;
					line-height: 11px;
					color: #ffffff;
				}
			}
		}

		.advert-right-servicecard-lft,
		.advert-right-servicecard-right {
			display: flex;
			flex-direction: column;
			background-color: #ffffff;
			position: absolute;
		}

		.advert-card-hand {
			position: absolute;
			top: -135px;
			right: 48px;
			img {
				height: 45rem;
			}
		}
	}

	.motor-BannerCard-container-one {
		position: absolute;
		right: 58%;
		top: 40%;
		z-index: 3;
		.motor-Banner-Card-one {
			width: 100%;
			min-width: 100px;
			background-color: $white;
			padding: 13px 20px 13px 13px;
			box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
			border-radius: 8px;
			.motorBanner-card-Title-one {
				color: $newLight-tw;
				width: 100%;
				max-width: 60px;
			}
		}
	}

	.motor-BannerCard-container-two {
		position: absolute;
		right: 65%;
		top: 72%;
		z-index: 3;
		.motor-Banner-Card-two {
			width: 100%;
			min-width: 100px;
			background-color: $white;
			padding: 13px 20px 13px 13px;
			box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
			border-radius: 8px;
			.motorBanner-card-Title-two {
				color: $newLight-tw;
				width: 100%;
				max-width: 60px;
			}
		}
	}

	.motor-BannerCard-container-three {
		position: absolute;
		right: 5%;
		bottom: 75%;
		z-index: 3;
		.motor-Banner-Card-three {
			width: 100%;
			min-width: 100px;
			background-color: $white;
			padding: 13px 20px 13px 13px;
			box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
			border-radius: 8px;
			.motorBanner-card-Title-three {
				color: $newLight-tw;
				width: 100%;
				max-width: 60px;
			}
		}
	}

	.motor-BannerCard-container-four {
		position: absolute;
		right: -2%;
		bottom: 43%;
		z-index: 3;
		.motor-Banner-Card-four {
			width: 100%;
			min-width: 100px;
			background-color: $white;
			padding: 13px 20px 13px 13px;
			box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
			border-radius: 8px;
			.motorBanner-card-Title-four {
				color: $newLight-tw;
				width: 100%;
				max-width: 60px;
			}
		}
	}

	.appAdvertTopLogo {
		position: absolute;
		z-index: 1;
		right: 1%;
		top: 0;
		height: 168px;
	}
	.appAdvertBtmLogo {
		position: absolute;
		z-index: 1;
		right: 30%;
		height: 18rem;
		top: 55%;
	}
}

#motorReportCard {
	width: 100%;
	max-width: 950px;
	z-index: 2;
	transform: translate(7%, -40%);
	@include media-breakpoint-med-desktop{
		transform: translate(8%, -40%);
		max-width: 800px;
	}
}
