.announcements.announcements_mobile {
	h5 {
		margin-top: 24px;
		margin-bottom: 12px;
		font-weight: 800;
		font-size: 28px;
	}

	padding: 0px 16px;
}

.announcements {
	h5 {
		margin-top: 30px;
		margin-bottom: 20px;
		font-weight: 800;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.02em;
		color: #1a1c1f;
	}
}