.pc_insurance_container {
  .pc_engineer {
    display: flex;
    margin-top: 24px;
    margin-left: 16px;
    img {
      margin-right: 14px;
      height: 37px;
      width: 40px;
    }
    .pc_contract {
    }
    font-weight: 800;
    font-size: 24px;
    color: #1a1c1f;
  }
  .line {
    border-bottom: 1px solid #1a1c1f;
    opacity: 10%;
    width: 358px;
    margin-left: 16px;
    margin-top: 16px;
  }
  .pa_para {
    margin-top: 16px;
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #455560;
  }
  .pc_white {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 32px;
    .pc_box {
      width: 44%;
      margin: 3%;
      border-radius: 8px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      img {
        margin-top: 16px;
        margin-left: 16px;
      }
      .pc_data {
        margin-top: 16px;
        margin-left: 16px;
        font-weight: 800;
        font-size: 16px;
        color: #1a1c1f;
        width: 139px;
      }
    }
  }
  .pc_key {
    label {
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      justify-content: center;
      display: flex;
      color: #1a1c1f;
      margin-top: 32px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #455560;
      padding: 2px;
    }
  }
  .pc_keybenefits {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    margin-left: 16px;
    margin-bottom: 12px;
    margin-right: 16px;
    img {
      margin-top: 12px;
      margin-left: 14px;
      margin-right: 14px;
    }
    label {
      font-weight: 800;
      font-size: 16px;
      color: #1a1c1f;
    }
  }
  .pc_protect {
    label {
      font-weight: 800;
      font-size: 24px;
      text-align: center;
      color: #1a1c1f;
      width: 358px;
      height: 87px;
      margin-top: 32px;
      margin-left: 16px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      margin-top: 4px;
      color: #455560;
      height: 66px;
    }
  }
  .pc_insurance {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    .pc_health {
      height: 258px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      margin-left: 16px;
      img {
        margin-left: 17px;
        margin-top: 16px;
      }
      label {
        margin-top: 12px;
        font-weight: 800;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #1a1c1f;
        margin-left: 16px;
      }
      p {
        width: 231px;
        margin-top: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #1a1c1f;
        margin-left: 16px;
        height: 120px;
      }
    }
  }
  .pc_ques {
    label {
        font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #1a1c1f;
    margin-top: 32px;
    width: 287px;
    margin-left: 14%;      
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #455560;
    }
  }
  .my_faq {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 48px;
  }
  .pc_button_white{
    position: fixed;
    bottom: 0px;
    width: 390px;
    height: 102px;
    background: #FFFFFF;
    box-shadow: 0px -8px 49px rgba(9, 30, 66, 0.15);
    border-radius: 12px 12px 0px 0px;
    width: 100%;
  
  .pc_button{
    background: #F47B20;
    border-radius: 8px;
    border: navajowhite;
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
    margin: 0 auto; 
    width: 92%;
    padding: 19px;
  }
}
}
