.motor_service_container {
    .motor_service_header {
        padding: 0px 20px;

        .select-section {
            position: relative;
            top: -32px;
            height: 45px;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 4px;
            z-index: 10;

            .bannerSelectInput {
                
                .Select__control {
                    height: 47px;

                    .Select__value-container .Select__placeholder {
                        font-weight: 400;
                        font-size: 16px;
                        color: #9AA2AF;
                    }
                }
            }
        }

    }

    .google_map_body {
        position: relative;
        top: -58px;
    }

    .select_service_card {
        background: #FFFFFF;
        // box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
        border-radius: 13px 13px 0px 0px;
        padding: 10px 0px 20px 0px;
        position: fixed;
        bottom: 0;
        width: 100%;
        // height: 46vh;
     
      
      
        width: 100%;
        color: white;
       
       

        h5 {
            font-weight: 900;
            font-size: 16px;
            color: #4C565C;
            margin: 16px 0px 8px 18px;
        }

        .address_location {
            text-align: initial;
            padding: 23px 0px 0px 23px;

            h4 {
                font-weight: 900;
                font-size: 16px;
                color: #4C565C;
            }

            p {
                color: #4C565C;
                font-weight: 400;
                font-size: 16px;
            }
        }

        .service_card_container {
            overflow-y: scroll;
            white-space: pre;

            .service_card_body {
                display: inline-block;

                height: 122px;
                padding: 24px;
                width: 136px;
                text-align: center;
                margin-right: 12px;

                border: 1px solid #D9DCE1;
                border-radius: 8px;

                h6 {
                    font-weight: 800;
                    font-size: 14px;
                    margin-top: 24px;
                    color: #1A1C1F;
                    ;
                }
            }

            .service_card_body_active {
                background: #EE7500;
                border: none;

                h6 {
                    color: white;
                }
            }


        }

        .bottom_button_submit {
            padding-bottom: 30px;
            background: white;
        }
    }
}

.mobile_sticky_bottom_menu {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.align_sticky{
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100%;
    color: white;
    // text-align: center;
    z-index: 99;
  }
  .card {
    border-radius: 12px;
    border: none;
    box-shadow: 0px 4px 10px #091e420f;
  }
  .report_button {
    button {
      background-color: #f47b20;
      color: white;
      border: hidden;
      height: 54px;
      border-radius: 8px;
      margin: 16px 0px 32px;
    }
  }
  
  .map_img{
    width: 100%;
  }