@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.footerLayout {
  background-color: $lightgrey-tw;
  .commonFooterContainer {
    background-color: $lightgrey-tw;
    padding: 0px 40px 170px 40px;
    .tawuniyaTitle {
      font-size: 38px;
      font-weight: 800;
      color: $black;
    }
    .tawuniyaSubTitle {
      font-size: 38px;
      font-weight: 800;
      color: rgba(179, 185, 195, 1);
    }
    #animatedFooterText:after {
      content: "";
      animation: fadeIn 8s linear;
      animation-iteration-count: infinite;
    }
    .tawuniyaPara {
      font-size: 18px;
      font-weight: 400;
      color: rgba(76, 86, 92, 1);
    }
  }
  .cardFooterPosition {
    position: relative;
    width: 100%;
    bottom: 250px;
    .commonCardFooterContainer {
      padding: 80px 50px 50px 50px;
      position: absolute;
      z-index: 10;
      top: 0px;
    }
  }

  .curvedFooterContainer {
    background-color: rgba(154, 162, 175, 1);
    border-radius: 70px 0px 0px 0px;
    padding: 200px 50px 50px 50px;
    .unionCircle {
      position: absolute;
      top: 0px;
      right: 0%;
      width: 47.5rem;
      height: auto;
      @include media-breakpoint-tab-port {
        width: 34.8rem;
      }
      @include media-breakpoint-hd-desktop {
        width: 49.7rem;
      }
      @include media-breakpoint-full-hd-desktop {
        width: 56.7rem;
      }
    }
    #alignFooterContent {
      position: relative;
      bottom: 27px;
    }
    .footerBoxContainer {
      @include media-breakpoint-full-hd-desktop {
        padding-right: 5rem !important;
      }

      .footerHeading,
      .footerNextHeading {
        color: rgba(255, 255, 255, 1);
        font-weight: 500px;
      }
    }

    .footerContentText,
    .footerNextContentText {
      cursor: pointer;
      color: rgba(255, 255, 255, 1);
      font-size: 12px;

      @include media-breakpoint-full-hd-desktop {
        font-size: 16px;
      }
    }
    .footerIconContainer {
      position: absolute;
      right: 0px;
      .footerSocialIcon {
        cursor: pointer;
        width: 40px;
        height: 40px;
      }
    }
  }
  .footerLastContainer {
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 50px 50px 50px;
    .footerContentBox {
      .footerButtonPositon {
        position: relative;
        bottom: 65px;
        width: 100%;
        .footerButtonContainer {
          position: absolute;
          top: 0px;
          .backTopButton {
            background-color: rgba(238, 117, 0, 1);
            color: $white;
            padding: 8px;
            font-size: 12px;
            font-weight: 400;
            border-radius: 100px;
            width: 100%;
            max-width: 120px;
            z-index: 10;
          }
        }
      }
      .footerBottomLeftSpacing {
        padding-bottom: 20px;
        .copyrightText {
          transform: translateY(5px);
          color: rgba(76, 86, 92, 1);
          .footerLogo {
            width: 40px;
            height: 40px;
          }
        }
      }
      .footerBottomRightSpacing {
        padding-bottom: 20px;
        .footerPositionIcons {
          transform: translateX(0px);
        }
      }
      .footerLining {
        border-bottom: 1px solid $lightgrey-tw;
      }
    }
    .footerLining {
      background-color: rgba(26, 28, 31, 0.1);
      padding: 0.3px;
    }
    .footerInlineText {
      color: rgba(76, 86, 92, 1);
    }
  }
}
.language-alignment-right {
  .footerLayout {
    // direction: ltr;
    // text-align: left;
    .commonFooterContainer {
      .tawuniyaTitle {
        span {
          display: inline-block;
        }
      }
    }
    .commonCardFooterContainer {
      .footerOrangeArrow {
        transform: rotate(180deg);
        margin-right: 10px;
      }
    }
    .curvedFooterContainer {
      .footerContentText, 
      .footerNextContentText {
        img {
          transform: rotate(180deg);
        }
      }
    }
    .footerLastContainer {
      .footerContentBox {
        .footerButtonPositon {
          .footerButtonContainer {
            .backTopButton {
              .pl-lg-2 {
                padding-left: 0 !important;
                padding-right: 0.5rem;
              }
            }
          }
        }
        .footerBottomLeftSpacing {
          .copyrightText {
            .footerLogo {
              padding-right: 0 !important;
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-med-desktop {
  .footerLayout {
    .curvedFooterContainer {
      #alignFooterContent {
        position: relative;
        bottom: 29px;
      }
      .footerHeading,
      .footerNextHeading {
        font-size: 16px;
      }
      .footerContentText,
      .footerNextContentText {
        font-size: 12px;
      }
    }
    .footerLastContainer {
      .footerContentBox {
        .copyrightText {
          font-size: 14px;
        }
        .footerPositionIcons {
          transform: translateX(0);
        }
      }
      .footerInlineText {
        font-size: 10px;
      }
    }
  }
}

@include media-breakpoint-tab-land {
  .footerLayout {
    .commonFooterContainer {
      padding: 0px 25px 170px 25px;
      .tawuniyaTitle {
        font-size: 38px;
      }
      .tawuniyaSubTitle {
        font-size: 38px;
      }
      .tawuniyaPara {
        font-size: 18px;
      }
    }
    .cardFooterPosition {
      .commonCardFooterContainer {
        padding: 80px 30px 50px 30px;
      }
    }
    .curvedFooterContainer {
      padding: 170px 30px 50px 30px;
      #alignFooterContent {
        position: relative;
        bottom: 20px;
        left: 1%;
      }
      .footerHeading,
      .footerNextHeading {
        font-size: 10px;
      }
      .footerContentText,
      .footerNextContentText {
        font-size: 9px;
      }
      .followUsText {
        font-size: 10px;
      }
    }
    .footerLastContainer {
      padding: 40px 30px 50px 30px;
      .footerContentBox {
        .footerBottomLeftSpacing {
          padding-bottom: 0px;
          .copyrightText {
            font-size: 10px;
            .footerLogo {
              width: 40px;
              height: 40px;
            }
          }
        }
        .footerBottomRightSpacing {
          padding-bottom: 0px;
          .footerPositionIcons {
            transform: translateX(0);
          }
        }
      }
      .footerInlineText {
        font-size: 8px;
      }
    }
  }
}

@include media-breakpoint-tab-port-med-only {
  .footerLayout {
    .commonFooterContainer {
      padding: 80px 30px 170px 30px;
      .tawuniyaTitle {
        font-size: 38px;
      }
      .tawuniyaSubTitle {
        font-size: 38px;
      }
      .tawuniyaPara {
        font-size: 18px;
      }
    }
    .cardFooterPosition {
      .commonCardFooterContainer {
        padding: 80px 30px 50px 30px;
      }
    }
    .curvedFooterContainer {
      padding: 170px 30px 90px 30px;
      .footerHeading,
      .footerNextHeading {
        font-size: 13px;
      }
      .footerContentText,
      .footerNextContentText {
        font-size: 9px;
      }
      .followUsText {
        font-size: 10px;
      }
      .footerIconContainer {
        position: absolute;
        left: 20px;
      }
    }
    .footerLastContainer {
      padding: 40px 30px 50px 30px;
      .footerContentBox {
        .copyrightText {
          font-size: 10px;
          .footerLogo {
            width: 40px;
            height: 40px;
          }
        }
      }
      .footerInlineText {
        font-size: 10px;
      }
    }
  }
}
