@import "../../../../assets/scss/abstracts/abstracts";

.expenseInputContainer{
    .expenseInputTwo{
        background-color: $white;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 4px 0px 0px 4px;
        border: none;
    }
    .subExpenseInputLayerTwo{
        background-color: $lightgrey-tw;
        padding: 10px;
        height: 100%;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 0px 4px 4px 0px;
        .subExpenseBoxTwoText{
            color: $newLight-tw;
        }
    }



    .expenseInputOne{
        background-color: $white;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 4px 0px 0px 4px;
        border: none;
    }
    .subExpenseInputLayerOne{
        background-color: $lightgrey-tw;
        padding: 10px;
        height: 100%;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 0px 4px 4px 0px;
        .subExpenseBoxOneText{
            color: $newLight-tw;
        }
    }
}