@import "../../../../assets/scss/abstracts/abstracts";

.home-insurance-landing-conatiner {
	.home-tawuniya-card-header {
		color: $black;
		line-height: 40px;
		width: 100%;
		max-width: 700px;
	}
	.home-tawuniya-card-para {
		color: $newLight-tw;
		width: 100%;
		max-width: 720px;
	}
}
.advantageProgramContainer {
	.transparent-advantage-card {
		background-color: transparent;
		border: 1px solid rgba(26, 28, 31, 0.1);
		border-radius: 12px;
		padding: 18px 0px 18px 18px;
		height: 100%;
		.tranparent-advantage-icon {
			width: 45px;
			height: 45px;
		}
	}
	.light-advantage-card {
		background-color: $white;
		border: none;
		border-radius: 12px;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		padding: 18px 0px 18px 18px;
		height: 100%;
		.light-advantage-icon {
			width: 45px;
			height: 45px;
		}
		.light-advantage-title {
			color: $black;
		}
		.light-advantage-para {
			color: $black;
			// width: 100%;
			// max-width: 180px;
		}

		.learnMoreContainer {
			position: absolute;
			bottom: 20px;
		}
	}
}

.advantage-division-layout {
	width: 20%;
	.advantage-division-conatiner {
		background-color: $white;
		border: none;
		border-radius: 12px;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		padding: 18px 0px 18px 18px;
		height: 100%;
	}
}

.advantage-flex-card-layout {
	.transparent-advantage-flex-card-box {
		background-color: transparent;
		border: 1px solid rgba(26, 28, 31, 0.1);
		border-radius: 12px;
		height: 100%;
		.advantageFlexIcon {
			width: 25px;
			height: 25px;
		}
	}
}

.advantage-flex-card-layout {
	.light-advantage-flex-card-box {
		background-color: $white;
		border: none;
		border-radius: 12px;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		height: 100%;
		.advantageFlexIcon {
			width: 25px;
			height: 25px;
		}
	}
}
