.mobile_medical_malpractice_container {
  .medical_image {
    margin-top: 24px;
    position: relative;

    img {
      width: 100%;
      padding: 0px 8px;
    }

    .medical_image_content {
      color: #ffffff;
      top: 20%;
      position: absolute;
      padding: 0px 32px;

      h5 {
        font-weight: 800;
        font-size: 22px;
      }

      h6 {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
      }

      .medical_white_box {
        height: 294px;
        background: #ffffff;
        box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
        border-radius: 12px;

        h4 {
          font-weight: 800;
          font-size: 14px;
          padding-top: 18px;
          color: #1a1c1f;
        }

        input {
          border: none;
        }

        ::placeholder {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: #455560;
          opacity: 0.5;
        }

        .medical_hrline {
          height: 0px;
          opacity: 0.1;
          border: 1px solid #1a1c1f;
          background-color: #1a1c1f;
        }

        button {
          width: 87%;
          height: 54px;
          font-weight: 400;
          font-size: 16px;
          line-height: 16px;

          color: #ffffff;

          margin: 0 auto;

          background: #f47b20;
          padding: 0px 16px;
          border-radius: 8px;
          border: none;
          justify-content: center;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  h1 {
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin-top: 24px;
    color: #1a1c1f;
    margin-bottom: 12px;
  }

  .medical_malpractice_policy {
    margin: 0px 16px;
  }

  .medical_personal {
    h2 {
      font-weight: 800;
      font-size: 24px;
      padding: 0px 16px;
      margin-top: 32px;
      color: #1a1c1f;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      margin-top: 8px;
      padding: 0px 16px;

      color: #455560;
    }
  }

  .medical_person_slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 5px;
    margin-top: 16px;

    .medical_person_card {
      border: 1px solid #d9dce1;
      border-radius: 8px;

      width: 100%;
      margin-left: 11px;

      img {
        padding-left: 16px;
        padding-top: 16px;
      }

      h5 {
        font-weight: 800;
        font-size: 16px;
        width: 239px;
        color: #1a1c1f;
        padding: 0px 16px;
        margin-top: 8px;
      }

      p {
        font-weight: 400;
        font-size: 12px;
        color: #1a1c1f;
        width: 238px;
        padding: 0px 3px;
        padding: 0px 16px;
      }
    }
  }

  h2 {
    font-weight: 800;
    font-size: 24px;
    padding: 0px 16px;
    margin-top: 32px;
    color: #1a1c1f;
  }

  .medical_program_cover {
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    width: 93%;
    margin: 0 16px;
    background: #ffffff;

    border-radius: 8px;
    height: auto;
    height: auto;
    margin-top: 16px;

    h5 {
      font-weight: 800;
      font-size: 16px;
      padding: 0px 16px;
      padding-top: 16px;
      color: #1a1c1f;
    }

    p {
      font-weight: 400;
      font-size: 12px;

      padding-top: 12px;

      padding: 0px 16px;
      color: #455560;
    }

    .program_para {
      padding-top: 10px;
      padding-bottom: 16px;
    }
  }

  .medical_the_value {
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    width: 93%;
    margin: 0 16px;
    background: #ffffff;
    border-radius: 8px;
    height: auto;
    height: 234px;
    margin-top: 12px;

    h5 {
      font-weight: 800;
      font-size: 16px;
      padding: 0px 16px;
      padding-top: 16px;
      color: #1a1c1f;
    }

    p {
      font-weight: 400;
      font-size: 12px;

      padding-top: 12px;

      padding: 0px 16px;
      color: #455560;
    }
  }

  .medical_key_benefits {
    h5 {
      font-weight: 800;
      font-size: 24px;
      padding: 0px 16px;
      margin-top: 32px;
      color: #1a1c1f;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      padding: 0px 16px;
      margin-top: 4px;
      color: #455560;
    }

    .medical_benefits_card {
      margin-top: 16px;

      .medical_benefits_content {
        height: auto;
        width: 93%;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 8px;
        margin-top: 12px;

        .tick_circle {
          width: 32px;
          height: 32px;

          padding: 2px 10px;
          margin-left: 16px;
          margin-top: 12px;

          background: #f2f3f5;
          border-radius: 100px;
        }

        p {
          font-weight: 800;
          font-size: 14px;
          margin-top: 12px;

          color: #1a1c1f;
        }
      }
    }
  }

  h3 {
    font-weight: 800;
    font-size: 20px;
    padding: 0px 16px;
    margin-top: 32px;
    color: #1a1c1f;
  }

  .medical_malpractice_questions {
    margin-top: 32px;

    h5 {
      font-weight: 800;
      font-size: 24px;
      padding: 0px 16px;

      color: #1a1c1f;
    }

    p {
      margin-top: 8px;
      padding: 0px 16px;
      font-weight: 400;
      font-size: 16px;
      color: #455560;
    }

    .medical_questions {
      margin: 16px;
    }
  }

  .medical_mal_view {
    padding: 0px 16px;
    margin-top: 20px;

    h5 {
      font-weight: 800;
      font-size: 16px;
      line-height: 16px;

      color: #1a1c1f;
    }

    img {
      width: 12px;
      height: 12.01px;
      margin: 4px 18px;
    }
  }

  .medical_claim {
    margin: 0px 16px;
  }

  h4 {
    font-weight: 800;
    font-size: 24px;
    margin-top: 32px;
    padding: 0px 16px;

    color: #1a1c1f;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
    padding: 0px 16px;

    color: #455560;
  }
}

@media screen and (min-width:320px) and (max-width:360px) {
  .mobile_medical_malpractice_container {
    .medical_image {
      .medical_image_content {
        h5 {
          font-size: 20px;
        }

        h6 {}

        p {}
      }
    }
  }

}