@import "../../../assets/scss/abstracts/abstracts";

.dateIconBox {
  position: relative;
  left: 20px;
  .dateIcon {
    position: absolute;
    z-index: 3;
  }
}
.selectIconBox {
  position: relative;
  .selectIcon {
    position: absolute;
    right: 17px;
    z-index: 3;
  }
}



.dateIconBoxRight {
  position: relative;
  left: 20px;
  .dateIconRight {
    position: absolute;
    right: 10%;
    z-index: 3;
  }
}
.selectIconBoxRight {
  position: relative;
  .selectIconRight {
    position: absolute;
    left: 5%;
    z-index: 3;
  }
}

.loginDatePicker {
  background-color: $white;
  border: none;
  border-radius: 5px;
  width: 100%;
  &::placeholder {
    color: #9aa2af;
    font-weight: 400;
    font-size: 16px;
  }
}

#loginDatePicker-placeHolderAlign{
  &::placeholder{
    text-align: right;
    padding-right: 65px;
  }
}