@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.insurance-agent-component {

    // Banner Component css
    .Insurance-agent-banner {
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 20px;
        padding: 50px;
        min-height: 450px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #00000066;
        }
        .right-side-content {
            flex: 0 0 50%;
            color: $white;
            position: relative;
            z-index: 2;
            .website {
                font-weight: 800;
                font-size: fontSize(28);
                line-height: 120%;
            }
            .page-name {
                font-weight: 800;
                font-size: fontSize(64);
                line-height: 110%;
                margin-bottom: 10px;
                span {
                    color: $orange-tw;
                }
            }
            .description {
                margin-bottom: 20px;
                font-weight: 800;
                font-size: fontSize(20);
                line-height: 120%;
            }
            p {
                font-weight: 400;
                font-size: fontSize(18);
                line-height: 140%;
                margin-bottom: 0;
            }
        }
    }

    // Insurance Agent Advantages css
    .insurance-agent-advantages {
        color: $black;
        .title {
            text-align: center;
            font-weight: 800;
            font-size: fontSize(34);
            line-height: 120%;
            margin-bottom: 10px;
        }
        .description {
            text-align: center;
            margin: 0 auto 25px;
            font-weight: 400;
            font-size: fontSize(18);
            line-height: 140%;
            color: $light-tw-2;
            max-width: 800px;
        }
        .advantages-list-root {
            display: flex;
            margin: 0 -7px;
            .list {
                flex: 0 0 calc(20% - 14px);
                margin: 0 7px;
                border: 1px solid #D9DCE1;
                border-radius: 12px;
                padding: 15px;
                img {
                    margin-bottom: 20px;
                }
                .list-title {
                    font-weight: 800;
                    font-size: fontSize(26);
                    line-height: 120%;
                    margin-bottom: 10px;
                }
                .list-description {
                    font-weight: 400;
                    font-size: fontSize(16);
                    margin-bottom: 0;
                    line-height: 140%;
                }
            }
        }
    }

    // General Insurance Agent css
    .general-insurance-agent {
        display: flex;
        align-items: center;
        .image {
            flex: 0 0 60%;
            img {
                width: 100%;
            }
        }
        .content {
            background: $white;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 20px;
            padding: 30px;
            margin-left: -100px;
            color: $black;
            .title {
                font-weight: 800;
                font-size: fontSize(34);
                line-height: 120%;
                margin-bottom: 15px;
            }
            p {
                font-weight: 400;
                font-size: fontSize(18);
                line-height: 140%;
                color: $light-tw-2;
                margin-bottom: 20px;
            }
        }
    }
}