@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

// ViolationsContainer starts here
@import "../../../../assets/scss/abstracts/abstracts";

.ViolationsContainer {
	.breadcrumbTitle {
		color: #34383e;
		cursor: pointer;
	}

	.breadcrumbSubTitle {
		color: #676f7c;
		cursor: pointer;
	}
}

.ViolationsContainer {
	.violationsBanner {
		animation: 3s ease-in-out infinite;
		transition: all 3s ease-in-out;
		height: fit-content;
		background-color: $white;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 20px;
		padding: 50px 50px 0 70px;
		display: flex;
		.violationsBannerLeft {
			padding-bottom: 30px;
			flex: 0 0 50%;
		}
		.violationsBannerRight {
			flex: 0 0 50%;
		}
		.violationsTitle {
			font-size: fontSize(40);
			color: $black;
		}

		.violationsParaOne {
			color: #4c565c;
			width: 100%;
			max-width: 530px;
			font-size: fontSize(15);
		}

		.violationsParaTwo {
			color: #4c565c;
			width: 100%;
			max-width: 600px;
			font-size: fontSize(15);
		}

		.reportviolationsBtn {
			background-color: #ee7500;
			border-radius: 8px;
			font-size: fontSize(16);
			font-weight: 400;
			color: $white;
		}

		.learnMoreBtn {
			background-color: transparent;
			color: $primary-tw;
			border: 1px solid $primary-tw;
			border-radius: 8px;
			font-size: fontSize(16);
			font-weight: 400;
		}

		.violationsBannerViolationsImg {
			// position: absolute;
			bottom: auto;
			right: 1%;
			// height: 38rem;
			top: 5%;
			z-index: 3;
			width: 100%;
		}
	}
}

.medical-ptag {
	padding-top: 14px;
}
// ViolationsContainer ends here

@include media-breakpoint-tab-land {
	// ViolationsContainer starts here
	.ViolationsContainer {
		.violationsBanner {
			padding: 50px 50px 0 50px;
			.violationsBannerLeft {
				.violationsParaOne {
					font-size: fontSize(12);
					width: 100%;
					max-width: 440px;
				}
			}
			.violationsBannerViolationsImg {
				right: 0px;
				top: 10px;
				z-index: 3;
				// width: 470px;
				height: auto;
			}
		}
	}

	.medical-ptag {
		padding-top: 10px;
	}
	// ViolationsContainer ends here
}

//Violations Obligations Sections Starts here
.violationsObligationsContainer {
	background-image: url("../../../../assets/svg/Tawuniya-Logo-bgc.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 58rem 60rem;
	padding-bottom: 50px;
	.violationsObligations {
		height: fit-content;
		margin: 0 auto;
		width: 900px;

		.violationsObText {
			margin-top: 60px;
			width: 531px;

			h5 {
				line-height: 48px;
				letter-spacing: -0.02em;
				text-transform: capitalize;
				color: #1a1c1f;
			}

			p {
				font-weight: 400;
				font-size: fontSize(18);
				line-height: 25px;
				color: #4c565c;
			}
		}

		.violationsObCardTop {
			display: flex;
			justify-content: space-evenly;
			align-items: flex-end;
			margin-top: 10px;
		}

		.violationsObCardBtm {
			display: flex;
			justify-content: space-evenly;
			align-items: flex-start;
			margin-top: 0px;
		}
	}
}

//Violations Obligations Sections Ends here

// Report violation Card
.reporting_channels {
	text-align: center;
	margin-bottom: 40px;

	h5 {
		color: #1a1c1f;
		font-weight: 800;
		font-size: 32px;
	}

	span {
		color: #4c565c;
		font-weight: 400;
		font-size: 15px;
	}
}

.card {
	border-radius: 12px;
	border: none;
}

.report-support-box {
	padding: 0px 20px 0px 20px;
	.vertical-lines {
		width: 1.8px;
		background-color: rgba(26, 28, 31, 0.05);
		height: 60%;
		margin-top: 20px;
	}
}

.reportViolationTitle {
	font-size: fontSize(30);
	color: $black;
}
.reportViolationPara {
	color: $light-tw;
}

.border_or_content {
	position: relative;
	top: 36px;

	label {
		width: 250px;
		text-align: center;
		border-top: 1.5px solid rgba(38, 38, 38, 0.1);
		line-height: 1px;
		margin: 10px 0 20px;
	}

	label span {
		background: #fff;
		padding: 0 10px;
		color: #4c565c;
		font-weight: 400;
		font-size: 14px;
	}
}

.violation-SupportBtn {
	background-color: $orange-tw;
	color: $white;
	border-radius: 8px !important;
	width: 100%;
	font-size: fontSize(16);
	font-weight: 400;
	padding: 24px 18px 24px 18px;
}

.online_badge {
	width: 60px;
	height: 21px;
	background: #e3ffef;
	border-radius: 100px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #237b4b;
	text-align: center;
	vertical-align: center;
	margin-bottom: 0px;
	margin-left: 10px;
}

.language-alignment-right {
	.online_badge {
		margin-left: 0;
		margin-right: 10px;
	}
	.ViolationsContainer {
		.violationsBanner {
			.learnMoreBtn {
				margin-right: 1rem;
			}
		}
	}
	.report-support-box {
		.text-left {
			text-align: right !important;
		}
		> .d-flex {
			> .ml-3 {
				margin-left: 0 !important;
				margin-right: 1rem;
			}
			> .pr-4 {
				padding-right: 0 !important;
				padding-left: 1.5rem;
			}
		}
	}
}

@include media-breakpoint-med-desktop {
	.mainBannerPara {
		font-size: fontSize(10) !important;
		line-height: 25px;
	}
	.mainBannerHeading {
		font-size: fontSize(14) !important;
	}
	.border_or_content {
		position: relative;
		top: 36px;

		label {
			width: 180px;
			text-align: center;
			border-top: 1.5px solid rgba(38, 38, 38, 0.1);
			line-height: 1px;
			margin: 10px 0 20px;
		}

		label span {
			background: #fff;
			padding: 0 10px;
			color: #4c565c;
			font-weight: 400;
			font-size: 14px;
		}
	}
	.reportViolationTitle {
		font-size: fontSize(36);
	}
	.reportViolationPara {
		font-size: fontSize(15) !important;
	}
}

@include media-breakpoint-tab-land {
	.violationsObligationsContainer {
		background-image: url("../../../../assets/svg/Tawuniya-Logo-bgc.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 44rem 42rem;
		.violationsObligations {
			height: fit-content;
			margin: 0 auto;
			width: 560px;

			.violationsObText {
				margin-top: 60px;
				width: 531px;

				h5 {
					line-height: 30px;
					letter-spacing: -0.02em;
					text-transform: capitalize;
					color: #1a1c1f;
					font-size: fontSize(22);
					width: 100%;
					max-width: 300px;
				}

				p {
					font-weight: 400;
					font-size: fontSize(10);
					line-height: 18px;
					color: #4c565c;
					width: 100%;
					max-width: 300px;
				}
			}

			.violationsObCardTop {
				display: flex;
				justify-content: space-evenly;
				align-items: flex-end;
			}

			.violationsObCardBtm {
				display: flex;
				justify-content: space-evenly;
				align-items: flex-start;
				margin-top: 0px;
			}
		}
	}
	.report-support-box {
		padding: 0px;
	}
	.mainBannerPara {
		font-size: fontSize(9) !important;
		line-height: 25px;
	}
	.mainBannerHeading {
		line-height: 20px;
	}
	.border_or_content {
		position: relative;
		top: 36px;

		label {
			width: 120px;
			text-align: center;
			border-top: 1.5px solid rgba(38, 38, 38, 0.1);
			line-height: 1px;
			margin: 10px 0 20px;
		}

		label span {
			background: #fff;
			padding: 0 10px;
			color: #4c565c;
			font-weight: 400;
			font-size: 10px;
		}
	}
	#alignfitCard {
		margin-left: 13px;
	}
	.reportViolationTitle {
		font-size: fontSize(26);
	}
	.reportViolationPara {
		font-size: fontSize(12) !important;
	}
}
