// @media only screen and (min-width: 1200px) and (max-width: 1399px) {
//     .ViolationsContainer .violationsBanner .violationsBannerViolationsImg {
//         top: 3%;
//         height: 37rem;
//     }

//     .violationsObligationsContainer {

//         .violationsObCardTop,
//         .violationsObCardBtm {
//             .fcitContainer {
//                 margin-right: 24px;
//                 justify-content: normal;
//             }

//             :last-child {
//                 margin-right: 0px;
//             }
//         }

//         .violationsObligations .violationsObText {
//             h5 {
//                 font-weight: 700;
//             }
//         }
//     }

//     .reporting_channels {
//         text-align: center;
//         margin-bottom: 40px;

//         h5 {
//             color: #1A1C1F;
//             font-weight: 800;
//             font-size: 40px;
//         }

//         span {
//             color: #4C565C;
//             font-weight: 400;
//             font-size: 18px;
//         }
//     }
// }

@media only screen and (min-width: 1400px) and (max-width: 1699px) {
	.ViolationsContainer .violationsBanner .violationsBannerViolationsImg {
		top: 3%;
		// height: 37rem;
	}

	.violationsObligationsContainer {
		.violationsObCardBtm {
			.fcitContainer {
				h5 {
					font-size: 18px;
				}

				p {
					font-size: 13px;
					width: 100%;
					max-width: 220px;
				}
			}
		}

		.violationsObligations .violationsObText {
			h5 {
				font-size: 32px;
				font-weight: 800;
				width: 100%;
				max-width: 470px;
				line-height: 40px;
			}

			p {
				font-size: 15px;
				width: 100%;
				max-width: 430px;
			}
		}
	}

	.eventCard .eventCard-content-box .eventCardSize p {
		font-size: 18px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.ViolationsContainer .violationsBanner .violationsBannerViolationsImg {
		top: 3%;
		// height: 37rem;
	}

	.violationsObligationsContainer {
		.violationsObCardBtm {
			.fcitContainer {
				h5 {
					font-size: 18px;
				}

				p {
					font-size: 13px;
					width: 100%;
					max-width: 220px;
				}
			}
		}

		.violationsObligations .violationsObText {
			h5 {
				font-size: 32px;
				font-weight: 800;
				width: 100%;
				max-width: 470px;
				line-height: 40px;
			}

			p {
				font-size: 15px;
				width: 100%;
				max-width: 430px;
			}
		}
	}

	.eventCard .eventCard-content-box .eventCardSize p {
		font-size: 18px;
	}
}

@media only screen and (min-width: 1199px) and (max-width: 992px) {
	.ViolationsContainer .violationsBanner .violationsBannerViolationsImg {
		top: 3%;
		// height: 37rem;
	}

	.violationsObligationsContainer {
		.violationsObCardBtm {
			.fcitContainer {
				h5 {
					font-size: 18px;
				}

				p {
					font-size: 13px;
					width: 100%;
					max-width: 220px;
				}
			}
		}

		.violationsObligations .violationsObText {
			h5 {
				font-size: 32px;
				font-weight: 800;
				width: 100%;
				max-width: 40px;
				line-height: 40px;
			}

			p {
				font-size: 15px;
				width: 100%;
				max-width: 430px;
			}
		}
	}

	.eventCard .eventCard-content-box .eventCardSize p {
		font-size: 18px;
	}
}

@media only screen and (min-width: 1700px) {
}
