.motor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
    
    width: 100%;
    height: 225px;
    
    /* White */
    
    background: #FFFFFF;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.createclaim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    
    width: 100%;
    height: 42px;
    
    /* Orange/Orange */
    
    background: #EE7500;
    border-radius: 6px;
    
}

.numberplate{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 14px;

width: 100%;
height: 135px;



background: #F2F3F5;
border-radius: 8px;



flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

.plate{
    width: 98px;
height: 22px;


font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;


display: flex;
align-items: center;
color: #4C565C;

}




.tnd{
    width: 75px;
height: 19px;



font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 120%;


display: flex;
align-items: center;



color: #4C565C;


}

.platenumber{
    margin-left: 43px;
}


.casenumber{
    width: 72px;
height: 12px;

/* Label En/X-Small Label */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* Text */

color: #4C565C;

}

.accident{
    width: 75px;
height: 12px;

/* Label En/X-Small Label */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* Text */

color: #4C565C;

}
.caseno{
    width: 33px;
height: 20px;

font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


color: #1A1C1F;
}