@import "../../../assets/scss/abstracts/mixins.scss";

.fcitContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  width: 275px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 12px;

  img {
    height: 54px;
    width: 54px;
  }

  h5 {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #1a1c1f;
    margin-top: 20px;
    width: 100%;
    max-width: 210px;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #1a1c1f;
    margin-bottom: 0;
  }
}

@include media-breakpoint-tab-land {
  .fcitContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    width: 275px;
    height: fit-content;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;

    img {
      height: 34px;
      width: 34px;
    }

    h5 {
      font-weight: 800;
      font-size: 11px;
      line-height: 18px;
      text-transform: capitalize;
      color: #1a1c1f;
      margin-top: 20px;
      width: 100%;
      max-width: 135px;
    }

    p {
      font-weight: 400;
      font-size: 8px;
      line-height: 15px;
    }
  }
}
