@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.accordionCollapseIcon {
  position: relative;
  top: 10px;
}

// supportrequestcontainer starts here
.SupportRequestContainer {
  .fraudBannerOne,
  .fraudBannerTwo {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 20px;
    padding: 50px 50px 200px 80px;
    .fraudTitle {
      font-size: 40px;
      color: $black;
    }
    .fraudParaOne {
      color: #4c565c;
      width: 100%;
      max-width: 630px;
    }
    .fraudParaTwo {
      color: #4c565c;
      width: 100%;
      max-width: 610px;
    }
    .reportFraudBtn {
      background-color: #ee7500;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
      color: $white;
    }
    .learnMoreBtn {
      background-color: transparent;
      color: $primary-tw;
      border: 1px solid $primary-tw;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
    }
    .medicFraudBanner {
      position: absolute;
      bottom: 0px;
      right: 0px;
      top: -28px;
      z-index: 3;
      width: 970px;
      height: 900px;
    }
    .motorFraudBanner {
      position: absolute;
      z-index: 3;
      right: 0px;
      top: -13px;
      width: 1100px;
      height: 970px;
    }
  }
  .fraudBannerThree {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 20px;
    padding: 50px 50px 190px 80px;
    .fraudTitle {
      font-size: 40px;
      color: $black;
    }
    .fraudParaOne {
      color: #4c565c;
      width: 100%;
      max-width: 630px;
    }
    .fraudParaTwo {
      color: #4c565c;
      width: 100%;
      max-width: 600px;
    }
    .reportFraudBtn {
      background-color: #ee7500;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
      color: $white;
    }
    .learnMoreBtn {
      background-color: transparent;
      color: #ee7500;
      border: 1px solid #ee7500;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
    }
    .travelFraudBanner {
      position: absolute;
      z-index: 3;
      right: 0px;
      top: 45px;
      width: 800px;
      height: 880px;
    }
  }
}
// supportrequestcontainer ends here

.fraudAssociatesContainer {
  .associateLining {
    border-right: 1px solid rgba(26, 28, 31, 0.1);
    .associateTitle,
    .associateTitle-travel {
      color: $black;
    }
    .associateTitle-travel {
      width: 100%;
      max-width: 340px;
    }
    .associateParaOne {
      color: #4c565c;
      width: 100%;
      max-width: 355px;
    }
    .associateParaTwo {
      color: #4c565c;
      width: 100%;
      max-width: 363px;
    }
    .associateParaThree {
      color: #4c565c;
      width: 100%;
      max-width: 363px;
    }
  }
  .associateNoLining {
    .associateTitle,
    .associateTitle-travel {
      color: $black;
    }
    .associateTitle-travel {
      width: 100%;
      max-width: 335px;
    }
    .associateParaNoLining {
      color: #4c565c;
      width: 100%;
      max-width: 353px;
    }
    .associateParaNoLiningNew {
      color: #4c565c;
      width: 100%;
      max-width: 360px;
    }
  }
}

.faqContainer {
  .faqTitle {
    font-size: 40px;
    color: $black;
  }
  .faqPara {
    color: #4c565c;
  }
  .reportAccordionQuestion {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    .reportQuestion {
      color: $black;
    }
    .reportAccordionAnswer {
      background-color: #f2f3f5;
      border-radius: 8px;
    }
    .addButton {
      background-color: transparent;
      border: none;
      padding: 0px;
    }
    .reportAccordionAnswer {
      background-color: #f2f3f5;
    }
  }
  .orangeContainerLining {
    border-bottom: 1px solid rgba(26, 28, 31, 0.1);
    .orangeCircleOne {
      position: absolute;
      right: 19%;
      width: 400px;
      height: 100px;
    }
    .orangeCircleTwo {
      position: absolute;
      right: 0%;
      top: 30%;
      width: 120px;
      height: 150px;
      transform: rotate(5deg);
    }
    .orangeContainer {
      background-color: $primary-tw;
      border-radius: 12px;
      padding: 20px 60px 20px 60px;
      .fraudServiceTitle {
        font-size: 40px;
        font-weight: 800;
        color: $white;
      }
      .fraudServicePara {
        font-size: 18px;
        font-weight: 400;
        color: $white;
        width: 100%;
        max-width: 900px;
      }
      .reportButton {
        background-color: $white;
        color: $black;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 400;
        transform: translateY(10px);
      }
    }
  }
  .view-all-questions {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    > div {
      display: flex;
      align-items: center;
      font-weight: 800;
      font-size: fontSize(16);
      line-height: 120%;
      color: $light-tw-2;
      text-transform: uppercase;
      img {
        margin-left: 15px;
      }
    }
  }
}

.legendarySupportContainer {
  .cantWaitTitle {
    color: $black;
    font-size: 40px;
  }
  .contactText {
    color: #4c565c;
  }
  .legendarySupportOne {
    background-image: url("../../../assets/images/bannerFraudOne.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    .supportOneContainer {
      height: 100%;
      min-height: 650px;
      .layerOne {
        padding: 50px 70px 0px 70px;
        .lengendaryTitle {
          font-size: 40px;
          color: $white;
        }
        .legendaryPara {
          color: $white;
          width: 100%;
          max-width: 520px;
        }
        .reportFraudBtn {
          background-color: #ee7500;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 400;
          color: $white;
        }
        .learnMoreBtn {
          background-color: transparent;
          color: $white;
          border: 1px solid $white;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
  .legendarySupportTwo {
    background-image: url("../../../assets/images/legendaryBannersOne.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    .supportTwoContainer {
      height: 100%;
      min-height: 650px;
      .layerTwo {
        padding: 0px 70px 0px 70px;
        .lengendaryTitleNew {
          font-size: 40px;
          color: $white;
        }
        .legendaryParaNew {
          color: $white;
          width: 100%;
          max-width: 520px;
        }
        .reportFraudBtn {
          background-color: #ee7500;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 400;
          color: $white;
        }
        .learnMoreBtn {
          background-color: transparent;
          color: $white;
          border: 1px solid $white;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}

.language-alignment-right {
  .accordionCollapseIcon {
    padding-right: 0 !important;
    padding-left: 1rem;
  }
}

@include media-breakpoint-med-desktop {
  .SupportRequestContainer {
    .fraudBannerOne,
    .fraudBannerTwo {
      padding: 50px 50px 190px 50px;
      .fraudTitle {
        font-size: fontSize(36);
      }
      .fraudParaOne {
        width: 100%;
        max-width: 567px;
        font-size: fontSize(16);
      }
      .fraudParaTwo {
        width: 100%;
        max-width: 560px;
        font-size: fontSize(16);
      }
      .medicFraudBanner {
        position: absolute;
        top: -6px;
        right: 0px;
        z-index: 3;
        width: 850px;
        height: 780px;
      }
      .motorFraudBanner {
        position: absolute;
        z-index: 3;
        right: 0px;
        top: 0px;
        width: 970px;
        height: 900px;
      }
      .travelFraudBanner {
        position: absolute;
        z-index: 3;
        right: 0px;
        top: 0px;
        width: 800px;
        height: 850px;
      }
    }
    .fraudBannerThree {
      padding: 50px 50px 170px 50px;
      .fraudTitle {
        font-size: fontSize(36);
      }
      .fraudParaOne {
        width: 100%;
        max-width: 567px;
        font-size: fontSize(16);
      }
      .fraudParaTwo {
        width: 100%;
        max-width: 560px;
        font-size: fontSize(16);
      }
      .travelFraudBanner {
        position: absolute;
        z-index: 3;
        right: 0px;
        top: 0px;
        width: 800px;
        height: 850px;
      }
    }
  }
  .fraudAssociatesContainer {
    .associateLining {
      .associateTitle,
      .associateTitle-travel {
        font-size: fontSize(16);
      }
      .associateParaOne {
        font-size: fontSize(13);
        width: 100%;
        max-width: 330px;
      }
      .associateParaTwo {
        font-size: fontSize(13);
        width: 100%;
        max-width: 330px;
      }
      .associateParaThree {
        font-size: fontSize(13);
        width: 100%;
        max-width: 335px;
      }
    }
    .associateNoLining {
      .associateTitle,
      .associateTitle-travel {
        font-size: fontSize(16);
      }
      .associateParaNoLining {
        font-size: fontSize(13);
        width: 100%;
        max-width: 330px;
      }
      .associateParaNoLiningNew {
        font-size: fontSize(12);
        width: 100%;
        max-width: 305px;
      }
    }
  }
  .accordionCollapseIcon {
    position: relative;
    top: 7px;
  }
  .faqContainer {
    .faqTitle {
      font-size: fontSize(30);
    }
    .faqPara {
      font-size: fontSize(15);
    }
    .reportAccordionQuestion {
      .accordionQuestion {
        font-size: fontSize(14);
      }
      .reportAccordionAnswer {
        font-size: fontSize(14);
      }
    }
    .orangeContainerLining {
      .orangeCircleOne {
        position: absolute;
        right: 27%;
        width: 300px;
        height: 100px;
      }
      .orangeContainer {
        .fraudServiceTitle {
          font-size: 40px;
          font-weight: 800;
          color: $white;
        }
        .fraudServicePara {
          font-size: fontSize(14);
          width: 100%;
          max-width: 750px;
        }
        .reportButton {
          font-size: fontSize(14);
        }
      }
    }
  }
  .legendarySupportContainer {
    .cantWaitTitle {
      font-size: fontSize(30);
    }
    .contactText {
      font-size: fontSize(14);
    }
    .legendarySupportOne {
      .supportOneContainer {
        min-height: 620px;
        .layerOne {
          padding: 50px 50px 0px 50px;
          .lengendaryTitle {
            font-size: fontSize(30);
          }
          .legendaryPara {
            font-size: fontSize(13);
            max-width: 480px;
          }
          .reportFraudBtn {
            font-size: fontSize(13);
          }
          .learnMoreBtn {
            font-size: fontSize(13);
          }
        }
      }
    }
    .legendarySupportTwo {
      .supportTwoContainer {
        min-height: 620px;
        .layerTwo {
          padding: 0px 50px 0px 50px;
          .lengendaryTitleNew {
            font-size: fontSize(30);
          }
          .legendaryParaNew {
            font-size: fontSize(13);
            width: 100%;
            max-width: 480px;
          }
          .reportFraudBtn {
            font-size: fontSize(13);
          }
          .learnMoreBtn {
            font-size: fontSize(13);
          }
        }
      }
    }
  }
}

@include media-breakpoint-tab-land {
  // supportrequestcontainer starts here
  .SupportRequestContainer {
    .fraudBannerOne,
    .fraudBannerTwo {
      padding: 50px 50px 140px 50px;
      .fraudTitle {
        font-size: fontSize(26);
      }
      .fraudParaOne {
        width: 100%;
        max-width: 420px;
        font-size: fontSize(12);
      }
      .fraudParaTwo {
        width: 100%;
        max-width: 420px;
        font-size: fontSize(12);
      }
      .medicFraudBanner {
        position: absolute;
        top: 26px;
        right: 0px;
        width: 649px;
        height: 580px;
      }
      .motorFraudBanner {
        position: absolute;
        right: 0px;
        top: 95px;
        width: 709px;
        height: 560px;
      }
      .reportFraudBtn {
        font-size: fontSize(12);
      }
    }
    .fraudBannerThree {
      padding: 50px 50px 140px 50px;
      .fraudTitle {
        font-size: fontSize(26);
      }
      .fraudParaOne {
        width: 100%;
        max-width: 420px;
        font-size: fontSize(12);
      }
      .fraudParaTwo {
        width: 100%;
        max-width: 420px;
        font-size: fontSize(12);
      }
      .travelFraudBanner {
        position: absolute;
        right: 0px;
        top: 80px;
        width: 600px;
        height: 560px;
      }
      .reportFraudBtn {
        font-size: fontSize(12);
      }
    }
  }
  .fraudAssociatesContainer {
    .associateLining {
      .associateTitle,
      .associateTitle-travel {
        font-size: fontSize(12);
      }
      .associateParaOne {
        font-size: fontSize(9.7);
        width: 100%;
        max-width: 245px;
      }
      .associateParaTwo {
        font-size: fontSize(9.7);
        width: 100%;
        max-width: 250px;
      }
      .associateParaThree {
        font-size: fontSize(9.7);
        width: 100%;
        max-width: 255px;
      }
    }
    .associateNoLining {
      .associateTitle,
      .associateTitle-travel {
        font-size: fontSize(12);
      }
      .associateParaNoLining {
        font-size: fontSize(9.7);
        width: 100%;
        max-width: 245px;
      }
      .associateParaNoLiningNew {
        font-size: fontSize(9.7);
        width: 100%;
        max-width: 305px;
      }
    }
  }
  .accordionCollapseIcon {
    position: relative;
    top: 5px;
  }
  .faqContainer {
    .faqTitle {
      font-size: fontSize(24);
    }
    .faqPara {
      font-size: fontSize(11);
    }
    .reportAccordionQuestion {
      .accordionQuestion {
        font-size: fontSize(12);
      }
      .reportAccordionAnswer {
        font-size: fontSize(12);
      }
    }
    .orangeContainerLining {
      .orangeCircleOne {
        position: absolute;
        right: 23%;
        width: 200px;
        height: 100px;
      }
      .orangeCircleTwo {
        position: absolute;
        top: 34%;
        width: 100px;
        height: 120px;
      }
      .orangeContainer {
        .fraudServiceTitle {
          font-size: 30px;
        }
        .fraudServicePara {
          font-size: fontSize(12);
        }
        .reportButton {
          font-size: fontSize(12);
        }
      }
    }
  }
  .legendarySupportContainer {
    .cantWaitTitle {
      font-size: fontSize(26);
    }
    .contactText {
      font-size: fontSize(12);
    }
    .legendarySupportOne {
      .supportOneContainer {
        min-height: 530px;
        .layerOne {
          padding: 40px 40px 0px 40px;
          .lengendaryTitle {
            font-size: fontSize(26);
          }
          .legendaryPara {
            font-size: fontSize(10);
            width: 100%;
            max-width: 370px;
          }
          .reportFraudBtn {
            font-size: fontSize(10);
          }
          .learnMoreBtn {
            font-size: fontSize(10);
          }
        }
      }
    }
    .legendarySupportTwo {
      .supportTwoContainer {
        min-height: 530px;
        .layerTwo {
          padding: 0px 40px 0px 40px;
          .lengendaryTitleNew {
            font-size: fontSize(26);
          }
          .legendaryParaNew {
            font-size: fontSize(10);
            width: 100%;
            max-width: 370px;
          }
          .reportFraudBtn {
            font-size: fontSize(10);
          }
          .learnMoreBtn {
            font-size: fontSize(10);
          }
        }
      }
    }
  }
}
// supportrequestcontainer ends here

@media screen and (min-width: 2560px) {
  .legendarySupportContainer {
    .legendarySupportTwo {
      .supportTwoContainer {
        height: 536px;
      }
    }
  }
}

@include media-breakpoint-tab-port-med-only {
  .accordionCollapseIcon {
    position: relative;
    top: 10%;
  }
  .SupportRequestContainer {
    .fraudBannerOne,
    .fraudBannerTwo {
      .fraudTitle {
        font-size: fontSize(20);
      }
      .fraudParaOne {
        width: 100%;
        max-width: 420px;
        font-size: fontSize(12);
      }
      .fraudParaTwo {
        width: 100%;
        max-width: 420px;
        font-size: fontSize(12);
      }
      .reportFraudBtn {
        font-size: fontSize(12);
      }
      .learnMoreBtn {
        font-size: fontSize(12);
      }
      .medicFraudBanner {
        position: absolute;
        top: 52%;
        width: 430px;
        height: 300px;
      }
      .motorFraudBanner {
        position: absolute;
        top: 57%;
        width: 480px;
        height: 300px;
      }
    }
    .fraudBannerThree {
      .fraudTitle {
        font-size: fontSize(20);
      }
      .fraudParaOne {
        width: 100%;
        max-width: 420px;
        font-size: fontSize(12);
      }
      .fraudParaTwo {
        width: 100%;
        max-width: 420px;
        font-size: fontSize(12);
      }
      .reportFraudBtn {
        font-size: fontSize(12);
      }
      .learnMoreBtn {
        font-size: fontSize(12);
      }
      .travelFraudBanner {
        position: absolute;
        top: 53%;
        width: 430px;
        height: 300px;
      }
    }
  }
  .fraudAssociatesContainer {
    .associateLining {
      border-right: none;
      .associateTitle,
      .associateTitle-travel,
      .associateParaOne,
      .associateParaTwo,
      .associateParaThree {
        width: 100%;
        max-width: 700px;
      }
    }
    .associateNoLining {
      .associateTitle,
      .associateTitle-travel,
      .associateParaNoLining,
      .associateParaNoLiningNew {
        width: 100%;
        max-width: 700px;
      }
    }
  }
  .faqContainer {
    .reportAccordionQuestion {
      padding: 5px 20px 5px 20px;
      .accordionQuestion {
        font-size: 10px;
      }
      .reportAccordionAnswer {
        font-size: 10px;
      }
    }
    .orangeContainerLining {
      .orangeCircleOne {
        position: absolute;
        right: 15%;
        width: 200px;
        height: 100px;
      }
      .orangeCircleTwo {
        position: absolute;
        top: 47%;
        width: 130px;
        height: 170px;
      }
      .orangeContainer {
        padding: 20px;
      }
    }
  }
  .legendarySupportContainer {
    .legendarySupportOne {
      .supportOneContainer {
        min-height: 500px;
        .layerOne {
          padding: 50px 50px 0px 50px;
          .lengendaryTitle {
            font-size: fontSize(30);
          }
          .legendaryPara {
            font-size: fontSize(16);
            width: 100%;
            max-width: 540px;
          }
          .reportFraudBtn {
            font-size: fontSize(16);
          }
          .learnMoreBtn {
            font-size: fontSize(16);
          }
        }
      }
    }
    .legendarySupportTwo {
      .supportTwoContainer {
        min-height: 500px;
        .layerTwo {
          padding: 0px 50px 0px 50px;
          .lengendaryTitleNew {
            font-size: fontSize(30);
          }
          .legendaryParaNew {
            font-size: fontSize(16);
            width: 100%;
            max-width: 522px;
          }
          .reportFraudBtn {
            font-size: fontSize(16);
          }
          .learnMoreBtn {
            font-size: fontSize(16);
          }
        }
      }
    }
  }
}
