.social_responsibility_container {
  .responsibility_thriving {
    font-weight: 800;
    font-size: 28px;
    color: #1a1c1f;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .responsibility_tawuniya {
    width: 304px;
    font-size: 13px;
    color: #455560;
    margin-left: 16px;
    margin-right: 16px;
  }

  .responsibility_adopt {
    width: 358px;
    height: 24px;
    font-weight: 800;
    font-size: 20px;
    color: #1a1c1f;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .responsibility_black {
    margin-left: 12px;
    margin-right: 12px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;

    .responsibility_white {
      height: 250px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      padding: 10px;
    }

    .responsibility_image {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .responsibility_title {
      font-weight: 800;
      font-size: 16px;
      color: #1a1c1f;
    }

    .responsibility_datas {
      width: 129px;
      height: 120px;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: #1a1c1f;
      opacity: 0.7;
      margin-top: 12px;
    }
  }

  .responsibility_contribution {
    font-weight: 800;
    font-size: 24px;
    color: #1a1c1f;
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .responsibility_company {
    font-weight: 400;
    font-size: 13px;
    color: #455560;
    margin-left: 16px;
    margin-bottom: 32px;
  }

  .responsibility_year {
    width: 329px;
    height: 62px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;

    .responsibility_one {
      font-weight: 400;
      font-size: 12px;
      display: flex;
      align-items: center;
      color: #676f7c;
      margin-left: 16px;
      margin-top: 10px;
    }

    .responsibility_two {
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
      color: #455560;
      margin-left: 16px;
      margin-top: 4px;
    }

    .responsibility_arow {
      margin-right: 23px;
      margin-top: 17px;
    }
  }

  .responsibility_social {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;

    .responsibility_data {
      width: 329px;
      height: 111px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      padding: 17px;
    }

    .responsibility_blue {
      width: 102px;
      height: 29px;
      background: #679ab4;
      border-radius: 100px;
      font-size: 14px;
      padding: 4px;
      text-align: center;
      color: #ffffff;
    }

    .responsibility_content {
      width: 288px;
      height: 38px;
      font-weight: 800;
      font-size: 14px;
      color: #1a1c1f;
      margin-top: 12px;
    }
  }

  .responsibility_contact {
    font-weight: 800;
    font-size: 24px;
    color: #1a1c1f;
    margin-left: 16px;
    margin-bottom: 16px;
  }
}