@import "../../../assets/scss/abstracts/mixins.scss";

.mainSocialContainer {
	.newsLeftArrow {
		position: absolute;
		left: 0%;
		top: 25%;
		width: 75px;
		height: 75px;
	}

	.newsRightArrow {
		position: absolute;
		right: 0%;
		top: 25%;
		width: 75px;
		height: 75px;
	}

	.aligncenterdiv {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.socialprojectcard {
		border-radius: 4px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		height: 600px;
		background-size: contain;
	}

	.socialprojectcard2 {
		border-radius: 4px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: #ffff;
		margin-top: -35vh;

		// @include media-breakpoint-full-hd-desktop {
		// }

		// @include media-breakpoint-hd-desktop {
		// }

		// @include media-breakpoint-med-desktop {
		// 	margin-top: -40vh;
		// }

		// @include media-breakpoint-tab-land {
		// 	margin-top: -45vh;
		// }
	}

	.socialprojectcard3 {
		border-radius: 4px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: #ffff;
	}

	.socialptag {
		color: #4c565c;
	}
}