
@media only screen and (min-width: 1024px) and (max-width: 1199px) {

.latestNewsCard {
    width: 18%;
    height: 150px;
    padding: 17px 13px 0px 13px;
}

.latestNewsCard .DateContainer .buttonEl {
    font-size: 8px;
}

.latestNewsCard .DateContainer .dateEl {
    font-size: 8px;
}

.latestNewsCard .latestNewsCardPar {
    width: 100px;
    font-size: 9px;
}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .latestNewsCard {
        width: 18%;
        height: 192px;
        padding: 14px 17px 14px 15px;
    }

    .latestNewsCard .DateContainer .dateEl {
        font-size: 10px;
    }

    .latestNewsCard .DateContainer .buttonEl {
        font-size: 10px;
    }

    .latestNewsCard .latestNewsCardPar {
        font-size: 11px;
        width: 123px;
    }

}

@media only screen and (min-width: 1400px) and (max-width: 1699px) {
    .latestNewsCard {
        width: 18%;
        height: 220px;
        padding: 18px 18px 14px 15px;
    }

    .latestNewsCard .DateContainer .dateEl {
        font-size: 12px;
    }

    .latestNewsCard .DateContainer .buttonEl {
        font-size: 12px;
    }

    .latestNewsCard .latestNewsCardPar {
        font-size: 13px;
        width: 129px;
    }

}

@media only screen and (min-width: 1700px) {
    .latestNewsCard {
        width: 18%;
        height: 250px;
        padding: 18px 18px 18px 16px;
    }

    .latestNewsCard .DateContainer .dateEl {
        font-size: 13px;
    }

    .latestNewsCard .DateContainer .buttonEl {
        font-size: 13px;
    }

    .latestNewsCard .latestNewsCardPar {
        font-size: 15px;
        width: 167px;
    }

}