.latestNewsCard {
    box-sizing: border-box;
    width: 270px;
    height: 281px;
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    cursor: pointer;

    .DateContainer {
        display: flex;
        justify-content: space-between;

        .buttonEl {
            height: 23px;
            padding: 5px 16px 6px;
            border-radius: 100px;
            background-color: #EE7500;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            border: none;
        }

        .dateEl {
            font-weight: 700;
            font-size: 14px;
            line-height: 19.6px;
        }

    }

    .latestNewsCardPar {
        width: 240.8px;
        font-weight: 800;
        font-size: 20px;
        line-height: 120%;
    }

}