.Area{
    border-radius: 5rem;
}
.card {
    margin: 0px 5px;
    /* padding: 5px; */
    /* transition: 10s ease; */
    
    
    
  }
  .scrollcards {
    
    overflow: auto;
    white-space: pre;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
    
  }
  .match{
    background-color: grey;
  }
  div.scrollcards .card {
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5rem;
    width: 12rem;
    height:11rem;
    padding: 5px 7px;  
    border: 1;  
  }
  .card-text {
    display: flex;
    justify-content: flex-start;
    
  }
  .font-size {
    font-size: 11px;
  }
  .bc{
    background-color: grey;
  }
  .card-text:last-child {
    margin-bottom: 0;
    font-size: xx-small;
    font-weight: bolder;
  }
  .bg-image{
   
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .data-description{
    font-size: 16px;
    font-weight:600;
    position:relative;
    top:2.5rem;
    left:5px
  }
  .data-appoints{
    font-size: 16px;
    font-weight:600;
    position:relative;
    top:1px;
  }
  .date-style{
    font-size: 10px;
    font-weight:600;
    position:relative;
    top: 0.5em;
    left: 2rem;
  }
 