.TawuniyaAuction_content{
font-size: 16px;
font-weight: 400;
margin-top: 32px;
box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
border-radius: 12px;
 
p{
    margin-top: 16px;
    color: #455560;
}
}

.TawuniyaAuction_heading{
font-size: 28px;
font-weight: 800;
margin-top: 24px
}

.footer_container{
    margin-top: 48px;
}