@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.healthInsuranceContainer {
  .healthTitle {
    font-size: fontSize(64);
    color: $black;
    line-height: 70px;
  }
  .healthPara {
    color: $light-tw;
    width: 100%;
    max-width: 740px;
  }
  .managePolicyTitle {
    font-size: fontSize(30);
    color: $black;
  }
  .policyPara {
    color: $light-tw;
  }
  .health-insuranceCardText {
    color: $light-tw;
    width: 100%;
    max-width: 130px;
  }
  #healthCardTextWidth{
    width: 100%;
    max-width: 130px;
  }
  #chronicContent{
    padding-bottom: 10px;
  }
  #memberContent{
    padding-bottom: 15px;
  }
  .insureHealthCard {
    .insureHealthLayerOne {
      background-color: #ee7500;
      padding: 10px 40px 10px 40px;
      border-radius: 12px 12px 0px 0px;
      .insureHealthCardTitle {
        font-size: fontSize(40);
        color: $white;
      }
    }
    .insureHealthLayerTwo {
      background-color: $white;
      padding: 40px 0px 20px 0px;
      border-radius: 0px 0px 12px 12px;
      .insureSubHealthLayerTwo {
        .indivudualBtn {
          width: 100%;
          background-color: $orange-tw;
          color: $white;
          border: none;
          border-radius: 8px;
          font-size: fontSize(16);
          font-weight: 800;
          padding: 30px;
        }
        .smeBtn {
          width: 100%;
          background-color: transparent;
          color: $black;
          border: 1px solid #d9dce1;
          border-radius: 8px;
          font-size: fontSize(16);
          font-weight: 800;
          padding: 30px 0px 30px 0px;
        }
      }
      .subHealthInsureLayer {
        background-color: $lightgrey-tw;
        border-radius: 8px;
        margin: 10px 40px 10px 40px;
        .healthInputFieldOne {
          background-color: $white;
          box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
          border-radius: 4px;
          border: none;
          padding: 30px;
          padding-left: 65px;
        }
        .healthInputfieldTwo {
          width: 100%;
          background-color: $white;
          box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
          border-radius: 4px;
          border: none;
        }
        .healthPhoneInput {
          border-radius: 4px;
        }
        #healthSelectInputWidth{
          max-width: 135px;
        }
        #healthFlexType{
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 15px 45px;
        }
      }
      .insureHealthNowBtn {
        width: 100%;
        max-width: 535px;
        background-color: #ee7500;
        padding: 10px;
        color: $white;
        border-radius: 8px;
      }
      .insureHealthTerms {
        color: $light-tw;
      }
    }
  }
}

.integratedContainer {
  .integratedTitle {
    font-size: fontSize(60);
    color: $black;
    line-height: 70px;
    width: 100%;
    max-width: 800px;
  }
  .health-integratedCard {
    background-color: $white;
    border-radius: 10px;
    height: 100%;
  }
  .integratedCard-Title {
    color: $black;
  }
  .integratedCard-Content {
    color: $light-tw;
  }
  .knowmoreBtn {
    width: 100%;
    max-width: 135px;
    background-color: $orange-tw;
    color: $white;
    border: none;
    border-radius: 8px;
    font-size: fontSize(16);
    font-weight: 400;
  }
  .positionHealth {
    position: absolute;
    bottom: 80px;
  }
}

.preferPlanContainer {
  .planTitle {
    font-size: fontSize(60);
    color: $black;
  }
  .planPara {
    color: $light-tw;
  }
  .planCard {
    background-color: $white;
    border-radius: 10px;
    padding: 40px 40px 30px 40px;
    height: 100%;
    .planCardHeading {
      color: $light-tw;
    }
    .planCardLeft {
      color: $light-tw;
    }
    .planCardRight {
      color: $black;
    }
    .show-more-plans-text {
      color: $orange-tw;
    }
  }
}

.benifitContainer {
  .benifitTitle {
    font-size: fontSize(34);
    color: $black;
  }
  .benifitPara {
    color: $light-tw;
  }
  .benifitCardLayout {
    width: 20%;
    .benifitCard {
      background-color: $white;
      border-radius: 10px;
      height: 100%;
      padding: 20px 20px 0px 20px;
      .benifitAmt {
        color: $orange-tw;
      }
      .benifitType {
        color: $light-tw;
      }
      .babyIcon {
        width: 70px;
        height: 45px;
      }
    }
  }
}

.blogContainer {
  .blogTitle {
    font-size: fontSize(40);
    color: $black;
  }
  .blogPara {
    color: $light-tw;
  }
  .blogBannerContainer {
    position: relative;
    .bannerOnePicture{
      width: 100%;
      height: 550px;
    }
      .bannerOne{
        position: absolute;
        top:35%;
        left:0%;
        padding: 50px 70px 0px 70px;
        .blogHeaderContent{
          color: $white;
          font-size: fontSize(32);
          width: 100%;
          max-width: 700px;
          line-height: 120%;
        }
        .blogParaContent{
          color: $white;
          width: 100%;
          max-width: 450px;
        }
        .blogBtnContainerOne{
          position: relative;
          right:3px;
          .readMoreBtn{
            background-color: transparent;
            width: 100%;
            max-width: 110px;
            color: $white;
            border: 2px solid $white;
            border-radius: 10px;
            font-size: fontSize(16);
            font-weight: 400;
          }
        }
      }  
      .bannerTwoPicture{
        width: 100%;
        height: 550px;
      }
      .bannerTwo{
        position: absolute;
        top:35%;
        left:0%;
        padding: 50px 70px 0px 70px;
        .blogHeaderContent{
          color: $white;
          font-size: fontSize(32);
          width: 100%;
          max-width: 370px;
          line-height: 120%;
        }
        .blogParaContent{
          color: $white;
          width: 100%;
          max-width: 430px;
        }
        .blogBtnContainerTwo{
          position: relative;
          right:3px;
          .readMoreBtn{
            background-color: transparent;
            width: 100%;
            max-width: 110px;
            color: $white;
            border: 2px solid $white;
            border-radius: 10px;
            font-size: fontSize(16);
            font-weight: 400;
          }
        }
      }   
  }
  .otherProduct-title {
    font-size: fontSize(40);
    color: $black;
  }
  .otherProduct-para {
    color: $light-tw;
  }
  .otherProductCard {
    background-color: $white;
    border-radius: 12px;
    height: 100%;
    .otherProduct-header {
      color: $black;
    }
    .otherProduct-para {
      color: $light-tw;
    }
    .otherProduct-Subheader {
      color: $orange-tw;
    }
    .otherProduct-Subpara {
      color: $light-tw;
    }
  }
}

@include media-breakpoint-med-desktop{
  .healthInsuranceContainer {
    .healthTitle {
      font-size: fontSize(46);
      line-height: 55px;
      width: 100%;
      max-width: 600px;
    }
    .healthPara {
      font-size: fontSize(19);
      width: 100%;
      max-width: 700px;
    }
    .managePolicyTitle {
      font-size: fontSize(38);
      padding-top: 20px;
    }
    .policyPara {
      font-size: fontSize(20);
    }
    .health-insuranceCardText {
      width: 100%;
      max-width: 130px;
    }
    #healthCardTextWidth{
      width: 100%;
      max-width: 130px;
    }
    #chronicContent{
      padding-bottom: 10px;
    }
    #memberContent{
      padding-bottom: 15px;
    }
    .insureHealthCard {
      .insureHealthLayerOne {
        padding: 10px 40px 10px 40px;
        .insureHealthCardTitle {
          font-size: fontSize(30);
        }
      }
      .insureHealthLayerTwo {
        padding: 40px 0px 20px 0px;
        .subHealthInsureLayer {
          margin: 10px 40px 10px 40px;
        }
        #insureHeathBoxConatiner{
          margin-top: 30px;
          .insureHealthTerms {
            font-size: fontSize(12);
          }
        }
      }
    }
  }
  .integratedContainer {
    .integratedTitle {
      font-size: fontSize(52);
      width: 100%;
      max-width: 580px;
      line-height: 55px;
    }
    .integratedCard-Content {
      width: 100%;
      max-width: 520px;
    }
  }
  .preferPlanContainer {
    .planTitle {
      font-size: fontSize(52);
    }
    .planPara {
      font-size: fontSize(20);
    }
    .planCard {
      .planContainer{
        padding-bottom: 10px;
        .planCardHeading {
          font-size: fontSize(20);
          transform: translateY(10%);
        }
      }
      .planCardLeft {
        font-size: fontSize(14);
      }
      .planCardRight {
        font-size: fontSize(14);
      }
    }
  }
  .benifitContainer {
    .benifitTitle {
      font-size: fontSize(32);
    }
    .benifitPara {
      font-size: fontSize(15);
    }
    .benifitCardLayout {
      width: 20%;
      .benifitCard {
        .benifitAmt {
          font-size: fontSize(26);
        }
        .benifitType {
          font-size: fontSize(14);
        }
        .babyIcon {
          width: 70px;
          height: 45px;
        }
      }
    }
  }
  .blogContainer {
    .blogTitle {
      font-size: fontSize(40);
      color: $black;
    }
    .blogPara {
      color: $light-tw;
    }
    .blogBannerContainer {
      position: relative;
        .bannerOne{
          position: absolute;
          padding: 50px 70px 0px 70px;
          .blogHeaderContent{
            font-size: fontSize(30);
          }
        }  
        .bannerTwo{
          position: absolute;
          padding: 50px 70px 0px 70px;
          .blogHeaderContent{
            font-size: fontSize(30);
          }
        }   
    }
    .otherProduct-title {
      font-size: fontSize(40);
      color: $black;
    }
    .otherProduct-para {
      color: $light-tw;
    }
    .otherProductCard {
      background-color: $white;
      border-radius: 12px;
      height: 100%;
      .otherProduct-header {
        color: $black;
      }
      .otherProduct-para {
        color: $light-tw;
      }
      .otherProduct-Subheader {
        color: $orange-tw;
      }
      .otherProduct-Subpara {
        color: $light-tw;
      }
    }
  }
}


@include media-breakpoint-tab-land {
  .blogContainer {
    .blogTitle {
      font-size: fontSize(40);
      color: $black;
    }
    .blogPara {
      color: $light-tw;
    }
    .blogBannerContainer {
      position: relative;
        .bannerOne{
          position: absolute;
          top:0%;
          padding: 50px 70px 0px 70px;
          .blogHeaderContent{
            font-size: fontSize(40);
          }
        }  
        .bannerTwo{
          position: absolute;
          top:0%;
          padding: 50px 70px 0px 70px;
          .blogHeaderContent{
            font-size: fontSize(40);
          }
        }   
    }
  }
}