.board_footer {
  h5 {
    font-weight: 800;
    font-size: 28px;
  }

  p {
    font-size: 14px;
    color: #455560;
  }
}

.board_directors_card {
  h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
  }
}

.salampic {
  width: 150px;
  height: 157px;
  background: url(../../../../assets/svg/Social/salambhai.png);
  border-radius: 8px;
}

.salam-text {
  position: relative;
  bottom: 50px;
  width: 134px;
  height: 97px;
  background-color: white;
  border-radius: 8px;
}

.chair-text {
  font-size: 12px;
  font-weight: 400;
}

.next-pic {
  display: flex;
  overflow: auto;
  height: 240px;
  padding-left: 16px;
}

.trusted-font {
  font-size: 13px;
}

.highlights-text {
  font-size: 20px;
  font-weight: 800;
}

.director-text {
  font-weight: 800;
  font-size: 20px;
}

.directors_card_text {
  font-size: 14px;
  font-weight: 800;
  padding-top: 10px;
  line-height: 140%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {
  .board_footer {
    h5 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }
}