@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.dash-download-card,
.ddc {
	background: linear-gradient(
		60.39deg,
		#9aa2af 70.36%,
		rgba(255, 255, 255, 0) 107.41%
	);
	border-radius: 8px;

	.ddc-text {
		width: 50%;

		h5 {
			font-family: "Bliss 2";
			font-weight: 800;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.01em;
			color: #ffffff;
		}

		p {
			font-family: "Bliss 2";
			font-weight: 400;
			font-size: 12px;
			line-height: 20px;
			color: #ffffff;
			margin-bottom: 5px;
		}

		.ddc-button {
			background-color: $primary-tw;
			width: fit-content;
			color: $white;
			font-size: fontSize(11);
			font-weight: 400;
			border-radius: 4px;
			max-height: 35px;
		}
	}

	.ddc-lft-img {
		width: 50%;
		position: relative;

		.imagea {
			position: absolute;
			top: 15%;
			right: 55%;
			height: 4rem;
			z-index: 0;
		}

		.imageb {
			position: absolute;
			z-index: 2;
			bottom: 22%;
			height: 5rem;
			left: 15%;
		}
	}
}
