.maincontact {
	.aligncenterdiv {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.contactptag {
		color: #4c565c;
	}
	.maincard {
		border-radius: 4px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		height: 650px;
		// background: url("../../../assets/svg/Google-Map.svg") ;
		// background-size:cover;
		// background-repeat:no-repeat;
	}
	.form-card {
		border-radius: 10px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		height: 750px !important;
	}
	.filter-card {
		border-radius: 10px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
	}
	.social-card4 {
		border-radius: 12px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: black;
		height: auto;
		color: #ffff;
		padding: 32px 40px;
		margin-top: -85px;

		.mainBannerPara {
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;
			color: #ffffff;
		}
		.mainBannerHeading {
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			color: #ffffff;
		}
		.hrtag {
			opacity: 0.1;
			border: 1px solid #ffffff;
		}
	}

	.contactptagalign {
		width: 120px;
	}

	.selectdropdown {
		width: 250px;
		border-radius: 3px;
		border: 6px solid #f2f3f5;
		height: 50px;

		margin-left: 24px;
	}
	.selectbg {
		background: #f2f3f5;
	}
	.formbg {
		background: #f2f3f5;
		border-radius: 4px;
		width: 97%;
		height: auto;
	}
	.filterinputbg {
		background: #f2f3f5;
		border-radius: 4px;
		width: 97%;
	}

	.form-control {
		border: none;
		height: 50px;
	}
	button.btn {
		border: none !important;
		height: 50px !important;
		-webkit-box-shadow: 0 0 2px #f2f3f5;
		box-shadow: 0 0 2px #f2f3f5;
	}
	.sendoptbtn {
		border-radius: 8px !important;
		background: #ee7500;
		color: #ffff;
		font-size: fontSize(1) !important;
		border: none;
		width: 120px;
	}
	.hideptag {
		display: none;
	}
	.input-group-text {
		background: #ffff;
		border: none;
	}
	.sendbtn {
		width: 100%;
		background: #b3b9c3;
		border-radius: 12px !important;
	}
	.alignhr {
		margin-top: 40px;
	}
	.inputbg {
		background: #f2f3f5;
	}
	.cityalign {
		margin-left: 35px;
	}
	.alignradio {
		margin-left: 230px;
	}

	.social-card5 {
		border-radius: 12px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: #ffff !important;
		height: auto;
		color: black;
		padding: 32px 40px;

		.mainBannerPara {
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;
			color: black;
		}
		.mainBannerHeading {
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			color: black;
		}
		.hrtag {
			opacity: 0.1;
			border: 1px solid black;
		}
	}

	.textclr {
		color: #ee7500;
	}
	.confirmimg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 25%;
	}

	.aligndivcenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
