@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.navbarInsurance {
	height: 52px;
	background-color: $white;
	padding: 0px 35px 0px 35px;
	.navInsuranceTextContent {
		transform: translateY(28px);
	}
	.hamburgerIcon {
		transform: translateY(7px);
		cursor: pointer;
	}
	.tawuniyaLogo {
		transform: translateY(2px);
	}
	.navLink-Text {
		color: #4c565c;
		cursor: pointer;
		transform: translateY(7px);
		font-weight: 600;
		&:hover {
			color: $orange-tw;
			font-weight: 700;
		}
	}
	.getStartBtn {
		background-color: $orange-tw;
		border-radius: 100px;
		font-size: 16px;
		font-weight: 400;
		color: $white;
		width: 100%;
		min-width: 120px;
	}

	.emergencyBtn {
		background-color: $primary-tw;
		border-radius: 100px;
		font-size: 16px;
		font-weight: 400;
		color: $white;
		width: 100%;
		min-width: 120px;
	}

	.languageBtnIcon {
		cursor: pointer;
	}

	.searchBtnIcon,
	.modeBtnIcon,
	.notifyBtnIcon {
		cursor: pointer;
		transform: translateY(4px);
	}

	.headerSearch {
		border-radius: 30px;
		width: 270px;
		border: none;
		background-color: $white;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	}

	#alignRightNavContents {
		transform: translateY(20px);
	}
}

.navLinerContainer {
	padding: 0px 35px 0px 35px;

	.navLiner {
		width: 100%;
		background-color: #e6e6e6;
		padding: 0.5px;
	}
}

.navbarSubInsurance {
	background-color: $white;
	padding: 20px 35px 10px 35px;
	.subInsuranceLogo{
		width: 30px;
		height: 30px;
		transform: translateY(-2px);
	}
	.insuranceNavTitle {
		color: $black;
	}

	.rightNavSubContents {
		color: $light-tw;
		// transform: translateY(8px);
	}

	.navBuyBtn {
		background-color: $orange-tw;
		color: $white;
		border-radius: 4px;
		border: none;
		font-size: fontSize(16);
		font-weight: 400;
		width: 100%;
		height: 35px;
		transform: translateY(-5px);
	}
}

@include media-breakpoint-mobile-port {
	#navbarDesktop {
		display: none;
	}
}

@include media-breakpoint-desktop-port {
	.navbarMobile {
		display: none;
	}
}

@include media-breakpoint-tab-port-med-only {
	.navbarInsurance {
		padding: 0px 0px 0px 0px;

		.navInsuranceTextContent {
			transform: translateY(28px);
		}

		.hamburgerIcon {
			transform: translateY(3px);
			cursor: pointer;
		}

		.tawuniyaLogo {
			transform: translateY(2px);
		}

		.navLink-Text {
			font-size: fontSize(10);
			transform: translateY(10px);
		}

		.getStartBtn {
			font-size: 10px;
			width: 100%;
			min-width: 90px;
		}

		.emergencyBtn {
			font-size: 10px;
			width: 100%;
			min-width: 90px;
		}

		.languageBtnIcon {
			cursor: pointer;
			width: 45px;
			height: 45px;
		}

		.searchBtnIcon,
		.modeBtnIcon,
		.notifyBtnIcon {
			width: 45px;
			height: 45px;
		}

		.headerSearch {
			width: 270px;
		}
	}

	.navLinerContainer {
		padding: 0px;
	}

	.navbarSubInsurance {
		padding: 20px 0px 10px 0px;

		.insuranceNavTitle {
			font-size: fontSize(10);
		}

		.rightNavSubContents {
			font-size: fontSize(10);
			transform: translateY(7px);
		}

		.navBuyBtn {
			font-size: fontSize(10);
		}
	}
}