@import "../../assets/scss/abstracts/abstracts";
@import "../../assets/scss/abstracts/mixins.scss";

.AboutUsContainer,
.AbtUs {
	// About Us Top banner starts here
	// .content-overflow {
	// 	overflow-x: auto;
	// 	&::-webkit-scrollbar {
	// 		height: 6px;
	// 	}
	// 	&::-webkit-scrollbar-track {
	// 		background: #d9dce1;
	// 	}
	// 	&::-webkit-scrollbar-thumb {
	// 		background: $black;
	// 		border-radius: 0;
	// 	}
	// 	&::-webkit-scrollbar-thumb:hover {
	// 		background: $black;
	// 	}
	// }

	.AbtUsTopBanner {
		background-image: url("../../assets/images/tawuniya-HQ1.png");
		background-repeat: no-repeat;
		background-position: 0% 20%;
		background-size: 84rem;
		position: relative;
		margin-top: 25px;
		border-radius: 20px;
		height: 90vh;

		@include media-breakpoint-tab-port {
			background-size: 63.625rem;
			margin-top: 5px;
		}

		.AbtUsLeft {
			.AbtTawuiyaLogo {
				position: absolute;
				top: -8px;
				left: -8px;
				height: -webkit-fill-available;
				width: 49.5%;

				@include media-breakpoint-tab-port {
					top: -25px;
					left: 0px;
					width: 48.5%;
				}
			}
			.AbtUsTextContainer {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				width: 25%;
				position: absolute;
				top: 24%;
				left: 8%;

				@include media-breakpoint-tab-port {
					width: 35%;
				}
				img {
					height: 2rem;
				}
				.AbtUsText {
					h5 {
						margin-top: 10px;
						font-weight: 800;
						font-size: fontSize(46);
						letter-spacing: -1px;
						color: #1a1c1f;
						padding-right: 45px;
					}
					p {
						margin-top: 22px;
						font-weight: 900;
						font-size: fontSize(17);
						line-height: 29px;
						letter-spacing: -0.01em;
						color: #1a1c1f;
					}
				}
			}
		}
		.AbtUsCardsContainer {
			display: flex;
			justify-content: center;
			position: absolute;
			width: 100%;
			top: 78%;

			@include media-breakpoint-tab-port {
				top: 71.5%;
			}
		}
	}
	// About Us Top banner starts here
	// About Us Main section below top banner starts here
	.AbtUsMain {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 190px 45px 70px;
		position: relative;
		height: fit-content;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 20px 40px 20px 20px;
		background-color: #ffffff;
		transform: translateY(-9%);

		@include media-breakpoint-tab-port {
			transform: translateY(-12%);
		}
		img {
			// width: 799.82px;
			// height: 664px;
			height: 32rem;
			position: absolute;
			left: calc(55% - 799.82px / 2 - 0.09px);
			top: calc(50% - 664px / 2 + 0.5px);
			z-index: 0;
		}
		.AbtUsMainText {
			background: transparent;
			z-index: 2;
			h1 {
				font-weight: 800;
				font-size: fontSize(48);
				line-height: 46px;
				letter-spacing: -1px;
				color: #1a1c1f;
				margin-top: 20px;

				@include media-breakpoint-tab-port {
					margin-top: 0;
					font-size: fontSize(36);
				}

				span {
					color: $primary-tw;
				}
			}
			p {
				font-weight: 400;
				font-size: fontSize(16);
				line-height: 25px;
				color: #4c565c;
				margin-top: 25px;

				@include media-breakpoint-tab-port {
					margin-top: 0;
					font-size: fontSize(11);
					padding-right: 12px;
					line-height: 18px;
				}
			}
			.AbtUsMainAddress {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				margin-top: 30px;

				.AbtUsMainPostal,
				.AbtUsMainNational {
					width: 400px;
					font-size: fontSize(16);
					line-height: 22px;
					color: #4c565c;
					padding-right: 0px;

					h5 {
						font-weight: 700;
						font-size: fontSize(16);
						margin-bottom: 20px;
					}

					p {
						margin: 0;
					}
				}
				.AbtUsMainNational {
					margin-left: 20px;
				}
			}
		}
	}

	// About Us Main section below top banner ends here
	.AbtUsFixedHeightCardContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
		margin-top: 0;
		width: 100%;
		transform: translateY(-30px);
	}

	// About Us Timeline section starts here
	.AbtUsTimeline {
		h2 {
			font-weight: 800;
			font-size: fontSize(48);
			line-height: 54px;
			letter-spacing: -1px;
			color: #1a1c1f;
			width: 55%;

			@include media-breakpoint-tab-port {
				width: 76%;
				font-size: fontSize(36);
			}

			span {
				color: $primary-tw;
				margin-left: 10px;
			}
		}

		p {
			margin-top: 25px;
			width: 55%;
			font-weight: 800;
			font-size: fontSize(18);
			line-height: 29px;
			letter-spacing: -0.01em;
			color: #4c565c;

			@include media-breakpoint-tab-port {
				width: 55%;
				font-size: fontSize(14);
			}
		}

		.AbtUsTimeLineSliderContainer {
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;
			/*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
			&::-webkit-scrollbar {
				height: 3px;
				width: 3%;
				cursor: pointer;
			}
			&::-webkit-scrollbar-track {
				background: #d9dce1;
			}
			&::-webkit-scrollbar-thumb {
				background: $black;
				border-radius: 0;
				// height: 50px;
				// width: 50px;
			}
			&::-webkit-scrollbar-thumb:horizontal {
				width: 100px;
				height: 60px;
			}
			&::-webkit-scrollbar-thumb:hover {
				background: $black;
			}

			.AbtUsTimeLineSlider {
				width: fit-content;
				background: linear-gradient(
					90deg,
					#f2f3f5 50.03%,
					rgba(217, 217, 217, 0) 105.36%
				);
				transform: translateX(-3%);
				// transform: translateX(-13%);
				display: flex;
				justify-content: center;

				.AbtUsYr {
					margin-left: 50px;
					position: relative;
					height: 220px;
					width: fit-content;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					.AbtUsbgImg {
						// z-index: 0;
						// height: 4.5rem;
						z-index: 0;
						height: 4.5rem;
						position: absolute;
						top: 70px;
						left: -50px;

						@include media-breakpoint-tab-port {
							height: 3.5rem;
							top: 52px;
						}
					}

					.AbtUsTopLogo {
						// position: absolute;
						// top: 30%;
						display: block;
						margin-left: 45px;
						margin-bottom: 5px;
						position: relative;
						z-index: 1;

						@include media-breakpoint-tab-port {
							margin-left: 25px;
							margin-bottom: 0px;
							transform: translateY(8px);
							height: 16px;
						}
					}

					.dashline {
						position: absolute;
						right: -34px;
						top: 24%;
						z-index: 2;
						border: 1px dashed #4c565c;
						width: 164px;

						@include media-breakpoint-tab-port {
							right: -28px;
							top: 78px;
							border: 1px dashed #4c565c;
							width: 120px;
						}
					}

					.AbtUsYrText {
						// position: absolute;
						width: 270px;
						margin-bottom: 10px;
						z-index: 2;
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						@include media-breakpoint-tab-port {
							width: 180px;
						}
						// position: absolute;
						// top: 40%;
						// left: 24%;
						position: relative;
						h5 {
							font-weight: 800;
							font-size: fontSize(48);
							line-height: 58px;
							text-align: center;
							letter-spacing: -0.01em;
							color: #4c565c;
							display: flex;
							align-items: center;
							justify-content: center;

							@include media-breakpoint-tab-port {
								font-size: fontSize(28);
								margin-bottom: 5px;
								line-height: 55px;
							}
						}

						p {
							width: 100%;
							font-weight: 400;
							font-size: fontSize(16);
							line-height: 22px;
							color: #676f7c;
							margin-top: 0;
							margin-bottom: 0;

							@include media-breakpoint-tab-port {
								font-size: fontSize(11);
							}
						}
					}
					&:last-child {
						.dashline {
							display: none;
						}
					}
				}
			}
		}
	}

	// About Us Timeline section ends here

	// About Us Key Promises Section section starts her
	.AbtUsKeyPromises {
		display: flex;
		justify-content: space-between;
		padding: 50px 0;

		.AbtUskpCardsContainer {
			display: flex;
			justify-content: space-between;

			@include media-breakpoint-tab-port {
				flex: 0 0 48%;
			}

			.AbtUskpCardRight {
				margin-top: 70px;
			}

			@include media-breakpoint-tab-port {
				.AbtUskpCardLeft {
					flex: 0 0 50%;
				}
			}

			@include media-breakpoint-tab-port {
				.AbtUskpCardLeft {
					flex: 0 0 50%;
				}
			}

			.AbtUskpCard {
				margin-right: 20px;
				margin-top: 20px;
				padding: 24px;
				width: 285px;
				height: fit-content;
				background: #ffffff;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 12px;

				@include media-breakpoint-tab-port {
					img {
						height: 2.25rem;
					}
				}

				@include media-breakpoint-tab-port {
					width: calc(100% - 20px);
					margin-left: 0;
					margin-top: 16px;
					margin-right: 16px;
					padding: 18px 18px;
					width: 220px;
				}

				h5 {
					margin-top: 20px;
					font-weight: 800;
					font-size: fontSize(24);
					line-height: 29px;
					letter-spacing: -0.01em;
					text-transform: capitalize;
					color: #1a1c1f;

					@include media-breakpoint-tab-port {
						font-size: fontSize(16);
						line-height: 20px;
						margin-top: 15px;
					}
				}

				p {
					margin-top: 20px;
					font-weight: 400;
					font-size: fontSize(16);
					line-height: 22px;
					color: #1a1c1f;
					margin-bottom: 0;

					@include media-breakpoint-tab-port {
						font-size: fontSize(11);
						line-height: 18px;
						margin-top: 15px;
					}
				}
			}
		}

		.AbtUskpTextContainer {
			width: 45%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;

			.AbtUsKpText {
				margin-top: 80px;

				@include media-breakpoint-tab-port {
					margin-top: 40px;
				}

				h2 {
					font-weight: 800;
					font-size: fontSize(40);
					letter-spacing: -1px;
					color: #1a1c1f;

					@include media-breakpoint-tab-port {
						font-size: fontSize(34);
					}

					span {
						color: #ee7500;
					}
				}

				p {
					font-weight: 800;
					font-size: fontSize(16);
					line-height: 29px;
					letter-spacing: -0.01em;
					color: #4c565c;

					@include media-breakpoint-tab-port {
						font-size: fontSize(15);
					}
				}
			}
		}
	}

	// About Us Key Promises Section section ends here

	// About Us Corporate Governanace Section section start here
	.AbtUsCorpGov {
		display: flex;
		justify-content: space-between;
		padding: 40px 0;

		.AbtusCorpGovLeft {
			@include media-breakpoint-tab-port {
				padding-right: 10px;
			}

			h2 {
				font-weight: 800;
				width: 30%;
				font-size: fontSize(48);
				letter-spacing: -1px;
				color: #1a1c1f;

				@include media-breakpoint-tab-port {
					font-size: fontSize(36);
				}
			}
		}

		@include media-breakpoint-tab-port {
			.AbtUsCorpGovRight {
				padding-left: 10px;
			}
		}

		@include media-breakpoint-tab-port {
			.AbtUsCorpGovRight {
				padding-left: 10px;
			}
		}

		.AbtusCorpGovLeft,
		.AbtUsCorpGovRight {
			.CorpGovCard {
				padding: 25px 35px 25px;
				width: 600px;
				height: fit-content;
				background: #ffffff;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 12px;

				@include media-breakpoint-tab-port {
					width: 100%;
				}

				.AbtUsCorpGovRight {
					width: 100%;
				}

				h5 {
					font-weight: 800;
					font-size: fontSize(28);
					line-height: 48px;
					letter-spacing: -0.02em;
					color: #1a1c1f;

					@include media-breakpoint-tab-port {
						font-size: fontSize(22);
					}
				}

				p {
					font-weight: 600;
					font-size: fontSize(14);
					line-height: 25px;
					color: #4c565c;

					@include media-breakpoint-tab-port {
						font-size: fontSize(11);
						line-height: 18px;
					}
				}
			}
		}
	}
}
// About Us Corporate Governanace Section section ends here

// About Us Our Strategy Section section start here
.AbtUsStrategy {
	display: flex;
	justify-content: space-between;
	background: #ffffff;
	// background-color: black;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 20px;
	padding: 50px 70px;
	margin: 100px 0;
	position: relative;
	height: 640px;

	@include media-breakpoint-tab-port {
		.AbtUsCorpGovRight {
			margin-top: 20px;
		}
	}

	img {
		position: absolute;
	}

	.AbtUsStaBgTop {
		top: 0;
		right: 0;
		height: 32rem;
	}

	.AbtUsStaBgBtm {
		bottom: 0;
		right: 38%;
		height: 18rem;
	}

	.AbtUsStaText {
		h5 {
			font-weight: 800;
			font-size: fontSize(44);
			line-height: 70px;
			letter-spacing: -1px;
			color: #1a1c1f;
		}

		.AbtUsStaTextPara {
			display: flex;
			justify-content: space-between;

			p {
				z-index: 2;
				font-weight: 600;
				font-size: fontSize(14);
				line-height: 25px;
				color: #4c565c;
				width: 320px;

				&:first-child {
					padding-right: 10px;

					@include media-breakpoint-tab-port {
						width: 260px;
						font-size: fontSize(11);
						line-height: 20px;
					}
				}

				&:last-child {
					margin-top: 120px;
					margin-left: 40px;
					padding-right: 18px;

					@include media-breakpoint-tab-port {
						width: 250px;
						font-size: fontSize(11);
						margin-left: 30px;
					}
				}
			}
		}
	}

	.AbtUsStaCard {
		width: fit-content;
		.abtus1 {
			height: 25rem;
			top: -5%;
			right: 4%;
			@include media-breakpoint-tab-port {
				height: 22rem;
			}
		}

		.abtus2 {
			height: 25rem;
			top: 44%;
			right: 18%;

			@include media-breakpoint-tab-port {
				height: 22rem;
				right: 15%;
			}
		}
	}
}
// About Us Our Strategy Section section ends here

@include media-breakpoint-hd-desktop {
	.AboutUsContainer,
	.AbtUs {
		.AbtUsTopBanner {
			background-size: 86.2rem 51rem;

			.AbtUsLeft {
				.AbtTawuiyaLogo {
					position: absolute;
					top: -6%;
					left: -1%;
					height: -webkit-fill-available;
					width: 55%;
				}

				.AbtUsTextContainer {
					left: 6%;
					width: 30%;

					img {
						height: 2.2rem;
					}

					.AbtUsText {
						h5 {
							font-size: fontSize(52);
							padding-right: 25%;
						}

						p {
							font-weight: 900;
							margin-top: 25px;
							font-size: fontSize(22);
							line-height: 27px;
							color: #1a1c1f;
						}
					}
				}
			}

			.AbtUsCardsContainer {
				width: 100%;
				bottom: -2%;
			}
		}

		// About Us Top banner starts here

		// About Us Main section below top banner starts here
		.AbtUsMain {
			img {
				// width: 799.82px;
				// height: 664px;
				height: 32rem;
				position: absolute;
				left: calc(55% - 799.82px / 2 - 0.09px);
				top: calc(50% - 664px / 2 + 0.5px);
				z-index: 0;
			}

			.AbtUsMainText {
				background: transparent;
				z-index: 2;

				h1 {
					font-weight: 800;
					font-size: fontSize(50);
					line-height: 46px;
					letter-spacing: -1px;
					color: #1a1c1f;

					span {
						color: #ee7500;
					}
				}

				p {
					font-weight: 400;
					font-size: fontSize(16);
					line-height: 25px;
					color: #4c565c;
					margin-top: 25px;
				}

				.AbtUsMainAddress {
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					margin-top: 30px;

					.AbtUsMainPostal,
					.AbtUsMainNational {
						width: 400px;
						font-size: fontSize(16);
						line-height: 22px;
						color: #4c565c;
						padding-right: 0px;

						h5 {
							font-weight: 700;
							font-size: fontSize(16);
							margin-bottom: 20px;
						}

						p {
							margin: 0;
						}
					}

					.AbtUsMainNational {
						margin-left: 20px;
					}
				}
			}
		}

		// About Us Timeline section starts here
		.AbtUsTimeline {
			h2 {
				font-size: fontSize(54);
				line-height: 54px;
				width: 55%;

				span {
					color: #ee7500;
					margin-left: 10px;
				}
			}

			p {
				margin-top: 25px;
				width: 65%;
				font-size: fontSize(21);
				line-height: 28px;
			}

			.AbtUsTimeLineSliderContainer {
				overflow-x: auto;
				// &::-webkit-scrollbar {
				// 	height: 6px;
				// 	width: 100px;
				// }
				// &::-webkit-scrollbar-track {
				// 	background: #d9dce1;
				// }
				// &::-webkit-scrollbar-thumb {
				// 	background: $black;
				// 	border-radius: 0;
				// }
				// &::-webkit-scrollbar-thumb:horizontal {
				// 	width: 100px;
				// 	height: 60px;
				// }
				// &::-webkit-scrollbar-thumb:hover {
				// 	background: $black;
				// }

				.AbtUsTimeLineSlider {
					transform: translateX(-3%);

					.AbtUsYr {
						margin-left: 50px;
						height: 270px;

						.AbtUsbgImg {
							// z-index: 0;
							// height: 4.5rem;
							z-index: 0;
							height: 82px;
							position: absolute;
							top: 70px;
							left: -75px;
						}

						.AbtUsTopLogo {
							// position: absolute;
							// top: 30%;
							display: block;
							margin-left: 45px;
							margin-bottom: 5px;
							position: relative;
							z-index: 1;
						}

						.dashline {
							position: absolute;
							right: -8px;
							top: 25%;
							z-index: 2;
							border: 1px dashed #b4b4b4;
							width: 164px;
						}

						.AbtUsYrText {
							// position: absolute;
							width: 270px;
							margin-bottom: 10px;
							z-index: 2;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							margin-bottom: 0;
							// position: absolute;
							// top: 40%;
							// left: 24%;
							position: relative;
							h5 {
								font-weight: 800;
								font-size: fontSize(40);
								line-height: 58px;
								text-align: center;
								letter-spacing: -0.01em;
								color: #4c565c;
								display: flex;
								align-items: center;
								justify-content: center;
							}

							p {
								width: 100%;
								font-weight: 400;
								font-size: fontSize(16);
								line-height: 22px;
								color: #676f7c;
								margin-top: 0;
								margin-bottom: 0;
							}
						}
						&:last-child {
							.dashline {
								display: none;
							}
						}
					}
				}
			}
		}

		// About Us Timeline section ends here

		// About Us Key Promises Section section starts her
		.AbtUsKeyPromises {
			display: flex;
			justify-content: flex-start;
			padding: 50px 0;

			.AbtUskpCardsContainer {
				display: flex;
				justify-content: space-between;

				.AbtUskpCardRight {
					margin-top: 100px;
				}

				.AbtUskpCard {
					margin-right: 20px;
					margin-left: 0;
					margin-top: 20px;
					padding: 24px;
					width: 285px;
					height: fit-content;
					background: #ffffff;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					border-radius: 12px;

					h5 {
						margin-top: 20px;
						font-weight: 800;
						font-size: fontSize(24);
						line-height: 29px;
						letter-spacing: -0.01em;
						text-transform: capitalize;
						color: #1a1c1f;
					}

					p {
						margin-top: 20px;
						font-weight: 600;
						font-size: fontSize(16);
						line-height: 22px;
						color: #676f7c;
						margin-bottom: 0;
					}
				}
			}

			.AbtUskpTextContainer {
				width: 50%;

				.AbtUsKpText {
					margin-top: 80px;

					h2 {
						font-size: fontSize(50);

						span {
							color: #ee7500;
						}
					}

					p {
						font-size: fontSize(20);
						line-height: 29px;
					}
				}
			}
		}

		// About Us Key Promises Section section ends here

		// About Us Corporate Governanace Section section start here
		.AbtUsCorpGov {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 40px 0;

			.AbtusCorpGovLeft {
				h2 {
					font-size: fontSize(56);
				}
			}
			.AbtUsCorpGovRight {
				.CorpGovCard {
					padding: 25px 35px 25px;
					width: 630px;
					height: fit-content;
					background: #ffffff;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					border-radius: 12px;

					h5 {
						font-weight: 800;
						font-size: fontSize(36);
						line-height: 48px;
						color: #1a1c1f;
					}

					p {
						font-weight: 600;
						font-size: fontSize(16);
						line-height: 25px;
						margin-top: 20px;
					}
				}
			}
		}
		// About Us Corporate Governanace Section section ends here

		// About Us Our Strategy Section section start here
		.AbtUsStrategy {
			display: flex;
			justify-content: space-between;
			background: #ffffff;
			// background-color: black;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 20px;
			padding: 50px 70px;
			margin: 50px 0;
			position: relative;
			height: 640px;
			margin-bottom: 100px;
			img {
				position: absolute;
			}

			.AbtUsStaBgTop {
				top: 0;
				right: 0;
				height: 32rem;
			}

			.AbtUsStaBgBtm {
				bottom: 0;
				right: 38%;
				height: 18rem;
			}

			.AbtUsStaText {
				h5 {
					font-weight: 800;
					font-size: fontSize(44);
					line-height: 70px;
					letter-spacing: -1px;
					color: #1a1c1f;
				}

				.AbtUsStaTextPara {
					display: flex;
					justify-content: space-between;

					p {
						z-index: 2;
						font-weight: 600;
						font-size: fontSize(16);
						line-height: 25px;
						color: #4c565c;
						width: 320px;

						&:first-child {
							padding-right: 10px;
						}

						&:last-child {
							margin-top: 120px;
							margin-left: 40px;
							padding-right: 18px;
						}
					}
				}
			}

			.AbtUsStaCard {
				width: fit-content;
				.abtus1 {
					height: 25rem;
					top: -5%;
					right: 4%;
				}

				.abtus2 {
					height: 25rem;
					top: 44%;
					right: 18%;
				}
			}
		}
		// About Us Our Strategy Section section ends here

		.highLightsContainer {
			.cardContainer {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
			.highLightsHead {
				font-weight: 800;
				font-size: fontSize(40);
				line-height: 48px;
				color: #1a1c1f;
				text-align: right;
			}
			.highLightsPar {
				font-weight: 400;
				font-size: fontSize(18);
				line-height: 25.2px;
				color: #4c565c;
				text-align: right;
			}

			.ViewAllProductContainer {
				display: flex;
				justify-content: flex-end;
				.viewAllProductPar {
					margin-top: 15px;
					margin-right: 15px;
					font-weight: 800;
					font-size: fontSize(16);
					line-height: 16px;
					text-transform: uppercase;
				}
			}
		}
	}
}

.language-alignment-right {
	.AbtUsStrategy {
		.AbtUsStaCard {
			.abtus1 {
				right: auto;
				left: 4%;
			}
			.abtus2 {
				right: auto;
				left: 18%;
				@include media-breakpoint-tab-port {
					left: 15%;
				}
			}
		}
	}
	.AboutUsContainer, .AbtUs {
		.AbtUsKeyPromises {
			.AbtUskpCardsContainer {
				.AbtUskpCard {
					margin-right: 0;
					margin-left: 20px;
				}
			}
		}
		.AbtUsTimeline {
			.AbtUsTimeLineSliderContainer {
				.AbtUsTimeLineSlider {
					.AbtUsYr {
						.dashline {
							right: auto;
							left: -34px;
							@include media-breakpoint-hd-desktop {
								left: -8px;
							}
						}
					}
				}
			}
		}
		.AbtUsCorpGov {
			.AbtusCorpGovLeft {
				@include media-breakpoint-tab-port {
					padding-right: 0;
					padding-left: 10px;
				}
			}
		}
		.AbtUsTopBanner {
			// background-image: url("../../assets/images/tawuniya-HQ1-arabic.png");
			transform: scaleX(-1);
			z-index: 2;
			@include media-breakpoint-hd-desktop {
				background-size: cover;
			}
			.AbtUsCardsContainer {
				transform: scaleX(-1);
			}
			.AbtUsLeft {
				.AbtTawuiyaLogo {
					// left: auto;
					// right: -8px;
					// transform: rotateY(180deg);
					// @include media-breakpoint-hd-desktop {
					// 	right: -1%;
					// }
				}
				.AbtUsTextContainer {
					// left: auto;
					// right: 8%;
					// @include media-breakpoint-hd-desktop {
					// 	right: 6%;
					// }
					.AbtUsText {
						h5 {
							padding-right: 0;
						}
					}
					transform: scaleX(-1);
				}
			}
		}
	}
}