.suppport_center_container {
  background-color: white;

  .support_center_header {
    position: relative;

    .support_bg {
      width: 100%;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      top: 25%;
      color: white;
      padding: 15px;
    }

    .sub_Text {
      font-size: 28px;
      top: 12%;
      font-weight: 600;
      margin-top: 32px;
    }

    .close_icon {
      position: absolute;
      right: 4%;
      top: 5%;
      cursor: pointer;
    }
  }

  .header_search_part {
    position: relative;
    padding: 0px 30px;

    .normal-search {
      bottom: 20px;
      height: 45px;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

      .searchBox {
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        padding: 10px 25px 10px 25px;

        i {
          top: 13px;
        }
      }
    }
  }

  .questions_section {
    h {
      font-weight: 800;
      font-size: 20px;
      color: #1a1c1f;
      margin-bottom: 0px;
      margin-left: 16px;
    }

    p {
      font-size: 12px;
      font-weight: 700;
    }

    .question_body {
      .icon_placement {
        padding-right: 16px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        font-family: "Lato";
        color: #4c565c;
        margin: 0px;
        padding: 0px 12px;
      }

      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid #1a1c1f;
      padding-top: 12px;
      padding-left: 16px;
    }
  }

  .service_list {
    padding: 0px 0px 38px 16px;
    background: #f2f3f5;
    border-radius: 20px 20px 0px 0px;

    h5 {
      padding-top: 30px;
      font-weight: 800;
      font-size: 20px;
      color: #1a1c1f;
      padding-bottom: 20px;
    }
  }

  .support_medium {
    background: #d9dce1;
    border-radius: 20px 20px 0px 0px;
    padding: 40px 20px 40px 20px;

    label {
      font-weight: 800;
      font-size: 20px;
      color: #1a1c1f;
      margin-bottom: 0px;
    }
  }
}

.view_all_question {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: end;

  h {
    font-weight: 800;
    font-size: 16px;
    color: black;
    padding-right: 12.5px;
    margin: 0px;
  }
  label {
    font-size: 16px;
    font-weight: 800;
  }
}

.mobile_sticky_bottom_menu {
  display: none;
}
.contact_support_team {
  padding: 16px;
  font-size: 20px;
  font-weight: 800;
}
.view_font_modify {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: end;
  font-size: 12px;
  font-weight: 700;
  color: #455560;
  margin-right: 30px;
  margin-bottom: 10px;
}
