.media_center_news_details_container {
  .headline {
    font-weight: 800;
    font-size: 28px;
    padding: 0px 16px;
    color: #1a1c1f;
    width: 408px;
    letter-spacing: -0.02em;
  }

  .date {
    font-weight: 400;
    font-size: 14px;
    color: #4c565c;
    padding: 0px 16px;
  }

  .cards {
    padding: 8px 16px;
    height: 30px;
    margin-left: 0.4cm;
    margin-top: 0.6cm;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #4c565c;
    width: 87px;
    border-radius: 100px;
  }

  .media_image {
    margin-top: 14px;
    padding: 0px 16px;
    width: -webkit-fill-available;
  }

  .media_body {
    position: relative;
    bottom: 3ch;
    border-radius: 8px;
    padding: 0px 16px;

    .media_text {
      background: #ffffff;
      border-radius: 12px;
      font-family: "IBM Plex Sans", sans-serif;
      color: #4c565c;
      padding: 16px;
      width: 356px;
      font-size: 16px;
      width: 100%;
      font-weight: 400;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    }

    .media_para {
      margin-top: 13px;
    }

    .social-image img {
      margin-right: 2px;
    }
  }

  .media-image-face {
    display: flex;
    width: 32px;
   height:32px;
   
   
  }

  .media_article {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    color: #455560;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .related_news {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.01em;
    color: #1a1c1f;
  }

  
  .media_center_twopoints {
    padding: 0px 16px;

    .competitive_week_ago {
      font-weight: 400;
      font-size: 14px;
      line-height: 31px;

      color: #1a1c1f;
    }

    .media_healthy_lifestyle {
      font-weight: 800;
      font-size: 14px;
      color: #1a1c1f;
    }

    .competitive_days_may {
      font-weight: 400;
      font-size: 14px;
      line-height: 31px;

      color: #1a1c1f;
    }

    .media_finanacial_officer {
      font-weight: 800;
      font-size: 14px;
      color: #1a1c1f;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .media_center_news_details_container {
    .headline {
      font-size: 21px;

      width: 321px;
    }

    .cards {
      padding: 8px 8px;

      width: 70px;
    }
    .date {
      font-size: 12px;
    }
    .media_body .media_text {
    font-size: 12px;
  }
  .media-image-face {
    padding: 1px;
}
.related_news {
  
  font-size: 20px;
 
}
.media-image-face {
 
  width: 25px;
  height: 25px;

}
}
}