.OtherProCard {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 12px;
  padding: 20px;
  width: 32%;

  .OtherProIconCon {
    position: relative;
    height: 100px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 5rem;
        width: auto;
    }

    .OtherProIcon {
      height: 3rem;
    }

    .OtherProBackIcon {
      position: absolute;
      z-index: 0;
    }

    .OtherProIcon {
      position: absolute;
      z-index: 1;
    }
  }

  .OtherProText {
    h5 {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      color: #1a1c1f;
    }

    .p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #4c565c;
    }
  }

  .OtherProBenifits {
    h5 {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;
      color: #ee7500;
    }

    .p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
    }
  }
}
