@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.css-g1d714-ValueContainer {
	padding: 0px !important;
}
.css-6ppok-control {
	min-height: 30px !important;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent;
}

.RecentFeedsDormContainer {
	position: relative;

	.ServiceFeedBackFormContainer {
		z-index: 2;
		top: 5%;
		position: absolute;
		right: -4%;
	}
}

.recentFeedContainer {
	// background-color: $white;
	padding: 10px 0px 0px 0px;
	.recent-main-container {
		.recentTitle {
			color: $light-tw;
		}
		.recentContainer {
			padding: 15px 15px 15px 15px;
			background-color: $lightgrey-tw;
			border-radius: 8px;
			.recentFeed-navpillFlow {
				overflow: auto;
				white-space: pre;
				.pillBox {
					width: 27%;
					display: inline-block;
					.pillIcon {
						width: 30px;
						height: 30px;

						@include media-breakpoint-mobile-land {
							width: fit-content;
						}
					}
					.recentFeedNormalPill {
						background-color: transparent;
						padding: 3px 10px 3px 8px;
						width: max-content;
						cursor: pointer;
					}
					.recentFeedHighlightPill {
						background-color: $white;
						padding: 3px 10px 3px 8px;
						border-radius: 100px;
						width: max-content;
						cursor: pointer;
						box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					}
				}
			}
			.recentFeed-SubForm {
				background-color: $white;
				padding: 10px;
				border-radius: 12px;
				z-index: 1;
				position: relative;
				.inndividualDashboardBtn-highlight {
					background-color: $primary-tw;
					width: 100%;
					color: $white;
					font-size: fontSize(16);
					font-weight: 400;
					border-radius: 4px;
					max-height: 35px;
				}
				.inndividualDashboardBtn {
					background-color: $lightgrey-tw;
					width: 100%;
					color: $light-tw;
					font-size: fontSize(16);
					font-weight: 400;
					border-radius: 4px;
					max-height: 35px;
				}
				.smeDashboardBtn-highlight {
					background-color: $primary-tw;
					width: 100%;
					color: $white;
					font-size: fontSize(16);
					font-weight: 400;
					border-radius: 4px;
					max-height: 35px;
				}
				.smeDashboardBtn {
					background-color: $lightgrey-tw;
					width: 100%;
					color: $light-tw;
					font-size: fontSize(16);
					font-weight: 400;
					border-radius: 4px;
					max-height: 35px;
				}
				.feed-LabelOne,
				.feed-LabelTwo {
					color: $black;
				}
				// Ashwins Code should Started from here ------------------------------------------------
				background-color: $white;
				padding: 10px;
				.recent-main-container {
					.recentTitle {
						color: $light-tw;
					}
					.recentContainer {
						padding: 15px 15px 15px 15px;
						background-color: $lightgrey-tw;
						border-radius: 8px;
						.recentFeed-navpillFlow {
							overflow: auto;
							white-space: pre;
							.pillBox {
								width: 30%;
								display: inline-block;
								.pillIcon {
									width: 30px;
									height: 30px;
								}
								.recentFeedNormalPill {
									background-color: transparent;
									padding: 3px 10px 3px 8px;
									width: max-content;
									cursor: pointer;
								}
								.recentFeedHighlightPill {
									background-color: $white;
									padding: 3px 10px 3px 8px;
									border-radius: 100px;
									width: max-content;
									cursor: pointer;
								}
							}
						}
						.recentFeed-SubForm {
							background-color: $white;
							padding: 10px;
							border-radius: 12px;
							z-index: 9;
							position: relative;
							.inndividualDashboardBtn {
								background-color: $primary-tw;
								width: 100%;
								color: $white;
								font-size: fontSize(16);
								font-weight: 400;
								border-radius: 4px;
								max-height: 35px;
							}
							.smeDashboardBtn {
								background-color: $lightgrey-tw;
								width: 100%;
								color: $light-tw;
								font-size: fontSize(16);
								font-weight: 400;
								border-radius: 4px;
								max-height: 35px;
							}
							.feed-LabelOne,
							.feed-LabelTwo {
								color: $black;
							}
							.cameraIcon {
								position: absolute;
								right: 30px;
							}
							.nationIdClass {
								border: none;
								border-bottom: 1px solid rgba(26, 28, 31, 0.1);
								padding-bottom: 10px;
								&:focus {
									outline: none;
								}
								&::placeholder {
									color: $light-tw;
									font-weight: 400;
									font-size: fontSize(12);
								}
							}
							.bannerSelectInput {
								position: relative;
								bottom: 3px;
								border-bottom: 1px solid rgba(26, 28, 31, 0.1);
								padding-bottom: 5px;
							}
							#bannerArrowAlign {
								bottom: 50%;
							}
							.recentFeedBuyNowBtn {
								width: 100%;
								background-color: $orange-tw;
								color: $white;
								border-radius: 8px;
								font-weight: 400;
								font-size: fontSize(12);
							}
							.recentFeedTerms {
								color: $light-tw;
							}
						}
					}
				}
				.mobileNoClass {
					border: none;
					span {
						font-weight: 400;
						font-size: 16px;
						color: #455560;
					}
					&::placeholder {
						color: $light-tw;
						font-weight: 400;
						font-size: fontSize(12);
					}
					&:focus {
						outline: none;
					}
				}
				.dashboard-languageIcon {
					transform: translateY(100%);
				}
				.emergencyDashboardBtn {
					background-color: $orange-tw;
					border-radius: 100px;
					font-size: 12px;
					font-weight: 400;
					color: $white;
					width: 100%;
					position: relative;
					top: 10%;
				}
				.subDashboardContainer {
					.needHelpTitle {
						color: $light-tw;
					}
					.searchDashboardContainer {
						background-color: $lightgrey-tw;
						padding: 10px 15px 15px 15px;
						border-radius: 12px;
						.helptext {
							color: $light-tw;
						}
						.dashBoardheaderSearch {
							border-radius: 30px;
							width: 100%;
							border: none;
							background-color: $white;
							max-height: 40px;
							box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
						}
						#alignSearchIcon {
							transform: translateY(-5px);
						}
						.dashboard-helpIcons {
							background-color: $white;
							padding: 12px 12px 0px 12px;
							box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
							border-radius: 4px;
							width: 100%;
							height: 100%;
							cursor: pointer;
							.helpIconLabel {
								color: $light-tw;
							}
						}
					}
					.mostFaq {
						color: $light-tw;
						padding: 0px 0px 0px 18px;
					}
				}
				.orangeNewArrow {
					width: 10px;
					height: 10px;
					cursor: pointer;
				}
				.orangeArrow {
					width: 15px;
					height: 15px;
					cursor: pointer;
				}
				.reward-Title {
					color: #455560;
				}
				.recent-BannerFlex {
					display: flex;
					overflow-y: scroll;
					.banner-InnerLayer {
						background-image: url("../../../assets/svg/_Tint-Image.svg");
						background-repeat: no-repeat;
						padding: 10px;
						width: 300px;
						border-radius: 4px;
						.recentInnerDiscount {
							height: 160px;
							.discount-Para {
								color: $white;
								line-height: 20px;
							}
						}
					}
				}
				// Ashwins Code SHould End Here -------------------------------------------------------
				.cameraIcon {
					position: absolute;
					right: 30px;
				}
				.nationIdClass {
					border: none;
					border-bottom: 1px solid rgba(26, 28, 31, 0.1);
					padding-bottom: 10px;
					&:focus {
						outline: none;
					}
					&::placeholder {
						color: $light-tw;
						font-weight: 400;
						font-size: fontSize(12);
					}
				}
				.bannerSelectInput {
					position: relative;
					bottom: 3px;
					border-bottom: 1px solid rgba(26, 28, 31, 0.1);
					padding-bottom: 5px;
				}
				#bannerArrowAlign {
					bottom: 50%;
				}
				.recentFeedBuyNowBtn {
					width: 100%;
					background-color: $orange-tw;
					color: $white;
					border-radius: 8px;
					font-weight: 400;
					font-size: fontSize(12);
				}
				.recentFeedTerms {
					color: $light-tw;
				}
			}
		}
	}
	.mobileNoClass {
		border: none;
		span {
			font-weight: 400;
			font-size: 16px;
			color: #455560;
		}
		&::placeholder {
			color: $light-tw;
			font-weight: 400;
			font-size: fontSize(12);
		}
		&:focus {
			outline: none;
		}
	}
	.dashboard-languageIcon {
		transform: translateY(100%);
	}
	.emergencyDashboardBtn {
		background-color: $orange-tw;
		border-radius: 100px;
		font-size: 12px;
		font-weight: 400;
		color: $white;
		width: 100%;
		position: relative;
		top: 10%;
	}
	.subDashboardContainer {
		.needHelpTitle {
			color: $light-tw;
		}
		.searchDashboardContainer {
			background-color: $lightgrey-tw;
			padding: 10px 15px 15px 15px;
			border-radius: 12px;
			.helptext {
				color: $light-tw;
			}
			.dashBoardheaderSearch {
				border-radius: 30px;
				width: 100%;
				border: none;
				background-color: $white;
				max-height: 40px;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			}
			#alignSearchIcon {
				transform: translateY(-5px);
			}
			.dashboard-helpIcons {
				background-color: $white;
				padding: 12px 12px 0px 12px;
				box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
				border-radius: 4px;
				width: 100%;
				height: 100%;
				cursor: pointer;
				.helpIconLabel {
					color: $light-tw;
				}
			}
		}
		.mostFaq {
			color: $light-tw;
			padding: 0px 0px 0px 18px;
		}
	}
	.orangeNewArrow {
		width: 10px;
		height: 10px;
		cursor: pointer;
	}
	.orangeArrow {
		width: 15px;
		height: 15px;
		cursor: pointer;
	}
	.reward-Title {
		color: #455560;
	}
	.recent-BannerFlex {
		display: flex;
		overflow-y: scroll;
		.banner-InnerLayer {
			background-image: url("../../../assets/svg/_Tint-Image.svg");
			background-repeat: no-repeat;
			padding: 10px;
			width: 300px;
			border-radius: 4px;
			.recentInnerDiscount {
				height: 160px;
				.discount-Para {
					color: $white;
					line-height: 20px;
				}
			}
		}
	}

	.dashboard-socialIconBox {
		margin-top: 25px;
	}
}

@include media-breakpoint-mobile-land {
	.recentFeedContainer {
		background-color: $white;
		padding: 10px 0px 0px 0px;
		.recent-main-container {
			.recentTitle {
				color: $light-tw;
			}
			.recentContainer {
				padding: 15px 15px 15px 15px;
				background-color: $lightgrey-tw;
				border-radius: 8px;
				.recentFeed-navpillFlow {
					overflow: auto;
					white-space: pre;
					.pillBox {
						display: inline-block;
						.recentFeedNormalPill {
							background-color: transparent;
							padding: 3px 10px 3px 8px;
							width: max-content;
							cursor: pointer;
						}
						.recentFeedHighlightPill {
							background-color: $white;
							padding: 3px 10px 3px 8px;
							border-radius: 100px;
							width: max-content;
							cursor: pointer;
							box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
						}
					}
				}
				.recentFeed-SubForm {
					z-index: 1;
					position: relative;
					background-color: #ffffff;
					box-shadow: 0px 4px 10px #091e420f;
					border-radius: 12px;
					padding: 16px !important;
					.inndividualDashboardBtn-highlight {
						background-color: $primary-tw;
						width: 100%;
						color: $white;
						font-size: fontSize(16);
						font-weight: 400;
						border-radius: 4px;
						max-height: 35px;
						min-height: 42px;
						span {
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
						}
					}
					.inndividualDashboardBtn {
						background-color: $lightgrey-tw;
						width: 100%;
						color: $light-tw;
						font-size: fontSize(16);
						font-weight: 400;
						border-radius: 4px;
						max-height: 35px;
					}
					.smeDashboardBtn-highlight {
						background-color: $primary-tw;
						width: 100%;
						color: $white;
						font-size: fontSize(16);
						font-weight: 400;
						border-radius: 4px;
						max-height: 35px;
					}
					.smeDashboardBtn {
						background-color: $lightgrey-tw;
						width: 100%;
						color: $light-tw;
						font-size: fontSize(16);
						font-weight: 400;
						border-radius: 4px;
						max-height: 35px;
						min-height: 42px;
						span {
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
						}
					}
					.feed-LabelOne,
					.feed-LabelTwo {
						font-weight: 800;
						font-size: 14px;
						display: flex;
						align-items: center;
						color: #1a1c1f;
						padding-top: 15px !important;
					}
					// Ashwins Code should Started from here ------------------------------------------------
					background-color: $white;
					padding: 10px;
					.recent-main-container {
						.recentTitle {
							color: $light-tw;
						}
						.recentContainer {
							padding: 15px 15px 15px 15px;
							background-color: $lightgrey-tw;
							border-radius: 8px;
							.recentFeed-navpillFlow {
								overflow: auto;
								white-space: pre;
								.pillBox {
									width: 30%;
									display: inline-block;
									.pillIcon {
										width: fit-content !important;
										height: 30px;
									}
									.recentFeedNormalPill {
										background-color: transparent;
										padding: 3px 10px 3px 8px;
										width: max-content;
										cursor: pointer;
									}
									.recentFeedHighlightPill {
										background-color: $white;
										padding: 3px 10px 3px 8px;
										border-radius: 100px;
										width: max-content;
										cursor: pointer;
									}
								}
							}
							.recentFeed-SubForm {
								background-color: $white;
								padding: 10px;
								border-radius: 12px;
								z-index: 9;
								position: relative;
								.inndividualDashboardBtn {
									background-color: $primary-tw;
									width: 100%;
									color: $white;
									font-size: fontSize(16);
									font-weight: 400;
									border-radius: 4px;
									max-height: 35px;
								}
								.smeDashboardBtn {
									background-color: $lightgrey-tw;
									width: 100%;
									color: $light-tw;
									font-size: fontSize(16);
									font-weight: 400;
									border-radius: 4px;
									max-height: 35px;
								}
								.feed-LabelOne,
								.feed-LabelTwo {
									color: $black;
								}
								.cameraIcon {
									position: absolute;
									right: 30px;
								}
								.nationIdClass {
									border: none;
									border-bottom: 1px solid rgba(26, 28, 31, 0.1);
									padding-bottom: 10px;
									&:focus {
										outline: none;
									}
									&::placeholder {
										font-style: normal;
										font-weight: 400;
										font-size: 16px;
										line-height: 16px;
										color: #455560;
										opacity: 0.5;
									}
								}
								.bannerSelectInput {
									position: relative;
									bottom: 3px;
									border-bottom: 1px solid rgba(26, 28, 31, 0.1);
									padding-bottom: 5px;
								}
								#bannerArrowAlign {
									bottom: 50%;
								}
								.recentFeedBuyNowBtn {
									width: 100%;
									background-color: $orange-tw;
									color: $white;
									border-radius: 8px;
									font-weight: 400;
									font-size: fontSize(12);
								}
								.recentFeedTerms {
									color: $light-tw;
								}
							}
						}
					}
					.mobileNoClass {
						border: none;
						span {
							font-weight: 400;
							font-size: 16px;
							color: #455560;
						}
						&::placeholder {
							color: $light-tw;
							font-weight: 400;
							font-size: 16px;
							color: #455560;
							opacity: 0.5;
						}
						&:focus {
							outline: none;
						}
					}
					.dashboard-languageIcon {
						transform: translateY(100%);
					}
					.emergencyDashboardBtn {
						background-color: $orange-tw;
						border-radius: 100px;
						font-size: 12px;
						font-weight: 400;
						color: $white;
						width: 100%;
						position: relative;
						top: 10%;
					}
					.subDashboardContainer {
						.needHelpTitle {
							color: $light-tw;
						}
						.searchDashboardContainer {
							background-color: $lightgrey-tw;
							padding: 10px 15px 15px 15px;
							border-radius: 12px;
							.helptext {
								color: $light-tw;
							}
							.dashBoardheaderSearch {
								border-radius: 30px;
								width: 100%;
								border: none;
								background-color: $white;
								max-height: 40px;
								box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
							}
							#alignSearchIcon {
								transform: translateY(-5px);
							}
							.dashboard-helpIcons {
								background-color: $white;
								padding: 12px 12px 0px 12px;
								box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
								border-radius: 4px;
								width: 100%;
								height: 100%;
								cursor: pointer;
								.helpIconLabel {
									color: $light-tw;
								}
							}
						}
						.mostFaq {
							color: $light-tw;
							padding: 0px 0px 0px 18px;
						}
					}
					.orangeNewArrow {
						width: 10px;
						height: 10px;
						cursor: pointer;
					}
					.orangeArrow {
						width: 15px;
						height: 15px;
						cursor: pointer;
					}
					.reward-Title {
						color: #455560;
					}
					.recent-BannerFlex {
						display: flex;
						overflow-y: scroll;
						.banner-InnerLayer {
							background-image: url("../../../assets/svg/_Tint-Image.svg");
							background-repeat: no-repeat;
							padding: 10px;
							width: 300px;
							border-radius: 4px;
							.recentInnerDiscount {
								height: 160px;
								.discount-Para {
									color: $white;
									line-height: 20px;
								}
							}
						}
					}
					// Ashwins Code SHould End Here -------------------------------------------------------
					.cameraIcon {
						position: absolute;
						right: 30px;
					}
					.nationIdClass {
						border: none;
						border-bottom: 1px solid rgba(26, 28, 31, 0.1);
						padding-bottom: 10px;
						&:focus {
							outline: none;
						}
						&::placeholder {
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							line-height: 16px;
							color: #455560;
							opacity: 0.5;
						}
					}
					.bannerSelectInput {
						position: relative;
						bottom: 3px;
						border-bottom: 1px solid rgba(26, 28, 31, 0.1);
						padding-bottom: 5px;
					}
					#bannerArrowAlign {
						bottom: 50%;
					}
					.recentFeedBuyNowBtn {
						width: 100%;
						background-color: $orange-tw;
						color: $white;
						border-radius: 8px;
						font-weight: 400;
						font-size: fontSize(12);
					}
					.recentFeedTerms {
						font-weight: 400;
						font-size: 12px;
						color: #455560;
					}
				}
			}
		}
		.mobileNoClass {
			border: none;
			span {
				font-weight: 400;
				font-size: 16px;
				color: #455560;
			}
			&::placeholder {
				color: $light-tw;
				font-weight: 400;
				font-size: 16px;
			}
			&:focus {
				outline: none;
			}
		}
		.dashboard-languageIcon {
			transform: translateY(100%);
		}
		.emergencyDashboardBtn {
			background-color: $orange-tw;
			border-radius: 100px;
			font-size: 12px;
			font-weight: 400;
			color: $white;
			width: 100%;
			position: relative;
			top: 10%;
		}
		.subDashboardContainer {
			.needHelpTitle {
				color: $light-tw;
			}
			.searchDashboardContainer {
				background-color: $lightgrey-tw;
				padding: 10px 15px 15px 15px;
				border-radius: 12px;
				.helptext {
					color: $light-tw;
				}
				.dashBoardheaderSearch {
					border-radius: 30px;
					width: 100%;
					border: none;
					background-color: $white;
					max-height: 40px;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				}
				#alignSearchIcon {
					transform: translateY(-5px);
				}
				.dashboard-helpIcons {
					background-color: $white;
					padding: 12px 12px 0px 12px;
					box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
					border-radius: 4px;
					width: 100%;
					height: 100%;
					cursor: pointer;
					.helpIconLabel {
						color: $light-tw;
					}
				}
			}
			.mostFaq {
				color: $light-tw;
				padding: 0px 0px 0px 18px;
			}
		}
		.orangeNewArrow {
			width: 10px;
			height: 10px;
			cursor: pointer;
		}
		.orangeArrow {
			width: 15px;
			height: 15px;
			cursor: pointer;
		}
		.reward-Title {
			color: #455560;
		}
		.recent-BannerFlex {
			display: flex;
			overflow-y: scroll;
			.banner-InnerLayer {
				background-image: url("../../../assets/svg/_Tint-Image.svg");
				background-repeat: no-repeat;
				padding: 10px;
				width: 300px;
				border-radius: 4px;
				.recentInnerDiscount {
					height: 160px;
					.discount-Para {
						color: $white;
						line-height: 20px;
					}
				}
			}
		}
	}
}

.health-recentFeed-SubForm {
	background-color: $white;
	padding: 10px;
	border-radius: 12px;
	.health-inndividualDashboardBtn-highlight {
		background-color: $primary-tw;
		width: 100%;
		color: $white;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.health-inndividualDashboardBtn {
		background-color: $lightgrey-tw;
		width: 100%;
		color: $light-tw;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.health-smeDashboardBtn-highlight {
		background-color: $primary-tw;
		width: 100%;
		color: $white;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.health-smeDashboardBtn {
		background-color: $lightgrey-tw;
		width: 100%;
		color: $light-tw;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.health-feed-LabelOne,
	.health-feed-LabelTwo {
		color: $black;
	}
	.health-cameraIcon {
		position: absolute;
		right: 30px;
	}
	.health-nationIdClass {
		border: none;
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		padding-bottom: 10px;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: $light-tw;
			font-weight: 400;
			font-size: fontSize(12);
		}
	}
	.health-bannerSelectInput {
		position: relative;
		bottom: 3px;
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		padding-bottom: 5px;
	}
	#health-bannerArrowAlign {
		bottom: 50%;
	}
	.health-mobileNoClass {
		border: none;
		&::placeholder {
			color: $light-tw;
			font-weight: 400;
			font-size: fontSize(12);
		}
		&:focus {
			outline: none;
		}
	}
	.health-recentFeedBuyNowBtn {
		width: 100%;
		background-color: $orange-tw;
		color: $white;
		border-radius: 8px;
		font-weight: 400;
		font-size: fontSize(12);
	}
	.health-recentFeedTerms {
		color: $light-tw;
	}
}

.travel-recentFeed-SubForm {
	background-color: $white;
	padding: 10px;
	border-radius: 12px;
	.travel-inndividualDashboardBtn-highlight {
		background-color: $primary-tw;
		width: 100%;
		color: $white;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.travel-inndividualDashboardBtn {
		background-color: $lightgrey-tw;
		width: 100%;
		color: $light-tw;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.travel-smeDashboardBtn-highlight {
		background-color: $primary-tw;
		width: 100%;
		color: $white;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.travel-smeDashboardBtn {
		background-color: $lightgrey-tw;
		width: 100%;
		color: $light-tw;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.travel-feed-LabelOne,
	.travel-feed-LabelTwo {
		color: $black;
	}
	.travel-cameraIcon {
		position: absolute;
		right: 30px;
	}
	.travel-nationIdClass {
		border: none;
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		padding-bottom: 10px;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: $light-tw;
			font-weight: 400;
			font-size: fontSize(12);
		}
	}
	.travel-bannerSelectInput {
		position: relative;
		bottom: 3px;
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		padding-bottom: 5px;
	}
	#travel-bannerArrowAlign {
		bottom: 50%;
	}
	.travel-mobileNoClass {
		border: none;
		&::placeholder {
			color: $light-tw;
			font-weight: 400;
			font-size: fontSize(12);
		}
		&:focus {
			outline: none;
		}
	}
	.travel-recentFeedBuyNowBtn {
		width: 100%;
		background-color: $orange-tw;
		color: $white;
		border-radius: 8px;
		font-weight: 400;
		font-size: fontSize(12);
	}
	.travel-recentFeedTerms {
		color: $light-tw;
	}
}

.covid-recentFeed-SubForm {
	background-color: $white;
	padding: 10px;
	border-radius: 12px;
	.covid-inndividualDashboardBtn-highlight {
		background-color: $primary-tw;
		width: 100%;
		color: $white;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.covid-inndividualDashboardBtn {
		background-color: $lightgrey-tw;
		width: 100%;
		color: $light-tw;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.covid-smeDashboardBtn-highlight {
		background-color: $primary-tw;
		width: 100%;
		color: $white;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.covid-smeDashboardBtn {
		background-color: $lightgrey-tw;
		width: 100%;
		color: $light-tw;
		font-size: fontSize(16);
		font-weight: 400;
		border-radius: 4px;
		max-height: 35px;
	}
	.covid-feed-LabelOne,
	.covid-feed-LabelTwo {
		color: $black;
	}
	.covid-cameraIcon {
		position: absolute;
		right: 30px;
	}
	.covid-nationIdClass {
		border: none;
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		padding-bottom: 10px;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: $light-tw;
			font-weight: 400;
			font-size: fontSize(12);
		}
	}
	.covid-bannerSelectInput {
		position: relative;
		bottom: 3px;
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		padding-bottom: 5px;
	}
	#covid-bannerArrowAlign {
		bottom: 50%;
	}
	.covid-mobileNoClass {
		border: none;
		&::placeholder {
			color: $light-tw;
			font-weight: 400;
			font-size: fontSize(12);
		}
		&:focus {
			outline: none;
		}
	}
	.covid-recentFeedBuyNowBtn {
		width: 100%;
		background-color: $orange-tw;
		color: $white;
		border-radius: 8px;
		font-weight: 400;
		font-size: fontSize(12);
	}
	.covid-recentFeedTerms {
		color: $light-tw;
	}
}

@include media-breakpoint-med-desktop {
	.recentFeedContainer {
		.recent-main-container {
			.recentContainer {
				.recentFeed-navpillFlow {
					.pillBox {
						width: 29%;
						.recentFeedHighlightPill {
							.recentFeed-normalPillLabel {
								font-size: fontSize(10);
							}
						}
						.recentFeedNormalPill {
							.recentFeed-normalPillLabel {
								font-size: fontSize(10);
							}
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-tab-land {
	.recentFeedContainer {
		.recent-main-container {
			.recentContainer {
				.recentFeed-getInsureLabel {
					font-size: fontSize(10);
				}
				.recentFeed-navpillFlow {
					.pillBox {
						width: 40%;
						.pillIcon {
							width: 25px;
							height: 25px;
						}
						.recentFeedNormalPill {
							background-color: transparent;
							padding: 2px 10px 2px 8px;
							width: max-content;
							cursor: pointer;
							.recentFeed-normalPillLabel {
								font-size: fontSize(10);
							}
						}
						.recentFeedHighlightPill {
							background-color: $white;
							padding: 2px 10px 2px 8px;
							border-radius: 100px;
							width: max-content;
							cursor: pointer;
							.recentFeed-normalPillLabel {
								font-size: fontSize(10);
							}
						}
					}
				}
			}
		}
		.dashboard-languageIcon {
			width: 40px;
			height: 40px;
			position: absolute;
			top: -30px;
			left: 15%;
			z-index: 3;
		}
		.dashboard-top-icons {
			width: 40px;
			height: 40px;
		}
		.emergencyDashboardBtn {
			font-size: fontSize(10);
			width: 100%;
			height: 30px;
			position: relative;
			top: 10%;
		}
		.subDashboardContainer {
			.searchDashboardContainer {
				.helptext {
					font-size: fontSize(12);
				}
				.dashBoardheaderSearch {
					max-height: 40px;
					&::placeholder {
						font-size: fontSize(12);
						transform: translateY(-2px);
					}
				}
				#alignSearchIcon {
					transform: translateY(-3px);
				}
				.dashboard-helpIcons {
					.helpIconLabel {
						font-size: fontSize(7);
					}
				}
			}
		}
		.reward-Title {
			font-size: fontSize(12);
			transform: translateY(10px);
		}
		.recent-BannerFlex {
			.banner-InnerLayer {
				.recentInnerDiscount {
					height: 160px;
					.discount-Para {
						color: $white;
						line-height: 20px;
					}
				}
			}
		}

		.dashboard-socialIconBox {
			margin-top: 25px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.recentFeedContainer {
		.recent-main-container {
			.recentContainer {
				.recentFeed-SubForm {
					.recentFeedBuyNowBtn {
						font-size: 18px;
					}
				}
			}
		}
	}
	.productsOfferings div.swipercards .card .bottom-slide h4 {
		font-weight: 600;
		font-style: normal;
		font-weight: 800;
		font-size: 20px;
		color: #ffffff;
	}
	.productsOfferings .product-row,
	.productsOfferings {
		margin: 0px !important;
	}
	.productsOfferings .te-style {
		margin-left: 16px;
	}
	.productsOfferings div.swipercards .card {
		&:nth-child(1) {
			margin-left: 16px;
		}
	}
}
