@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

// languagecard starts here
.language-card-container {
	.language-card-container-heading {
		font-weight: 900;
		.suggested-language-cards {
			background-color: #f2f3f5;
			border-radius: 5px;
			padding: 9px 8px 8px 8px;
			z-index: -999;
			cursor: pointer;
			.language-Name {
				cursor: pointer;
			}
			.flagPic {
				position: relative;
				top: 15px;
			}
		}
		.suggested-highlight-language-cards {
			background-color: $black;
			border-radius: 5px;
			padding: 9px 8px 8px 8px;
			z-index: -999;
			cursor: pointer;
			.language-Name {
				cursor: pointer;
			}
			.flagPic {
				position: relative;
				top: 15px;
			}
		}
	}
}

// languagecard ends here

// support card starts here
.support-card-container {
	img {
		margin-top: 5px;
	}

	.support-title {
		width: 100%;
		max-width: 250px;
		letter-spacing: -1px;
	}

	.support-para {
		border-bottom: 1px solid #f2f3f5;
	}

	#borderTitle {
		border-bottom: 1px solid #f2f3f5;
	}

	.supportCard-para {
		color: grey;
	}

	.supportCard-para-highlight {
		color: $black;

		.added-subTitle {
			display: block;
		}
	}
}

// supportcard ends here

// emergencyCard starts here
.emergency-card-Container {
	.emergenyContainer {
		border-bottom: 1px solid #f2f3f5;
	}

	.sub-emergency-conatiner {
		border-bottom: 1px solid #f2f3f5;
	}

	.emergencyTitle {
		color: $black;
	}

	.emergencyPara {
		color: #676f7c;
	}
}

// emergencyCard ends here

// moreProductCard starts here

.More-ProductCard-Container {
	position: absolute;
	z-index: 10;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	.moreProduct-title {
		color: $black;
		border-bottom: 1px solid #f2f3f5;
	}
	.corporate-moreProduct-title {
		color: $black;
		border-bottom: 1px solid #f2f3f5;
	}
	.moreProduct-liner {
		border-right: 1px solid rgba(26, 28, 31, 0.1);
		.corporate-enterpriseProductTitle,
		.corporate-smeProductTitle {
			color: $primary-tw;
		}
		.corporate-moreproduct-contentTitle {
			color: $black;
		}
		.corporate-moreproduct-contentPara {
			color: $newLight-tw;
		}
		.corporate-moreproduct-link {
			color: $black;
		}
		.corporate-orangeArrow {
			width: 10px;
			height: 10px;
		}
	}
	.corporate-smeProductTitle {
		color: $primary-tw;
	}
	.corporate-moreproduct-360-contentPara {
		width: 100%;
		max-width: 170px;
		color: $newLight-tw;
	}
	.corporate-moreproduct-360Link {
		color: $black;
	}
	.corporate-360-orangeArrow {
		width: 10px;
		height: 10px;
	}
}

// moreProductCard ends here

.eventCard {
	width: 20% !important;
	max-width: 20%;
	padding: 5px;
	cursor: pointer;
	.eventCard-content-box {
		border-radius: 12px;
		padding: 25px 25px 0px 25px;
		.dateText {
			color: $white;
			margin-top: 5px;
		}
		.cardEventBtn {
			background-color: #ee7500;
			color: $white;
			font-size: fontSize(11);
			font-weight: 700;
			border-radius: 100px;
			width: 100%;
			min-width: 70px;
			max-height: 25px;
		}
		.eventCardSize {
			height: 205px;
			.eventContent {
				width: 100%;
				max-width: 195px;
				color: $white;
				font-size: fontSize(16);
			}
		}
	}
}

.viewUpdateFooterLink {
	color: $white;
}

.footerOrangeArrow {
	width: 13px;
	height: 13px;
}

// getStartedcard starts here
.getStartedContainer {
	width: 100%;
	max-width: 600px;

	.getStartedLayerOne {
		background-color: $white;
		border-radius: 12px 0px 0px 12px;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

		.getStartedLiningOne {
			border-bottom: 1px solid #f2f3f5;

			.linkTextOne {
				color: #ee7500;
			}

			.arrowSize {
				width: 20px;
				height: 20px;
			}

			.getStartedTitle {
				color: $black;
			}

			.getStartedPara {
				color: #676f7c;
			}
		}

		.getStartedNoLining {
			.linkTextOne,
			.linkTextTwo {
				color: #ee7500;
			}

			.arrowSize {
				width: 20px;
				height: 20px;
			}

			.getStartedTitle {
				color: $black;
			}

			.getStartedPara {
				color: #676f7c;
			}
		}
	}

	.getStartedLayerTwo {
		background-color: #f2f3f5;
		border-radius: 0px 12px 12px 0px;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

		.emergencyLining {
			border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		}

		.myAccountBtn {
			background-color: #ee7500;
			font-size: fontSize(16);
			font-weight: 400;
			border-radius: 8px;
			color: $white;
		}

		.serviceIconSize {
			width: 25px;
			height: 25px;
		}

		.getStartedPara {
			color: #676f7c;
		}
	}
}

// getStartedcard ends here

@include media-breakpoint-mobile-port {
	.eventCard {
		display: none;
	}
}

@include media-breakpoint-tab-port {
	.eventCard {
		.eventCard-content-box {
			padding: 10px;

			.dateText {
				font-size: fontSize(10);
				transform: translateY(7px);
			}

			.cardEventBtn {
				font-size: fontSize(10);
				width: 100%;
				min-width: 70px;
				max-height: 25px;
			}

			.eventCardSize {
				height: 155px;

				.eventContent {
					font-size: fontSize(10);
				}
			}
		}
	}
}

@include media-breakpoint-tab-port-med-only {
	.eventCard {
		width: 25%;
		padding: 3px;

		.eventCard-content-box {
			padding: 10px;

			.dateText {
				font-size: fontSize(10);
				transform: translateY(7px);
			}

			.cardEventBtn {
				font-size: fontSize(10);
				width: 100%;
				min-width: 70px;
				max-height: 25px;
			}

			.eventCardSize {
				height: 155px;

				.eventContent {
					font-size: fontSize(10);
				}
			}
		}
	}
}
