@import "../../../assets/scss/abstracts/mixins.scss";
@import "../../../assets/scss/abstracts/abstracts";


.MuiButton-root{
	text-transform: none !important;
}
.MuiButton-outlined{
	padding: 10px 15px !important;
}
.FAQContainer {
	height: fit-content;
	padding:40px 0;
	width: 100%;

	.FAQText {
		h5 {
			font-weight: 800;
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -0.02em;
			color: $black;
		}

		span {
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			color: $light-tw;
		}
	}

	.FAQBox {
		margin-top: 30px;

		.FAQBoxHead {
			padding: 20px 24px;
			height: fit-content;
			background: #ffffff;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 8px;
			margin-bottom: 20px;

			.FAQBoxInner {
				display: flex;
				flex-direction: row;
				align-items: center;

				.iconPlus {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 0px;
					padding: 10px;
					background: #fdf1e6;
					border-radius: 100px;
				}

				.iconMinus {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 0px;
					padding: 5px;
					background: #ee7500;
					border-radius: 100px;
				}

				p {
					margin-bottom: 0;
					margin-left: 20px;
				}
			}

			.FAQBoxAns {
				background: #f2f3f5;
				border-radius: 8px;
				padding: 24px;
				margin-top: 20px;
			}
		}
	}
}

@include media-breakpoint-tab-land{
	.FAQContainer {
		.FAQText {
			h5 {
				font-size: 26px;
				line-height: 20px;
			}
			span {
				font-size: 12px;
			}
		}
	}
}

@include media-breakpoint-tab-port-med-only{
	.FAQContainer {
		.FAQText {
			h5 {
				font-size: 26px;
				line-height: 20px;
			}
			span {
				font-size: 12px;
			}
		}
	}
}
