    .white_header_container {
        .close_service_list {
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .white_header_body {
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 0px 0px 12px 12px;
            height: 158px;

            p {
                color: #455560;
                padding: 0px 16px;
                margin-bottom: 0px;
            }

            p:first-child {
                font-size: 12px;
                font-weight: 400;
                padding: 55px 16px 0px;

            }

            .menu_option {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 54px;
                font-weight: 400;
                font-size: 16px;
                color: #9AA2AF;
                padding: 16px;

            }

            .service_buttons {
                overflow-x: auto;
                display: flex;
                align-items: center;
                margin-top: 16px;
                padding: 0px 16px;

                button {
                    padding: 10px;
                    height: 42px;
                    font-weight: 400;
                    font-size: 14px;
                    color: #455560;
                    background: white;
                    margin-right: 8px;
                    margin-bottom: 0px;
                    text-align: center;
                    border: none;
                    background: #F2F3F5;
                    border-radius: 4px;
                    white-space: nowrap;
                }

                .active {
                    font-size: 16px;
                    color: #FFFFFF;
                    background: #EE7500;
                }
            }
        }
    }