.footer_container {
    background: #9AA2AF;
    // height: 519px;
    border-radius: 23px 0px 0px;
    padding: 70px 16px 54px 16px;
    color: #FFFFFF;
    position: relative;
    // top: -21px;


    .follow_as_section {
        padding-bottom: 20px;
        border-bottom: 1px solid white;

        h6 {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
        }

        img {
            margin-right: 8px;
            cursor: pointer;

            :last-child {
                margin: 0px;
            }
        }
    }

    .everthing_tawuniya_section,
    .copy_right_section {
        padding: 23px 0px;
        display: flex;
        align-items: center;

        label {
            margin-bottom: 0px;
            font-weight: 800;
            font-size: 14px;
            margin-right: 9.5px;
            line-height: 12px;
            text-transform: uppercase;
        }
    }

    .copy_right_section {
        border-top: 1px solid white;

        label {
            text-transform: initial;
            font-weight: 400;
        }

        img {
            margin-right: 16px;

        }
    }

    .footer_bottom_section {
        margin-top: 20px;

        p {
            cursor: pointer;
            font-weight: 400;
            font-size: 12px;
            color: white;
        }

        .footer_bottom_logo {
            position: absolute;
            top: 40px;
            right: 3%;
        }
    }
}