@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.progressbar {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.counter div {
	background-color: white;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 50%;
	width: 2em;
	line-height: 1.88em;
	vertical-align: top;
}
.counter td {
	cursor: pointer;
	text-align: center;
	position: relative;
}
.counter span {
	position: absolute;
	top: 50%;
	left: -50%;
	width: 100%;
	border-top: 2px solid #ee8018;
	z-index: 1;
}
img.progress-icons {
	z-index: 3;
	position: relative;
}



.requestMaincontent {
	.requestmaincard {
		border-radius: 12px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: #ffff;
		padding: 0px 10px 30px 10px;
	}
	.alert-requestmaincard {
		border-radius: 12px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: #ffff;
		padding: 30px 10px 30px 10px;
	}
	.alert {
		background: #e3ffef;
		border-radius: 8px;
		width: 95%;
		height: auto;
	}
	.alertptag {
		color: #0e311e;
	}

	.alertptag-heading {
		color: #455560;
		@include media-breakpoint-med-desktop {
			font-size: fontSize(11);
		}
	}
	.alignimage {
		display: block;
		margin-left: auto;
		padding-right: 20px;
	}
	.hrtag {
		width: 97%;
		height: auto;
	}
	.detailbg {
		background: #f2f3f5;
		border-radius: 8px;
		width: 97%;
		height: auto;
	}
	.vertical-line {
		width: 1px;
		background-color: rgba(26, 28, 31, 0.1);
		height: 60%;
		float: left;
		border-radius: 1px;
		margin-top: 20px;
	}
	.alignwidth {
		width: 140%;
	}
	.requestid {
		color: #1a1c1f;
	}
	.reducespace {
		margin-top: -10px;
		color: $black;
		@include media-breakpoint-med-desktop {
			font-size: fontSize(11);
		}
	}
	.reducespace-consult{
		width: 100%;
		max-width: 85%;
		color: $black;
		@include media-breakpoint-med-desktop {
			font-size: fontSize(11);
		}
	}
	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.requestConfirmedText {
		color: $newLight-tw;
	}
	.requestIdLiner {
		width: 100%;
		background-color: rgba(26, 28, 31, 0.1);
		padding: 0.3px;
	}
}
// modal---------------
.textalign-right {
	text-align: right;
	margin-left: auto !important;
}
.sendbtn {
	width: 100%;
	background: #f47b20;
	border-radius: 10px !important;
	margin-top: 10px;
	border: none;
}
.modal {
	border: none;
}
.closeicon {
	width: 5%;
	display: block;
	margin-left: auto;
}
