@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1400px) and (max-width: 1699px) {
	.serviceContainer {
		margin-top: 70px;
	}

	.style_sCardContainer__1UDC_
		.style_sCardTextBox__1nmWh
		.style_sCardBoxHeading__17Sjg {
		font-size: 18px;
	}

	.style_sCardContainer__1UDC_
		.style_sCardTextBox__1nmWh
		.style_sCardBoxDescription__2WdTY {
		font-size: 12px;
	}

	.faboutImgCardContainer .faboutImgCc .faboutImgTitlea,
	.faboutImgCard .faboutImgCc .faboutImgTitlea {
		font-size: 28px;
	}

	.FooterAboutContainer
		.FooterAbout
		.FootAbtLeft
		.FooterAbtFetureTitleDescription {
		font-size: 17px;
	}

	p.FootAbtSubTitile {
		font-size: 17px;
	}
}

@media only screen and (min-width: 1700px) {
}
