@import "../../../assets/scss/abstracts/abstracts";

.shareinformation.shareinformation_mobile {
	h5 {
		margin-top: 24px;
		margin-bottom: 12px;
		font-weight: 800;
		font-size: 28px;
		letter-spacing: -0.02em;
		color: #1a1c1f;
		padding: 0px 16px;
	}

	.share-info-subnav {
		background: none;
		overflow: scroll;
		box-shadow: none;

		.buyButton {
			background: white;
			border-radius: 4px;
			font-size: 16px;
			font-weight: 400;
			color: #455560;
			width: fit-content;


			span {
				white-space: nowrap;
			}

			&:focus {
				border: none;
				background: #679AB4;
				color: #ffffff;
				box-shadow: none;
			}

			&:not(:nth-child(0)) {
				margin-right: 10px;
			}
		}

		.buyButtonActive {
			background: #679AB4;
			color: #FFFFFF;
			box-shadow: 0px 0px 20px rgba(110, 159, 187, 0.2);
		}
	}

}

.share-info-iframe_mobile {
	padding: 0px 16px;
}

.shareinformation {
	h5 {
		margin-top: 30px;
		margin-bottom: 20px;
		font-weight: 800;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.02em;
		color: #1a1c1f;
	}

	.share-info-subnav {
		padding: 10px;
		background: #ffffff;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 8px;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 40px;

		.buyButton {
			background-color: #f2f3f5;
			border-radius: 4px;
			font-size: 16px;
			font-weight: 400;
			color: $white;
			width: fit-content;
			color: #455560;

			&:focus {
				border: none;
				background-color: $orange-tw;
				color: #ffffff;
				box-shadow: none;
			}

			&:not(:nth-child(0)) {
				margin-right: 10px;
			}
		}
	}
}