@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.eligibility-LandingContainer{
  #eligibility-sub-home-container{
    padding: 65px 24px 65px 60px;
  }
  .eligibility-carBanner {
    position: absolute;
    top:-115px;
    right: -15px;
    width: 460px;
    height: 460px;
  }
}

