.all_service_container {
  background-image: url("../../../assets/images/mobile/support_rewards_blue.png");
  background-repeat: no-repeat;
  background-position: center 63vh;

  .my_faq {
    padding: 16px;
  }

  .all_title {
    font-weight: 800;
    font-size: 20px;
    color: #1a1c1f;
    margin-top: 24px;
    margin-left: 16px;
  }

  .all_popular {
    .all_search {
      font-weight: 400;
      font-size: 12px;
      color: #1a1c1f;
      margin-top: 16px;
      margin-left: 16px;
    }

    .all_data {
      display: flex;
      font-weight: 400;
      font-size: 12px;
      color: #455560;
      margin-left: 16px;
      grid-gap: 4px;
    }

    .all_content {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 4px;
      width: 103px;
      height: 21px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 100px;
    }
  }

  .search_box_style {
    padding: 9px 24px;
    width: 358px;
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 100px;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: #676f7c;
    justify-content: space-between;
  }

  .all_blue {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    margin-left: 16px;
    grid-gap: 8px;
    display: -webkit-inline-box;
    overflow-x: scroll;
    overflow-y: hidden;

    .all_service_blue {
      height: 34px;
      background: #679ab4;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 100px;
      margin-top: 32px;
      text-align: center;
      width: 50%;
      padding-top: 7px;
    }
  }

  .my_product {
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #1a1c1f;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .my_service {
    display: flex;
    margin-left: 16px;

    .my_image {
      position: relative;
      margin-top: 14px;
      margin-left: 18px;
    }

    .my_view {
      font-weight: 800;
      font-size: 16px;
      line-height: 16px;
      text-transform: capitalize;
      color: #ffffff;
      margin-top: 20px;
    }
  }

  .my_trend {
    margin-left: 16px;

    .my_topic {
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;
      margin-top: 28px;
    }

    .my_review {
      font-weight: 500;
      font-size: 14px;
      color: #ffffff;
      margin-top: 8px;
    }
  }

  .Insurance_fraud {
    height: 436.12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    margin: 0px 16px;

    .Insurance_topic {
      font-size: 20px;
      font-weight: 800;
      margin-top: 23px;
      margin-left: 16px;
      margin-bottom: 20px;
    }

    .Insurance_content {
      font-size: 16px;
      font-weight: 800;
      margin-left: 16px;
      display: flex;
      justify-content: space-between;

      .Insurance_image {
        margin-right: 22px;
      }
    }

    .border_bottom {
      opacity: 0.1;
      border-bottom: 1px solid #1A1C1F;
    }
  }

  .claim_services {
    margin-top: 32px;
    padding-top: 21px;
    border-radius: 21px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    margin-left: 16px;
    margin-right: 16px;

    .claim_topic {
      font-size: 24px;
      font-weight: 800;
      margin-left: 16px;
    }

    .claim_content {
      font-size: 16px;
      font-weight: 400;
      margin-top: 8px;
      margin-left: 16px;
    }

    .claim_head_services {
      font-size: 16px;
      font-weight: 800;
      margin-left: 16px;
      margin-top: 32px;
      margin-bottom: 20px;
    }

    .Claim_data {
      font-weight: 800;
      font-size: 16px;
      color: #1A1C1F;
      display: flex;
      justify-content: space-between;
      margin-left: 16px;
    }

    .Claim_image {
      padding-right: 22px;
    }

  }

  .Violations {
    margin-top: 32px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;

    .Violations_Topic {
      font-size: 24px;
      font-weight: 800;
      margin-top: 12px;
      margin-left: 16px;
    }

    .Violations_content {
      margin-top: 12px;
      width: 326px;
      margin-left: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
    }
  }

  .Report_button {
    background-color: #f47b20;
    border: none;
    color: white;
    height: 50px;
    width: 45%;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 16px;
    border-radius: 6px;
  }

  .Cant_find_violations {
    font-weight: 800;
    margin-top: 32px;
    font-size: 23px;
    color: #1A1C1F;
    margin-left: 16px;
  }
}

.rewards_image_none {
  background-image: none;
}