.program-features-container {
	background-image: url("../../../../assets/svg/LoyaltyProgram/DriveUnion.svg");
	background-repeat: no-repeat;
	background-size: 58rem 60rem;
	background-position: top center;
	width: 100%;
	height: 100%;
	padding-bottom: 25px;

	.program-features-text {
		transform: translateY(110px);

		h5 {
			font-family: "Lato";
			font-style: normal;
			font-weight: 800;
			font-size: 30px;
			margin-bottom: 0;
			line-height: 48px;
			text-align: center;
			letter-spacing: -0.02em;
			text-transform: capitalize;
			color: #1a1c1f;
		}

		p {
			font-family: "Bliss 2";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 25px;
			text-align: center;
			color: #455560;
		}
	}

	.program-features-content {
		height: fit-content;
		margin: 0 auto;
		height: 815px;
		padding: 0% 8%;

		.program-feature-center-image {
			height: 38rem;
		}

		.program-feature-box-left,
		.program-feature-box-right {
			.program-feature-icon-box {
				width: 170px;
				height: 170px;
				background: #ffffff;
				margin-bottom: 30px;
				box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
				border-radius: 12px;
				padding: 24px;

				img {
					height: 3rem;
				}

				p {
					margin-top: 5px;
					font-family: "Lato";
					font-style: normal;
					font-weight: 800;
					font-size: 18px;
					letter-spacing: -0.01em;
					text-transform: capitalize;
					color: #1a1c1f;
				}
			}
		}
	}
}
