@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.serviceContainer {
	// padding-left: 30px;
	// padding-right: 30px;
	margin-top: 20px;
	font-family: "Lato", sans-serif;
	height: fit-content;
	margin-bottom: 50px;

	.serviceContainerFlex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.slick-track {
		width: max-content !important;
	}
	.slider-card-root {
		padding: 0 10px;
		> div {
			width: auto;
		}
	}
	/* the slides */
	.slick-slide {
		width: 212px;
		// margin: 0 20px;
	}
	/* the parent */
	.slick-list {
		margin: 0 -10px;
	}

	.HomeServiceHeading1 {
		font-size: fontSize(32);
		line-height: 48px;
		font-weight: 800;
		color: $black;
		margin-bottom: 0;
	}

	.homeservicePar1 {
		font-weight: 600;
		font-size: fontSize(16);
		line-height: 25px;
		color: $light-tw;
		margin-bottom: 0;
	}

	.otherServiceNavCont {
		transform: translateY(75px);
		.navSearchContainer {
			height: 45px;
			width: 375px;
			padding: 0px 24px 0px 24px;
			background-color: #fff;
			border-radius: 100px;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.inputEl {
				height: 100%;
				border: 0px;
				width: 100%;
			}

			.homeserviceSearchIcon {
				color: #ee7500;
				height: 1.2rem;
			}
		}
	}

	.ServiceNavCont {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		// border-bottom: 1px solid #1a1c1f1a;
		// padding-bottom: 50px;
		.ServiceNavEl {
			height: 45px;
			display: flex;
			align-items: center;

			.navEl {
				color: #818b9b;
				font-size: fontSize(16);
				line-height: 16px;
				font-weight: 600;
				margin-right: 20px;
				margin-bottom: 0;
				&:hover {
					color: #ee7500;
					cursor: pointer;
					font-weight: 800;
				}
			}

			.navEl-highlight {
				color: $orange-tw;
				font-size: fontSize(16);
				line-height: 16px;
				font-weight: 600;
				margin-right: 20px;
				margin-bottom: 0;
				&:hover {
					color: #ee7500;
					cursor: pointer;
					font-weight: 800;
				}
			}
		}

		.navSearchContainer {
			height: 45px;
			width: 375px;
			padding: 0px 24px 0px 24px;
			background-color: #fff;
			border-radius: 100px;
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.inputEl {
				height: 100%;
				border: 0px;
				width: 100%;
			}

			.homeserviceSearchIcon {
				color: #ee7500;
				height: 1rem;
			}
		}
	}

	.hrLine {
		border: 0;
		border-bottom: 1px solid #1a1c1f;
		background-color: #262626;
		opacity: 0.1;
		margin-top: 45px;
		margin-bottom: 45px;
		// opacity: 0%;
	}

	.invisiblehrLine {
		opacity: 0%;
		margin-top: 0;
		margin-bottom: 40px;
	}

	.arrowDotContainer {
		margin-left: 8px;
		margin-top: 35px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.arrowContainer {
			z-index: 9;
			height: 32px;
			width: 55px;
			border-radius: 100px;
			background-color: #fff;
			box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
				rgba(17, 17, 26, 0.05) 0px 8px 32px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.dotContainer {
			margin-left: 10px;
			margin-right: 10px;
			height: 32px;
			width: 65px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			padding-top: 15px;
			.dotEl {
				width: 6px;
				height: 6px;
				opacity: 30%;
				background-color: #4c565c;
				border-radius: 100%;
			}
		}
	}
}

@include media-breakpoint-hd-desktop{
    .serviceContainer {
		.ServiceNavCont {
			.ServiceNavEl {
				.navEl {
					margin-right: 0;
					margin-left: 20px;
				}
				.navEl-highlight {
					margin-right: 0;
					margin-left: 20px;
				}
			}
		}
		.arrowDotContainer {
			direction: ltr;
		}
	}
}

@include media-breakpoint-tab-port{
    .serviceContainer {
		.invisiblehrLine {
			opacity: 1;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.HomeServiceHeading1 {
			font-size: fontSize(28);
		}
		.homeservicePar1 {
			font-size: fontSize(14);
		}
		.ServiceNavCont {
			.navSearchContainer {
				width: 300px;
				.inputEl {
					font-size: fontSize(12);
				}
				.homeserviceSearchIcon {
					width: 16px;
				}
			}
			.ServiceNavEl {
				.navEl {
					font-size: fontSize(12);
				}
			}
		}
	}
}