@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.slickClass {
		right: 31.2rem;
	}
	.mainContainerNewsCategory .mediaNewsCategory {
		margin-left: 45px;
	}
	.mediaCenterContainer .mediaHomeContainer {
		margin-right: 15px;
		margin-left: 46px;
	}
	.mediaCenterContainer .mediaMainImgCard {
		margin-left: 42px;
		margin-right: 63px;
	}
	.mediaCenterContainer .mediaMainImgCard .buttonEl {
		font-size: 14px;
		text-align: center;
	}
	.mediaCenterContainer .mediaMainImgCard .mediaMainImgCardPar {
		font-size: 36px;
		line-height: 43px;
		font-weight: 800;
	}
	.mediaCenterContainer
		.mediaMainImgCard
		.mediaMainImgCardDateArrowContainer
		.ButtonContainer
		.mediaCenterArrowButton {
		width: 48px;
		height: 28px;
	}
	.mediaCenterContainer .mediaCenterFeatureContainer .mediaCenterHeading {
		font-size: 34px;
	}

	.FeatureContainer {
		width: 95%;
		height: 267px;
		padding: 22px 34px 11px 20px;
	}

	.FeatureContainer .buttonEl {
		padding: 6px 20px 7px;
	}

	.FeatureContainer .Heading {
		width: 290px;
		font-size: 18px;
		line-height: 25px;
	}

	.mediaCenterContainer
		.mediaCenterFeatureContainer
		.arrowDotContainer
		.arrowContainer {
		height: 29px;
		width: 50px;
	}
	.FeatureContainer .DateContainer .mediaMainImgDate {
		font-size: 12px;
	}

	.FeatureContainer .DateContainer .ArrowText {
		font-size: 12px;
	}

	.FeatureContainer .DateContainer .VerticalLine {
		width: 20px;
		margin-left: 3px;
		margin-right: 3px;
	}
	.mediaCenterContainer .latestNews .latestNewsMenuContainer .itemActive {
		font-size: 10px;
	}

	.mediaCenterContainer .latestNews .latestNewsMenuContainer .menuItemsStyle {
		font-size: 10px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	.FeatureContainer .buttonEl {
		padding: 6px 24px 7px;
	}
	.slickClass {
		right: 38.5rem;
	}
	.mainContainerNewsCategory .mediaNewsCategory {
		margin-left: 20px;
	}
	.mediaCenterContainer .mediaHomeContainer {
		margin-left: 18px;
	}

	.mediaCenterContainer .mediaMainImgCard {
		margin-left: 16px;
		margin-right: 32px;
	}

	.mediaCenterContainer .mediaMainImgCard .mediaMainImgCardPar {
		font-size: 38px;
		line-height: 47px;
	}

	.mediaCenterContainer
		.mediaMainImgCard
		.mediaMainImgCardDateArrowContainer
		.ButtonContainer
		.mediaCenterArrowButton {
		width: 50px;
		height: 28px;
	}
	.mediaCenterContainer .mediaCenterFeatureContainer .mediaCenterHeading {
		font-size: 36px;
	}

	.FeatureContainer {
		width: 95%;
		height: 339px;
		padding: 33px 51px 18px 18px;
	}

	.FeatureContainer .Heading {
		font-size: 24px;
		line-height: 31px;
		width: 387px;
	}

	.FeatureContainer .DateContainer .mediaMainImgDate {
		font-size: 13px;
	}

	.FeatureContainer .DateContainer .ArrowText {
		font-size: 13px;
		font-weight: 700;
	}

	.FeatureContainer .DateContainer .VerticalLine {
		margin-left: 2px;
		margin-right: 2px;
	}

	.mediaCenterContainer
		.mediaCenterFeatureContainer
		.arrowDotContainer
		.arrowContainer {
		width: 50px;
		height: 29px;
	}
	.mediaCenterContainer .latestNews .latestNewsMenuContainer .itemActive {
		font-size: 12px;
	}

	.mediaCenterContainer .latestNews .latestNewsMenuContainer .menuItemsStyle {
		font-size: 12px;
	}
	.mediaCenterContainer .mediaMainImgCard .buttonEl {
		font-size: 14px;
		text-align: center;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1700px) {
	.FeatureContainer .buttonEl {
		padding: 7px 25px 7px;
	}
	.slickClass {
		right: 48.5rem;
	}
	.mainContainerNewsCategory .mediaNewsCategory {
		margin-left: 20px;
	}
	.mediaCenterContainer .mediaHomeContainer {
		margin-left: 21px;
	}

	.mediaCenterContainer .mediaMainImgCard {
		margin-left: 16px;
		margin-right: 29px;
	}
	.mediaCenterContainer .mediaMainImgCard .mediaMainImgCardPar {
		font-size: 44px;
		line-height: 52px;
	}
	.FeatureContainer {
		width: 95%;
		height: 416px;
		padding: 35px 80px 27px 34px;
	}

	.FeatureContainer .Heading {
		width: 451px;
		font-size: 28px;
		line-height: 38px;
	}

	.FeatureContainer .Heading {
		width: 106%;
		font-size: 28px;
		line-height: 38px;
	}
	.mediaCenterContainer .latestNews .latestNewsMenuContainer .itemActive {
		font-size: 14px;
	}

	.mediaCenterContainer .latestNews .latestNewsMenuContainer .menuItemsStyle {
		font-size: 14px;
	}
	.mediaCenterContainer .mediaMainImgCard .buttonEl {
		font-size: 14px;
		text-align: center;
	}
}

@media only screen and (min-width: 1700px) {
	.slickClass {
		right: 59.1rem;
	}
	.mainContainerNewsCategory .mediaNewsCategory {
		margin-left: 20px;
	}
	.mediaCenterContainer .mediaHomeContainer {
		margin-left: 21px;
	}

	.mediaCenterContainer .mediaMainImgCard {
		margin-left: 16px;
		margin-right: 29px;
	}
	.FeatureContainer {
		width: 95%;
	}

	.FeatureContainer .Heading {
		width: 544px;
		font-size: 35px;
		line-height: 44px;
	}
	.mediaCenterContainer .latestNews .latestNewsMenuContainer .itemActive {
		font-size: 16px;
	}

	.mediaCenterContainer .latestNews .latestNewsMenuContainer .menuItemsStyle {
		font-size: 16px;
	}
	.mediaCenterContainer .mediaMainImgCard .buttonEl {
		font-size: 14px;
		text-align: center;
	}
}
