.mediaHomeContainer {
	display: flex;
	align-items: center;
	padding-left: 80px;

	.par {
		width: 400px;
		font-size: 14px;
		margin-left: 10px;
	}
}

.mediaMainImgCard {
	height: 607px;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 20px;
	padding: 80px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-image: url("../../../assets/images/tawuniya-HQ\ 2.png");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-repeat: no-repeat;

	.buttonEl {
		background-color: #ee7500;
		border-radius: 100px;
		font-weight: 400;
		font-size: 16px;
		color: #ffff;
	}

	.mediaMainImgCardPar {
		font-weight: 800;
		font-size: 48px;
		line-height: 52.8px;
		color: #ffff;
		margin-bottom: 30px;
	}

	.mediaMainImgCardDateArrowContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.DateContainer {
			display: flex;
			flex-direction: row;
			align-items: center;

			.relatedContainer {
				display: flex;
				align-items: center;

				.relatedPar {
					font-weight: 800;
					font-size: 16px;
					line-height: 16px;
					margin-right: 10px;
					color: #ffffff;
					cursor: pointer;
				}
			}

			.mediaMainImgDate {
				font-weight: 400;
				font-size: 16px;
				line-height: 16px;
				color: #ffffff;
			}

			.VerticalLine {
				width: 24px;
				opacity: 0.6;
				border: 1px solid #ffffff;
				transform: rotate(90deg);
				margin-left: 20px;
				margin-right: 20px;
			}
		}

		.ButtonContainer {
			display: flex;
			align-items: center;

			.mediaCenterArrowButton {
				width: 55px;
				height: 32px;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 100px;
				transform: matrix(-1, 0, 0, 1, 0, 0);
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 0px;
				border: 0px;
			}

			.dotContainer {
				height: 32px;
				width: 55px;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				padding-top: 15px;

				.dotEl {
					width: 6px;
					height: 6px;
					opacity: 30%;
					background-color: #4c565c;
					border-radius: 100%;
				}

				.colorActive {
					background-color: #ee7500;
					width: 6px;
					height: 6px;
					border-radius: 100%;
				}
			}
		}
	}
}

.mediaCenterFeatureContainer {
	.mediaCenterFeatureImgCard {
		width: 132%;
	}

	.mediaCenterHeading {
		font-weight: 800;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -2%;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.arrowDotContainer {
		margin-left: 8px;
		margin-top: 35px;
		margin-bottom: 35px;
		display: flex;
		flex-direction: row;
		align-items: center;

		.arrowContainer {
			height: 32px;
			width: 55px;
			border-radius: 100px;
			background-color: #fff;
			box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
				rgba(17, 17, 26, 0.05) 0px 8px 32px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.dotContainer {
			margin-left: 10px;
			margin-right: 10px;
			height: 32px;
			width: 65px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			padding-top: 15px;

			.dotEl {
				width: 6px;
				height: 6px;
				opacity: 30%;
				background-color: #4c565c;
				border-radius: 100%;
			}

			.colorActive {
				background-color: #ee7500;
				width: 6px;
				height: 6px;
				border-radius: 100%;
			}
		}
	}
}

.latestNews {
	.latestNewsHeading {
		font-weight: 800;
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -2%;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.latestNewsCardContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.paginationStyle {
		width: 25%;
		display: flex;
		justify-content: space-around;
	}

	.boxContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 8px 12px;
		transform: translateY(-15%);
		gap: 8px;
		width: 34px;
		height: 36px;
		background: #ee7500;
		border-radius: 4px;
		color: #fff;
	}
}