.slick-dots li {
	margin: 0px !important;
	width: 10px;
}

.slickClass {
	bottom: -63px;
	right: 0;
	padding-left: 58px;
	text-align: left;
}

.mediaCenterContainer {
	.mediaHomeContainer {
		display: flex;
		flex-direction: row;
		align-items: center;

		.par {
			width: 400px;
			font-size: 14px;
			margin-left: 10px;
			margin-top: 16px;
		}
	}

	.mediaMainImgCard {
		height: 607px;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 20px;
		padding: 80px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
		background-image: url("../../../assets/images/tawuniya-HQ\ 2.png");
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		background-repeat: no-repeat;

		.buttonEl {
			background-color: #ee7500;
			border-radius: 100px;
			font-weight: 400;
			font-size: 16px;
			color: #ffff;
			width: 94px;
			height: 29px;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 6px 16px 7px;
			gap: 10px;
			border: 0px;
		}

		.mediaMainImgCardPar {
			font-weight: 800;
			font-size: 48px;
			line-height: 52.8px;
			color: #ffff;
			margin-bottom: 30px;
		}

		.mediaMainImgCardDateArrowContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.DateContainer {
				display: flex;
				flex-direction: row;
				align-items: center;

				.relatedContainer {
					display: flex;
					align-items: center;
					cursor: pointer;

					.relatedPar {
						font-weight: 800;
						font-size: 16px;
						line-height: 16px;
						margin-right: 10px;
						color: #ffffff;
					}
				}

				.mediaMainImgDate {
					font-weight: 400;
					font-size: 16px;
					line-height: 16px;
					color: #ffffff;
				}

				.VerticalLine {
					width: 24px;
					opacity: 0.6;
					border: 0.9px solid #ffffff;
					transform: rotate(90deg);
					margin-left: 20px;
					margin-right: 20px;
				}
			}

			.ButtonContainer {
				display: flex;
				align-items: center;

				.mediaCenterArrowButton {
					width: 55px;
					height: 32px;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					border-radius: 100px;
					transform: matrix(-1, 0, 0, 1, 0, 0);
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					padding: 0px;
					border: 0px;
				}

				.dotContainer {
					height: 32px;
					width: 55px;
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					padding-top: 15px;

					.dotEl {
						width: 6px;
						height: 6px;
						opacity: 30%;
						background-color: #4c565c;
						border-radius: 100%;
					}

					.colorActive {
						background-color: #ee7500;
						width: 6px;
						height: 6px;
						border-radius: 100%;
					}
				}
			}
		}
	}

	.mediaCenterFeatureContainer {
		.mediaCenterFeatureImgCard {
			width: 132%;
		}

		.mediaCenterHeading {
			font-weight: 800;
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -2%;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.arrowDotContainer {
			margin-top: 35px;
			margin-bottom: 35px;
			display: flex;
			flex-direction: row;
			align-items: center;

			.arrowContainer {
				height: 32px;
				width: 55px;
				border-radius: 100px;
				background-color: #fff;
				box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
					rgba(17, 17, 26, 0.05) 0px 8px 32px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.dotContainer {
				margin-left: 10px;
				margin-right: 10px;
				height: 32px;
				width: 65px;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				padding-top: 15px;

				.dotEl {
					width: 6px;
					height: 6px;
					opacity: 30%;
					background-color: #4c565c;
					border-radius: 100%;
				}

				.colorActive {
					background-color: #ee7500;
					width: 6px;
					height: 6px;
					border-radius: 100%;
				}
			}
		}
	}

	.latestNews {
		.latestNewsHeading {
			font-weight: 800;
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -2%;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.latestNewsMenuContainer {
			display: flex;
			align-items: center;
			text-transform: uppercase;
			margin-bottom: 15px;

			.menuItemsStyle {
				color: #4C565C;
				font-weight: 400;
				margin-right: 25px;
				cursor: pointer;
			}

			.itemActive {
				font-weight: 800;
				color: #EE7500;
				cursor: pointer;
				margin-right: 25px;
			}
		}

		.latestNewsCardContainer {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.paginationMainContainer {
			display: flex;
			justify-content: space-between;

			.paginationContainer {
				display: flex;
				align-items: center;
				width: 80%;

				.FirstLastButtonContainer {
					display: flex;
					margin-bottom: 12px;
				}

				.paginationStyle {
					width: 25%;
					display: flex;
					justify-content: space-around;
				}
			}

			.pageNumberContainer {
				display: flex;
				align-items: center;

				.FirstLastButtonContainer {
					display: flex;
					margin-right: 30px;
				}
			}
		}

		.boxContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 8px 12px;
			transform: translateY(-15%);
			gap: 8px;
			width: 34px;
			height: 36px;
			background: #ee7500;
			border-radius: 4px;
			color: #fff;
		}
	}
}

.language-alignment-right {
	.mediaCenterContainer {
		.mediaCenterFeatureContainer {
			.arrowDotContainer {
				direction: ltr;
				justify-content: flex-end;
			}
		}

		.mediaMainImgCard {
			.mediaMainImgCardDateArrowContainer {
				.ButtonContainer {
					direction: ltr;
				}

				.DateContainer {
					.relatedContainer {
						.relatedPar {
							margin-right: 0;
							margin-left: 10px;
						}

						img {
							transform: scaleX(-1);
						}
					}
				}
			}
		}

		.latestNews {
			.paginationMainContainer {
				.paginationContainer {
					.paginationStyle {
						padding-right: 0;
						padding-left: 20px;
					}

					.ml-3 {
						margin-left: 0 !important;
						margin-right: 1rem;
					}

					.mr-3 {
						margin-right: 0 !important;
						margin-left: 1rem;
					}

					img {
						transform: scaleX(-1);
					}
				}

				.pageNumberContainer {
					.mr-2 {
						margin-right: 0 !important;
						margin-left: 0.5rem;
					}

					>p {
						display: flex;
					}

					.FirstLastButtonContainer {
						margin-right: 0;
						margin-left: 30px;
					}
				}
			}
		}
	}
}