@import "../../../assets/scss/abstracts/abstracts";

.css-bovsgj-placeholder {
  padding-left: 6px !important;
}

.openFormContainer {
  padding: 10px;
  width: 100%;
  max-width: 640px;
  .complaint-formTitle {
    color: $black;
  }
  .complaint-formPara {
    color: $light-tw;
  }
  .personalTitle {
    color: $black;
  }
  .Complaint-SelectContainer {
    background-color: $white;
    padding: 7px 0px 0px 10px;
    border-radius: 4px;
    position: relative;
    .service-Type-ComplaintLabel {
      position: absolute;
      z-index: 3;
      top: 10px;
      padding-left: 3px;
      color: #676f7c;
    }
    #Complaint-ArrowAlign {
      bottom: 25%;
    }
    .Complaint-FormSelectInput {
      padding-top: 10px;
    }
  }
  .form-Input-Field-One {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 4px;
    border: none;
    padding: 27px;
    padding-left: 65px;
  }
  .formInputFieldTwo {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 4px;
    border: none;
    padding: 30px;
    padding-left: 25px;
  }
  #removeLeftIcon {
    display: none;
  }
  .formNewPhoneInput {
    border-radius: 0px 8px 8px 0px;
    padding: 15px 15px;
  }
  #formNewSelectFlexType {
    padding: 15px 15px;
    display: flex;
    align-items: center;
  }
  .borderLiningTwo {
    border-bottom: 1px solid rgba(26, 28, 31, 0.1);
  }
  .form-Phone-InputComplaint {
    border-radius: 0px 8px 8px 0px;
    padding: 15px 15px;
  }
  #form-Select-Flex-TypeComplaint {
    padding: 15px 15px;
    display: flex;
    align-items: center;
  }
  .requestTitle {
    color: $black;
  }
  .requestTypePara {
    color: $light-tw;
  }
  .higlightRadioContainer {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 4px;
    padding: 12px;
  }
  .normalRadioContainer {
    background-color: transparent;
    border: 1px solid rgba(38, 38, 38, 0.1);
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 4px;
    padding: 12px;
  }
  .messageTitle {
    color: $light-tw;
  }
  .complaintForm-textArea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: $white;
    font-size: 16px;
    font-weight: 400;
    resize: none;
    color: $light-tw;
  }
  .exclamatorIcon {
    position: relative;
    bottom: 5px;
  }
  .formConditions {
    color: $light-tw;
    width: 100%;
    max-width: 700px;
  }
  .formConditionsList {
    color: $light-tw;
  }
  .borderLiningThree,
  .borderLiningFour {
    width: 100%;
    background-color: #262626;
    opacity: 0.1;
    height: 1px;
  }
  .doc-Title {
    color: $black;
  }
  .doc-new-Title {
    color: #455560;
  }
  .image-upload-wrap {
    margin-top: 20px;
    border: 2px dashed rgba(38, 38, 38, 0.1);
    position: relative;
    padding: 40px 0px 20px 0px;
    border-radius: 4px;
    .file-upload-input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
    }
    .drag-text {
      display: flex;
      justify-content: center;
      .removeImgBtn {
        background-color: $white;
        color: $black;
        padding: 5px;
        width: 100%;
        width: 20px;
        position: absolute;
        right: 42%;
        bottom: 78%;
      }
      .uploadTitle {
        color: $light-tw;
        width: 100%;
        max-width: 190px;
        text-align: center;
      }
      .uploadLink {
        color: $orange-tw;
        cursor: pointer;
      }
      .allowedFormats {
        color: $light-tw;
        width: 100%;
        max-width: 230px;
      }
    }
  }
  .violationLiner {
    border-bottom: 1px solid rgba(38, 38, 38, 0.1);
    .allowedFileText {
      color: $newLight-tw;
    }
  }

  .form-violation-group {
    display: block;
    margin-bottom: 15px;

    input {
      content: "";
      -webkit-appearance: none;
      background-color: #d9dce1;
      padding: 8px;
      display: inline-block;
      position: relative;
      bottom: 1px;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 10px;
      border-radius: 4px;
    }

    input:checked {
      content: "X";
      height: 1rem;
      width: 1rem;
      background-color: $primary-tw;
    }
  }
  // .form-violation-group input {
  // 	content: "";
  // 	-webkit-appearance: none;
  // 	background-color: #d9dce1;
  // 	padding: 8px;
  // 	display: inline-block;
  // 	position: relative;
  // 	bottom: 1px;
  // 	vertical-align: middle;
  // 	cursor: pointer;
  // 	margin-right: 10px;
  // 	border-radius: 4px;
  // }
  // .form-violation-group .terms-condition-text {
  // 	position: relative;
  // 	cursor: pointer;
  // 	color: $newLight-tw;
  // }
  // .form-violation-group .terms-condition-text:before {
  // 	content: "";
  // 	-webkit-appearance: none;
  // 	background-color: #d9dce1;
  // 	padding: 8px;
  // 	display: inline-block;
  // 	position: relative;
  // 	bottom: 1px;
  // 	vertical-align: middle;
  // 	cursor: pointer;
  // 	margin-right: 10px;
  // 	border-radius: 4px;
  // }
  // .form-violation-group input:checked + .terms-condition-text:after {
  // 	content: "";
  // 	display: block;
  // 	position: absolute;
  // 	top: 2px;
  // 	left: 9px;
  // 	width: 6px;
  // 	height: 10px;
  // 	transform: rotate(45deg);
  // }

  .complaintFormSubmitBtn {
    width: 100%;
    background-color: $orange-tw;
    color: $white;
    font-size: fontSize(16);
    font-weight: 400;
    border: none;
    border-radius: 8px;
  }
}

.language-alignment-right {
  .openFormContainer {
    .form-violation-group {
      input {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}