.Motorpage_container {
  .motor_policy {
    padding: 16px;
    .motor_policy_color {
      padding: 16px;
      background: #679ab4;
      border-radius: 8px 8px 0px 0px;
    }
  }
  .mobile_container_images {
    padding: 16px;
    border-radius: 0px 0px 8px 8px;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      text-align: center;
      color: #455560;
      padding-top: 10px;
    }
  }
  .mobile_container_coverage {
    h4 {
      font-weight: 800;
      font-size: 16px;
      line-height: 120%;
      color: #ffffff;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #ffffff;
    }
  }
  .mobile_image_position {
    position: relative;
    left: 16px;
  }
  .mobile_perks {
    padding-left: 16px;
    padding-top: 32px;
    h4 {
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      color: #1a1c1f;
    }
  }
  .mobile_additional {
    padding-left: 16px;
    padding-top: 32px;
    h4 {
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #1a1c1f;
    }
  }

  .search_box_style {
    padding: 9px 24px;
    width: 358px;
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 100px;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: #676f7c;
    justify-content: space-between;
  }
  .mobile_breakdown {
    h4 {
      padding-top: 16px;
      padding-left: 16px;
      color: #1a1c1f;
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.01em;
    }
  }
  .view_all_products label {
    font-weight: 800;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #1a1c1f;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 16px;
  }
  .mobile_container_questions {
    padding-top: 16px;
    padding-left: 16px;
    h4 {
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #1a1c1f;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
    }
  }
  .mobile_container_products {
    padding-top: 20px;
    padding-left: 16px;
    h4 {
      font-weight: 800;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: #1a1c1f;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
    }
  }
  .mobile_maintenance {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 145px;
  }
  .mobile_maintenance_more {
    margin-top: 16px;
    padding-left: 16px;
    margin-bottom: 20px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
    }
  }

  .mobile_desc_text {
    bottom: 50px;
    width: 131px;
    height: 135px;
    background-color: white;
    border-radius: 8px;
  }

  .mobile_image_position {
    margin-top: 10px;
    p {
      font-weight: 800;
      font-size: 16px;
      line-height: 120%;
    }
  }
  .mobile_maintenance_display {
    font-size: 14px;
    font-weight: 800;
    line-height: 140%;
    padding-left: 16px;
  }
  .mobile_comprehensive_container{
    display:flex;
    overflow:auto;
    padding:16px;
  }
  .mobile_comprehensive_data {
    overflow:auto;
  }
  .mobile_comprehensive_text {
    h5 {
      font-weight: 800;
      font-size: 16px;
      line-height: 120%;
      color: #1a1c1f;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #455560;
      opacity: 0.7;
    }
  }
  .mobile_responsive_data {
    h4 {
      font-weight: 800;
      font-size: 16px;
      line-height: 120%;
      color: #1a1c1f;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #455560;
      opacity: 0.7;
    }
  }
  .mobile_available_products {
    h4 {
      font-weight: 800;
      font-size: 14px;
      line-height: 140%;
      color: #455560;
    }
  }
  .mobile_sanad {
    h4 {
      font-weight: 800;
      font-size: 16px;
      line-height: 140%;
      color: #455560;
    }
    
  }
  .mobile_container_accident{

    width:271px;
    height:309px;
    border:none;
  }
.mobile_third_accident{
  width:271px;
  border:none;
}
.mobile_services_slider {
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  margin-left: 5px;
  margin-top: 16px;
  .mobile_services_card {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    padding:16px;
    margin-left: 11px;
    h5 {
      font-weight: 800;
      font-size: 16px;
      color: #1a1c1f;
      width: 195px;
      margin-top: 8px;
    }
    p {
      font-weight: 400;
      font-size: 12px;
      color: #455560;
      width: 211px;
      padding: 0px 3px;
    }
    h4{
      font-size:14px;
      font-weight:800;
      color:#679ab4;
    }
    li{
      font-size:12px;
      font-weight:400;
      color:#455560;
    }
  }
}
}

