.bottom_button_submit {

    position: absolute;
    // bottom: 0px;
    padding: 16px 16px 36px 16px;
    width: 100%;

    button {
        height: 54px;
        background: #EE7500;
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        width: 100%;
        color: #FFFFFF;
        border: none;
    }
}