@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.Servicecard-Container {
  .serviceCardLayoutOne {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    height: 100%;
    .servicePaddingOne {
      padding: 0px 20px 0px 20px;
      border-bottom: 1px solid $lightgrey-tw;
      .serviceTitle {
        color: $black;
      }
      .serviceContentAlign {
        padding-bottom: 25px;
      }
      .serviceContent {
        color: #4c565c;
      }
    }
    .servicePaddingTwo {
      padding: 0px 20px 0px 20px;
    }
    .serviceLining {
      width: 100%;
      padding: 0.5px;
      background-color: $lightgrey-tw;
    }
  }
}

@include media-breakpoint-med-desktop {
  .Servicecard-Container {
    .serviceCardLayoutOne {
      .servicePaddingOne {
        .serviceTitle {
          font-size: fontSize(13);
        }
        .serviceContentAlign {
          padding-bottom: 28px;
        }
        .serviceContent {
          font-size: fontSize(10);
        }
      }
    }
  }
}

@include media-breakpoint-tab-land {
  .Servicecard-Container {
    .serviceCardLayoutOne {
      .servicePaddingOne {
        padding: 0px 10px 0px 10px;
        .serviceTitle {
          font-size: fontSize(10);
        }
        .serviceContentAlign {
          padding-bottom: 33px;
        }
        .serviceContent {
          font-size: fontSize(9);
        }
      }
      .servicePaddingTwo {
        padding: 0px 20px 0px 20px;
        .serviceIcon {
          width: 20px;
          height: 20px;
        }
      }
      .serviceLining {
        width: 100%;
        padding: 0.5px;
        background-color: $lightgrey-tw;
      }
    }
  }
}
