@import "../../../../assets/scss/abstracts/abstracts";

.requestPage-container {
  .request-header-container {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    .request-header-content-title {
      color: $newLight-tw;
    }
    .request-header-content-para {
      color: $black;
    }
    .requestCancelBtn {
      width: 100%;
      background-color: transparent;
      color: $primary-tw;
      border-radius: 8px;
      border: 1px solid $primary-tw;
      font-size: fontSize(14);
      font-weight: 700;
    }
  }
  .request-body-container {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    padding: 20px 25px 20px 25px;
  }
  .request-bottom-liner {
    border-bottom: 1px solid rgba(26, 28, 31, 0.1);
  }
}
