@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.dashboard-ServiceCard {
	background-color: #ffffff !important;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	padding: 18px 18px 5px 18px;
	border-radius: 8px;
	height: 100%;

	.dashboard-Service-CardText {
		color: $light-tw;
		width: 100%;
		max-width: 100px;
		font-size: fontSize(12);
	}
}

@include media-breakpoint-hd-desktop {
	.dashboardServiceCard {
		transform: translateY(4%);
		.dashboard-Service-CardText {
			font-size: fontSize(12);
		}
	}
}

@include media-breakpoint-med-desktop {
	.dashboard-ServiceCard {
		padding: 18px 0px 5px 18px;
		.dashboard-Service-CardText {
			font-size: fontSize(10);
			max-width: 80px;
		}
	}
}

@include media-breakpoint-tab-land {
	.dashboard-ServiceCard {
		padding: 18px 0px 5px 13px;
		.dashboard-Service-CardText {
			font-size: fontSize(9);
			max-width: 70px;
		}
	}
}
