@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.MotorInsuranceMainContainer {
	.motorInsuranceContainer {
		.motorTitle {
			width: 75%;
			line-height: 45px;
		}
		.motorPara {
			color: rgba(76, 86, 92, 1);
			font-size: 14px;
			line-height: 18px;
			margin-top: 22px;
		}
		.motorSubTitleBox {
			h5 {
				font-weight: 800;
				font-size: 30px;
				line-height: 48px;
				letter-spacing: -0.02em;
				color: #1a1c1f;
				margin-bottom: 0;
			}

			p {
				color: rgba(76, 86, 92, 1);
				font-size: 14px;
				line-height: 18px;
			}
		}
		.insuranceText {
			transform: translateY(10px);
		}
		.managePolicy {
			width: 100%;
			// max-width: 390px;
			.policyContainer {
				background-color: rgba(52, 56, 62, 1);
				border-radius: 12px 12px 0px 0px;
				.manageText {
					color: $white;
				}
				.addText {
					color: $white;
				}
			}
			.policyTypeContainer {
				background-color: $white;
				border-radius: 0px 0px 12px 12px;
				.vehilcleBox {
					border-right: 1px dotted #bfbebe;
					.policyBoxPara {
						transform: translateY(25px);
					}
				}
				.coverageBox {
					border-right: 1px dotted #bfbebe;
					.policyBoxPara {
						transform: translateY(13px);
					}
				}
				.renewBox {
					.renewBoxPara {
						transform: translateY(15px);
					}
				}
			}
		}
		.rewardTitle {
			color: $white;
		}
		.rewardSubTitle {
			color: $white;
			width: 100%;
			max-width: 140px;
		}
		.rewardBtnClass {
			background-color: $white;
			color: rgba(238, 117, 0, 1);
			border-radius: 4px;
			font-size: fontSize(14);
			font-weight: 400;
		}
	}

	// styles for motor blog section starts here
	.MotorBlogs {
		height: 647px;
		width: 100%;
		.MotorBlogsHead {
			display: flex;
			justify-content: space-between;

			.MotorBlogsText {
				h5 {
					font-weight: 800;
					font-size: fontSize(40);
					line-height: 48px;
					letter-spacing: -0.02em;
					color: #1a1c1f;
				}

				span {
					font-weight: 400;
					font-size: fontSize(18);
					line-height: 25px;
					color: #818b9b;
				}
			}
		}

		.MotorBlogsImgContainer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;

			.MotorBlogsImga {
				background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 14.18%,
						rgba(0, 0, 0, 0.63) 78.64%
					),
					url("../../../assets/images/family-lobby.png");
			}

			.MotorBlogsImgb {
				margin-left: 20px;
				background: linear-gradient(
						180deg,
						rgba(0, 0, 0, 0) 14.18%,
						rgba(0, 0, 0, 0.63) 78.64%
					),
					url("../../../assets/images/woman-drive.png");
			}
		}
		.MotorBlogsImga,
		.MotorBlogsImgb {
			background-repeat: no-repeat;
			position: relative;
			width: 100%;
			height: 380px;
			margin-top: 20px;
			border-radius: 20px;

			.MotorBlogsImgText {
				position: absolute;
				width: 400px;
				top: 50%;
				left: 5%;
				z-index: 3;

				h5 {
					font-weight: 800;
					font-size: fontSize(30);
					letter-spacing: -0.02em;
					color: #ffffff;
				}

				span {
					font-weight: 400;
					font-size: fontSize(12);
					line-height: 20px;
					display: flex;
					align-items: center;
					color: #ffffff;
				}

				.MotorBlogsBtn {
					margin-top: 10px;
				}
			}
		}
	}
}
// styles for motor blog section ends here

//Styles for motor product section starts here
.MotrProContainer {
	height: fit-content;
	padding: 40px 0;
	width: 100%;

	.MotrProText {
		h5 {
			font-weight: 800;
			font-size: fontSize(40);
			line-height: 48px;
			letter-spacing: -0.02em;
			color: #1a1c1f;
		}

		span {
			font-weight: 400;
			font-size: fontSize(18);
			line-height: 25px;
			color: #818b9b;
		}
	}

	.MotrProCardsContainer {
		width: 100%;
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
//Styles for motor product section ends here

//styles for why choose tawuniya section starts here
.wctContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: fit-content;
	padding: 20px 0;

	.wctLeft {
		width: 50%;

		.wctLeftHead {
			h5 {
				font-size: fontSize(40);
			}

			p {
				font-size: fontSize(18);
			}
		}
	}

	.wctRight {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		align-items: center;
		width: 100%;

		.wctImg1 {
			width: 400px;
			height: auto;
		}

		.wctImg2 {
			width: 200px;
			height: auto;
		}

		.wctRightImg {
			border-radius: 20px;
		}

		// .wct1 {
		//   background-image: url("../../../assets/images/homeproducts1.png") repeat 0 0;
		//   background-size: 100%;
		//   background-repeat: no-repeat;
		//   height: 400px;
		//   width: 100%;
		// }

		// .wct2 {
		//   background-image: url("../../../assets/images/homeproducts2.png");
		//   background-size: contain;
		//   background-repeat: no-repeat;
		//   height: 200px;
		//   width: 100%;
		// }
	}
}
//styles fro why choose tawuniya section ends here

// extensioncard starts here
.extensionCardContainer {
	.additionExtensionHeader {
		font-size: fontSize(40);
		color: $black;
	}
	.additionExtensionPara {
		color: #4c565c;
	}
	.extension-layout {
		width: 20%;
		.extension-service-card {
			padding: 20px;
			height: 100%;
			background-color: #ffffff;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 8px;
			.extension-content {
				color: #4c565c;
				width: 100%;
				max-width: 220px;
			}
		}
	}
}
// extensioncard ends here

.insureMotorCard {
	.insureLayerOne {
		background-color: #ee7500;
		padding: 30px 40px 30px 40px;
		border-radius: 12px 12px 0px 0px;
		.insureCardTitle {
			font-size: fontSize(40);
			color: $white;
		}
	}
	.insureLayerTwo {
		background-color: $white;
		padding: 20px 0px;
		border-radius: 0px 0px 12px 12px;
		.subInsureLayer {
			background-color: rgba(253, 241, 229, 1);
			border-radius: 8px;
			margin: 20px 40px 20px 40px;
			.motorInputfieldOne {
				width: 100%;
				background-color: $white;
				box-shadow: 1px 2px 3px grey;
				border-radius: 4px;
			}
		}
		.insureNowBtn {
			width: 100%;
			max-width: 535px;
			background-color: #ee7500;
			padding: 10px;
			color: $white;
			border-radius: 8px;
		}
	}
}

// motorcard starts here
.motorcard {
	border-radius: 5px !important;
	box-shadow: 0 0 2px 2px #fff;
	height: auto;
	border: none;
	height: 340px;

	.statusbar-img {
		width: 20rem;
	}
}
.motor-cardcar {
	float: right;
}
.motor-cardcar2 {
	float: left;
}
.motor-ptag {
	color: #4c565c;
}
.motorbtn {
	float: right;
	border-radius: 5px !important;
	background: #ee7500;
	border: none;
	font-size: fontSize(16);
	font-style: normal !important;
	font-weight: 400;
}
.motorbtn:hover {
	background: #ffff;
	border-radius: 5px !important;
	color: #ee7500;
	border: 1px solid #ee7500;
}
// motorcard ends here

@include media-breakpoint-mobile-land {
	// extensioncard starts here
	.extensionCardContainer {
		.extension-layout {
			width: 100%;
		}
	}
	// extensioncard ends here
}
