@import "../../../../assets/scss/abstracts/abstracts";

.search-RadioMainContainer{
    .search-RadioContainer{
        border: 1px solid rgba(26, 28, 31, 0.1); 
        border-radius: 4px;
        padding: 15px 20px 15px 20px;
        .search-Liner{
            border-right:  1px solid rgba(26, 28, 31, 0.1);
            .search-radioTitle{
            color: $light-tw;
            }
            .search-radioPara{
                color: $light-tw;
            }
        }
        #search-radioPara{
            color: $light-tw;
        }
        .position-radioSearchContainer{
            position: relative;
            left:20px;
            bottom: 5px;
        }
    }
    .search-HighlightRadioContainer{
        border: 1px solid rgba(26, 28, 31, 0.1); 
        border-radius: 4px;
        padding: 15px 20px 15px 20px;
        background-color: $white;
        .search-Liner{
            border-right:  1px solid rgba(26, 28, 31, 0.1);
            .search-radioTitle{
            color: $light-tw;
            }
            .search-radioPara{
                color: $light-tw;
            }
        }
        #search-radioPara{
            color: $light-tw;
        }
        .position-radioSearchContainer{
            position: relative;
            left:20px;
            bottom: 5px;
        }
    }
    .teleMed-ViewAll{
        color: $orange-tw;
    }
}