@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.modal-content {
  width: 100%;
  max-width: 550px;
  background-color: transparent;
  border: none;
}
.modal-backdrop.show {
  background-color: $black;
}

.complaintModal-authVerifyContainer {
  .complaintModalCloseBtn {
    position: absolute;
    right: 30px;
    top: 5%;
    width: 13px;
    height: 13px;
    cursor: pointer;
  }
  .complaintModal-authVerifyBox {
    width: 100%;
    background-color: $white;
    box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
    border-radius: 12px;
    padding: 0px 60px 0px 60px;
    position: relative;
    top: 20px;
    .complaintModal-verifyLoginHeader {
      color: $light-tw;
    }
    .complaintModal-displayMessageText {
      color: $light-tw;
      width: 100%;
      max-width: 300px;
    }
    .complaintModal-verifyTitlePara,
    .complaintModal-NumberText {
      color: $light-tw;
    }
    .complaintModal-verifyLoginBtn {
      width: 100%;
      background-color: $orange-tw;
      color: $white;
      font-size: fontSize(16);
      font-weight: 400;
      border-radius: 8px;
    }
    .complaintModal-resendText {
      color: $light-tw;
    }
    .complaintModal-noVerifyCodeMsg {
      color: $light-tw;
      .complaintModal-resendAgainLink {
        color: $orange-tw;
        cursor: pointer;
      }
    }
  }
}

.commomQuestionBox {
  .supportHeading {
    font-size: fontSize(30);
    color: $black;
  }
  .supportPara {
    color: #4c565c;
  }
  .differentSupportLayout {
    .helpCenterBox {
      background-color: $white;
      box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
      border-radius: 8px;
      padding: 20px;
      // height: 100%;
      .helpboxlining {
        border-bottom: 1px solid $lightgrey-tw;
        .helpCenterTitle {
          color: #4c565c;
          width: 100%;
          max-width: 245px;
          line-height: 24px;
        }
        #timeTextColourSuccess {
          color: $light-tw;
          font-size: fontSize(14);
          font-weight: 400;
          width: 100%;
          max-width: 270px;
        }
        #timeTextColourDanger {
          color: $light-tw;
          font-size: fontSize(14);
          font-weight: 400;
          width: 100%;
          max-width: 270px;
        }
        .successTextAlign {
          padding-bottom: 8px;
        }
      }
      .helpCenterBtnSuccess {
        background-color: $orange-tw;
        width: 100%;
        max-width: 200px;
        color: $white;
        border-radius: 6px;
        font-size: fontSize(14);
        font-weight: 400;
      }
      .helpCenterBtnDanger {
        background-color: $lightGreen-tw;
        width: 100%;
        max-width: 140px;
        color: $white;
        border-radius: 6px;
        font-size: fontSize(14);
        font-weight: 400;
      }
      .onlineContainer {
        background-color: #e3ffef;
        padding: 3px 12px 6px 12px;
        color: $lightGreen-tw;
        font-size: fontSize(14);
        font-weight: 400;
        border-radius: 100px;
      }
    }
    .supportRequestBox {
      background-color: #9aa2af;
      border-radius: 8px;
      padding: 20px;
      // height: 100%;
      .supportRequestBoxLining {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .supportRequestHeader {
          color: $white;
        }
        .supportRequestPara {
          color: $white;
        }
      }
      .requestFieldOne {
        background-color: $white;
        width: 100%;
        border-radius: 4px;
      }
      .complaintPhoneInput {
        border-radius: 0px 8px 8px 0px;
        padding: 15px 15px;
      }
      #complaintSelectFlexType {
        padding: 15px 19px;
        display: flex;
        align-items: center;
      }
      .complaintSearchBtn {
        width: 100%;
        background-color: $orange-tw;
        font-size: fontSize(16);
        font-weight: 400;
        color: $white;
        padding: 27px 0px 27px 0px;
        border-radius: 4px;
      }
    }
  }
  .searchContainerBox {
    .searchTitle {
      font-size: fontSize(35);
      color: $black;
    }
    .searchResultTitle {
      color: #4c565c;
    }
    .resultBar {
      background-color: $white;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 12px;
      .accordionToggler {
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        cursor: pointer;
        .searchStatus {
          background-color: #fdf1e5;
          color: #ee7500;
          transform: translateY(5px);
          border-radius: 100px;
        }
        .searchSuccessStatus {
          background-color: #e3ffef;
          color: #237b4b;
          transform: translateY(5px);
          border-radius: 100px;
        }
      }
      .detailReportContainer {
        padding: 0px 27px 0px 27px;
        .complaintDetailTitle {
          color: $black;
          border-bottom: 1px solid rgba(38, 38, 38, 0.1);
        }
        .detailInfoContainer {
          background-color: $white;
          padding: 10px;
          &:nth-child(odd) {
            background-color: rgba(242, 243, 245, 1);
          }
          .leftComplaintText {
            color: $light-tw;
          }
          .rightComplaintText {
            color: $black;
          }
        }
      }
    }
  }
  .productInfoContainer {
    .space-normal {
      &:first-child {
        margin-left: 30px;
      }
    }
    .productHeader {
      color: $black;
      font-size: fontSize(35);
    }
    .productInfoText {
      color: $light-tw;
      width: 100%;
      max-width: 650px;
    }
    .viewProducts-ComplaintLink {
      color: $light-tw;
    }
    .orangeArrowIcon {
      width: 30px;
      height: 30px;
    }
  }
  .borderLiningOne {
    width: 100%;
    background-color: #262626;
    opacity: 0.1;
    height: 1px;
  }
  .differentNewSupportLayout {
    .helpCenterBox {
      background-color: $white;
      box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
      border-radius: 8px;
      padding: 20px;
      // height: 100%;
      .helpboxlining {
        border-bottom: 1px solid $lightgrey-tw;
        .helpNewCenterTitleOne,
        .helpNewCenterTitleTwo {
          color: #4c565c;
          width: 100%;
          max-width: 235px;
          line-height: 24px;
        }
        #timeNewTextColourSuccess {
          color: $light-tw;
          font-size: fontSize(12);
          width: 100%;
          max-width: 270px;
        }
        #timeNewTextColourDanger {
          color: $light-tw;
          font-size: fontSize(12);
          width: 100%;
          max-width: 200px;
        }
        .successNewTextAlign {
          padding-bottom: 8px;
        }
      }
      .helpCenterNewBtnSuccess {
        background-color: $orange-tw;
        width: 100%;
        max-width: 150px;
        color: $white;
        border-radius: 6px;
        font-size: fontSize(12);
        font-weight: 400;
      }
      .helpCenterNewBtnDanger {
        background-color: $lightGreen-tw;
        width: 100%;
        max-width: 130px;
        color: $white;
        border-radius: 6px;
        font-size: fontSize(12);
        font-weight: 400;
      }
      .onlineContainer {
        background-color: #e3ffef;
        padding: 3px 12px 6px 12px;
        color: $lightGreen-tw;
        font-size: fontSize(14);
        font-weight: 400;
        border-radius: 100px;
      }
    }
    .supportRequestBox {
      background-color: #9aa2af;
      border-radius: 8px;
      padding: 20px;
      // height: 100%;
      .supportRequestBoxLining {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .supportRequestHeader {
          color: $white;
        }
        .supportRequestPara {
          color: $white;
        }
      }
      .requestFieldOne {
        background-color: $white;
        width: 100%;
        border-radius: 4px;
      }
      .complaintPhoneInput {
        border-radius: 0px 8px 8px 0px;
        padding: 15px 15px;
      }
      #complaintSelectFlexType {
        padding: 15px 19px;
        display: flex;
        align-items: center;
      }
      .complaintSearchBtn {
        width: 100%;
        background-color: $orange-tw;
        font-size: fontSize(16);
        font-weight: 400;
        color: $white;
        padding: 27px 0px 27px 0px;
        border-radius: 4px;
      }
    }
  }
}

.language-alignment-right {
  .commomQuestionBox {
    .differentSupportLayout {
      flex-direction: row-reverse;
      .helpCenterBox {
        .helpCenterBtnDanger {
          > img {
            transform: rotate(180deg);
          }
        }
        .helpCenterBtnSuccess {
          > img {
            transform: rotate(180deg);
          }
        }
      }
    }
    .productInfoContainer {
      .orangeArrowIcon {
        transform: rotate(180deg);
      }
    }
  }
}

@include media-breakpoint-hd-desktop {
  .commomQuestionBox {
    .supportRequestBox {
      .supportRequestBoxLining {
        padding-bottom: 30px;
      }
    }
  }
}

@include media-breakpoint-med-desktop {
  .commomQuestionBox {
    .supportHeading {
      font-size: fontSize(33);
    }
    .supportPara {
      color: #4c565c;
    }
    .differentSupportLayout {
      .helpCenterBox {
        padding: 19px;
        .helpboxlining {
          .helpCenterTitle {
            width: 100%;
            max-width: 200px;
            font-size: fontSize(16);
            line-height: 20px;
          }
          #timeTextColourSuccess {
            font-size: fontSize(12);
            width: 100%;
            max-width: 220px;
          }
          #timeTextColourDanger {
            font-size: fontSize(12);
            width: 100%;
            max-width: 220px;
          }
          .successTextAlign {
            padding-bottom: 0px;
          }
        }
      }
      .supportRequestBox {
        .supportRequestBoxLining {
          padding-bottom: 20px;
          .supportRequestHeader {
            font-size: fontSize(14);
          }
          .supportRequestPara {
            font-size: fontSize(12);
            padding-top: 5px;
          }
        }
        #complaintSelectFlexType {
          padding: 15px 15px;
        }
      }
    }
    .searchContainerBox {
      .searchTitle {
        font-size: fontSize(26);
      }
      .searchResultTitle {
        font-size: fontSize(14);
      }
    }
    .productInfoContainer {
      .productHeader {
        font-size: fontSize(26);
      }
      .productInfoText {
        font-size: fontSize(13);
        line-height: 20px;
        max-width: 460px;
      }
    }
    .differentNewSupportLayout {
      .helpCenterBox {
        .helpboxlining {
          .helpNewCenterTitleOne,
          .helpNewCenterTitleTwo {
            font-size: fontSize(12);
          }
          .helpNewCenterTitleOne {
            line-height: 18px;
          }
          .helpNewCenterTitleTwo {
            line-height: 18px;
          }
          #timeNewTextColourSuccess {
            font-size: fontSize(10);
          }
          #timeNewTextColourDanger {
            font-size: fontSize(10);
          }
          .successNewTextAlign {
            padding-bottom: 0px;
          }
        }
        .helpCenterNewBtnSuccess {
          width: 100%;
          max-height: 35px;
          font-size: fontSize(10);
        }
        .helpCenterNewBtnDanger {
          width: 100%;
          max-height: 35px;
          font-size: fontSize(10);
        }
        .onlineContainer {
          font-size: fontSize(14);
        }
      }
    }
  }
}

@include media-breakpoint-tab-land {
  .commomQuestionBox {
    .supportHeading {
      font-size: fontSize(22);
    }
    .supportPara {
      font-size: fontSize(11);
      line-height: 10px;
      padding-bottom: 10px;
    }
    .differentSupportLayout {
      .helpCenterBox {
        padding: 16px;
        .helpboxlining {
          .helpCenterTitle {
            font-size: fontSize(12);
            line-height: 20px;
            width: 100%;
            max-width: 160px;
            line-height: 16px;
          }
          #timeTextColourSuccess {
            font-size: fontSize(10);
            width: 100%;
            max-width: 190px;
          }
          #timeTextColourDanger {
            font-size: fontSize(10);
            width: 100%;
            max-width: 185px;
          }
          .successTextAlign {
            padding-bottom: 0px;
          }
        }
        .helpCenterBtnSuccess {
          width: 100%;
          max-width: 164px;
          font-size: fontSize(12);
        }
        .helpCenterBtnDanger {
          width: 100%;
          max-width: 164px;
          font-size: fontSize(14);
        }
        .onlineContainer {
          font-size: fontSize(12);
        }
      }
      .supportRequestBox {
        // height: 100%;
        padding: 16px;
        .supportRequestBoxLining {
          padding-bottom: 0px;
          .supportRequestHeader {
            font-size: fontSize(12);
          }
          .supportRequestPara {
            font-size: fontSize(10);
            padding-bottom: 19px;
          }
        }
        #complaintSelectFlexType {
          padding: 15px 10px;
        }
        .complaintSearchBtn {
          width: 100%;
          font-size: fontSize(12);
        }
      }
    }
    .productInfoContainer {
      .productHeader {
        font-size: fontSize(16);
      }
      .productInfoText {
        font-size: fontSize(10);
        line-height: 17px;
        max-width: 380px;
      }
    }
    .differentNewSupportLayout {
      .helpCenterBox {
        .helpboxlining {
          .helpNewCenterTitleOne,
          .helpNewCenterTitleTwo {
            font-size: fontSize(9);
          }
          .helpNewCenterTitleOne {
            line-height: 12px;
          }
          .helpNewCenterTitleTwo {
            line-height: 14px;
          }
          #timeNewTextColourSuccess {
            font-size: fontSize(8);
          }
          #timeNewTextColourDanger {
            font-size: fontSize(8);
          }
          .successNewTextAlign {
            padding-bottom: 0px;
          }
        }
        .helpCenterNewBtnSuccess {
          width: 100%;
          max-height: 35px;
          font-size: fontSize(8);
        }
        .helpCenterNewBtnDanger {
          width: 100%;
          max-height: 35px;
          font-size: fontSize(8);
        }
        .onlineContainer {
          font-size: fontSize(8);
        }
      }
    }
  }
}
