.header_close_nav_container {
  background: #8bb2c9;
  border-radius: 0px 0px 20px 0px;
  color: #ffffff;
  padding: 20px 16px 55px 16px;

  img {
    margin-bottom: 18px;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 6px;
  }

  h6 {
    font-weight: 800;
    font-size: 20px;
  }
  .header_image_position {
    margin-left: 20rem;
  }
}

.is-bottom.header_close_nav_container {
  position: relative;
  /* padding: 16px; */
  height: 125px;
}

.is-bottom.header_close_nav_container {
  p {
    position: absolute;
    bottom: 45px;
    padding: 0;
  }
  h6 {
    position: absolute;
    bottom: 12px;
  }
}
