@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.insuranceBannerCard {
  background-color: #ffffff !important;
  padding: 18px 18px 5px 18px;
  border-radius: 8px;
  box-shadow: none !important;
  height: 100%;

  .InsuranceCardText {
    color: $light-tw;
  }
}

@include media-breakpoint-hd-desktop {
  .insuranceBannerCard {
    transform: translateY(4%);
  }
}

@include media-breakpoint-med-desktop {
  .insuranceBannerCard {
    .InsuranceCardText {
      font-size: fontSize(14);
    }
  }
}

@include media-breakpoint-tab-land {
  .insuranceBannerCard {
    .InsuranceCardText {
      font-size: fontSize(10);
    }
  }
}