@import "../../assets/scss/abstracts/abstracts";

.perkHeading,
.breakdownHeading {
	color: $black;
	font-size: fontSize(40);
}
.perkPara,
.breakingPara {
	color: #4c565c;
}

.cardRightContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0;

	.cardRightText {
		font-family: "Lato";
		font-style: normal;
		width: 50%;
		padding-right: 5%;

		h5 {
			font-weight: 800;
			font-size: 48px;
			line-height: 50px;
			letter-spacing: -1px;
			text-transform: capitalize;
		}

		p {
			margin-top: 30px;
			font-weight: 400;
			font-size: 16px;
			line-height: 23px;
			padding-right: 20px;
		}
	}

	.cardRightFeatures {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;

		.cRFeaturesColumn {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			.crCard {
				background: #ffffff;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 8px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				margin-top: 15px;
				margin-left: 15px;
				padding: 20px 20px 40px;
				width: 250px;

				img {
					margin-top: 40px;
				}

				p {
					font-family: "IBM Plex Sans Arabic";
					font-style: normal;
					font-weight: 700;
					font-size: 16px;
					margin-top: 30px;
					padding-right: 30px;
				}
			}

			.crCard1 {
				height: 265px;
			}

			.crCard2 {
				height: 150px;
			}

			.crCard3 {
				height: 210px;
				padding-top: 0;
			}

			.crCard4 {
				height: 260px;
			}

			.crCard5 {
				height: 130px;
			}

			.crCard6 {
				height: 210px;
			}
		}
	}
}

.proAdvContainer {
	h6 {
		font-family: "Lato";
		font-style: normal;
		font-weight: 800;
		font-size: 28px;
		margin-bottom: 0;
		letter-spacing: -0.02em;
		text-transform: capitalize;
	}

	p {
		font-family: "Lato";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: #4c565c;
		margin-bottom: 30px;
	}

	.proAdvContentContainer {
		.prosAdvContent {
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				width: 53%;
			}

			p {
				font-family: "IBM Plex Sans Arabic";
				font-style: normal;
				font-weight: 700;
				font-size: 18px;
				width: 42%;
				line-height: 25px;
				padding-right: 45px;
				margin-bottom: 0;
				color: #4c565c;
			}

			.prosAdvContentPara1 {
				margin-bottom: 8%;
			}

			.prosAdvContentPara2 {
				margin-top: 7%;
			}
		}

		.prosAdvContent2 {
			flex-direction: row-reverse;
			transform: translateY(-32%);
		}
	}
}
