.contact_us_container {
    .contact_header {
        padding: 16px;

        h5 {
            font-weight: 800;
            font-size: 28px;
            letter-spacing: -0.02em;
            color: #1A1C1F;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            color: #455560;
            margin: 0px;

            span {
                color: #F47B20;
            }
        }
    }

    .tags_scrollable {
        display: flex;
        white-space: pre;
        overflow: scroll;
        padding-left: 16px;
        padding-bottom: 16px;

        label {
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 100px;
            padding: 10px 16px;
            font-weight: 400;
            font-size: 14px;
            color: #676F7C;
            margin-right: 12px;
        }

        .active_tag {
            background: #1A1C1F;
            color: #FFFFFF;
        }
    }

    .map_section {
        padding: 16px;

        h6 {
            font-weight: 800;
            font-size: 24px;
            letter-spacing: -0.01em;
            color: #1A1C1F;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .map_container {
            position: relative;
            margin-top: 16px;

            .filter_icon {
                position: absolute;
                right: 0px;
            }

            .direct_location_section {
                padding: 24px;
                background: #FFFFFF;
                box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
                border-radius: 8px;
                width: 268px;
                position: absolute;
                left: 38px;
                top: 115px;

                h6 {
                    font-weight: 800;
                    font-size: 20px;
                    letter-spacing: -0.01em;
                    color: #679AB4;
                    margin-bottom: 14px;
                }

                label {
                    font-weight: 400;
                    font-size: 14px;
                    color: #455560;
                }

                div {
                    margin-top: 18px;
                    display: flex;
                    align-items: center;

                    label {
                        margin-bottom: 0px;
                        margin-right: 14px;
                        font-weight: 800;
                        font-size: 16px;
                        color: #455560;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .inquery_container {
        padding: 16px;

        h6 {
            font-weight: 800;
            font-size: 24px;
            letter-spacing: -0.01em;
            color: #1A1C1F;
        }

        .reach_sub {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #455560;
        }
    }


}

.contact_us_thanks_model {
    margin-top: 26%;

    img {
        position: fixed;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        height: 207px;
    }

    .contact_us_thanks {
        font-weight: 800;
        font-size: 20px;
        color: #1A1C1F;
        justify-content: center;
        display: flex;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        align-items: center;
        text-align: center;
        color: #455560;
        margin-top: 16px;

        .contact_us_help {
            color: #F47B20;
            margin-left: 4px;
        }
    }

    .contact_us_close {
        font-weight: 400;
        font-size: 16px;
        color: #F47B20;
        margin-top: 35px;
        justify-content: center;
        display: flex;
    }

}

.woman-block {
    margin-bottom: 15rem;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    position: relative;

    img {
        height: 180px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 350px) {
    .contact_us_container {
        .contact_header {
            p {
                font-weight: 400;
                font-size: 13px;
                color: #455560;
                margin: 0px;

                span {
                    color: #F47B20;
                }
            }
        }

        .map_section .map_container .direct_location_section {
            left: 10px;
        }
    }
}

.form_section {

    .selectdropdown {
        width: 320px !important;
        border-radius: 3px;
        border: 6px solid #f2f3f5;
        height: 50px;

        margin-left: 24px;
        font-size: 12px;
        color: #9aa2af;
        padding: 10px;
    }

    .selectbg {
        background: #f2f3f5;
    }

    .filterinputbg {
        background: #f2f3f5;
        border-radius: 4px;
        width: 97%;
    }

    .form-control {
        border: none;
        height: 54px;
    }

    button.btn {
        border: none !important;
        // height: 50px !important;
        -webkit-box-shadow: 0 0 2px #f2f3f5;
        box-shadow: 0 0 2px #f2f3f5;
    }

    .sendoptbtn {
        border-radius: 4;
        background: #ee7500;
        color: #ffff;
        font-size: 12px;
        border: none;
        height: 32px;
        width: 100%;
        margin-bottom: 12px;
    }

    .hideptag {
        display: none;
    }

    .input-group-text {
        background: #ffff;
        border: none;
    }

    .sendbtn {
        width: 100%;
        background: #b3b9c3;
        border-radius: 12px !important;
    }

    .alignhr {
        margin-top: 40px;
    }

    .inputbg {
        background: #f2f3f5;
    }

    .cityalign {
        margin-left: 100px !important;
    }

    .formPhoneInput {
        padding: 12px;
    }

    .image {
        width: 20%;
    }

    .imageflag {
        width: 5%;
        height: 25%;
    }

    .inactiveradio {
        .form-control {
            background: #f2f3f5;
            border: 2px solid #b3b9c3;
            border-right: none;
        }

        .input-group-text {
            background: #f2f3f5;
            border: 2px solid #b3b9c3;
            border-left: none;
            border-radius: none;
        }
    }

    .your_message {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #1A1C1F;
    }
}






@media only screen and (min-width: 340px) and (max-width: 350px) {
    .contact_us_container .map_section .map_container .direct_location_section {
        left: 18px;
    }
}



.mobile_sticky_bottom_menu {
    display: none;
}