@import "../../../../../assets/scss/abstracts/abstracts";

.health-insurance-my-family-root {
  .program-tabs-root {
    padding-top: 30px;
    max-width: 1280px;
    margin: 0  auto 80px;
    .program-tabs {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      border-bottom: 2px solid #d4d4d4;
      > div {
        padding: 0 20px 10px;
        border-bottom: 2px solid transparent;
        margin-bottom: -2px;
        cursor: pointer;
        font-weight: 700;
        font-size: fontSize(16);
        line-height: 140%;
        &.active {
          color: $orange-tw;
          border-bottom-color: $orange-tw;
        }
      }
    }
    .program-content {
      padding: 30px;
      background: $white;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 0px 0px 20px 20px;
      ul {
        font-weight: 400;
        font-size: fontSize(16);
        line-height: 140%;
        color: $light-tw-2;
        margin: 0;
        li {
          margin-bottom: 6px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .enquiry-form-root {
    max-width: 660px;
    width: 100%;
    margin: 0 auto 60px;
    padding-top: 40px;
    .form-title {
        text-align: center;
        margin-bottom: 10px;
        font-weight: 800;
        font-size: fontSize(34);
        line-height: 120%;
        color: $black;
    }
    .form-description {
        text-align: center;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: fontSize(18);
        line-height: 140%;
        color: $light-tw-2;
    }
    .formInputFieldOne {
        background-color: $white;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 4px;
        border: none;
        padding: 30px;
        padding-left: 65px;
    }
    .forms-list-root {
      margin-bottom: 40px;
      .forms-list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 -10px;
        .input-root {
            margin-bottom: 20px;
            flex: 0 0 100%;
            padding: 0 10px;
            &.width-50 {
                flex: 0 0 50%;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .bordered {
          border-bottom: 1px solid #1a1c1f33;
          flex: 0 0 calc(100% - 20px);
          margin: 0 auto;
          margin-bottom: 20px;
        }
        label {
          color: $light-tw-2;
          font-weight: 400;
          font-size: fontSize(14);
          line-height: 120%;
          display: block;
        }
        textarea {
          background-color: $white;
          box-shadow: 0px 4px 10px #091e420f;
          border-radius: 4px;
          border: none;
          padding: 15px 20px;
          width: 100%;
          outline: 0;
          height: 150px;
          resize: none;
        }
      }
    }
    button {
        display: flex;
        align-items: center;
        margin-left: 0;
        outline: 0;
        justify-content: center;
        text-align: center;
        border: 0;
        background: $orange-tw;
        border-radius: 8px;
        height: 48px;
        padding: 10px 20px;
        font-weight: 400;
        font-size: fontSize(16);
        color: $white;
        width: 100%;
    }
  }
}