

.checkbox {
    position: absolute;
    opacity: 0;
    & + span span.label-txt {
      position: relative;
      top: 3px;
    }
    & + span {
      position: relative;
      cursor: pointer;
      font-family: "Lato";
      font-weight: 500;
      padding: 0;
    }
    & + span:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 19px;
      height: 19px;
      background: #fff;
      box-sizing: border-box;
      border-radius: 2px;
      border: 1px solid #b1a0a0;
    }
    // Box hover
    &:hover + span:before {
      background: transparent;
    }
    // Box checked
    &:checked + span:before {
      background: #D9DCE1;
      border-radius: 2px;
      border: none;
    }
    
    // Checkmark. Could be replaced with an image
    &:checked + span:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 9px;
      background: #D9DCE1;
      width: 1.5px;
      height: 1.5px;
      box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff,
        4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
      transform: rotate(45deg);
    }
    &:checked + span .label-txt {
      color: black;
    }
  }