@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.dashboard-support-center-newsupport {
    .helpCenterBox {
      background-color: $white;
      box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
      border-radius: 8px;
      padding: 20px;
      // height: 100%;
      @include media-breakpoint-tab-port {
        padding: 15px;
      }
      .helpboxlining {
        border-bottom: 1px solid $lightgrey-tw;
        .helpNewCenterTitleOne,
        .helpNewCenterTitleTwo {
          color: $black;
          width: 100%;
          max-width: 235px;
          line-height: 24px;
          font-size: fontSize(18);
          font-weight: 800;
          line-height: 120%;
          @include media-breakpoint-tab-port {
            font-size: fontSize(15);
          }
        }
        #timeTextColourSuccess {
          color: $light-tw;
          font-size: fontSize(12);
          width: 100%;
          max-width: 270px;
        }
        #timeNewTextColourDanger {
          color: $light-tw;
          font-size: fontSize(12);
          width: 100%;
          max-width: 200px;
        }
        .successNewTextAlign {
          padding-bottom: 8px;
        }
      }
      .helpCenterBtnSuccess {
        background-color: $orange-tw;
        width: 100%;
        max-width: 150px;
        color: $white;
        border-radius: 6px;
        font-size: fontSize(12);
        font-weight: 400;
        @include media-breakpoint-tab-port {
            height: 40px;
        }
      }
      .helpCenterNewBtnDanger {
        background-color: $lightGreen-tw;
        width: 100%;
        max-width: 130px;
        color: $white;
        border-radius: 6px;
        font-size: fontSize(12);
        font-weight: 400;
        @include media-breakpoint-tab-port {
            height: 40px;
        }
      }
      .onlineContainer {
        background-color: #e3ffef;
        padding: 3px 12px 6px 12px;
        color: $lightGreen-tw;
        font-size: fontSize(14);
        font-weight: 400;
        border-radius: 100px;
        @include media-breakpoint-tab-port {
            padding: 3px 8px 6px 8px;
            font-size: fontSize(12);
        }
      }
    }
    .supportRequestBox {
      background-color: #9aa2af;
      border-radius: 8px;
      padding: 20px;
      // height: 100%;
      .supportRequestBoxLining {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .supportRequestHeader {
          color: $white;
        }
        .supportRequestPara {
          color: $white;
        }
      }
      .requestFieldOne {
        background-color: $white;
        width: 100%;
        border-radius: 4px;
      }
      .complaintPhoneInput {
        border-radius: 0px 8px 8px 0px;
        padding: 15px 15px;
      }
      #complaintSelectFlexType {
        padding: 15px 19px;
        display: flex;
        align-items: center;
      }
      .complaintSearchBtn {
        width: 100%;
        background-color: $orange-tw;
        font-size: fontSize(16);
        font-weight: 400;
        color: $white;
        padding: 27px 0px 27px 0px;
        border-radius: 4px;
      }
    }
}