@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.SocialMaincontent {
  .socialh2 {
    color: #ee7500;
  }

  .socialptag {
    color: #4c565c;
    font-weight: 700;
  }
  .mainBannerPara {
    font-family: "Lato", sans-serif;
  }
  .social-card {
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background: #ee7500;
    height: 550px;
  }
  .socialcardbg {
    background-image: url("../../../assets/svg/Social/Title.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .cardptag {
    z-index: 12;
    padding-bottom: 3rem;
  }

  .social-card2 {
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background: #ffff;
    height: auto;

    //  z-index: 9;
  }
  .aligncard2 {
    margin-top: 50px;
  }
  .social-card4 {
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background: black !important;
    height: auto;
    color: #ffff;
    padding: 32px 40px;

    .mainBannerPara {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
    }
    .mainBannerHeading {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
    }
    .hrtag {
      opacity: 0.1;
      border: 1px solid #ffffff;
    }
  }
  .social-card3 {
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background: #f2f3f5;
    height: auto;
  }
  .align-centercard {
    display: table !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .socialcard-ptag {
    color: #ffff;
    font-weight: 700;
    font-size: 1.2rem;
    display: table !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .section2 {
    margin-top: 62vh;
    margin-bottom: 40px;
  }
  .hrtag {
    background: #ffffff;
  }

  .selectdropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 95%;
    background-repeat: no-repeat;
    background-image: url("../../../assets/svg/Social/downarrow.svg");
    padding: 0.5em;
    padding-right: 0.5em;
    width: 30%;
    border-radius: 3px;
    border: none;
    height: 50px;
  }

  @media only screen and (min-width: 769px) and (max-width: 1440px) {
    .section2 {
      margin-top: 50vh;
    }
  }
}
@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.SocialMaincontent {
  .socialh2 {
    color: #ee7500;
  }

  .socialptag {
    color: #4c565c;
    font-weight: 700;
  }
  .mainBannerPara {
    font-family: "Lato", sans-serif;
  }
  .social-card {
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background: #ee7500;
    height: 550px;
  }
  .socialcardbg {
    background-image: url("../../../assets/svg/Social/Title.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
  .cardptag {
    z-index: 12;
  }

  .social-card2 {
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background: #ffff;
    height: auto;

    //  z-index: 9;
  }
  .aligncard2 {
    margin-top: -20px;
  }
  .social-card4 {
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background: black !important;
    height: auto;
    color: #ffff;
    padding: 32px 40px;

    .mainBannerPara {
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
    }
    .mainBannerHeading {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
    }
    .hrtag {
      opacity: 0.1;
      border: 1px solid #ffffff;
    }
  }
  .social-card3 {
    border-radius: 12px;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    background: #f2f3f5;
    height: 100%;
  }
  .align-centercard {
    display: table !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .socialcard-ptag {
    color: #ffff;
    font-weight: 700;
    font-size: 1.2rem;
    display: table !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .section2 {
    margin-top: 50vh;
  }
  .hrtag {
    background: #ffffff;
  }
  .yearLabel{
    width: 29px;
height: 12px;

/* Label En/X-Small Label */

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */
position: relative;
top: 14px;
left: 448px;
display: flex;
align-items: center;

/* Neutral/Neutral 04 */

color: #676F7C;

  }

  .selectdropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 95%;
    background-repeat: no-repeat;
    background-image: url("../../../assets/svg/Social/downarrow.svg");
    padding: 0.5em;
    padding-right: 0.5em;
    width: 30%;
    border-radius: 3px;
    border: none;
    height: 50px;
  }

  @media only screen and (min-width: 769px) and (max-width: 1440px) {
    .section2 {
      margin-top: 50vh;
    }
  }
}

@include media-breakpoint-tab-land {
  .section2 {
    margin-top: 65vh !important;
  }
  .emailui {
    margin-left: -14px;
  }
  .socialtabpatg {
    width: 85vh;
  }
}

.language-alignment-right { 
  .SocialMaincontent {
    .selectdropdown {
      background-position: 4%;
    }
    .social-card2 {
      h6 {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}