@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.Complaint-mainBannerContainer {
	.Complaint-mainBannerTop {
		.mainBannerHeading {
			font-size: fontSize(50);
			line-height: 40px;
			color: $lightBlack-tw;
		}
		.mainBannerPara {
			color: $light-tw;
			font-size: fontSize(15);
		}
		.pillContainer {
			width: 100%;
			max-width: 800px;
			.pillBtnContainer {
				.highlightPill {
					background-color: $white;
					border-radius: 100px;
					padding: 4px 18px 4px 5px;
					box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
					width: 100%;
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					.pillIcon {
						position: relative;
						left: 10%;
						background-color: #ee7500;
						border-radius: 100px;
					}
					.pillHighlightText {
						color: $black;
						transform: translateY(40%);
						margin-left: 15px;
					}
				}
				.normalPill {
					transform: translateY(12px);
					cursor: pointer;
					width: 100%;
					.pillIcon {
						position: relative;
						bottom: 4px;
					}
					#alignWorldIcon {
						position: absolute;
						right: 95%;
						bottom: 25%;
					}
					.pillNormalText {
						color: #676f7c;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-med-desktop {
	.Complaint-mainBannerContainer {
		.Complaint-mainBannerTop {
			.pillContainer {
				width: 100%;
				max-width: 800px;
				.pillBtnContainer {
					.highlightPill {
						padding: 1px 10px 1px 0px;
						.pillIcon {
							position: relative;
							left: 30%;
							bottom: 1px;
							width: 23px;
							height: 23px;
						}
						.pillHighlightText {
							color: $black;
							transform: translateY(45%);
							font-size: fontSize(12);
							margin-left: 15px;
						}
					}
					.normalPill {
						transform: translateY(10px);
						.pillIcon {
							position: relative;
							bottom: 5px;
						}
						.pillNormalText {
							font-size: fontSize(12);
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

.language-alignment-right {
	.Complaint-mainBannerContainer {
		.Complaint-mainBannerTop {
			.pillContainer {
				.space-normal {
					padding-left: 50px;
					padding-right: 0;
				}
				.space-higlight {
					padding-right: 0;
					padding-left: 25px;
				}
				.pillBtnContainer {
					.normalPill {
						#alignWorldIcon {
							left: 95%;
							right: auto;
						}
						.pillNormalText {
							margin-left: 0;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-med-desktop {
	.Complaint-mainBannerContainer {
		.Complaint-mainBannerTop {
			.pillContainer {
				width: 100%;
				max-width: 800px;
				.pillBtnContainer {
					.highlightPill {
						padding: 1px 10px 1px 0px;
						.pillIcon {
							position: relative;
							left: 30%;
							bottom: 1px;
							width: 23px;
							height: 23px;
						}
						.pillHighlightText {
							color: $black;
							transform: translateY(45%);
							font-size: fontSize(12);
							margin-left: 15px;
						}
					}
					.normalPill {
						transform: translateY(10px);
						.pillIcon {
							position: relative;
							bottom: 5px;
						}
						.pillNormalText {
							font-size: fontSize(12);
							margin-left: 10px;
						}
					}
				}
			}
			.normalPill {
				transform: translateY(10px);
				.pillIcon {
					position: relative;
					bottom: 5px;
				}
				.pillNormalText {
					font-size: fontSize(12);
					margin-left: 10px;
				}
			}
		}
	}
}
