.mobile_plan_for_future {
    width: 173px;
    min-height: 190px;
    padding: 16px 12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;

    .plan_header {
        padding-bottom: 16px;

        label {
            font-weight: 800;
            font-size: 20px;
            color: #679AB4;
            margin-bottom: 2px;
        }

        p {
            font-weight: 800;
            font-size: 12px;
            color: #1A1C1F;
            margin-bottom: 0px;
        }
    }

    .annual_section {
        padding-bottom: 16px;

        h6 {
            color: #455560;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 0px;
        }

        label {
            font-weight: 800;
            font-size: 16px;
            color: #1A1C1F;
            margin-bottom: 0px;
        }
    }

    hr {
        opacity: 0.1;
        border: 1px solid #1A1C1F;
        margin: 0px;
    }


    .plan_button_section {
        padding-top: 16px;
        text-align: center;

        button {
            width: 149px;
            height: 42px;
            background: #F47B20;
            border-radius: 6px;
            padding: 0px 16px;
            font-weight: 400;
            font-size: 14px;
            color: #FFFFFF;
            margin-bottom: 14.5px;
            border: none;
        }

        p {
            width: 100%;
            text-align: center;
            font-weight: 800;
            font-size: 12px;
            line-height: 12px;
            color: #455560;
            text-transform: uppercase;
            margin-bottom: 0px;
        }
    }
}


@media screen and (min-device-width:320px) and (max-device-width:360px) {
    .mobile_plan_for_future {
        width: 150px;

        .plan_button_section {
            button {
                width: 120px;
            }
        }
    }
}