@import "../../assets/scss/abstracts/abstracts";

.main_insurance{

.main_card{
    border-radius: 12px ;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    height: 450px;
    background: url("../../assets/svg/MobileAssets/umra.svg");
    // background-size: cover;
    background-repeat: no-repeat;
}

.main_card_hajj{
    border-radius: 12px ;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    height: 450px;
    background: url("../../assets/svg/MobileAssets/hajj.svg");
    // background-size: cover;
    background-repeat: no-repeat;
}
.insurance_card2{
    border-radius: 12px ;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    height: auto;
    margin-top: 253px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .mainCardPara {
        font-weight: 400;
        font-size: 15px;
        color: #455560;
    }
    
 
}

.insurance_htags{
    margin-top: 320px;
}

.insurance_card {
    display: flex;
    overflow: auto;
    height: 145px;
   
  }


  .insurance_card3 {
    display: flex;
    overflow: auto;
    height: 145px;
 

    .insurance_desc_text2 {
        bottom: 50px;
        width: 227.25px;
        height: 135px;
        background-color: #679AB4;
        border-radius: 8px;
        color: #ffff;
      }
      
  
  }

  
.insurance_desc_text {
    bottom: 50px;
    width: 227.25px;
    height: 135px;
    background-color: white;
    border-radius: 8px;
  }
  .insurance_maintenance_display {
    font-size: 13px;
    font-weight: 800;
    line-height: 140%;
  }

  .image_position {
    
    margin-top: 10px;
   
  }


  
  .insurance_card4{
    border-radius: 12px ;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    height: 300px;
    background: url("../../assets/svg/MobileAssets/umrabg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .mainCardPara {
      
        font-size: 15px;
        color: #455560
        ;
    }
    .mainCardParahead {
      
        font-size: 18px;
        color: #fff;
        font-weight: 800;
    }
    .amountbg{
        color: #679AB4;
    }
  
 
}


.insurance_cardhajj{
    border-radius: 12px ;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    height: 300px;
    background: url("../../assets/svg/MobileAssets/hajj.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .mainCardPara {
      
        font-size: 15px;
        color: #455560
        ;
    }
    .mainCardParahead {
      
        font-size: 18px;
        color: #fff;
        font-weight: 800;
    }
    .amountbg{
        color: #679AB4;
    }
  
 
}

.amountbg{
    color: #679AB4;
}


.insurance_card5{
    border-radius: 12px ;
    border: none;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .mainCardPara {
        font-weight: 400;
        font-size: 15px;
        color: #455560;
    }
    
 
}

.space{
    margin-top: -12px;
}
.complaintFormSubmitBtn {
    width: 100%;
    background-color: $orange-tw;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
}
.enquirytag{
font-family: 'Bliss 2';
font-style: normal;

}


  
}

