@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.serviceCategoryContainer {
  .category-assisst-header {
    color: $black;
    font-size: fontSize(36);
  }
  .category-assisst-para {
    color: $newLight-tw;
    width: 100%;
    max-width: 700px;
  }
  .headerCategorySearch {
    border-radius: 30px;
    width: 100%;
    min-width: 480px;
    border: none;
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  }
  .category-trendingFaq-title {
    color: $black;
    font-size: fontSize(36);
  }
  .category-trendingFaq-para {
    color: $newLight-tw;
  }
  .category-cantFind-title {
    color: $black;
    font-size: fontSize(36);
  }
  .category-cantFind-para {
    color: $newLight-tw;
  }
}

@include media-breakpoint-med-desktop {
  .serviceCategoryContainer {
    .category-assisst-header {
      font-size: fontSize(27);
    }
    .category-assisst-para {
      font-size: fontSize(13);
    }
    .headerCategorySearch {
      width: 100%;
      min-width: 410px;
    }
    .category-trendingFaq-title {
      font-size: fontSize(27);
    }
    .category-trendingFaq-para {
      font-size: fontSize(14);
    }
    .category-cantFind-title {
      font-size: fontSize(27);
    }
    .category-cantFind-para {
      font-size: fontSize(16);
    }
  }
}

@include media-breakpoint-tab-land {
  .serviceCategoryContainer {
    .category-assisst-header {
      font-size: fontSize(24);
    }
    .category-assisst-para {
      font-size: fontSize(11);
    }
    .headerCategorySearch {
      width: 100%;
      min-width: 320px;
    }
    .category-trendingFaq-title {
      font-size: fontSize(24);
    }
    .category-trendingFaq-para {
      font-size: fontSize(11);
    }
    .category-cantFind-title {
      font-size: fontSize(24);
    }
    .category-cantFind-para {
      font-size: fontSize(11);
    }
  }
}
