@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

#authLoginContainer {
	// padding-top: 165px;
	min-height: calc(100vh - ( 82px + 93px ));
	padding-top: 20px;
	display: flex;
	align-items: flex-end;
	@include media-breakpoint-med-desktop {
		min-height: calc(100vh - ( 82px + 80px ));
	}
}
.authLoginContainer {
	padding-top: 85px;
	#alignArabLoginCardRight {
		margin-left: auto;
	}
	.authLoginBox {
		width: 100%;
		max-width: 440px;
		background-color: $white;
		box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
		border-radius: 12px 12px 0px 0px;
		padding: 15px;
		.subAuthLayer {
			background-color: $lightgrey-tw;
			border-radius: 12px;
			padding: 0px 50px 0px 50px;
			.loginHeader {
				color: $light-tw;
				padding-top: 48px;
			}
			.loginInputFieldOne {
				background-color: $white;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 4px;
				border: none;
				padding: 28px;
				padding-left: 65px;
				&:focus {
					outline: none;
				}
			}
			.loginDatePadding {
				padding: 16px 16px 16px 65px;
				&:focus {
					outline: none;
				}
			}
			#loginDateIcon {
				top: 15px;
			}
			.loginPhoneInput {
				border-radius: 0px 8px 8px 0px;
				padding: 15px 15px;
			}
			#loginSelectFlexType {
				display: flex;
				padding: 15px 20px;
				justify-content: space-around;
				align-items: center;
			}
			.authContinueBtn {
				background-color: $orange-tw;
				width: 100%;
				border-radius: 8px;
				font-size: fontSize(16);
				font-weight: 400;
				color: $white;
			}

			.termsConditionText {
				color: $light-tw;
				width: 100%;
				max-width: 400px;
				font-weight: 400;
				.termsText {
					color: $primary-tw;
				}
			}

			.termsConditionTextArab {
				color: $light-tw;
				width: 100%;
				max-width: 400px;
				font-weight: 400;
				.termsText {
					color: $orange-tw;
				}
			}

			.resetMobileNoBtn {
				width: 100%;
				background-color: transparent;
				border: none;
				color: $orange-tw;
				font-size: fontSize(18);
				font-weight: 400;
			}
		}

		.subNewLoginLayer {
			background-color: $lightgrey-tw;
			border-radius: 12px;
			padding: 0px 50px 0px 50px;

			.loginNewHeader {
				color: $light-tw;
				width: 100%;
				max-width: 200px;
				line-height: 40px;
			}

			.loginNewPara {
				color: $light-tw;
			}

			.loginNewInputFieldOne {
				background-color: $white;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 4px;
				border: none;
				padding: 30px;
				padding-left: 65px;
			}

			.loginNewContinueBtn {
				background-color: $orange-tw;
				width: 100%;
				border-radius: 8px;
				font-size: fontSize(16);
				font-weight: 400;
				color: $white;
			}

			.login-new-resetMobileNoBtn {
				width: 100%;
				background-color: transparent;
				border: none;
				color: $orange-tw;
				font-size: fontSize(18);
				font-weight: 400;
			}
		}
	}
}

.authVerifyContainer {
	// padding-top: 105px;
	min-height: calc(100vh - ( 82px + 93px ));
	padding-top: 20px;
	display: flex;
	align-items: flex-end;
	#authVerifyBox {
		margin-left: auto;
	}
	.authVerifyBox {
		width: 100%;
		max-width: 440px;
		background-color: $white;
		box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
		border-radius: 12px 12px 0px 0px;
		padding: 0px 60px 0px 60px;
		position: relative;
		top: 20px;

		.verifyLoginHeader {
			color: $light-tw;
			padding-top: 48px;
		}

		.displayMessageText {
			color: $light-tw;
			width: 100%;
			max-width: 300px;
		}

		.verifyTitlePara {
			color: $light-tw;
		}

		.verifyLoginBtn {
			width: 100%;
			background-color: $orange-tw;
			color: $white;
			font-size: fontSize(16);
			font-weight: 400;
			border-radius: 8px;
		}

		.resendText {
			color: $light-tw;
		}

		.noVerifyCodeMsg {
			color: $light-tw;
			padding-bottom: 54px;
			.resendAgainLink {
				color: $primary-tw;
				cursor: pointer;
			}
		}
	}
}

@include media-breakpoint-med-desktop {
	.authLoginContainer {
		padding-top: 55px;
		.authLoginBox {
			width: 100%;
			max-width: 440px;
			padding: 15px;
			.subAuthLayer {
				padding: 0px 50px 0px 50px;
				.loginHeader {
					padding-top: 33px;
				}
				.loginInputFieldOne {
					background-color: $white;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					border-radius: 4px;
					border: none;
					padding: 0px 0px 0px 65px;
				}
				.loginDatePadding {
					padding: 10px 10px 10px 65px;
				}
				#loginDateIcon {
					top: 8px;
				}
				.loginPhoneInput {
					border-radius: 0px 8px 8px 0px;
					padding: 10px 15px;
				}
				#loginSelectFlexType {
					display: flex;
					padding: 10px 20px;
					justify-content: space-around;
					align-items: center;
				}
				.authContinueBtn {
					font-size: fontSize(14);
				}
				.termsConditionText {
					font-size: fontSize(11);
				}

				.resetMobileNoBtn {
					width: 100%;
					font-size: fontSize(14);
				}
			}

			.subNewLoginLayer {
				padding: 0px 50px 0px 50px;
				.loginNewInputFieldOne {
					padding: 30px;
					padding-left: 65px;
				}
				.loginNewContinueBtn {
					font-size: fontSize(16);
					font-weight: 400;
					color: $white;
				}
				.login-new-resetMobileNoBtn {
					font-size: fontSize(18);
					font-weight: 400;
				}
			}
		}
	}
	.authVerifyContainer {
		// padding-top: 40px;
		min-height: calc(100vh - ( 82px + 80px ));
		.authVerifyBox {
			width: 100%;
			max-width: 500px;
			background-color: $white;
			box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
			border-radius: 12px 12px 0px 0px;
			padding: 0px 60px 0px 60px;
			position: relative;
			top: 20px;

			.verifyLoginHeader {
				font-size: fontSize(18);
				padding-top: 46px;
			}

			.displayMessageText {
				font-size: fontSize(13);
				width: 100%;
				max-width: 280px;
			}

			.verifyTitlePara {
				font-size: fontSize(14);
			}

			.verifyLoginBtn {
				font-size: fontSize(14);
				font-weight: 400;
				border-radius: 8px;
			}

			.resendText {
				color: $light-tw;
				padding-top: 20px;
			}

			.noVerifyCodeMsg {
				color: $light-tw;
				padding-bottom: 16px;
				.resendAgainLink {
					color: $orange-tw;
					cursor: pointer;
				}
			}
		}
	}
}

@include media-breakpoint-tab-land {
	.authLoginContainer {
		padding-top: 60px;
		.authLoginBox {
			width: 100%;
			max-width: 400px;
			padding: 15px;
			.subAuthLayer {
				padding: 0px 50px 0px 50px;
				.loginHeader {
					padding-top: 33px;
					font-size: fontSize(22);
				}
				.loginInputFieldOne {
					background-color: $white;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					border-radius: 4px;
					border: none;
					padding: 0px 0px 0px 65px;
				}
				.loginDatePadding {
					padding: 10px 10px 10px 65px;
				}
				#loginDateIcon {
					top: 8px;
				}
				.loginPhoneInput {
					border-radius: 0px 8px 8px 0px;
					padding: 10px 15px;
				}
				#loginSelectFlexType {
					display: flex;
					padding: 10px 20px;
					justify-content: space-around;
					align-items: center;
				}
				.authContinueBtn {
					font-size: fontSize(12);
				}
				.termsConditionText {
					font-size: fontSize(10);
				}

				.resetMobileNoBtn {
					width: 100%;
					font-size: fontSize(12);
				}
			}

			.subNewLoginLayer {
				padding: 0px 50px 0px 50px;
				.loginNewInputFieldOne {
					padding: 30px;
					padding-left: 65px;
				}
				.loginNewContinueBtn {
					font-size: fontSize(12);
					font-weight: 400;
					color: $white;
				}
				.login-new-resetMobileNoBtn {
					font-size: fontSize(12);
					font-weight: 400;
				}
			}
		}
	}
	.authVerifyContainer {
		// padding-top: 30px;
		.authVerifyBox {
			width: 100%;
			max-width: 400px;
			background-color: $white;
			box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
			border-radius: 12px 12px 0px 0px;
			padding: 0px 60px 0px 60px;
			position: relative;
			top: 20px;

			.verifyLoginHeader {
				font-size: fontSize(18);
				padding-top: 40px;
			}

			.displayMessageText {
				font-size: fontSize(12);
				width: 100%;
				max-width: 240px;
			}

			.verifyTitlePara {
				font-size: fontSize(12);
			}

			.verifyLoginBtn {
				font-size: fontSize(12);
				font-weight: 400;
				border-radius: 8px;
			}

			.resendText {
				color: $light-tw;
				padding-top: 10px;
			}

			.noVerifyCodeMsg {
				color: $light-tw;
				padding-bottom: 40px;
				.resendAgainLink {
					color: $orange-tw;
					cursor: pointer;
				}
			}
		}
	}
}
