@import "../../../assets/scss/abstracts/mixins.scss";
@import "../../../assets/scss/abstracts/abstracts";

.pcCardContainer {
	.pcCard {
		width: 315px;
		height: fit-content;
		border-radius: 12px;
		margin-top: 20px;
		margin-left: 20px;

		@include media-breakpoint-hd-desktop {
			width: 370px;
		}
		@include media-breakpoint-full-hd-desktop {
			width: 425px !important;
		}

		.pcMain {
			padding: 20px 20px 15px 20px;

			.pcHead {
				align-items: center;

				.pcSubtitle {
					font-size: 12px;
					font-weight: 800;
					line-height: 12px;
					text-transform: uppercase;
					color: #4c565c;
				}
			}

			.pcContent {
				padding: 0;
				padding-top: 15px;

				.pcCardTitle {
					font-weight: 900;
					font-size: 18px;
					line-height: 25px;
					text-transform: capitalize;
					color: #1a1c1f;
					@include media-breakpoint-full-hd-desktop {
						font-size: 25px !important;
					}
				}
				.pcCardDetails {
					margin-bottom: 0;
					height: 45px;
					font-weight: 700;
					padding-right: 30px;
					font-size: 15px;
					line-height: 20px;
					text-transform: capitalize;
					color: #4c565c;

					@include media-breakpoint-full-hd-desktop {
						font-size: 22px !important;
					}
				}
				.pcCardDescription {
					height: 100%;
					margin-top: 5px;
					padding-right: 30px;
					font-weight: 400;
					font-size: 11px;
					line-height: 20px;
					display: flex;
					align-items: flex-start;
					color: #4c565c;
					min-height: 60px;

					@include media-breakpoint-full-hd-desktop {
						font-size: 16px !important;
					}
				}
			}
		}

		.pcBtm {
			display: flex;
			justify-content: space-between;
			padding: 15px 18px;

			.pcBtmCtaArrow {
				height: 0.85rem;
				margin-bottom: 3px;
			}

			.pcBtmTitle {
				font-family: "Lato", sans-serif;
				font-weight: 600;
				font-size: 13px;
				line-height: 14px;
				color: #4c565c;
			}
		}
	}

	.pcAntCard {
		width: 300px;
		height: 290px;
		border: 12px;
		margin-top: 20px;
		margin-left: 20px;
		border-radius: 12px;
		background-repeat: no-repeat;
		background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.09) 0%,
				rgba(0, 0, 0, 0.51) 100%
			),
			url("../../../assets/images/homesubproducts1.png");
		background-size: cover;
		background-position-x: 40%;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

		.pcAntCardBox {
			position: absolute;
			top: 4%;
			left: 5%;
			display: flex;
			flex-direction: column;

			.pcAntImg1 {
				width: 66.9px;
				height: 25.8px;
				margin-bottom: 5px;
			}

			.pcAntImg2 {
				width: 66.9px;
				height: 25.8px;
			}

			.pcAntTextBox {
				width: 303px;
				margin-top: 65px;

				.pcAntDetail {
					font-size: 18px;
					line-height: 25px;
					font-weight: 800;
					color: #ffff;
				}

				.pcAntDesc {
					font-size: 15px;
					font-weight: 700;
					color: #ffff;
					margin-top: 5px;
					line-height: 20px;
				}
			}

			.pcAntBtn {
				color: #ffff;
				width: 201px;
				height: 42px;
				margin-top: 20px;
			}
		}
	}
}

[class="language-alignment-right"] {
	.pcCardContainer {
		.pcCard {
			.pcBtm {
				.pcBtmTitle {
					> span {
						> span {
							transform: rotate(180deg);
							margin-right: 8px;
							margin-left: 0;
						}
					}
				}
			}
			.pcMain {
				.pcContent {
					.pcCardDetails {
						padding-right: 0;
					}
					.pcCardDescription {
						padding-right: 0;
					}
				}
			}
		}
	}
}

@include media-breakpoint-hd-desktop {
	.pcCardContainer {
		.pcCard {
			width: 355px;
			height: fit-content;
			border-radius: 12px;
			margin-top: 20px;
			margin-left: 20px;

			.pcMain {
				padding: 20px 20px 15px 20px;

				.pcHead {
					align-items: center;

					.pcSubtitle {
						font-size: fontSize(14);
						font-weight: 800;
						line-height: 12px;
						text-transform: uppercase;
						color: #4c565c;
					}
				}

				.pcContent {
					padding: 0;
					padding-top: 15px;

					.pcCardTitle {
						font-weight: 900;
						font-size: fontSize(24);
						line-height: 40px;
						text-transform: capitalize;
						color: #1a1c1f;
					}
					.pcCardDetails {
						margin-bottom: 0;
						height: 45px;
						font-weight: 700;
						padding-right: 0px;
						font-size: fontSize(15);
						line-height: 25px;
						text-transform: capitalize;
						color: #4c565c;
					}
					.pcCardDescription {
						height: 100%;
						margin-top: 15px;
						padding-right: 30px;
						font-weight: 400;
						font-size: fontSize(10);
						line-height: 20px;
						display: flex;
						align-items: flex-start;
						color: #4c565c;
					}
				}
			}

			.pcBtm {
				display: flex;
				justify-content: space-between;
				padding: 15px 18px;

				.pcBtmTitle {
					font-weight: 600;
					font-size: 13px;
					line-height: 14px;
					color: #4c565c;
				}
			}
		}

		.pcAntCard {
			width: 330px;
			height: 310px;
			border: 12px;
			margin-top: 20px;
			margin-left: 20px;
			border-radius: 12px;
			background-repeat: no-repeat;
			background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0.09) 0%,
					rgba(0, 0, 0, 0.51) 100%
				),
				url("../../../assets/images/homesubproducts1.png");
			background-size: cover;
			background-position-x: 40%;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

			.pcAntCardBox {
				position: absolute;
				top: 4%;
				left: 5%;
				display: flex;
				flex-direction: column;

				.pcAntImg1 {
					width: 66.9px;
					height: 25.8px;
					margin-bottom: 5px;
				}

				.pcAntImg2 {
					width: 66.9px;
					height: 25.8px;
				}

				.pcAntTextBox {
					width: 303px;
					margin-top: 65px;

					.pcAntDetail {
						font-size: 18px;
						line-height: 25px;
						font-weight: 800;
						color: #ffff;
					}

					.pcAntDesc {
						font-size: 15px;
						font-weight: 700;
						color: #ffff;
						margin-top: 5px;
						line-height: 20px;
					}
				}

				.pcAntBtn {
					color: #ffff;
					width: 201px;
					height: 42px;
					margin-top: 20px;
				}
			}
		}
	}
}

@include media-breakpoint-tab-port {
	.pcCardContainer {
		.pcCard {
			margin-left: 10px;
			.pcBtm {
				padding: 14px;
				.pcBtmTitle {
					font-size: fontSize(12);
				}
				button {
					font-size: fontSize(12);
				}
			}
			.pcMain {
				padding: 14px;
				.pcHead {
					.pcProductIcon {
						padding: 0;
						padding-right: 4px;
					}
					.pcSubtitle {
						font-size: fontSize(12);
					}
				}
				.pcContent {
					.pcCardTitle {
						font-size: fontSize(14);
						line-height: 1.2;
					}
					.pcCardDetails {
						font-size: fontSize(12);
						padding-right: 15%;
						line-height: 1.5;
					}
					.pcCardDescription {
						padding-right: 0;
						font-size: fontSize(10);
						line-height: 1.5;
						padding-right: 12%;
					}
				}
			}
		}
		.pcAntCard {
			margin-left: 10px;
			height: 263px;
			.pcAntCardBox {
				.pcAntTextBox {
					.pcAntDetail {
						font-size: fontSize(14);
					}
					.pcAntDesc {
						font-size: fontSize(12);
					}
				}
				.pcAntBtn {
					font-size: fontSize(11);
					width: 190px;
					height: 40px;
				}
			}
		}
	}
}
