@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.key-benefits-container {
	.key-benefits-title {
		width: 35%;
		h5 {
			font-family: "Bliss 2";
			font-style: normal;
			font-weight: 800;
			font-size: fontSize(29);
			line-height: 41px;
			letter-spacing: -0.02em;
			color: #1a1c1f;
		}

		p {
			font-family: "Bliss 2";
			font-style: normal;
			font-weight: 400;
			font-size: fontSize(14);
			line-height: 22px;
			color: #1a1c1f;
		}
	}

	.key-bemefits-box-container {
		width: 65%;
		.key-benefits {
			background: #ffffff;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 8px;
			margin-bottom: 10px;

			p {
				font-family: "Bliss 2";
				font-style: normal;
				font-weight: 800;
				font-size: fontSize(15);
				line-height: 24px;
				letter-spacing: -0.01em;
				color: #1a1c1f;
				margin-bottom: 0;
			}
		}
	}
}
