.mobile_services_slider {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    margin-left: 5px;
    margin-top: 16px;
    .mobile_services_card {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      padding:16px;
      margin-left: 11px;
      h5 {
        font-weight: 800;
        font-size: 16px;
        color: #1a1c1f;
        width: 195px;
        margin-top: 8px;
      }
      p {
        font-weight: 400;
        font-size: 12px;
        color: #455560;
        width: 211px;
        padding: 0px 3px;
      }
      h4{
        font-size:14px;
        font-weight:800;
        color:#679ab4;
      }
      li{
        font-size:12px;
        font-weight:400;
        color:#455560;
      }
    }
  }