.maincontact {
	.aligncenterdiv {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.contactptag {
		color: #4c565c;
		cursor: pointer;
	}
	.maincard {
		border-radius: 12px !important;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		height: 650px;
		// background: url("../../../assets/svg/Google-Map.svg");
		// background-size: cover;
		// background-repeat: no-repeat;
	}
	.form-cardnew {
		border-radius: 10px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		height: 1080px !important;
	}
	.filter-card-containercustom {
		position: absolute;
		top: 22%;
		z-index: 1;
	}
	.filter-card {
		border-radius: 10px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
	}
	.social-card-containercustom {
		position: absolute;
		top: 4%;
		z-index: 2;
		left: 5%;
	}
	.social-card4 {
		width: 88%;
		border-radius: 12px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: black;
		height: auto;
		color: #ffff;
		padding: 12px 40px;
		margin-top: -85px;
		margin-left: auto;
		margin-right: auto;

		.mainBannerPara {
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;
			color: #ffffff;
		}
		.mainBannerPara2 {
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;
			color: black;
		}
		.chat_width {
			width: 170px;
		}
		.mainBannerHeading {
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: #ffffff;
		}
		.mainBannerHeading2 {
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			color: black;
		}
		.hrtag {
			opacity: 0.1;
			border: 1px solid #ffffff;
		}
		.hrtag2 {
			opacity: 0.1;
			border: 1px solid black;
			background: black;
		}
	}

	.contactptagalign {
		width: 120px;
		color: #4c565c;
		cursor: pointer;
	}

	.selectdropdown {
		width: 320px !important;
		border-radius: 3px;
		border: 6px solid #f2f3f5;
		height: 50px;

		margin-left: 24px;
		font-size: 12px;
		color: #9aa2af;
		padding: 10px;
	}

	.selectbg {
		background: #f2f3f5;
	}
	.formbg {
		background: #f2f3f5;
		border-radius: 4px;
		width: 97%;
		height: auto;
	}
	.filterinputbg {
		background: #f2f3f5;
		border-radius: 4px;
		width: 97%;
	}

	.form-control {
		border: none;
		height: 50px;
	}
	button.btn {
		border: none !important;
		height: 50px !important;
		-webkit-box-shadow: 0 0 2px #f2f3f5;
		box-shadow: 0 0 2px #f2f3f5;
	}
	.sendoptbtn {
		border-radius: 10px !important;
		background: #ee7500;
		color: #ffff;
		font-size: fontSize(1) !important;
		border: none;
		width: 145px !important;
	}
	.ournetworkbtn {
		border-radius: 10px !important;
		background: #ee7500;
		color: #ffff;
		font-size: fontSize(1) !important;
		border: none;
		width: 145px !important;
		display: block;
		margin-left: auto;
	}
	.hideptag {
		display: none;
	}
	.input-group-text {
		background: #ffff;
		border: none;
	}
	.sendbtn {
		width: 100%;
		background: #b3b9c3;
		border-radius: 12px !important;
	}
	.alignhr {
		margin-top: 40px;
	}
	.inputbg {
		background: #f2f3f5;
	}
	.cityalign {
		margin-left: 100px !important;
	}

	.social-card5 {
		border-radius: 12px;
		border: none;
		-webkit-box-shadow: 0 0 2px #fff;
		box-shadow: 0 0 2px #fff;
		background: #ffff !important;
		height: auto;
		color: black;
		padding: 32px 40px;

		.mainBannerPara {
			font-weight: 400;
			font-size: 14px;
			line-height: 14px;
			color: black;
		}
		.mainBannerHeading {
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			color: black;
		}
		.hrtag {
			opacity: 0.1;
			border: 1px solid black;
		}
	}

	.agent {
		width: 200px;
	}
	.formPhoneInput {
		padding: 12px;
	}
	.image {
		width: 20%;
	}
	.imageflag {
		width: 5%;
		height: 25%;
	}

	.inactiveradio {
		.form-control {
			background: #f2f3f5;
			border: 2px solid #b3b9c3;
			border-right: none;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		}
		.input-group-text {
			background: #f2f3f5;
			border: 2px solid #b3b9c3;
			border-left: none;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 0px;
			border-top-right-radius: 5px;
			border-top-left-radius: 0px;
		}
	}

	#cardbg_change {
		background: #ffff;
	}

	#highlight {
		font-weight: 800;
		color: black;
		cursor: pointer;
	}
	#hidehighlight {
		font-family: 400;
	}
	.emailui2 {
		margin-left: -20px;
	}
	.online_badge {
		width: 60px;
		height: 21px;
		background: #e3ffef;
		border-radius: 100px;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		color: #237b4b;
		text-align: center;
		vertical-align: center;
		margin-bottom: 0px;
		margin-left: 10px;
	}

	@media only screen and (min-width: 1024px) and (max-width: 1199px) {
		.contactptagalign {
			margin-left: -50px;
			/* other styles here */
		}
		.contactpta-sm {
			margin-left: -20px;
		}
		.emailui {
			margin-left: -8px;
		}
		.form-check-label {
			font-size: 12px;
		}
		.sendoptbtn {
			width: 120px !important;
		}
		.mainBannerHeading2 {
			font-size: 12px !important;
		}
		.contactptag {
			font-size: 12px;
		}
		.align_left {
			margin-left: -25px;
		}

		.carrer-ptag {
			margin-left: 30px;
		}
		.media-ptag {
			margin-left: 50px;
		}
		.fax_align {
			margin-left: -17px;
		}
		.align_phone {
			margin-left: -25px;
		}

		.alignradiobtn {
			margin-left: -49px !important;
		}
		.tab-ptag {
			margin-left: 20px;
		}
	}

	@media only screen and (min-width: 1200px) and (max-width: 1399px) {
		.contactptag {
			font-size: 12px !important;
		}
		.contactptagalign {
			font-size: 12px !important;
		}
		.contactpta-sm {
			margin-left: 10px;
		}
		.alignradio {
			margin-left: 250px !important;
		}
		// .social-card4 {
		// 	padding: 12px 30px !important;
		// 	width: 900px !important;
		// }
		.mainBannerHeading {
			font-size: 16px !important;
		}
		// .cu-box {
		// 	margin-left: 5%;
		// 	display: flex;
		// 	flex-direction: row;
		// 	flex-wrap: wrap;
		// }

		// .cu-box-last {
		// 	margin-left: 5%;
		// 	display: flex;
		// 	flex-direction: column;
		// 	flex-wrap: wrap;
		// }
	}

	@media only screen and (min-width: 1024px) and (max-width: 1199px) {
		.radioLabel {
			font-size: 12px;
		}
		.cityalign {
			margin-left: 25px !important;
		}
		.selectdropdown {
			width: 188px !important;
		}
		.alignradio {
			margin-left: 100px !important;
		}
		.social-card4 {
			.mainBannerHeading {
				font-size: 12px !important;
			}
		}
		.social-card5 {
			.mainBannerHeading {
				font-size: 12px !important;
			}
		}
	}
}

.language-alignment-right {
	.maincontact {
		.alignradio {
			margin-left: 0;
			margin-right: 230px;
			padding-left: 1rem;
			@media only screen and (min-width: 1200px) and (max-width: 1399px) {
				margin-left: 0 !important;
				margin-right: 170px;
			}
			@media only screen and (min-width: 1024px) and (max-width: 1199px) {
				margin-left: 0 !important;
				margin-right: 150px;
			}
		}
		.filter-card {
			.d-flex {
				> .pl-3 {
					padding-left: 0 !important;
					padding-right: 1rem;
				}
			}
		}
		.input-group {
			flex-direction: row-reverse;
		}
	}
}
