@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.makeClaimContainer {
  .makeClaimCard {
    background-color: $white;
    padding: 40px 0px 50px 70px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 20px;
    position: relative;
    .makeClaim-Banner {
      position: absolute;
      right: -1%;
      bottom: -12%;
      width: 700px;
      height: 400px;
    }
    .makeClain-text {
      width: 50%;
    }
    .makeClaimTitle {
      color: $black;
    }
    .makeClaimPara {
      color: $newLight-tw;
      width: 100%;
      max-width: 625px;
    }
    .claimCardButtom {
      width: 100%;
      max-width: 170px;
      background-color: $orange-tw;
      color: $white;
      border: none;
      font-size: fontSize(16);
      font-weight: 400;
      border-radius: 8px;
    }
  }
}

@include media-breakpoint-med-desktop {
  .makeClaimContainer {
    .makeClaimCard {
      .makeClaim-Banner {
        width: 644px;
        bottom: -17%;
      }
      .makeClaimTitle {
        font-size: fontSize(29);
      }
      .makeClaimPara {
        font-size: fontSize(13);
        width: 100%;
        max-width: 570px;
      }
    }
  }
}
