@import "../../../../assets/scss/abstracts/abstracts";

.addBoxContainer {
  background-color: $white;
  box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
  border-radius: 4px;
  padding: 8px 14px 8px 14px;
  .boxNoTitle {
    color: #676f7c;
  }
  .boxNoItems{
    color: $black;
  }
}
