.community_container {
    position: relative;
    height: 458px;
    background: #1A1C1F;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    padding: 100px 31px;
    margin: 16px;
    color: white;
    text-align: center;

    h6 {
        font-weight: 800;
        font-size: 27px;
    }

    p {
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 24px;
        text-align: left;
    }

    button {
        background: #EE7500;
        border-radius: 8px;
        height: 54px;
        padding: 0px 24px;
        border: none;
        color: white;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }

    img {
        position: absolute;
        left: 51%;
        bottom: 0%;
    }

    :last-child {
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
}