.requestMaincontent{

    .requestmaincard{
        border-radius: 12px;
        border: none;
        -webkit-box-shadow: 0 0 2px #fff;
        box-shadow: 0 0 2px #fff;
        background: #ffff;
        // height: 620px;
    }
    .alert{
       
            background: #E3FFEF;
            border-radius: 8px;
            width: 95%;
            height: auto;
        
    }
    .alertptag{
        color: #0E311E;
    }
  
    .alertptag-heading{
        color: #455560;
    }
    .alignimage{
        display: block;
        margin-left: auto;
        padding-right: 20px;
    }
    .hrtag{
        width: 97%;
		height: auto;
    }
    .detailbg{
        background: #f2f3f5;
		border-radius: 8px;
		width: 97%;
		height: auto;
    }
    .vertical-line {
        width: 1px;
        background-color: silver;
        height: 60%;
        float: left;
        border-radius: 1px;
        margin-top: 20px;
    }
    .alignwidth{
        width: 140%;
    }
    .requestid{
        color: #1A1C1F;
    }
    .reducespace{
        margin-top: -10px;
    }
    .aligncenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
   

    

}
// modal---------------
.textalign-right{
    text-align: right;
   margin-left: auto !important;
}
.sendbtn {
    width: 100%;
    background: #F47B20;
    border-radius: 10px !important;
    margin-top: 10px;
    border: none;
}
.modal{
    border: none;
}
.closeicon{
    width: 5%;
    display: block;
    margin-left: auto;
    
}