@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.menu-about-us-details {
    .aboutus-banner-section {
        margin-bottom: 20px;
        background-position: center;
        background-size: cover;
        border-radius: 12px;
        background-repeat: no-repeat;
        padding: 20px 30px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        > * {
            position: relative;
            z-index: 2;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #0000004d;
            z-index: 1;
        }
        .aboutus-banner-title {
            font-size: fontSize(34);
            font-weight: 800;
            color: $white;
            line-height: 120%;
            margin-bottom: 10px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(28);
            }
        }
        p {
            font-size: fontSize(16);
            font-weight: 400;
            color: $white;
            margin-bottom: 30px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(13);
            }
        }
        button {
            display: flex;
            align-items: center;
            outline: 0;
            border: 0;
            background: $orange-tw;
            border-radius: 8px;
            height: 46px;
            padding: 10px 20px;
            font-weight: 400;
            font-size: fontSize(16);
            color: $white;
            @include media-breakpoint-tab-port {
                font-size: fontSize(13);
            }
            img {
                display: block;
                margin-left: 10px;
                margin-top: 2px;
            }
            &.greyBtn {
                background: #679ab4;
            }
        }
    }
    .aboutus-box-root {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap ;
        .aboutus-box-content {
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 12px;
            background-color: $lightgrey-tw;
            flex: 1 0 100%;
            position: relative;
            z-index: 1;
            &.content-width-50 {
                flex: 0 0 calc(50% - 10px);
            }
            .box-bg-image {
                position: absolute;
                right: -10px;
                bottom: -10px;
                z-index: 0;
            }
            .aboutus-box-title {
                font-weight: 800;
                font-size: fontSize(20);
                color: $black;
                line-height: 120%;
                margin-bottom: 20px;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(16);
                }
            }
            p {
                font-weight: 400;
                font-size: fontSize(16);
                color: $light-tw-2;
                line-height: 120%;
                margin-bottom: 20px;
            }
        }
        a {
            display: flex;
            align-items: center;
            font-weight: 800;
            font-size: fontSize(16);
            text-transform: capitalize;
            text-decoration: none;
            color: $light-tw-2;
            line-height: 120%;
            margin-bottom: 10px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(13);
            }
            img {
                width: 10px;
                margin-left: 15px;
                display: block;
            }
        }
    }
}

.language-alignment-right {
    .menu-about-us-details {
        .aboutus-banner-section {
            button {
                img {
                    margin-left: 0;
                    margin-right: 10px;
                    transform: scaleX(-1);
                }
            }
        }
        .aboutus-box-root {
            a {
                img {
                    margin-left: 0;
                    margin-right: 15px;
                    transform: scaleX(-1);
                }
            }
        }
    }
}