@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.fhCard {
	margin-left: 20px;
	margin-top: 20px;
	background: #ffffff;
	height: fit-content;
	width: fit-content;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 12px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	&:first-child {
		margin-left: 8%;
	}

	.fhCardTitile {
		font-weight: 800;
		font-size: fontSize(12);
		color: #ee7500;
	}

	.fhCardValue {
		font-weight: 800;
		font-size: fontSize(28);
		letter-spacing: -0.02em;
		color: #4c565c;
	}

	span {
		font-weight: 800;
		font-size: fontSize(20);
		line-height: 24px;
		letter-spacing: -0.01em;
		color: #9aa2af;
		margin-left: 5px;
	}
}

.language-alignment-right {
	.fhCard {
		&:first-child {
			margin-left: 20px;
			margin-right: 8%;
		}
	}
}