.partners_color {
  color: #679ab4;
}

.partner_footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-left: 12px;
}

// -----------common
.appstore_mob {
  background: linear-gradient(
    106.91deg,
    #679ab4 43.11%,
    rgba(103, 154, 180, 0) 105.87%
  );
  border-radius: 12px;
  position: relative;
  margin-bottom: 16px!important;
  h5 {
    font-weight: 800;
    font-size: 20px;
    color: #ffffff;
    padding: 18px 0px 0px;
    width: 60%;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    width: 60%;
  }
  p.download {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    margin-bottom: 10px;
  }
}

.handphone_img {
  position: absolute;
  right: 0;
  width: 70%;
  bottom: -34px;
  max-width: 200px;
}

.appstore_img {
  width: 50%;
  position: relative;
  left: -9px;
}



@media screen and (min-width: 320px) and (max-width: 360px) {
  .appstore_mob {
    h5 {
   
    font-size: 16px;
    
}
p{
  font-size: 11px;
}
  }
  .handphone_img {
    position: absolute;
    right: 0;
    width: 70%;
    
    bottom: -30px;
    max-width: 182px;
}
}