@import "../../../../../assets/scss/abstracts/abstracts";
@import "../../../../../assets/scss/abstracts/mixins.scss";

.MotrProContainer {
  // height: fit-content;
  // padding: 40px 0;
  // width: 100%;
  .otherProductCard-Container {
    padding: 0 10px;
  }
  .MotrPro-slider-root {
    .arrowDotContainer {
      margin-left: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      z-index: 2;
      margin-top: 20px;
      .arrowContainer {
        cursor: pointer;
        height: 32px;
        width: 55px;
        border-radius: 100px;
        background-color: #fff;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }

      // .arrowContainerPrev {
      // 	margin-right: 100px;
      // }

      // .arrowContainerLeft {
      // 	margin-left: 100px;
      // }

      .dotContainer {
        margin-left: 10px;
        margin-right: 10px;
        height: 32px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 15px;
        .dotEl {
          width: 6px;
          height: 6px;
          opacity: 30%;
          background-color: #4c565c;
          border-radius: 100%;
        }
      }
    }
  }
  .otherProductCard {
    background-color: $white;
    border-radius: 12px;
    height: 100%;
    padding: 40px;
    .otherProduct-header {
      color: $black;
    }
    .otherProduct-para {
      color: $light-tw;
      width: 100%;
      max-width: 370px;
    }
    .otherProduct-Subheader {
      color: $primary-tw;
    }
    .otherProduct-Subpara {
      color: $light-tw;
    }
  }
  .MotrProText {
    h5 {
      font-weight: 800;
      font-size: fontSize(40);
      line-height: 48px;
      letter-spacing: -0.02em;
      color: #1a1c1f;
    }

    p {
      font-weight: 400;
      font-size: fontSize(18);
      line-height: 25px;
      color: #818b9b;
    }
  }

  .MotrProCardsContainer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include media-breakpoint-med-desktop{
    .MotrProContainer {
		.otherProductCard-Container {
			.otherProductCard {
				padding: 30px 30px 20px 30px;
				.otherProduct-header {
					font-size: fontSize(18);
				}
				.otherProduct-para {
					font-size: fontSize(12);
					width: 100%;
					max-width: 330px;
				}
				.otherProduct-Subheader {
					font-size: fontSize(12);
				}
				.otherProduct-Subpara {
					font-size: fontSize(12);
				}
			}
		}
		.MotrProText {
			h5 {
				font-size: fontSize(26);
				line-height: 20px;
			}
			span {
				font-size: fontSize(12);
			}
		}
	}
}

@include media-breakpoint-tab-land{
    .MotrProContainer {
		.otherProductCard-Container {
			.otherProductCard {
				padding: 10px;
				.otherProduct-header {
					font-size: fontSize(16);
				}
				.otherProduct-para {
					font-size: fontSize(10);
				}
				.otherProduct-Subheader {
					font-size: fontSize(12);
				}
				.otherProduct-Subpara {
					font-size: fontSize(12);
				}
			}
		}
		.MotrProText {
			h5 {
				font-size: fontSize(26);
				line-height: 20px;
			}
			span {
				font-size: fontSize(12);
			}
		}
	}
}