@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.slickClass {
		right: 0;
	}
	.mediaCenterFeatureContainer .mediaCenterHeading {
		font-size: 38px;
	}

	.mediaCenterFeatureContainer {
		margin-left: 45px;
		margin-right: 45px;
	}

	.latestNews .latestNewsHeading {
		font-size: 38px;
	}

	.latestNews {
		margin-left: 45px;
		margin-right: 45px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.slickClass {
		right: 0;
	}
	.mediaCenterFeatureContainer .mediaCenterHeading {
		font-size: 38px;
	}

	.mediaCenterFeatureContainer {
		margin-left: 18px;
		margin-right: 18px;
	}

	.latestNews .latestNewsHeading {
		font-size: 38px;
	}

	.latestNews {
		margin-left: 18px;
		margin-right: 18px;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1699px) {
	.slickClass {
		right: 0;
		padding-left: 60px;
	}
	.mediaCenterFeatureContainer .mediaCenterHeading {
		font-size: 38px;
	}

	.mediaCenterFeatureContainer {
		margin-left: 20px;
		margin-right: 20px;
	}

	.latestNews .latestNewsHeading {
		font-size: 38px;
	}

	.latestNews {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media only screen and (min-width: 1700px) {
	.slickClass {
		right: 0;
		padding-left: 63px;
	}
	.mediaCenterFeatureContainer .mediaCenterHeading {
		font-size: 38px;
	}

	.mediaCenterFeatureContainer {
		margin-left: 20px;
		margin-right: 20px;
	}

	.latestNews .latestNewsHeading {
		font-size: 38px;
	}

	.latestNews {
		margin-left: 20px;
		margin-right: 20px;
	}
}
