
.slick-dots li {
	margin: 0px !important;
	width: 10px;
}
.slickClass{
	bottom: -63px;
    right: 820px;

}
.mainContainerNewsCategory {
	.mediaNewsCategory {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 25px;
		margin-bottom: 10px;
		.mediaCenterPage {
			font-weight: 400;
			font-size: 14px;
			margin-top: 15px;
			margin-left: 10px;
			margin-right: 10px;
		}
		.mediaCenterNewsEl {
			font-weight: 400;
			font-size: 14px;
			margin-left: 10px;
			color: #676f7c;
			margin-top: 15px;
		}
	}
	.mediaCenterFeatureContainer {
		.mediaCenterFeatureImgCard {
			width: 132%;
		}
		.mediaCenterHeading {
			font-weight: 800;
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -2%;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.arrowDotContainer {
			margin-top: 35px;
			margin-bottom: 35px;
			display: flex;
			flex-direction: row;
			align-items: center;

			.arrowContainer {
				height: 32px;
				width: 55px;
				border-radius: 100px;
				background-color: #fff;
				box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
					rgba(17, 17, 26, 0.05) 0px 8px 32px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.dotContainer {
				margin-left: 10px;
				margin-right: 10px;
				height: 32px;
				width: 65px;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				padding-top: 15px;
				.dotEl {
					width: 6px;
					height: 6px;
					opacity: 30%;
					background-color: #4c565c;
					border-radius: 100%;
				}
			}
		}
	}

	.latestNews {
		.latestNewsHeading {
			font-weight: 800;
			font-size: 40px;
			line-height: 48px;
			letter-spacing: -2%;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.latestNewsCardContainer {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.paginationMainContainer {
			display: flex;
			justify-content: space-between;
			.paginationContainer {
				display: flex;
				align-items: center;
				width: 80%;
				.FirstLastButtonContainer {
					display: flex;
					margin-bottom: 12px;
				}
				.paginationStyle {
					width: 25%;
					display: flex;
					justify-content: space-around;
				}
			}

			.pageNumberContainer {
				display: flex;
				align-items: center;
				.FirstLastButtonContainer {
					display: flex;
					margin-right: 30px;
				}
			}
		}
		.boxContainer {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 8px 12px;
			gap: 8px;
			transform: translateY(-15%);
			width: 34px;
			height: 36px;
			background: #ee7500;
			border-radius: 4px;
			color: #fff;
		}
	}
}
