.Aboutus_Competitive_AdvantagePage {

    .building {
        margin-top: 24px;
        position: relative;

        .competitive_image {
            width: 100%;
            padding: 0px 16px;
        }
        .competitive_body{
        position: absolute;
        color: #FFFFFF;
        top:20%;
        padding: 0px 25px;

        h5 {
            font-weight: 700;
            font-size: 24px;
            
            
        }


        p {
            font-size: 16px;
            font-weight: 400;
            
        }
    }
    }



    .white_box {
        padding: 0px 14px;

        .competitive_white_box_one {
            margin-top: 32px;
            width: 100%;
            height: auto;

            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 8px;

            p {
                font-weight: 800;
                font-size: 20px;
                letter-spacing: -0.01em;
                color: #455560;
                padding: 16px 16px;
                width: 100%;

            }

        }

        .competitive_white_box_two {
            width: 100%;
            height: auto;

            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 8px;

            p {
                font-weight: 800;
                font-size: 20px;
                color: #455560;
                padding: 16px 16px;
                width: 100%;
            }

        }

        .competitive_white_box_three {
            width: 100%;
            height: auto;

            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 8px;

            p {
                font-weight: 800;
                font-size: 20px;
                letter-spacing: -0.01em;
                color: #455560;
                padding: 16px 16px;
                width: 100%;
            }


        }

        .competitive_white_box_four {
            width: 100%;
            height: auto;

            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 8px;

            p {
                font-weight: 800;
                font-size: 20px;
                letter-spacing: -0.01em;
                color: #455560;
                padding: 16px 16px;
                width: 100%;
            }

        }
    }
}


@media screen and (min-device-width:320px) and (max-device-width:360px) {
    .Aboutus_Competitive_AdvantagePage {
        .building {
            
    
            .competitive_image {
                
            }
            .competitive_body{
            
    
            h5 {
                
                font-size: 20px;
                
                
            }
    
    
            p {
                font-size: 12px;
                
                
            }
        }
        }
    
    
    
        .white_box {
            padding: 0px 14px;

            .competitive_white_box_one {


                p {
                    font-weight: 800;
                    font-size: 16px;


                }

            }

            .competitive_white_box_two {


                p {
                    font-weight: 800;
                    font-size: 16px;

                }

            }

            .competitive_white_box_three {


                p {
                    font-weight: 800;
                    font-size: 16px;

                }


            }

            .competitive_white_box_four {

                p {
                    font-weight: 800;
                    font-size: 16px;

                }

            }
        }

    }

}