@import "../../../assets/scss/abstracts/abstracts";

.perkHeading,
.breakdownHeading {
  color: $black;
  font-size: fontSize(40);
}
.perkPara,
.breakingPara {
  color: #4c565c;
}
.limitClaim {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px;
  gap: 24px;

  position: relative;
  width: 1432px;
  height: 522px;
}
.limitHeading {
	width: 999px;
	height: 48px;
	
	font-weight: 800;
	font-size: 44px;
	line-height: 120%;
	
	letter-spacing: -0.02em;
	color: #1A1C1F;
	
	
}
.cardGrid {
  width: 1130px;
  height: 504px;
}
.cardIcon {
  width: 80.02px;
  height: 40px;
  margin-top: 10px;
  align-items: center;

  background: #ffffff;
}
.cardTitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 40%;
  /* identical to box height, or 41px */

  letter-spacing: -0.02em;

  /* Orange/Orange */

  color: #ee7500;
}
.cardText {
  // font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 208px;
  color: #4c565c;
}
h6 {
  color: #ee7500;
  font-size: 10px;
  line-height: 0;
}
