.policy-cards {
  min-height: 56px;
  background: #1a1c1f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px;
  margin-bottom: 8px;
  img {
    margin-right: 12px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
  }
}
