.support_cards_list {
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    min-height: 80px;
    padding: 16px;
    display: flex;
    background-color: white;

    .image_section {
        margin-right: 18px;
    }

    .body_section {
        label {
            font-weight: 400;
            font-size: 14px;
            color: #4C565C;
            display: block;


        }

        .support_medium_text {
            font-weight: 800;
            font-size: 20px;
            color: #1A1C1F;
        }

        .whatsapp_text {
            margin-top: 24px;

            label {
                font-weight: 400;
                font-size: 14px;
                color: #4C565C;

            }



            h5 {
                font-weight: 800;
                font-size: 20px;
                color: #EE7500;
            }
        }
    }
}