@import "../../../../assets/scss/abstracts/abstracts";

.dashboard-accordionCollapseIcon {
  position: relative;
  top: 10px;
}

.road-home-container {
  .dashboard-header-content-container {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    z-index: 9;
    .dashboard-header-content-title {
      color: $newLight-tw;
    }
    .dashboard-header-content-para {
      color: $black;
    }
    .dashboard-requestService-Button {
      width: 100%;
      background-color: $orange-tw;
      color: $white;
      border-radius: 8px;
      font-size: fontSize(14);
      font-weight: 400;
    }
  }
  .road-sub-home-container {
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    .landing-container-title {
      color: $black;
    }
    .landing-container-para {
      color: $light-tw;
      width: 100%;
      max-width: 307px;
    }
  }
  .benifitServiceContainer {
    .howItWorksLayoutBox {
      .progressArrow {
        position: absolute;
        top: 45%;
        right: -5px;
        width: 12px;
        height: 12px;
      }
      .how-It-Works-Container {
        border: 1px solid rgba(26, 28, 31, 0.1);
        border-radius: 8px;
        padding: 20px 23px 23px 23px;
        height: 100%;
        .number-progresss-circle {
          background-color: $orange-tw;
          width: 100%;
          max-width: 24px;
          padding: 4px;
          border-radius: 50%;
          text-align: center;
          .number-progress {
            color: $white;
          }
        }
        .how-progressSubTitle {
          color: $black;
        }
        .how-progressSubPara {
          color: $newLight-tw;
          width: 100%;
          max-width: 300px;
        }
      }
    }
    .benifitServiceTitle {
      color: $black;
      text-align: center;
    }
    .benifitServicePara {
      color: $light-tw;
    }
  }
  .roadAssisst-faqConatiner {
    .dashboard-faqTitle {
      color: $black;
    }
    .dashboard-faqPara {
      color: $light-tw;
    }
    .dashboard-reportAccordionQuestion {
      background-color: $white;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      padding: 0px 20px 0px 20px;
      .dashboard-reportQuestion {
        color: $black;
      }
      .dashboard-accordionAnswer-container {
        background-color: #f2f3f5;
        border-radius: 8px;
        .dashboard-accordionAnswer {
          color: $black;
          width: 100%;
          max-width: 860px;
        }
      }

      .dashboard-addButton {
        background-color: transparent;
        border: none;
        padding: 0px;
      }
    }
  }
  .dashboard-request-BtnConatiner {
    border-bottom: 1px solid rgba(26, 28, 31, 0.1);
    padding-bottom: 30px;
    .dashboard-requestBtn {
      width: 100%;
      background-color: $orange-tw;
      color: $white;
      font-size: fontSize(16);
      font-weight: 400;
      border-radius: 8px;
    }
  }
}
