@import "../../../../assets/scss/abstracts/abstracts";

.inputContainer {
	width: 100%;
	max-width: 1000px;
	background-color: $white;
	box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
	border-radius: 12px;
	margin: 0 auto;
	.inputOne {
		width: 34%;
		border-right: 1px solid $lightgrey-tw;
		.inputTitleOne {
			position: relative;
			top: 13px;
			padding-left: 12px;
		}
		.inpOneField {
			border: none;
		}
	}
	.inputOne-Corporate {
		width: 34%;
		border-right: 1px solid $lightgrey-tw;
		.inputTitleOne {
			position: relative;
			top: 13px;
			padding-left: 12px;
		}
		.inpOneField {
			border: none;
		}
	}
	.inputTitlebfr3 {
		width: 22%;
	}
	.inputTwo {
		// width: 18%;
		width: 175px;
		border-right: 1px solid $lightgrey-tw;
		.inputTitleTwo {
			position: relative;
			top: 13px;
		}
		.inpTwoField {
			border: none;
		}
		.bannerSelectInput {
			position: relative;
			top: 10px;
		}
		#bannerArrowAlign{
			bottom: 50%;
		}
	}
	.inputTwo-Corporate {
		// width: 18%;
		width: 34%;
		border-right: 1px solid $lightgrey-tw;
		.inputTitleTwo {
			position: relative;
			top: 13px;
		}
		.inpTwoField {
			border: none;
		}
		.bannerSelectInput {
			position: relative;
			top: 10px;
		}
		#bannerArrowAlign{
			bottom: 50%;
		}
	}
	.inputThree2 {
		width: 25%;
	}
	.inputTwo2 {
		padding-left: 10px;
		width: 25%;
	}
	.inputThree {
		width: 34%;
		border-right: 1px solid $lightgrey-tw;
		.inputTitleThree {
			position: relative;
			top: 13px;
			padding-left: 12px;
		}
		.inpThreeField {
			border: none;
		}
	}
	.inputThree-Corporate {
		width: 34%;
		border-right: 1px solid $lightgrey-tw;
		.inputTitleThree {
			position: relative;
			top: 13px;
			padding-left: 12px;
		}
		.inpThreeField {
			border: none;
		}
	}
	.inpBtnField {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		align-items: center;
		height: inherit;
		width: fit-content;
		padding: 0 15px;
		.buyButton {
			background-color: $orange-tw;
			border-radius: 8px;
			font-size: 16px;
			font-weight: 400;
			color: $white;
			width: 100px;
		}
	}
}
.language-alignment-right {
	.inputContainer {
		.inputThree-Corporate {
			.inputTitleThree {
				padding-left: 0;
				padding-right: 12px;
			}
		}
		.inputOne-Corporate {
			.inputTitleOne {
				padding-left: 0;
				padding-right: 12px;
			}
		}
		.inputTwo-Corporate {
			padding-right: 12px;
		}
	}
}

.inputTerms {
	color: $light-tw;
}

@include media-breakpoint-tab-port {
	.inputContainer {
		.inputOne {
			.inputTitleOne {
				font-size: fontSize(12);
				width: 29%;
			}
		}
		.inputTwo {
			.inputTitleTwo {
				font-size: fontSize(12);
			}
		}
		.inputThree {
			.inputTitleThree {
				font-size: fontSize(12);
			}
		}
		.inpBtnField {
			margin-right: 0;
			.buyButton {
				font-size: fontSize(12);
			}
		}
		.select-section {
			.Select__placeholder {
				font-size: fontSize(12);
			}
		}
		.normal-input {
			.MuiInputBase-input {
				font-size: fontSize(12);
				padding-top: 24px;
				padding-bottom: 14px;
			}
		}
		.inputThree {
			width: 29%;
		}
	}
}
