
.FeatureContainer{
	box-sizing: border-box;
	width: 500px;
	height: 383px;
	padding: 40px 80px 40px 40px;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content:space-between ;
	align-items: flex-start;
	.buttonEl{
		background-color: #ee7500;
		border-radius: 100px;
		box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
		color: #ffffff;
		font-weight: 400;
		font-size:14px ;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 6px 18px 8px;
		gap: 10px;
		height: 30px;
		border-width: 0px;
	}
	.Heading{
		font-weight:800 ;
		font-size:34px ;
		color:#ffffff ;
		letter-spacing:-2% ;
		line-height:40.8px ;

	}
	.DateContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 25px;

		.mediaMainImgDate {
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			color: #ffffff;
		}
		.VerticalLine {
			width: 24px;
			opacity: 0.6;
			border: 0.9px solid #ffffff;
			transform: rotate(90deg);
			margin-left: 5px;
			margin-right: 5px;
		}

		.ArrowText {
			font-size: 16px;
			font-weight: 800;
			line-height: 16px;
			color: #ffffff;
		}
	}
}

.language-alignment-right {
	.FeatureContainer {
		.DateContainer {
			flex-direction: row-reverse;
			> div {
				flex-direction: row-reverse;
				img {
					margin-right: 4px;
					transform: scale(-1);
				}
			}
		}
	}
}