.header_mobile_sticky {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;

  .header_emergency {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 0px;
      margin-right: 8px;
      color: #34383e;
    }
  }
}

.isLanding.active.header_mobile_sticky {
  img.toggle-logo {
    position: fixed;
    z-index: 10;
    top: 15px;
    transition: all 0.2s ease;
  }
}

.isLanding.header_mobile_sticky {
  background: transparent;
  padding-right: 2px;

  span.notify {
    position: relative;
    padding: 4px 13px;
    background: #ee7500;
    border-radius: 100px;
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
  }
}