html {
	box-sizing: border-box;
	font-size: 100%;
	// font-family: 'Gilroy','-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

a,
a:visited,
a:active {
	text-decoration: none;
}

code {
	font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New",
		monospace;
}
