@import "../../../../assets/scss/abstracts/abstracts";

.ithra-table-container {
  .ithra-table-header {
    color: $black;
    font-size: fontSize(32);
  }
  .ithra-table-box {
    background-color: $white;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
    .ithra-table-title {
      color: $newLight-tw;
    }
    .ithra-table-header-layout {
      border-bottom: 1px solid rgba(38, 38, 38, 0.1);
      .ithra-header-one {
        width: 25%;
      }
      .ithra-header-two {
        width: 37%;
      }
      .ithra-header-three {
        width: 38%;
      }
    }
    .ithra-table-content-layout {
      background-color: $white;
      &:nth-child(even) {
        background-color: #f1f5f8;
        border-radius: 8px;
      }
      .ithra-cell-one {
        width: 25%;
        .ithra-cell-one-para {
          color: $primary-tw;
        }
      }
      .ithra-cell-two {
        width: 37%;
        .ithra-cell-two-para {
          color: $black;
          width: 100%;
          max-width: 487px;
        }
      }
      .ithra-cell-three {
        width: 38%;
        .ithra-cell-three-para {
          color: $newLight-tw;
        }
      }
    }
    .tawuniya-partner-condition {
      color: $newLight-tw;
    }
  }
}
