@import "../../../assets/scss/abstracts/abstracts";

.authRegisterContainer {
	padding: 0px 50px;
	// margin-top: 100px;
	min-height: calc(100vh - ( 82px + 93px ));
	padding-top: 20px;
	display: flex;
	align-items: flex-end;
	@include media-breakpoint-med-desktop {
		min-height: calc(100vh - ( 82px + 80px ));
	}
	.authRegisterBox {
		width: 100%;
		max-width: 460px;
		background-color: $white;
		box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
		border-radius: 12px 12px 0px 0px;
		padding: 15px;
		.subRegisterLayer {
			background-color: $lightgrey-tw;
			border-radius: 12px;
			padding: 0px 50px 0px 50px;
			.registerHeader {
				color: $light-tw;
			}
			.registerInputFieldOne {
				background-color: $white;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 4px;
				border: none;
				padding: 30px;
				padding-left: 65px;
			}
			#registerDateIcon {
				top: 15px;
			}
			.registerContinueBtn {
				background-color: $orange-tw;
				width: 100%;
				border-radius: 8px;
				font-size: fontSize(16);
				font-weight: 400;
				color: $white;
			}
			.register-termsConditionText {
				color: $light-tw;
				width: 100%;
				max-width: 390px;
				.register-termsText {
					color: $orange-tw;
				}
			}
			.register-resetMobileNoBtn {
				width: 100%;
				background-color: transparent;
				border: none;
				color: $orange-tw;
				font-size: fontSize(15);
				font-weight: 400;
			}
		}
		.subNewRegisterLayer {
			background-color: $lightgrey-tw;
			border-radius: 12px;
			padding: 0px 50px 0px 50px;
			.registerNewHeader {
				color: $light-tw;
				width: 100%;
				max-width: 200px;
				line-height: 30px;
			}
			.registerNewPara {
				color: $light-tw;
			}
			.registerPhoneInput {
				padding: 15px 15px;
				border-radius: 0px 8px 8px 0px;
			}
			#registerSelectFlexType {
				display: flex;
				padding: 15px 17px;
				justify-content: space-around;
				align-items: center;
			}
			.registerNewInputFieldOne {
				background-color: $white;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 4px;
				border: none;
				padding: 25px;
				padding-left: 65px;
			}
			.registerNewContinueBtn {
				background-color: $orange-tw;
				width: 100%;
				border-radius: 8px;
				font-size: fontSize(16);
				font-weight: 400;
				color: $white;
			}
			.register-new-resetMobileNoBtn {
				width: 100%;
				background-color: transparent;
				border: none;
				color: $orange-tw;
				font-size: fontSize(18);
				font-weight: 400;
			}
		}
	}
}

.registerVerifyContainer {
	.registerVerifyBox {
		width: 100%;
		max-width: 551px;
		background-color: $white;
		box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
		border-radius: 12px 12px 0px 0px;
		padding: 0px 60px 0px 60px;
		position: relative;
		top: 20px;
		.verifyRegisterHeader {
			color: $light-tw;
		}
		.register-displayMessageText {
			color: $light-tw;
			width: 100%;
			max-width: 350px;
		}
		.regsiter-verifyTitlePara {
			color: $light-tw;
		}
		.verifyRegisterBtn {
			width: 100%;
			background-color: $orange-tw;
			color: $white;
			font-size: fontSize(16);
			font-weight: 400;
			border-radius: 8px;
		}
		.register-resendText {
			color: $light-tw;
		}
		.register-noVerifyCodeMsg {
			color: $light-tw;
			.register-resendAgainLink {
				color: $orange-tw;
				cursor: pointer;
			}
		}
	}
}

.absherContainer {
	.absherBox {
		width: 100%;
		max-width: 551px;
		background-color: $white;
		box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
		border-radius: 12px 12px 0px 0px;
		padding: 0px 60px 100px 60px;
		.absherHeader {
			color: $light-tw;
		}
		.absher-displayMessageText {
			color: $light-tw;
			width: 100%;
			max-width: 390px;
		}
		.absher-displayMessageTextAssociated {
			color: $light-tw;
			font-weight: 400;
			font-size: 16px;
			text-align: center;
			margin-bottom: 0px;
		}
		.absher-verifyTitlePara {
			color: $light-tw;
		}
		.absherBtn {
			width: 100%;
			background-color: $orange-tw;
			color: $white;
			font-size: fontSize(16);
			font-weight: 400;
			border-radius: 8px;
		}
		.absher-resendText {
			color: $light-tw;
		}
		.absherSkipBtn {
			width: 100%;
			background-color: transparent;
			border: none;
			font-size: fontSize(14);
			font-weight: 400;
			color: $orange-tw;
		}
	}

	.absher-authentication-Box {
		width: 100%;
		max-width: 551px;
		background-color: $white;
		box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
		border-radius: 12px 12px 0px 0px;
		padding: 15px;
		.absher-authentication-sublayer {
			background-color: $lightgrey-tw;
			border-radius: 12px;
			padding: 0px 50px 0px 50px;
			.absher-authentication-Header {
				color: $light-tw;
			}
			.complaintPhoneInput {
				padding: 15px 15px;
				border-radius: 0px 8px 8px 0px;
			}
			.absherInputFieldOne {
				background-color: $white;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 4px;
				border: none;
				padding: 30px;
				padding-left: 65px;
			}
			.absherDatePadding {
				padding: 16px 16px 16px 65px;
			}
			#absherDateIcon {
				top: 15px;
			}
			.absher-authentication-ContinueBtn {
				width: 100%;
				background-color: $orange-tw;
				border: none;
				font-size: fontSize(14);
				font-weight: 400;
				color: $white;
				border-radius: 8px;
			}
		}
	}
}
