.recent-card {
    background: #ffffff;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 8px;
    padding: 15px;

    span {
        width: 76px;
        height: 24px;
        background: #E3FFEF;
        border-radius: 100px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #237B4B;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #455560;
        margin: 0;

        img {
            padding-right: 7px;
        }
    }

    .hospital {
        background: #f2f3f5;
        border-radius: 4px;
        padding: 12px;
        margin-top: 15px;

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            color: #455560;
            padding-bottom: 5px;
        }

        h5 {
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            color: #1a1c1f;
            margin: 0px;
            padding-top: 2px;
        }
    }

    .help-section {
        display: flex;
        justify-content: space-between;
        padding: 16px 0px;
        align-items: center;
        padding-bottom: 0;

        p {
            margin: 0px;
            font-size: 14px;
            color: #455560;
            padding-left: 8px;
            font-weight: 800;
        }

        .detail {
            display: flex;
            align-items: center;

            h6 {
                margin: 0px;
                font-size: 14px;
                font-weight: 800;
                color: #455560;
                padding-right: 8px;
            }
        }
    }
}