@import "../../../assets/scss/abstracts/abstracts";

input[type="radio"] {
	/* ...existing styles */
	display: grid;
	place-content: center;
	width: 20px;
	height: 20px;
	background-color: #d9dce1;
}

.radioAlign {
	transform: translateY(10%);
}

.radioLabel {
	color: $light-tw;
}

input[type="radio"]::before {
	content: "";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: $white;
	border: 0.35em solid $primary-tw;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}