.accident_card{
    background: #ffffff;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 8px;
    padding: 15px;
    margin:15px;
    height:330px;

    span {
        width: 100px;
        height: 24px;
        background: #FDF1E6;
        border-radius: 100px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color:#F47B20;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        font-weight: 400;
        font-size: 13px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #455560;
        margin: 0;

        img {
            padding-right: 7px;
            
        }
    }

    .policy {
        background: #f2f3f5;
        border-radius: 4px;
        padding: 14px;
        margin-top: 15px;
        height: 200px;
        
        .paguout{
            p{
                color:#F47B20;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 12px;
            color: #455560;
            padding-bottom: 5px;
        }

        h5 {
            font-weight: 800;
            font-size: 16px;
            line-height: 19px;
            color: #1a1c1f;
            margin: 0px;
            padding-top: 2px;
        }
        .policy_data{
            p{
                font-size: 10px;
                font-weight: 500px;
            }
            img{
                position:relative;
                bottom:5px;
            }
        }
    }

    .track_claim{
        padding-top:20px;
       span{
        width: 332px;
        height: 40px;
        background:#F47B20 ;
        border-radius: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color:#FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        
       }
    }
}