.road_assistance_container {
  background-image: url("../../../assets/images/mobile/support_rewards_blue.png");
  background-position: center 27rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f0f0f0;

  .motor_fraud_card {
    // width: 358px;
    min-height: 417.13px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    margin: 0px 20px 0px 20px;
    position: relative;
    top: -30px;
    padding: 20px 28px 20px 20px;
    z-index: 10;

    p {
      font-weight: 400;
      font-size: 16px;
      color: #4c565c;
      margin-bottom: 0px;
      margin-top: 10px;
    }
  }

  .benefit_service {
    .benefit_service_card {
      .serice_card_title {
        p {
          font-weight: 800;
          font-size: 20px;
          color: #ffffff;
          margin-bottom: 0px;
          padding-left: 25px;
        }

        :last-child {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }

  .service_card {
    height: 280px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    padding: 20px;
    margin: 20px;

    img {
      position: absolute;
      // top: 10%;
    }

    h6 {
      font-weight: 700;
      font-size: 14px;
      color: #1a1c1f;
      margin-left: 40px;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      color: #676f7c;
      margin-left: 40px;
    }
  }

  .interactions_status {
    padding-left: 25px;
    padding-right: 20px;

    h6 {
      font-weight: 700;
      font-size: 16px;
      color: #1a1c1f;
      margin-bottom: 14px;
    }

    .interaction_card {
      padding: 10px 20px 27px 16px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;

      .body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
          margin-bottom: 0px;
          font-weight: 400;
          font-size: 10px;
          color: #4c565c;
        }

        span {
          background: #f1f5f8;
          border-radius: 100px;
          color: #6e9fbb;
          font-weight: 400;
          font-size: 12px;
          margin-left: 10px;
          padding: 3px 8px 5px 8px;
        }
      }

      .interaction_card_body {
        background: #f2f3f5;
        border-radius: 4px;
        height: 56px;
        margin: 15px 0px;

        .content {
          display: flex;
          align-items: center;
          padding: 12px;

          h6 {
            font-weight: 400;
            font-size: 12px;
            color: #4c565c;
            display: block;
            padding-left: 20px;
            margin-bottom: 0px;
          }

          :last-child {
            font-weight: 500;
            font-size: 14px;
            color: #1a1c1f;
          }
        }

        .help_content {
          padding-bottom: 10px;

          label {
            font-weight: 400;
            font-size: 12px;
            color: #1a1c1f;
            padding-top: 10px;
            padding-left: 10px;
          }
        }
      }
    }

    .view_all_question {
      display: flex;
      align-items: center;
      margin-top: 16px;

      label {
        font-weight: 800;
        font-size: 12px;
        color: #4c565c;
        padding-right: 10px;
        margin: 0px;
      }
    }
  }

  .question_section {
    padding: 20px 20px 0px 26px;

    h6 {
      font-weight: 800;
      font-size: 20px;
      padding-top: 10px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      color: #4c565c;
    }

    span {
      font-weight: 500;
      font-size: 14px;
      color: #4c565c;
    }

    .faqContainer {
      .faqTitle {
        font-size: 40px;
        color: black;
      }

      .faqPara {
        color: #4c565c;
      }

      .reportAccordionQuestion {
        background-color: white;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 8px;
        padding: 0px 20px 0px 20px;

        .reportQuestion {
          color: black;
        }

        .reportAccordionAnswer {
          background-color: #f2f3f5;
          border-radius: 8px;
        }

        .addButton {
          background-color: transparent;
          border: none;
          padding: 0px;
        }

        .reportAccordionAnswer {
          background-color: #f2f3f5;
        }
      }
    }
  }

  .view_all_question_bottom {
    display: flex;
    align-items: center;
    margin-top: 18px;
    padding-left: 25px;

    label {
      font-weight: 800;
      font-size: 12px;
      color: #4c565c;
      padding-right: 10px;
      margin: 0px;
    }
  }
}

.mobile_sticky_bottom_menu {
  display: none;
}

.motor_fraud_title {
  padding-left: 20px;

  h4 {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;

    /* identical to box height, or 24px */
    letter-spacing: -0.01em;

    /* White */
    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }


}


.align_sticky {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 99;
}

.card {
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 10px #091e420f;
}

.report_button {
  button {
    background-color: #f47b20;
    color: white;
    border: hidden;
    height: 54px;
    border-radius: 8px;
    margin: 16px 0px 32px;
  }
}