@import "../../../assets/scss/abstracts/abstracts";

.supportRequestContainer {
  .breadCrumbLayout {
      // margin-left: 80px;
      .homeCrumbIcon{
        position: relative;
        bottom: 5%;
      }
    .breadcrumbTitle {
      color: #34383e;
      cursor: pointer;
    }
    .breadcrumbSubTitleDark{
      color: #34383e;
      cursor: pointer;
    }
    .breadcrumbSubTitle {
      color: #676f7c;
      cursor: pointer;
    }
  }
}

.language-alignment-right {
  .supportRequestContainer {
    .breadCrumbLayout {
      img {
        &.pr-2 {
          padding-right: 0 !important;
          padding-left: 0.5rem;
        }
        &.breadcrumb-arrow-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}
