@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.sCardContainer {
	width: 200px;
	height: 225px;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 12px;

	.sCardTextBox {
		height: 70%;
		width: 100%;
		background-color: #ffff;
		padding: 25px 15px;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;

		.sCardBoxHeading {
			// height: 48px;
			// display: block;
			width: 100%;
			font-size: fontSize(16);
			font-weight: 800;
			color: $black;
			text-transform: capitalize;
		}

		.sCardBoxDescription {
			color: #4c565c;
			font-size: 0.65rem;
			font-weight: 600;
			padding-top: 5px;
			width: 100%;
			max-width: 153px;
		}
	}

	.sCardIconBox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 82px;
		background-color: #ffff;
		margin-top: 1px;
		padding: 20px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		.tawuniyaSliderCardIcons{
			width: 35px;
			height: 35px;
		}

		.sCardArrow {
			height: 32px;
			width: 32px;
			padding: 10px;
			background-color: #f2f3f5;
			border-radius: 100px;
			cursor: pointer;
		}
	}
}
[class=language-alignment-right] {
	.sCardContainer {
		.sCardIconBox {
			flex-direction: row-reverse;
		}
		.sCardTextBox {
			.sCardBoxDescription {
				margin-left: auto;
			}
		}
	}
}

@include media-breakpoint-tab-land {
	.sCardContainer {
		width: 200px;
		height: 195px;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 12px;

		.sCardTextBox {
			height: 70%;
			width: 100%;
			background-color: #ffff;
			padding: 25px 15px;
			border-top-right-radius: 8px;
			border-top-left-radius: 8px;

			.sCardBoxHeading {
				width: 100%;
				font-size: fontSize(9);
				font-weight: 800;
				color: #4c565c;
				text-transform: capitalize;
			}

			.sCardBoxDescription {
				color: #4c565c;
				font-size: fontSize(10);
				font-weight: 600;
				padding-top: 5px;
			}
		}

		.sCardIconBox {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 82px;
			background-color: #ffff;
			margin-top: 1px;
			padding: 20px;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;

			.sCardArrow {
				height: 32px;
				width: 32px;
				padding: 10px;
				background-color: #f2f3f5;
				border-radius: 100px;
			}
		}
	}
}

@include media-breakpoint-tab-port {
	.sCardContainer {
		.sCardTextBox {
			height: calc(100% + 10px);

			.sCardBoxHeading {
				font-size: fontSize(13);
				line-height: 1.5;
				display: block;
			}

			.sCardBoxDescription {
				font-size: fontSize(12);
				line-height: 1.5;
			}
		}

		.sCardIconBox {
			img {
				width: 32px;
			}
		}
	}
}
