.header_back_nav_container {
    background: #8BB2C9;
    border-radius: 0px 0px 20px 20px;
    color: #FFFFFF;
    padding: 24px 16px 16px 16px;

    img {
        margin-bottom: 18px;
    }

    p {
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 6px;
    }

    h6 {
        font-weight: 800;
        font-size: 16px;
    }
}