.corporate_governance_container {
  .title_section {
    font-size: 24px;
    font-weight: 800;
    margin-left: 16px;
    margin-top: 24px;
  }

  .review_section {
    margin: 0px 16px;

    .review_section_cards {
      width: 100%;
      background: #ffffff;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 24px;
      margin-top: 24px;

      h6 {
        font-weight: 800;
        font-size: 16px;
        color: #1a1c1f;
      }

      .corporate-des {
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        font-family: "Bliss 2";
      }

      .bottom_review_text {
        display: flex;
        align-items: center;

        .corporate-bottom {
          font-weight: 800;
          font-size: 16px;
          text-transform: uppercase;
          color: #f47b20;
          margin-bottom: 0px;
          padding-right: 10px;
          margin-top: 16px;
        }
      }
    }
  }

  .strategy_section {
    height: 520px;

    .image_banner {
      position: relative;

      h6 {
        top: 77px;
        left: 10%;
        position: absolute;
        font-weight: 800;
        font-size: 24px;
        color: #ffffff;
      }

      .strategy_card_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: absolute;
        top: 60%;

        .strategy_card {
          background: #ffffff;
          border-radius: 8px;
          padding: 21px;

          p {
            font-weight: 400;
            font-size: 12px;
            color: #455560;
          }
        }
      }
    }
  }

  .choose_tawuniya_container {
    h6 {
      font-weight: 800;
      font-size: 24px;
      color: #1a1c1f;
      margin-top: 25px;
      padding-left: 16px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: #455560;
      margin-bottom: 23px;
      padding-left: 16px;
    }

    .slider_section {
      overflow: auto;
      white-space: pre;
      padding: 16px;
    }
  }

  .related_news {
    h5 {
      font-weight: 700;
      font-size: 24px;
      color: #1a1c1f;
      padding-left: 16px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: #455560;
      padding-left: 16px;
    }

    .related_news_scroll {
      padding: 17px;
      white-space: pre;
      overflow: auto;
    }
  }
}

.mission {
  margin: 0px 5px;
}

.our-mission {
  white-space: pre;
  position: relative;
  bottom: 22px;
  overflow-x: scroll;
  z-index: 999;
  padding: 0px 20px 0px 20px;
  width: 100%;
}

div.our-mission .mission {
  display: inline-block;
  text-decoration: none;
  background: #ffffff;
  box-shadow: 0px 3.48696px 8.71739px rgba(9, 30, 66, 0.06);
  border-radius: 10.4609px;
  width: 214px;
  height: 170px;
  padding: 20px;
}

.our-title {
  width: 262px;
  height: 25px;
  font-weight: 800;
  font-size: 18px;
  color: #679ab4;
}

.our-des {
  width: 182px;
  height: 66px;
  font-weight: 700;
  font-size: 16px;
  color: #1a1c1f;
  margin-top: 16px;
}

.card-about {
  background: #ffffff;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.we {
  width: 326px;
  font-weight: 800;
  font-size: 24px;
  color: #1a1c1f;
}

.paragraph {
  font-weight: 400;
  font-size: 12px;
  color: #4c565c;
}

.adress {
  width: 96px;
  height: 18px;
  left: 40px;
  font-weight: 700;
  font-size: 12px;
  color: #4c565c;
  margin-top: 19px;
}

.promise_achieve {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-left: 16px;
}

.padress {
  width: 244px;
  height: 50px;
  font-weight: 400;
  font-size: 10px;
  color: #4c565c;
  margin-top: 5px;
}

.reward {
  background-image: url("../../../../assets/about/Rewards.png");
}

.about_year {
  .about_milestone {
    font-weight: 800;
    font-size: 24px;
    color: #1a1c1f;
    margin-left: 16px;
    width: 358px;
    margin-top: 24px;
  }

  .about_insurance {
    font-weight: 400;
    font-size: 16px;
    color: #4c565c;
    margin-left: 16px;
    margin-top: 16px;
    width: 358px;
  }

  .about_customer_year {
    overflow: auto;
    white-space: pre;
  }

  .about_years {
    margin: 0px 5px;
  }

  .about_image {
    position: relative;
    top: 35px;
    margin-left: 44px;
  }

  .about_milestone_line {
    border-top: 1px dashed #455560;
    width: 42px;
    height: 0px;
    margin-top: 20px;
  }

  div.about_customer_year .about_years {
    display: inline-block;
    text-decoration: none;
    width: 196px;
    margin-top: 16px;
  }

  .about_year_date {
    font-weight: 700;
    font-size: 24px;
    color: #4c565c;
    margin-left: 30px;
  }

  .about_card_des {
    font-weight: 400;
    font-size: 12px;
    color: #676f7c;
    width: 128px;
    margin-left: 29px;
    margin-top: 4px;
    display: flex;
  }
}

.promises {
  margin: 0px 5px;
}

.promise {
  overflow: auto;
  white-space: pre;
  padding-left: 16px;
}

div.promise .promises {
  display: inline-block;
  white-space: normal;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  width: 196px;
  height: 200px;
  margin-top: 24px;
  border-radius: 8px;
}

.pro {
  margin: 0px 16px;
  font-weight: 800;
  font-size: 24px;
  color: #1a1c1f;
  margin-top: 60px;
}

.promise-title {
  font-weight: 700;
  font-size: 16px;
  color: #1a1c1f;
  margin-top: 16px;
  height: 45px;
}

.promise-des {
  font-weight: 400;
  font-size: 14px;
  color: #1a1c1f;
  opacity: 0.7;
  margin-top: 4px;
  width: 167px;
}

.heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
}

.text-wrap {
  white-space: normal !important;
}

.card-strategy {
  margin-top: 30px;
}

.te-style {
  font-size: 14px;
  line-height: 15.4px;
  font-weight: 500;
}

.Area {
  border-radius: 5rem;
}

.card-style {
  margin: 0px 5px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.match {
  background-color: grey;
}

div.storycards .card {
  display: inline-block;
  border-radius: 0.5rem;
  width: 86%;
  height: auto;
  overflow-wrap: break-word;
  border: none;
}

.text-width {
  font-size: 12px;
  margin-top: 84px;
  color: white;
  position: absolute;
}

.bc {
  background-color: grey;
}

.card-text:last-child {
  margin-bottom: 0;
  font-size: xx-small;
  font-weight: bolder;
}

.icon {
  position: relative;
  right: 50px;
  bottom: 30px;
}

.highlights {
  border-radius: 18px;
  border-radius: -5px;
  background: #ee7500;
  padding: -35px;
  height: 16px;
  color: aliceblue;
  font-size: 9px;
  width: 57px;
  padding-left: 8px;
  padding-right: 8px;
}

.readfull {
  color: orange;
  font-size: 12px;
  margin-top: 10px;
}

.Texas {
  color: white;
}

.Area {
  border-radius: 5rem;
}

.swiperdatacards {
  overflow: hidden;
  white-space: pre;
  margin-top: 22px;
  height: 168px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.match {
  background-color: grey;
}

div.swiperdatacards .card {
  display: inline-block;
  border-radius: 0.5rem;
  width: 85%;
  background-repeat: no-repeat;
  height: 89px;
  height: 138px;
  overflow-wrap: break-word;
  border: none;
}

.TawuniyaNow {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 20px;
}

.Tawuniyacontent {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.Area {
  border-radius: 5rem;
}

.card {
  margin: 0px 5px;
}

.scrollcards {
  overflow: auto;
  white-space: pre;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.match {
  background-color: grey;
}

div.scrollcards .card {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.5rem;
  width: 12rem;
  height: 11rem;
  padding: 5px 7px;
  border: 1;
}

.card-text {
  display: flex;
  justify-content: flex-start;
}

.font-size {
  font-size: 11px;
}

.bc {
  background-color: grey;
}

.data-description {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 2.5rem;
  left: 5px;
}

.data-appoints {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 1px;
}

.date-style {
  font-size: 10px;
  font-weight: 600;
  position: relative;
  top: 0.5em;
  left: 2rem;
}

.providers-color {
  color: white;
}

.bottom-width {
  height: 100px;
}

.viewalne {
  margin-top: 7px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  color: black;
}

.test1 {
  background-image: url("../../../../assets/about/i1.png");
  background-size: 100%;
}

.test2 {
  background-image: url("../../../../assets/about/i1.png");
  background-size: 100%;
}

.test3 {
  background-image: url("../../../../assets/about/i1.png");
  background-size: 100%;
}

.Arrow {
  margin-left: 4px;
  width: 11.995013236999512px;
  margin-top: -3px;
}

.Taxi {
  color: white;
  margin-top: 50px;
}

.bottom-vh {
  height: 50vh;
}

.mobile_sticky_bottom_menu {
  display: none;
}

.corporate-our {
  font-weight: 800;
  font-size: 28px;
  color: #1a1c1f;
  margin-left: 16px;
  margin-bottom: 24px;
}

.corporate-strategy {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #455560;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 45px;
}

.corporate-ambitious {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #455560;
  margin-right: 16px;
  margin-top: 1px;
}

.about {
  font-weight: 800;
  font-size: 28px;
  color: #1a1c1f;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
}

.about-year {
  position: relative;
  top: 35px;
  margin-left: 44px;
}

.Tawuniya_Rectangle {
  text-align: center;
  padding: 0 16px;

  img {
    width: 100%;
  }
}

.mission {
  margin-left: 5px;
}

.saudi {
  color: #679ab4;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {
  .corporate_governance_container {
    .title_section {
      font-size: 21px;
    }

    .corporate-our {
      font-size: 24px;
    }

    .corporate-strategy {
      width: 95%;
    }
  }

  .about_milestone {
    font-size: 18px !important;
    width: 300px !important;
  }

  .about_insurance {
    font-size: 13px !important;
    width: 300px !important;
  }

  .div.about_customer_year .about_years {
    margin-top: 10px !important;
  }

  .about {
    font-size: 23px;
  }

  div.our-mission .mission {
    display: inline-block;
    text-decoration: none;
    background: #ffffff;
    box-shadow: 0px 3.48696px 8.71739px rgba(9, 30, 66, 0.06);
    border-radius: 10.4609px;
    width: 202px;
    height: 151px;
    padding: 18px;
  }

  .our-title {
    width: 262px;
    height: 25px;
    font-weight: 800;
    font-size: 17px;
    color: #679ab4;
  }

  .our-des {
    width: 182px;
    height: 66px;
    font-weight: 700;
    font-size: 15px;
    color: #1a1c1f;
    margin-top: 9px;
  }

  .pro {
    font-size: 18px;
  }

  .promise_achieve {
    font-size: 14px;
  }

  .card-about {
    width: 90%;
    height: 485px;
  }

  .we {
    width: 326px;
    font-weight: 800;
    font-size: 19px;
    color: #1a1c1f;
  }
}