.media-center-feature {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  color: #1a1c1f;
  margin-top: 12%;
  margin-left: 16px;
}

.our-feature {
  overflow: auto;
  white-space: pre;
}

div.our-feature .our-feature-image {
  display: inline-block;
  text-decoration: none;
  border-radius: 10.4609px;
  width: 100%;
  height: 244px;
  margin-top: 20px;
}

.standard {
  width: 100%;
  height: 38px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  margin-left: 30px;
  line-height: 120%;
  margin-top: 15%;
}

.media-center-body {
  margin-top: 18px;
  margin-left: 9%;
  width: 100%;
}

.meadia-center-november {
  height: 14px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}

.read {
  height: 12px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.media-center-view {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #34383e;
  margin-top: 20px;
  margin-left: 16px;
}

.latest {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  margin-left: 16px;
  margin-top: 44px;
  color: #1a1c1f;
}

.media-center-news {
  margin-top: 10px;
  padding: 20px;
}

.media-center-latest {
  overflow: auto;
  white-space: pre;
  margin-left: 16px;
  margin-top: 16px;
}

.latest-bottom {
  height: 15vh;
}