.insurance-program-register-here {
    display: flex;
    margin: 0 -10px;
    margin-bottom: 50px;
    flex-direction: row-reverse;
    > div {
        flex: 0 0 calc(33.333% - 20px);
        margin: 0 10px;
    }
}