.Privacy_Policy_Topic {
    font-size: 28px;
    font-weight: 800;
    width: 358px;
    height: 34px;
    margin-top: 24px;
    margin-left: 16px;
}

.card_Privacy_Policy {
    height: 100%;
}

.Privacy_Policy {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
}

.Privacy_Policy_description {
    font-size: 16px;
    font-weight: 400;
    color: #455560;
}

.Privacy_Policy_secondcard {
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
}

.Privacy_Policy_Content {
    font-size: 16px;
    font-weight: 400;
    height: auto;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;

    .Content_start {
        margin-top: 16px;
        color: #455560;
    }

    .Content_Collection {
        font-size: 20px;
        font-weight: 800;
        margin-top: 16px;
        color: black;
    }

    .Collection_data {
        font-size: 16px;
        font-weight: 400;
        color: #455560;
        margin-top: 16px;
    }

    .Content_policyinformation {
        font-size: 20px;
        font-weight: 800;
        margin-top: 30px;
    }

    .Content_moreffective {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        color: #455560;
    }

    .Content_personalinformation {
        font-size: 20px;
        font-weight: 800;
        margin-top: 16px;
    }

    .Content_statement {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        color: #455560;
    }

    .Content_accessing {
        font-size: 20px;
        font-weight: 800;
        margin-top: 16px;
    }

    .Content_online {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        color: #455560;

    }

    .Content_Preference {
        font-size: 20px;
        font-weight: 800;
    }

    .Content_delivery {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        color: #455560;
    }

    .Content_security {
        font-size: 28px;
        font-weight: 800;
        margin-top: 16px;
    }

    .Content_encryption {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        color: #455560;
    }

    .Content_cookies {
        font-size: 20px;
        font-weight: 800;
        margin-top: 16px;
    }

    .Content_browsers {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        color: #455560;
    }

    .Content_Enforcement {
        font-size: 20px;
        font-weight: 800;
        margin-top: 16px;
    }

    .Content_regarding {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        color: #455560;
    }

    .Content_changes {
        font-size: 20px;
        font-weight: 800;
        margin-top: 16px;
    }

    .Content_occasionally {
        font-size: 16px;
        font-weight: 400;
        margin-top: 16px;
        color: #455560;
    }
}