@import "../../../../assets/scss/abstracts/abstracts";

.ithra-terms-condition-title{
    color: $black;
    font-size: fontSize(32);
}
.ithra-terms-list{
    color: $newLight-tw;
    width: 100%;
    max-width: 1280px;
}