@import "../../../assets/scss/abstracts/abstracts";

.normal-search {
  position: relative;

  #userIdplaceHolderAlign {
    &::placeholder {
      text-align: right;
      padding-right: 50px;
    }
  }

  .searchBox {
    width: 100%;
    font-size: fontSize(14px);
    line-height: 16px;
    color: $black;
    // background: $white;
    padding: 10px 40px 10px 16px;
    height: 47px;

    &:focus {
      outline: none;
      background-color: $white;
    }

    &::placeholder {
      color: #9aa2af;
      font-weight: 400;
      font-size: 16px;
    }
  }

  .leftIconBox {
    .leftIcon {
      position: absolute;
      top: 50%;
      transform: translateY(-57%);

      .Inputicon {
        transform: translateX(22px);
      }
    }
  }

  .rightIconBox {
    .rightIcon {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-57%);

      .Inputicon {
        transform: translateX(22px);
      }
    }
  }

  .search-icon {
    cursor: pointer;

    .icon-search:before {
      color: #ee7500;
    }

    i {
      position: absolute;
      right: 10px;
      top: 13px;
    }
  }
}

.language-alignment-right {
  .normal-search {
    .leftIconBox {
      .leftIcon {
        .Inputicon {
          transform: translateX(-22px);
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .normal-search {
    .searchBox {
      padding: 10px 25px 10px 51px;
      border: none;

      &:focus {
        background-color: $white;
      }

      &::placeholder {
        color: #9aa2af;
        font-weight: 400;
        font-size: 16px;
      }
    }

    // .leftIconBox {
    //   position: relative;
    //   top: 12px;
    //   left: 20px;

    //   .leftIcon {
    //     position: absolute;
    //   }
    // }

    .search-icon {
      cursor: pointer;

      .icon-search:before {
        color: #ee7500;
      }

      i {
        position: absolute;
        right: 10px;
        top: 15px;
      }
    }
  }
}