@import "../../../assets/scss/abstracts/functions.scss";

@media only screen and (min-width: 768px) {
	.highLightsContainerText {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	h1.highLightsHead {
		font-weight: 600;
	}

	p.highLightsPar {
		font-weight: 600;
	}

	.ViewAllProductContainer {
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		width: 145px;
		align-items: center;
		margin-bottom: 20px;
		text-transform: capitalize;
		margin-left: auto;
		font-weight: 600;
		margin-right: 0px;
	}

	p.viewAllProductPar {
		margin-bottom: 1px;
		margin-right: 5px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1400px) and (max-width: 1699px) {
}

@media only screen and (min-width: 1700px) {
}
