@import "../../../assets/scss/abstracts/mixins.scss";

.positionMedic{
    position: absolute;
    bottom: 70px;
}

@include media-breakpoint-med-desktop{
    .positionMedic{
        position: absolute;
        bottom: 80px;
    }
}

@include media-breakpoint-tab-land{
    .positionMedic{
        position: absolute;
        bottom: 70px;
    }
}