@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid $orange-tw;
  position: absolute;
  top: 100%;
  left: 45%;
}

.commonHeaderContainer {
  width: 100%;
  padding: 0px;
  .customHeaderOne {
    width: 50%;
    #hideToolTip {
      visibility: hidden;
    }
    .ContainerComponentOne {
      height: 80px;
      visibility: hidden;
    }
    .ContainerComponentTwo {
      background-color: $white;
      border-bottom: 1px dashed #bfbebe;
      border-right: 1px dashed #bfbebe;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      border-radius: 12px 0px 0px 0px;
      .headerTitleOne {
        transform: translateY(20px);
      }
    }
  }
  .customHeaderTwo {
    width: 40%;
    #hideToolTip {
      visibility: hidden;
    }
    .perkToolTip {
      background-color: $orange-tw;
      width: 50%;
      color: $white;
      text-align: center;
      transform: translateX(85%);
      border-radius: 12px 6px 0px 0px;
    }
    .ContainerGoldOne {
      background-color: #34383e;
      border-right: 1px dashed #bfbebe;
      border-bottom: 1px dashed #bfbebe;
      height: 160px;
      box-shadow: 1px 2px 3px grey;
      border-radius: 12px 12px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .headerTitleTwo {
        color: $white;
      }
      .orderNowBtn {
        background-color: $orange-tw;
        color: $white;
        font-size: 16px;
        font-weight: 400;
        border-radius: 8px;
        width: 100%;
        max-width: 200px;
      }
      .componentTwoSubTitle {
        color: $lightOrange-tw;
      }
      .componentTwoSubTitleNew {
        color: #9aa2af;
        transform: translateY(-5px);
      }
    }
  }
  .customHeaderThree {
    width: 40%;
    #hideToolTip {
      visibility: hidden;
    }
    .ContainerSilverOne {
      background-color: $white;
      border-right: 1px dashed #bfbebe;
      border-bottom: 1px dashed #bfbebe;
      height: 160px;
      border-radius: 12px 0px 0px 0px;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .componentThreeSubTitleNew,
      .motorText {
        color: #4c565c;
      }
      .motorText {
        transform: translateY(10px);
        visibility: hidden;
        .holdCardImg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .customHeaderFour {
    width: 40%;
    #hideToolTip {
      visibility: hidden;
    }
    .ContainerBronzeOne {
      background-color: $white;
      height: 160px;
      border-bottom: 1px dashed #bfbebe;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 0px 12px 0px 0px;
      .componentFourSubTitleNew,
      .motorText {
        color: #4c565c;
      }
      .motorText {
        transform: translateY(10px);
        visibility: hidden;
        .holdCardImg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.commonTableContainer {
  width: 100%;
  padding: 0px;
  .customContainerOne {
    width: 50%;
    .benifitContainer {
      background-color: $white;
      border-bottom: 1px dashed #bfbebe;
      border-right: 1px dashed #bfbebe;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .xCircleIcon {
        width: 45px;
        height: 45px;
      }
    }
    .benifitContainer-top-borderThin {
      background-color: $white;
      border-bottom: 1px dashed #bfbebe;
      border-right: 1px dashed #bfbebe;
      height: 80px;
      border-radius: 0px 0px 0px 0px;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .xCircleIcon {
        width: 45px;
        height: 45px;
      }
      .tableCellContentText {
        width: 100%;
        max-width: 300px;
      }
    }
    .benifitContainer-top-borderThin-BreakDown {
      background-color: $white;
      border-bottom: 1px dashed #bfbebe;
      border-right: 1px dashed #bfbebe;
      height: 80px;
      border-radius: 0px 0px 0px 0px;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .xCircleIcon {
        width: 45px;
        height: 45px;
      }
      .tableCellContentText {
        width: 100%;
        max-width: 300px;
      }
    }
    .benifitContainer-bottom-borderThin {
      background-color: $white;
      height: 80px;
      border-radius: 0px 0px 0px 12px;
      border-right: 1px dashed #bfbebe;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .xCircleIcon {
        width: 45px;
        height: 45px;
      }
    }
    #hideCellOne {
      visibility: hidden;
    }
  }
  .customContainerTwo {
    width: 40%;
    .bestSellerContainer {
      background-color: #34383e;
      border-bottom: 1px dashed #bfbebe;
      border-right: 1px dashed #bfbebe;
      height: 80px;
      box-shadow: 1px 2px 3px grey;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
      .bestSellerText {
        color: $lightOrange-tw;
      }
    }
    .bestSellerContainer-top-borderThin {
      background-color: #34383e;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      border-right: 1px dashed #bfbebe;
      border-bottom: 1px dashed #bfbebe;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
    }
    .bestSeller-bottom-Container {
      background-color: #34383e;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      border-right: 1px dashed #bfbebe;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
    }
  }
  .customContainerThree {
    width: 40%;
    .sanadContainer {
      background-color: $white;
      border-bottom: 1px dashed #bfbebe;
      border-right: 1px dashed #bfbebe;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
    }
    .sanadContainer-top-borderThin {
      background-color: $white;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      border-right: 1px dashed #bfbebe;
      border-bottom: 1px dashed #bfbebe;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
    }
    .sanad-bottom-Container {
      background-color: $white;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      border-right: 1px dashed #bfbebe;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
    }
  }
  .customContainerFour {
    width: 40%;
    .sanadPlusContainer {
      background-color: $white;
      border-bottom: 1px dashed #bfbebe;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
    }
    .sanadPlusContainer-top-borderThin {
      background-color: $white;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      border-bottom: 1px dashed #bfbebe;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
    }
    .sanadPlus-bottom-Container {
      background-color: $white;
      border-radius: 0px 0px 12px 0px;
      height: 80px;
      box-shadow: 0px 1px 2px #efefee;
      display: flex;
      justify-content: center;
      align-items: center;
      .xCircleIcon {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@include media-breakpoint-tab-land {
  .commonHeaderContainer {
    width: 100%;
    padding: 0px;
    .customHeaderOne {
      width: 70%;
      .ContainerComponentOne {
        height: 80px;
        visibility: hidden;
      }
      .ContainerComponentTwo {
        height: 80px;
        .headerTitleOne {
          transform: translateY(30px);
          font-size: 16px;
        }
      }
    }
    .customHeaderTwo {
      width: 40%;
      .ContainerGoldOne {
        height: 160px;
        .headerTitleTwo {
          font-size: 16px;
        }
        .orderNowBtn {
          font-size: 16px;
          width: 100%;
          max-width: 140px;
        }
        .componentTwoSubTitle {
          font-size: 16px;
        }
        .componentTwoSubTitleNew {
          transform: translateY(-5px);
          font-size: 16px;
        }
      }
    }
    .customHeaderThree {
      width: 40%;
      .ContainerSilverOne {
        height: 160px;
        .headerTitleThree {
          font-size: 16px;
        }
        .motorText {
          transform: translateY(10px);
          .holdCardImg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    .customHeaderFour {
      width: 40%;
      .ContainerBronzeOne {
        height: 160px;
        .headerTitleFour {
          font-size: 16px;
        }
        .motorText {
          transform: translateY(10px);
          .holdCardImg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .commonTableContainer {
    width: 100%;
    padding: 0px;
    .customContainerOne {
      width: 70%;
      .benifitContainer {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .benifitContainer-top-borderThin {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .benifitContainer-bottom-borderThin {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      #hideCellOne {
        visibility: hidden;
      }
    }
    .customContainerTwo {
      width: 40%;
      .bestSellerContainer {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .bestSeller-bottom-Container {
        .tableCellContentText {
          font-size: 16px;
        }
      }
    }
    .customContainerThree {
      width: 40%;
      .sanadContainer {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .sanad-bottom-Container {
        .tableCellContentText {
          font-size: 16px;
        }
      }
    }
    .customContainerFour {
      width: 40%;
      .sanadPlusContainer {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .sanadPlus-bottom-Container {
        .tableCellContentText {
          font-size: 16px;
        }
      }
    }
  }
}

@include media-breakpoint-med-desktop {
  .commonHeaderContainer {
    .customHeaderOne {
      width: 50%;
      .ContainerComponentTwo {
        height: 80px;
        .headerTitleOne {
          transform: translateY(25px);
        }
      }
    }
    .customHeaderTwo {
      width: 40%;
      .ContainerGoldOne {
        height: 160px;
        .componentTwoSubTitleNew {
          transform: translateY(-5px);
        }
      }
    }
    .customHeaderThree {
      width: 40%;
      .ContainerSilverOne {
        height: 160px;
        .componentThreeSubTitleNew,
        .motorText {
          color: #4c565c;
        }
        .motorText {
          transform: translateY(10px);
        }
      }
    }
    .customHeaderFour {
      width: 40%;
      .ContainerBronzeOne {
        height: 160px;
        .componentFourSubTitleNew,
        .motorText {
          color: #4c565c;
        }
        .motorText {
          transform: translateY(10px);
          .holdCardImg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
  .commonTableContainer {
    .customContainerOne {
      width: 50%;
      .benifitContainer {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .benifitContainer-top-borderThin {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .benifitContainer-bottom-borderThin {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      #hideCellOne {
        visibility: hidden;
      }
    }
    .customContainerTwo {
      width: 40%;
      .bestSellerContainer {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .bestSeller-bottom-Container {
        .tableCellContentText {
          font-size: 16px;
        }
      }
    }
    .customContainerThree {
      width: 40%;
      .sanadContainer {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .sanad-bottom-Container {
        .tableCellContentText {
          font-size: 16px;
        }
      }
    }
    .customContainerFour {
      width: 40%;
      .sanadPlusContainer {
        .tableCellContentText {
          font-size: 16px;
        }
      }
      .sanadPlus-bottom-Container {
        .tableCellContentText {
          font-size: 16px;
        }
      }
    }
  }
}

@include media-breakpoint-tab-port-med-only {
  .commonHeaderContainer {
    width: 100%;
    padding: 0px;
    .customHeaderOne {
      width: 70%;
      .ContainerComponentTwo {
        height: 80px;
        .headerTitleOne {
          transform: translateY(30px);
          font-size: 14px;
        }
      }
    }
    .customHeaderTwo {
      width: 40%;
      .ContainerGoldOne {
        .headerTitleTwo {
          font-size: 14px;
        }
        .orderNowBtn {
          font-size: 14px;
          width: 100%;
          max-width: 120px;
        }
        .componentTwoSubTitle {
          font-size: 14px;
        }
        .componentTwoSubTitleNew {
          font-size: 14px;
        }
      }
    }
    .customHeaderThree {
      width: 40%;
      .ContainerSilverOne {
        height: 160px;
        .headerTitleThree {
          font-size: 16px;
        }
        .motorText {
          transform: translateY(10px);
          .holdCardImg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    .customHeaderFour {
      width: 40%;
      .ContainerBronzeOne {
        height: 160px;
        .headerTitleFour {
          font-size: 14px;
        }
      }
    }
  }

  .commonTableContainer {
    .customContainerOne {
      width: 70%;
      .benifitContainer {
        .tableCellContentText {
          font-size: 12px;
        }
        .xCircleIcon {
          width: 37px;
          height: 37px;
        }
      }
      .benifitContainer-top-borderThin-BreakDown{
        .tableCellContentText {
          font-size: 12px;
        }
        .xCircleIcon {
          width: 37px;
          height: 37px;
        }
      }
      .benifitContainer-top-borderThin {
        .tableCellContentText {
          font-size: 12px;
        }
        .xCircleIcon {
          width: 37px;
          height: 37px;
        }
      }
      .benifitContainer-bottom-borderThin {
        .tableCellContentText {
          font-size: 12px;
        }
        .xCircleIcon {
          width: 37px;
          height: 37px;
        }
      }
      #hideCellOne {
        visibility: hidden;
      }
    }
    .customContainerTwo {
      width: 40%;
      .bestSellerContainer {
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
        .tableCellContentText {
          font-size: 12px;
        }
      }
      .bestSellerContainer-top-borderThin{
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
        .tableCellContentText {
          font-size: 12px;
        }
      }
      .bestSeller-bottom-Container {
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
        .tableCellContentText {
          font-size: 12px;
        }
      }
    }
    .customContainerThree {
      width: 40%;
      .sanadContainer {
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
        .tableCellContentText {
          font-size: 12px;
        }
      }
      .sanadContainer-top-borderThin{
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
        .tableCellContentText {
          font-size: 12px;
        }
      }
      .sanad-bottom-Container {
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
        .tableCellContentText {
          font-size: 12px;
        }
      }
    }
    .customContainerFour {
      width: 40%;
      .sanadPlusContainer {
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
        .tableCellContentText {
          font-size: 12px;
        }
      }
      .sanadPlusContainer-top-borderThin{
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
        .tableCellContentText {
          font-size: 12px;
        }
      }
      .sanadPlus-bottom-Container {
        .xCircleIcon {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
