.financial_highlights_container {
  padding: 0px 16px;
  margin-bottom: 48px;
}

.financial_highlights {
  border: 0px;
  border-radius: 12px;
  margin: 0px;
  width: 100%;

  p {
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    color: #679AB4;
  }

  h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
  }

  h4 {
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    color: #9AA2AF;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {
  h3 {
    font-size: 24px;
  }
}