@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.dashboard-page-quick-actions {
    .content-title {
        font-weight: 800;
        font-size: fontSize(20);
        line-height: 120%;
        color: $light-tw-2;
        margin-bottom: 15px;
    }
    .quick-actions-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        .actions-list {
            flex: 1 0 calc(50% - 20px);
            margin: 0 10px 15px 10px;
            display: flex;
            align-items: center;
            background: $white;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 8px;
            padding: 20px;
            font-weight: 700;
            font-size: fontSize(14);
            line-height: 120%;
            color: $light-tw-2;
            &.justify-center {
                justify-content: center;
            }
            img {
                margin-right: 15px;
            }
        }
    }
    .upgrade-section {
        background: #FDF1E6;
        border-radius: 12px;
        padding: 15px;
        margin-bottom: 15px;
        .upgrade-section-title {
            display: flex;
            align-items: flex-start;
            font-weight: 500;
            font-size: fontSize(14);
            line-height: 140%;
            color: $black;
            span {
                color: $orange-tw;
            }
            img {
                margin-top: -10px;
                margin-left: -20px;
                margin-right: -10px;
                margin-bottom: -10px;
            }
        }
        button {
            width: 100%;
            background-color: $orange-tw;
            color: $white;
            border-radius: 8px;
            font-weight: 400;
            font-size: fontSize(16);
            line-height: 140%;
            height: 52px;
            padding: 0 12px;
            outline: 0;
            border: 0;
        }
    }
}