//  medical-section

.motor_policy_details_container {
    .medical-card {
        background: #ffffff;
        box-shadow: 0px 4px 10px #091e420f;
        border-radius: 0px 0px 20px 20px;
        padding: 68px 20px 0px;

        .card-head {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            .share {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    margin: 0px;
                    font-weight: 800;
                    font-size: 14px;
                    color: #455560;
                    padding-left: 10px;
                }
            }
        }

        .wallet {
            width: 140px;
            height: 54px;
            background: #1a1c1f;
            border-radius: 6px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 10px;
                display: flex;
            }

            h6 {
                font-size: 12px;
                padding-left: 10px;
                margin: 0px;
            }
        }
    }

    .orange {
        bottom: 3ch;
    margin-left: 21px;
    position: relative;
        .orange_circle_one {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #F47B20;
            box-shadow: 0px 10px 20px rgba(238, 117, 0, 0.2);
        }

        .orange_circle_two {
            width: 8px;
            height: 8px;

            border-radius: 50%;
            margin:0px 5px;
            background: #F5AC66;

        }

        .orange_circle_three {
            width: 8px;
            height: 8px;
            border-radius: 50%;

            background: #F5AC66;


        }
    }
    .motor_active_claims{
        font-weight: 800;
font-size: 20px;
line-height: 120%;

letter-spacing: -0.01em;
color: #1A1C1F;
margin-top: 28px;
margin-left: 18px;
    }
 .motor_recent_accident{
    @extend .motor_active_claims

 }
    .recent-inter {
        margin: 0px 16px;

        h6 {
            margin-bottom: 14px;
            font-weight: 800;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: #1a1c1f;
        }
    }
    .question_section{
        .question_view{
            font-weight: 800;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */

text-transform: capitalize;

/* Black */

color: #1A1C1F;
        }
    }
      
}