@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.dashboard-products-and-offerings {
    padding-top: 20px;
    .products-offerings-cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        padding-bottom: 20px;
        .products-offerings-card-root {
            padding: 0 10px;
            flex: 0 0 33.3333%;
            margin-bottom: 20px;
        }
    }
    .explore-more-card {
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 12px;
        color: $white;
        min-height: 300px;
        background-size: cover;
        background-position: top center;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        overflow: hidden;
        @include media-breakpoint-tab-port {
            min-height: 280px;
        }
        @include media-breakpoint-med-desktop {
            min-height: 280px;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #00000033;
        }
        > * {
            position: relative;
            z-index: 2;
        }
        .image {
            img {
                max-width: 100%;
            }
        }
        .bottom-content {
            margin-top: auto;
            padding-top: 15px;
            .explore-more-title {
                font-weight: 800;
                font-size: fontSize(20);
                line-height: 120%;
                margin-bottom: 10px;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(16);
                }
                @include media-breakpoint-med-desktop {
                    font-size: fontSize(16);
                }
            }
            .explore-more-description {
                font-weight: 400;
                font-size: fontSize(14);
                line-height: 140%;
                margin-bottom: 10px;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(12);
                }
                @include media-breakpoint-med-desktop {
                    font-size: fontSize(12);
                }
            }
            .explore-more-button {
                button {
                    display: flex;
                    align-items: center;
                    outline: 0;
                    border: 0;
                    background: $orange-tw;
                    border-radius: 6px;
                    height: 40px;
                    padding: 6px 20px;
                    font-weight: 400;
                    font-size: fontSize(14);
                    color: $white;
                    @include media-breakpoint-tab-port {
                        font-size: fontSize(12);
                    }
                    @include media-breakpoint-med-desktop {
                        font-size: fontSize(12);
                    }
                    img {
                        display: block;
                        margin-left: 10px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}