@import "../../../../assets/scss/abstracts/abstracts";

.inspect-ParentContainer {
  .inspect-requestMap-title {
    color: $newLight-tw;
  }
  .inspect-MapContainer {
    background-color: $lightgrey-tw;
    border-radius: 8px;
    .inspect-SelectInput {
      background: #ffffff;
      border-radius: 0px 0px 4px 4px;
      padding: 5px;
    }
  }
  .inspect-Selector-liner {
    border-bottom: 1px solid rgba(26, 28, 31, 0.1);
  }
  .submit-inspect-Button {
    width: 100%;
    background-color: $orange-tw;
    color: $white;
    border: none;
    border-radius: 8px;
    font-size: fontSize(16);
    font-weight: 400;
  }
}
