@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.financialHighlightsContainer {
	.financialHighlights {
		height: fit-content;
		margin: 50px 0px;
		h1 {
			font-weight: 800;
			font-size: fontSize(48);
			letter-spacing: -1px;
			color: #1a1c1f;
			width: 40%;

			span {
				color: #ee7500;
			}
		}

		p {
			width: 50%;
			font-weight: 800;
			font-size: fontSize(16);
			letter-spacing: -0.01em;
			color: #4c565c;
		}
	}

	.financialHighlightsCards {
		margin-top: 80px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
		height: fit-content;
		width: 1500px;
		transform: translateX(-6%);
	}

	.financialHighlightsBannerContainer {
		height: 800px;
		.financialHighlightsBanner {
			margin-top: 80px;
			padding: 40px;
			padding-left: 50px;
			background-image: url("../../../assets/images/tawuniya-HQ1.png");
			background-repeat: no-repeat;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			background-position: top center;
			background-size: cover;
			position: relative;
			height: 570px;

			.fhBannerText {
				h5 {
					font-weight: 800;
					font-size: fontSize(48);
					letter-spacing: -1px;
					color: #1a1c1f;
					width: 30%;
					margin-top: 8%;
				}

				p {
					margin-top: 20px;
					font-weight: 800;
					font-size: fontSize(16);
					letter-spacing: -0.01em;
					color: #4c565c;
					width: 30%;
					min-height: 72px;
				}
			}

			.fhBannerCards {
				margin-top: 160px;
				.fhBannerCardsSlider {
					width: 100%;
				}
				/* the slides */
				.slick-slide {
					margin: auto 0;
					margin-left: auto;
				}

				.slick-slider {
					height: 220px;
				}
				/* the parent */
				.slick-list,
				.slick-track {
					// margin: auto -20px;
					height: inherit;
				}
				.fhBannerCardRoot {
					padding: 0 10px;
					width: 310px;
				}
				.fhBannerCard {
					// width: 280px;
					height: 196px;
					padding: 20px 20px 40px 20px;
					border-radius: 12px;
					background: #1a1c1f;
					box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
					p {
						font-weight: 800;
						font-size: fontSize(16);
						padding-right: 50px;
						letter-spacing: -0.01em;
						color: #ffffff;
						margin-bottom: 0;
						margin-top: 20px;
						span {
							color: #ee7500;
						}
					}
				}

				.arrowDotContainer {
					margin-left: 8px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					width: 100%;
					z-index: 2;

					.arrowContainer {
						cursor: pointer;
						height: 32px;
						width: 55px;
						border-radius: 100px;
						background-color: #fff;
						box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
							rgba(17, 17, 26, 0.05) 0px 8px 32px;
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
					}

					// .arrowContainerPrev {
					// 	margin-right: 100px;
					// }

					// .arrowContainerLeft {
					// 	margin-left: 100px;
					// }

					.dotContainer {
						margin-left: 10px;
						margin-right: 10px;
						height: 32px;
						width: 65px;
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						padding-top: 15px;
						.dotEl {
							width: 6px;
							height: 6px;
							opacity: 30%;
							background-color: #4c565c;
							border-radius: 100%;
						}
					}
				}
			}
		}
	}

	.fhRanking {
		margin-top: 80px;

		h5 {
			font-weight: 800;
			font-size: fontSize(48);
			line-height: 70px;
			letter-spacing: -1px;
			color: #1a1c1f;

			span {
				color: #ee7500;
			}
		}

		p {
			font-weight: 800;
			font-size: 24px;
			line-height: 29px;
			letter-spacing: -0.01em;
			color: #4c565c;
		}

		.fhRankingTimeline {
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-top: 40px;

			.fhyear {
				font-weight: 800;
				font-size: fontSize(28);
				line-height: 48px;
				text-align: right;
				letter-spacing: -0.02em;
				color: #1a1c1f;
			}

			.fhTimeLineList {
				.fhTimeLine {
					display: flex;
					justify-content: flex-start;
					margin: 10px 10px 40px 20px;

					.fhEduIcon {
						position: relative;
						height: fit-content;
						img {
							width: 24px;
							height: 24px;
							padding: 5px;
							background: #ee7500;
							border-radius: 100px;
						}

						.fhLine {
							position: absolute;
							bottom: -25px;
							left: -10%;
							width: 32px;
							height: 0px;
							border: 1px solid #4c565c;
							transform: rotate(90deg);
						}
					}

					.fhText {
						margin-left: 10px;
						width: 100%;
						display: flex;
						justify-content: space-between;

						p {
							font-weight: 800;
							font-size: fontSize(22);
							line-height: 22px;
							letter-spacing: -0.02em;
						}

						span {
							font-weight: 400;
							font-size: fontSize(16);
							color: #4c565c;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

.language-alignment-right {
	.financialHighlightsContainer {
		.financialHighlightsCards {
			transform: translateX(6%);
		}
		.financialHighlightsBannerContainer {
			.financialHighlightsBanner {
				.fhBannerCards {
					.arrowDotContainer {
						direction: ltr;
					}
				}
				.fhBannerCard {
					background: $primary-tw;
				}
			}
		}
		.fhRanking {
			.fhRankingTimeline {
				.fhTimeLineList {
					.fhTimeLine {
						.fhText {
							span {
								margin-left: 0;
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
	}
}