@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.dashboard-requests-and-approvals {
    padding-top: 20px;
    .top-row-content {
        margin-bottom: 30px;
    }
    .help-center-card-root {
        margin-bottom: 15px;
    }
    .requests-content-title {
        font-weight: 800;
        font-size: fontSize(20);
        line-height: 120%;
        color: $light-tw-2;
        margin-bottom: 15px;
    }
    .view-more-link {
        font-weight: 400;
        font-size: fontSize(14);
        line-height: 140%;
        color: $light-tw-2;
        display: flex;
        align-items: center;
        margin-top: 20px;
        span {
            font-size: fontSize(22);
            margin-left: 10px;
            color: $orange-tw;
        }
    }
    .your-services-row {
        border-bottom: 1px solid #1a1c1f1a;
        padding-bottom: 40px;
        margin-bottom: 20px;
    }
}