@import "../../assets/scss/abstracts/abstracts";
@import "../../assets/scss/abstracts/mixins.scss";

.insurance-agent-page {
    .insurance-agent-banner-root {
        padding-top: 20px;
        margin-bottom: 50px;
    }
    .advantages-root {
        margin-bottom: 80px;
    }
    .general-insurance-agent-root {
        margin-bottom: 80px;
    }

    // About Us Key Promises Section section starts her
	.AbtUsKeyPromises {
		display: flex;
		justify-content: space-between;
        margin-bottom: 20px;
		.AbtUskpCardsContainer {
			display: flex;
			justify-content: space-between;
            flex: 1 0 0;
            justify-content: center;
			@include media-breakpoint-tab-port {
				flex: 0 0 48%;
			}

			.AbtUskpCardRight {
				margin-top: 70px;
			}

			@include media-breakpoint-tab-port {
				.AbtUskpCardLeft {
					flex: 0 0 50%;
				}
			}

			@include media-breakpoint-tab-port {
				.AbtUskpCardLeft {
					flex: 0 0 50%;
				}
			}

			.AbtUskpCard {
				margin-right: 20px;
				margin-bottom: 20px;
				padding: 24px;
				width: 285px;
				height: fit-content;
				background: #ffffff;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
				border-radius: 12px;

				@include media-breakpoint-tab-port {
					img {
						height: 2.25rem;
					}
				}

				@include media-breakpoint-tab-port {
					width: calc(100% - 20px);
					margin-left: 0;
					margin-top: 16px;
					margin-right: 16px;
					padding: 18px 18px;
					width: 220px;
				}

				h5 {
					margin-top: 20px;
					font-weight: 800;
					font-size: fontSize(24);
					line-height: 29px;
					letter-spacing: -0.01em;
					text-transform: capitalize;
					color: #1a1c1f;

					@include media-breakpoint-tab-port {
						font-size: fontSize(16);
						line-height: 20px;
						margin-top: 15px;
					}
				}

				p {
					margin-top: 20px;
					font-weight: 400;
					font-size: fontSize(16);
					line-height: 22px;
					color: #1a1c1f;
					margin-bottom: 0;

					@include media-breakpoint-tab-port {
						font-size: fontSize(11);
						line-height: 18px;
						margin-top: 15px;
					}
				}
			}
		}

		.AbtUskpTextContainer {
			width: 45%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;

			.AbtUsKpText {
				// margin-top: 80px;

				// @include media-breakpoint-tab-port {
				// 	margin-top: 40px;
				// }
                button {
                    display: flex;
                    align-items: center;
                    margin-left: 0;
                    outline: 0;
                    justify-content: center;
                    text-align: center;
                    border: 0;
                    background: $orange-tw;
                    border-radius: 8px;
                    height: 48px;
                    padding: 10px 20px;
                    font-weight: 400;
                    font-size: fontSize(16);
                    color: $white;
                    max-width: 220px;
                    width: 100%;
                }
				h2 {
					font-weight: 800;
					font-size: fontSize(40);
					letter-spacing: -1px;
					color: #1a1c1f;

					@include media-breakpoint-tab-port {
						font-size: fontSize(34);
					}

					span {
						color: #ee7500;
					}
				}

				p {
					font-weight: 800;
					font-size: fontSize(16);
					line-height: 29px;
					letter-spacing: -0.01em;
					color: #4c565c;

					@include media-breakpoint-tab-port {
						font-size: fontSize(15);
					}
				}
			}
		}
	}

	// About Us Key Promises Section section ends here

    // FAQ section css
    .faq-section-root {
        margin-bottom: 80px;
    }
    .tawuniya-partner-form {
        max-width: 660px;
        width: 100%;
        margin: 0 auto 60px;
        .form-title {
            text-align: center;
            margin-bottom: 10px;
            font-weight: 800;
            font-size: fontSize(34);
            line-height: 120%;
            color: $black;
        }
        .form-description {
            text-align: center;
            margin-bottom: 20px;
            font-weight: 400;
            font-size: fontSize(18);
            line-height: 140%;
            color: $light-tw-2;
        }
        .formInputFieldOne {
            background-color: $white;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 4px;
            border: none;
            padding: 30px;
            padding-left: 65px;
        }
        .forms-list-root {
            border-bottom: 1px solid #1a1c1f33;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .forms-list {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                margin: 0 -10px;
                .input-root {
                    margin-bottom: 20px;
                    flex: 0 0 100%;
                    padding: 0 10px;
                    &.width-50 {
                        flex: 0 0 50%;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        button {
            display: flex;
            align-items: center;
            margin-left: 0;
            outline: 0;
            justify-content: center;
            text-align: center;
            border: 0;
            background: $orange-tw;
            border-radius: 8px;
            height: 48px;
            padding: 10px 20px;
            font-weight: 400;
            font-size: fontSize(16);
            color: $white;
            width: 100%;
        }
    }
}