@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.authFooterContainer{
    background-color: $white;
    padding: 11px 0px 11px 0px;
    .leftAuthContent{
        transform: translateY(20%);
        .authCopyrightText{
            color: $light-tw;
        }
        .authTerms{
            color: $light-tw;
        }
    }
    .rightAuthContent{
        transform: translateY(10%);
    }
}

@include media-breakpoint-med-desktop{
    .authFooterContainer{
        .leftAuthContent{
            transform: translateY(20%);
            .authCopyrightText{
                color: $light-tw;
            }
            .authTerms{
                color: $light-tw;
            }
        }
        .rightAuthContent{
            transform: translateY(10%);
            .authFooterBtnOne, .authFooterBtnTwo, .authFooterBtnThree{
                width: 100px;
                height: 50px;
            }
        }
    }
}

@include media-breakpoint-tab-land{
    .authFooterContainer{
        padding: 5px 0px 5px 0px;
        .leftAuthContent{
            transform: translateY(25%);
        }
        .rightAuthContent{
            transform: translateY(10%);
        }
    }
}
