@import "../../../../assets/scss/abstracts/abstracts";

.insurance-program-details {
    max-width: 1100px;
    margin: auto;
    .main-title {
        .title {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-size: fontSize(40);
            font-weight: 700;
            color: $black;
            line-height: 1.2;
            margin-bottom: 20px;
        }
        .description {
            color: $light-tw;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-size: fontSize(22);
            font-weight: 400;
        }
    }
    .foreign-pilgrims {
        display: flex;
        align-items: center;
        > div {
            flex: 0 0 50%;
            padding: 0 30px;
        }
        .right-side-content {
            display: flex;
            .column {
                flex: 0 0 calc(50% - 20px);
                margin: 0 10px;  
                &:nth-child(2) {
                    padding-top: 80px;
                }
            }
            .program-card-root {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .program-features {
        display: flex;
        align-items: center;
        > div {
            flex: 0 0 50%;
            padding: 0 30px;
        }
        .left-side-content {
            display: flex;
            .column {
                flex: 0 0 calc(50% - 20px);
                margin: 0 10px;  
                &:nth-child(2) {
                    padding-top: 80px;
                }
            }
            .program-card-root {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}