.umrah-insurance-program {
    .banner-root {
        margin-bottom: 50px;
        margin-top: 10px;
    }
    .insurance-details-root {
        margin-bottom: -80px;
    }
    .program-benefits-root {
        margin-bottom: 50px;
    }
}