@import "../../../assets/scss/abstracts/abstracts";


.gm-style-iw-c {
  box-shadow: none !important;
  transform: translate3d(-50%, -120%, 0) !important;
}

.gm-style-iw-t::after {
  box-shadow: none !important;
  transform: translate(-50%, -210%) rotate(-45deg) !important;
}

.infoCard {
  p {
    margin-bottom: 4px;
    font-size: 0.6rem;
  }

  h5 {
    font-size: 0.9rem;
    color: $primary-color;
  }

  h6 {
    margin-top: 8px;
    font-size: 0.7rem;
  }
}