@import "../../../assets/scss/abstracts/abstracts";

.cardContainer {
  width: 100%;
  background-color: #ffffff !important;
  padding: 18px 18px 5px 18px;
  border-radius: 12px !important;
  box-shadow: none !important;
  border: 1px solid transparent;
}
