@import "../../../../assets/scss/abstracts/abstracts";

.insurance-program-cards-careers {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 12px;
    padding: 20px;
    font-family: "Lato", sans-serif;
    &.card-type-1 {
        .icon {
            margin-bottom: 15px;
        }
        .description {
            font-style: normal;
            font-size: fontSize(15);
            font-weight: 700;
        }
    }
    &.card-type-2 {
        background: $orange-tw;
        .title {
            font-style: normal;
            font-size: fontSize(22);
            font-weight: 700;
            color: $white;
            line-height: 1.2;
            margin-bottom: 10px;
        }
        .description {
            color: $white;
            font-style: normal;
            font-size: fontSize(20);
            font-weight: 400;
            line-height: 1.3;
        }
    }
    &.card-type-3 {
        .text {
            color: $primary-tw;
            font-style: normal;
            font-size: fontSize(34);
            font-weight: 800;
            line-height: 1;
            margin-bottom: 10px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(24);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(28);
            }
        }
        .price {
            color: $orange-tw;
            font-style: normal;
            font-size: fontSize(34);
            font-weight: 400;
            line-height: 1;
            margin-bottom: 10px;
            span {
                font-size: fontSize(16);
                vertical-align: top;
                margin-top: 5px;
                display: inline-block;
            }
        }
        .description {
            color: $light-tw-2;
            font-style: normal;
            font-size: fontSize(20);
            font-weight: 800;
            line-height: 120%;
            @include media-breakpoint-tab-port {
                font-size: fontSize(13);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(16);
            }
        }
    }
    &.card-type-4 {
        .description {
            p {
                color: $black;
                font-style: normal;
                font-size: fontSize(16);
                font-weight: 400;
                line-height: 1.3;
            }
        }
        .link {
            font-style: normal;
            font-size: fontSize(16);
            font-weight: 700;
            line-height: 1;
            display: flex;
            align-items: center;
            img {
                vertical-align: middle;
                margin-left: 10px;
            }
            a {
                color: $orange-tw;
                text-decoration: none;
                display: inline-flex;
                align-items: center;
                vertical-align: top;
            }
        }
    }
    &.card-type-5 {
        .contact-title {
            color: $black;
            font-style: normal;
            font-size: fontSize(16);
            font-weight: 400;
            line-height: 1.3;
            margin-bottom: 18px;
        }
        .contact-details {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            .contact-list {
                flex: 0 0 50%;
                padding-right: 10px;
                margin-bottom: 18px;
                &:last-child {
                    flex: 0 0 100%;
                }
                .title {
                    color: $black;
                    font-style: normal;
                    font-size: fontSize(16);
                    font-weight: 400;
                    line-height: 1;
                    margin-bottom: 6px;
                }
                .contact {
                    color: $orange-tw;
                    font-style: normal;
                    font-size: fontSize(20);
                    font-weight: 700;
                    line-height: 1;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.card-type-6 {
        .title {
            color: $black;
            font-style: normal;
            font-size: fontSize(16);
            font-weight: 400;
            line-height: 1.3;
            margin-bottom: 20px;
        }
        button {
            background-color: $orange-tw;
            border-radius: 8px;
            font-size: fontSize(16);
            font-weight: 400;
            color: $white;
        }
    }
}