@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.serviceFeedabackContainer {
	background-color: $white;
	padding: 20px;
	box-shadow: 0px 35px 60px rgba(9, 30, 66, 0.15);
	border-radius: 12px 0px 0px 0px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	.feedbackCloseIcon {
		position: absolute;
		right: 14%;
		bottom: 94%;
		@include media-breakpoint-med-desktop{
			right: 12%;
			bottom: 94%;
		}
	}
	.service-question-title-container {
		.service-question-title {
			width: 100%;
			max-width: 310px;
			color: $black;
			border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		}
	}
	.service-question-paraOne {
		width: 100%;
		max-width: 330px;
		color: $black;
	}
	.emojiBoxLining {
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		.highlight-emojiBlockContainer {
			background-color: $white;
			box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
			border-radius: 12px;
			padding: 0px 3px;
			.emogi-express-icon {
				width: 55px;
				height: 55px;
			}
		}
		.normal-emojiBlockContainer {
			padding: 0px 3px;
			.emogi-express-icon {
				width: 55px;
				height: 55px;
			}
		}
	}
	.service-question-paraTwo {
		width: 100%;
		max-width: 330px;
		color: $black;
	}
	.likeContainer {
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		:is(.poorLike, .goodLike) {
			color: $black;
		}
	}
	.service-question-paraThree {
		width: 100%;
		max-width: 330px;
		color: $black;
	}
	.feebackForm-textArea-liner {
		border-bottom: 1px solid rgba(26, 28, 31, 0.1);
		.feedback-Form-textArea {
			width: 100%;
			height: 99px;
			padding: 12px 10px;
			box-sizing: border-box;
			border: none;
			border-radius: 4px;
			background-color: $lightgrey-tw;
			font-size: 12px;
			font-weight: 400;
			resize: none;
			color: #b3b9c3;
		}
	}
	.sendFeeed-backButton {
		width: 100%;
		background-color: $orange-tw;
		color: $white;
		border: none;
		border-radius: 8px;
		font-size: fontSize(12);
		font-weight: 400;
	}
}

@include media-breakpoint-hd-desktop {
	.serviceFeedabackContainer {
		transform: translateY(35px);
	}
}

@include media-breakpoint-med-desktop{
	.serviceFeedabackContainer {
		transform: translateY(23px);
	}
}