@import "../../../../../assets/scss/abstracts/abstracts";

.travelInsurance-layout-container {
  .travel-advantage-title {
    color: $black;
  }
  .travel-advantage-para {
    color: $black;
    width: 100%;
    max-width: 230px;
  }
}

.tawuniyaTravel-layout-container{
    .travelInsure-faqHeader {
        color: $black;
      }
      .travelInsure-faqPara {
        color: $newLight-tw;
        width: 100%;
        max-width: 710px;
      }  
}
