.financial_news_header {
  h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
  }

  p {
    padding-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #455560;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 360px) {
  .financial_news_header {
    h2 {
      font-size: 20px;
    }

    p {
      font-size: 13px;
      width: 300px;
    }
  }
}