.service_popup_container {
    h5 {
        padding: 0px 16px;
        font-size: 28px;
        font-weight: 800;
        color: black;
        margin-top: 16px;
    }

    p {
        padding: 0px 16px;
    }

    .service_popup_products {
        .faqContainer {
            padding: 0px 16px;
        }

        .service_popup_bgimage {
            background-image: url("../../../../assets/images/mobile/support_rewards_blue.png");
            background-repeat: no-repeat;
            background-position: center 12vh;

            h4 {
                color: black;
                font-size: 24px;
                font-weight: 800;
                padding: 16px;
            }
        }
    }

    h6 {
        font-weight: 800;
        font-size: 16px;
        line-height: 16px;
        color: white;
        padding: 16px;
    }
}

.product_service {
    p {
        width: 358px;
        height: 29px;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 120%;
        margin-top: 10px;
        letter-spacing: -0.01em;
        color: #1A1C1F;
    }
}






.arrow_function {
    margin-top: 2px;
    margin-left: 10px;
}

.content_design {
    p {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }
}

.looking_for {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 20px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
