@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.Program-terms-container {
  width: 100%;
  background: linear-gradient(rgba(124, 124, 124, 0.56), rgba(54, 54, 54, 0.58))
      50% center / cover no-repeat,
    url("../../../../assets/images/programTermBanner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 60px 0px 60px;
  border-radius: 20px;
  .programTerms-title {
    color: $white;
  }
  .program-terms-banner-card {
    background-color: $white;
    box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
    border-radius: 12px;
    .program-terms-banner-card-title {
      color: $primary-tw;
      @include media-breakpoint-med-desktop {
        font-size: fontSize(22);
      }
    }
    .program-terms-banner-card-para {
      color: $newLight-tw;
      width: 100%;
      max-width: 239px;
      @include media-breakpoint-med-desktop {
        font-size: fontSize(16);
      }
    }
  }
  #align-commenceCard {
    position: relative;
    bottom: 25px;
  }
  #align-WinterCard {
    position: relative;
    bottom: 50px;
  }
  #align-OldCard {
    position: relative;
    bottom: 100px;
  }
}
