@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.teleMedicine-LandingContainer {
	#teleMedicine-sub-home-container {
		padding: 65px 24px 65px 60px;
	}
	.teleMedicine-carBanner {
		position: absolute;
		top: -150px;
		right: -15px;
		width: 500px;
		height: 560px;
	}
	.benifitTeleMedProgressLine {
		width: 25%;
		background-color: rgba(217, 220, 225, 1);
		padding: 1px;
		z-index: 9;
		position: absolute;
		left: 35%;
		top: 58%;
	}
}

@include media-breakpoint-med-desktop {
	.teleMedicine-LandingContainer {
		.benifitTeleMedProgressLine {
			width: 28%;
			background-color: rgba(217, 220, 225, 1);
			padding: 1px;
			z-index: 9;
			position: absolute;
			left: 33%;
			top: 58%;
		}
	}
}
