.pc_quote_container {
  padding: 24px 16px;

  h4 {
    font-weight: 800;
    font-size: 24px;
    color: Black;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .quote_form {
    .loginInputFieldOne {
      margin-bottom: 12px;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 4px;
      align-items: center;
      display: flex;
    }
  }

  .Engineering_content {
    h4 {
      font-weight: 800;
      font-size: 16px;
      margin-bottom: 24px;
    }
    label {
      margin-left: 8px;
      color: #455560;
      display: inline-flex;
    }
    hr {
      width: 56vh;
      margin-left: 19px;
    }
  }

  .Pc_Bottom_content {
    textarea {
      width: 100%;
      height: 150px;
      resize: none;
      padding: 16px;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 4px;
      border: none;
    }
    button {
      padding: 0px 24px;
      width: 358px;
      height: 54px;
      background: #f47b20;
      border-radius: 8px;
      border: none;
      color: #ffffff;
      margin-top: 24px;
    }
    ::-webkit-input-placeholder {
      display: flex;
      margin-left: 16px;
      margin-top: 16px;
    }
  }
}
