.maintable_motor{
    table,
    th,
    td {
        border: none;
        border-collapse: collapse;
        padding: 8px;
        font-size: 11px;
        width: 100%;
        border-radius: 5px;
        font-family: 'Bliss 2';
        color: #455560;
        
    }
    
    tr:nth-child(even) {
        background-color: #ffff;
        font-family: 'Bliss 2';
    }
    .topborder {
       border-top: 1px solid  #F47B20 !important; 
       border-radius: 5px;
      
    }
    td:nth-child(1) {
        border-right:1px solid  #F47B20 !important;

       }
    td:nth-child(2){

        border-right:1px solid  #F47B20 !important;
    }
   
    .lastrow {
        border-bottom:1px solid  #F47B20 !important;
       
    }
    .bestseller{
        background:  #F47B20;
        height: 10px;
        width: 100%;
        color: #ffff;
        border-radius: 2px !important;

        p{
            margin-top: 2px;
        }
    }
      

   
}
