.all_products_container {

    .product_sticky_header {
        background: #FFFFFF;
        position: relative;
        z-index: 10;

        .all_products {
            display: flex;
            align-items: center;
            padding: 0px 0px 20px 16px;

            .product_body {
                overflow-x: auto;
                display: flex;
                align-items: center;

                button {
                    padding: 10px;
                    width: 107px;
                    height: 42px;
                    font-weight: 600;
                    font-size: 14px;
                    color: #455560;
                    background: white;
                    margin-right: 20px;
                    margin-bottom: 0px;
                    text-align: center;
                    border: none;
                    background: #F2F3F5;
                    border-radius: 4px;

                }

                .active {
                    font-weight: 400;
                    font-size: 16px;
                    color: #FFFFFF;
                    background: #EE7500;
                }
            }
        }

    }

    .product_list_container {
        position: relative;

        .banner_image {
            width: 100%;
            border-radius: 0px 0px 20px 20px;
        }

        .banner_image_first {
            width: 100%;
            border-radius: 0px 0px 10px 10px;
            position: relative;
            top: -10px;
        }

        .image_body_content {
            position: absolute;
            top: 32px;
            left: 16px;
            color: #FFFFFF;

            h6 {
                font-size: 24px;
                font-weight: 800;
            }

            p {
                font-size: 12px;
                font-weight: 400;
            }
        }

        .product_card_container {
            padding: 16px 16px 0px;
            margin: 0px;
            position: relative;
            top: -60px;
            width: 100%;
        }

        .card_full {
            max-width: 100% !important;
        }

        .product_card_lists {
            max-width: 47%;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 8px;
            margin-bottom: 16px;
            height: 214px;
            padding: 16px;

            h6 {
                margin-top: 16px;
                font-weight: 800;
                font-size: 18px;
                color: #1A1C1F;
            }

            p {
                font-weight: 400;
                font-size: 12px;
                color: #455560;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-bottom: 0px;
                height: 50px;
            }


        }

        .product_card_lists:nth-child(odd) {
            margin-right: 16px;
        }
    }
}


.scrollcards {
    overflow: auto;
    white-space: pre;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.mobile_sticky_bottom_menu {
    display: none;
}