@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.dashboard-policies-page {
    padding-top: 20px;
    border-bottom: 1px solid #1a1c1f1a;
    padding-bottom: 40px;
    margin-bottom: 20px;
    .iframe-map-policies {
        margin-top: 0;
      
        iframe {
          position: relative;
          padding: "20px 0px 20px 20px";
          border: "none";
          margin-left: 20px;
          border-radius: 10px;
        }
      
        .dashboard-map-form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          width: fit-content;
          position: absolute;
          top: 5%;
          left: 10%;
      
          .header-Search {
            border-radius: 30px;
            width: 270px;
            border: none;
            background-color: $white;
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
          }
      
          input {
            width: 100%;
          }
      
          ul {
            display: flex;
            width: 100%;
            padding-left: 0;
      
            li {
              list-style: none;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 70px;
              height: 64px;
              background: #ffffff;
              box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
              border-radius: 4px;
              margin-top: 10px;
      
              &:not(:nth-child(0)) {
                margin-left: 10px;
              }
      
              img {
                margin-bottom: 5px;
              }
      
              span {
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;
                color: #455560;
              }
            }
          }
        }
    }
    .dashboard_new_main_container_policies {
        // min-height: 465px;
        background: hsl(0, 0%, 100%);
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 8px;
        padding: 30px;
        height: 100%;
        margin-bottom: 30px;
        .view_all_cards {
          position: absolute;
          bottom: 60px;
          left: 50px;
          font-weight: 800;
          font-size: 12px;
          text-transform: uppercase;
          color: #455560;
          margin-top: 20px;
          z-index: 10;
          cursor: pointer;
      
          img {
            padding-right: 10px;
          }
        }
        .dashboard-your-policies-slider {
            padding-bottom: 20px;
            .slick-slide {
                padding-right: 20px;
            }
            .slick-dots {
                text-align: left;
                bottom: -10px;
                li {
                    button {
                        &:before {
                            color: $orange-tw;
                        }
                    }
                }
            }
        }
        .dashboard_card_container {
          display: flex;
          justify-content: center;
          .card_swap {
            position: absolute;
            height: 308px;
            width: 80%;
      
            .travel_policy_card_container {
              position: absolute;
              width: 100%;
              bottom: 55px;
            }
      
            .motor_policy_card_container {
              position: absolute;
              width: 100%;
              bottom: 21px;
            }
      
            .policy_card_container {
              position: absolute;
              width: 100%;
              top: 114px;
              margin-bottom: 0px;
            }
          }
      
          .policy_list_view {
            width: 100%;
            padding-top: 0px;
            transition: all 0.5s linear;
            .policy_card_container,
            .motor_policy_card_container,
            .travel_policy_card_container {
              margin-bottom: 9px;
              position: relative;
            }
          }
        }
    }
}