@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.surpluscard {
	border-radius: 13px !important;
	box-shadow: 0 0 2px 2px #fff;
	padding: 25px 50px 150px 30px;
	border: none;
	// background: url("../../../../assets/svg/Layer1.svg");
	background-color: #ffff;
	background-repeat: no-repeat !important;
	background-position: right !important;
	background-size: contain !important;
	.layerOneBanner {
		position: absolute;
		right: 0px;
		top: -4%;
		width: 850px;
		height: 600px;
	}
}
.surpluscard2 {
	border-radius: 13px !important;
	box-shadow: 0 0 2px 2px #fff;
	height: auto;
	border: none;
	background: $primary-tw;
}
.surplusCircleOne {
	position: absolute;
	right: 37%;
	bottom: 20px;
	width: 320px;
	height: 200px;
}
.surplusCircleTwo {
	position: absolute;
	right: 0%;
	top: -10px;
	width: 320px;
	height: 200px;
}
.accordiancard {
	border-radius: 5px !important;

	box-shadow: 0 0 2px 2px #fff;

	border: none;
}
.accord-hdg {
	background: #ffff !important;
}
.accordion-button {
	background-color: #ffff !important;
	border: 1px solid #ffff;
	font-size: fontSize(17) !important;
}
.accord-ptag {
	margin-left: 20px;
}

.surplush4 {
	font-weight: bold;
}
.surplusptag {
	color: #4c565c !important;
	font-style: normal;
	font-weight: 400;
	width: 100%;
	max-width: 590px;
}
.applySurplusBtn{
	width:100%;
	color: $white;
	background-color: $orange-tw;
	border: none;
	border-radius: 8px !important;
	font-size: fontSize(16);
	font-weight: 400;
}
.surplusLearnmoreBtn{
	width:100%;
	max-width: 200px;
	color: $primary-tw;
	background-color: $white;
	border: 1px solid $primary-tw;
	border-radius: 8px !important;
	font-size: fontSize(16);
	font-weight: 400;
}
.surplus-btn {
	border-radius: 10px !important;
	background: #ee7500;
	border: none;
	cursor: pointer;
}

.surplus-btn2 {
	border-radius: 10px !important;
	background: #ffff;
	border: 2px solid #ee7500;
	cursor: pointer;
	color: #ee7500;
}
.surplus-btn-c2 {
	border-radius: 10px !important;
	background: #ffff;
	border: none;
	cursor: pointer;
	float: right;
	color: black;
}
.surplus-btn:hover {
	background: #ffff;
	color: #ee7500;

	border: 1px solid #ee7500;
}

.surplus-btn2:hover {
	background: #ffff;
	color: #ee7500;

	border: 1px solid #ee7500;
}

.verticalLine {
	border-right: 1.5px solid rgba(26, 28, 31, 0.1);
}
.mainBannerParas {
	width: 100%;
	max-width: 345px;
	color: $light-tw;
}
.surpluswidth {
	width: 140%;
}
.space {
	width: 20px;
}

.card2-h4 {
	color: #ffff;
}
.surplusptag2 {
	color: #ffff !important;
	width: 100%;
	max-width: 680px;
}

.language-alignment-right {
	.surpluscard {
		.layerOneBanner {
			right: auto;
			left: 0;
			transform: rotateY(180deg);
		}
	}
	.verticalLine {
		border-left: 1.5px solid rgba(26, 28, 31, 0.1);
		border-right: 0;
	}
	.surplus-btn-c2 {
		float: left;
		img {
			transform: rotate(180deg);
		}
	}
	.surplusLearnmoreBtn {
		margin-right: 0.5rem;
	}
}

@include media-breakpoint-med-desktop {
	.surpluscard {
		border-radius: 13px !important;
		box-shadow: 0 0 2px 2px #fff;
		padding: 25px 50px 130px 50px;
		border: none;
		// background: url("../../../../assets/svg/Layer1.svg");
		background-color: #ffff;
		background-repeat: no-repeat !important;
		background-position: right !important;
		background-size: contain !important;
		.layerOneBanner {
			position: absolute;
			right: 0px;
			top: -10%;
			width: 850px;
			height: 580px;
		}
	}
	.surplusptag {
		font-size: fontSize(14);
		width: 100%;
		max-width: 530px;
	}
	.mainBannerParas {
		font-size: fontSize(12) !important;
		width: 100%;
		max-width: 320px;
	}
	.surplusptag2 {
		font-size: fontSize(12) !important;
	}
}

@include media-breakpoint-tab-land {
	.surpluscard {
		border-radius: 13px !important;
		box-shadow: 0 0 2px 2px #fff;
		padding: 20px 50px 90px 50px;
		border: none;
		// background: url("../../../../assets/svg/Layer1.svg");
		background-color: #ffff;
		background-repeat: no-repeat !important;
		background-position: right !important;
		background-size: contain !important;
		.layerOneBanner {
			position: absolute;
			right: 0px;
			top: -23%;
			width: 670px;
			height: 600px;
		}
	}
	.surplush {
		font-size: fontSize(18);
	}
	.surplusptag {
		font-size: fontSize(10);
		width: 100%;
		max-width: 380px;
	}
	.surplush4 {
		font-size: fontSize(16) !important;
	}
	.mainBannerParas {
		font-size: fontSize(9) !important;
		width: 100%;
		max-width: 240px;
	}
	.surplusptag2 {
		font-size: fontSize(9) !important;
	}
	.surplusCircleOne {
		position: absolute;
		right: 29%;
		bottom: 10px;
	}
	.surplusCircleTwo {
		position: absolute;
		right: 1%;
		top: 0px;
		width: 270px;
		height: 160px;
	}
}
