@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.dashboard-products-and-offerings-insurance-card {
    .card-with-background {
        padding: 20px;
        border-radius: 12px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        display: flex;
        flex-direction: column;
        min-height: 300px;
        color: $white;
        @include media-breakpoint-tab-port {
            min-height: 280px;
        }
        @include media-breakpoint-med-desktop {
            min-height: 280px;
        }
        .top-content {
            display: flex;
            align-items: center;
            font-weight: 800;
            font-size: fontSize(12);
            line-height: 120%;
            text-transform: uppercase;
            img {
                margin-right: 10px;
            }
        }
        .bottom-content {
            padding-top: 15px;
            margin-top: auto;
            display: flex;
            align-items: flex-end;
            img {
                margin-left: 15px;
            }
            .insurance-card-title {
                font-weight: 800;
                font-size: fontSize(34);
                line-height: 120%;
                margin-bottom: 10px;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(22);
                }
                @include media-breakpoint-med-desktop {
                    font-size: fontSize(28);
                }
            }
            .insurance-card-description {
                font-weight: 400;
                font-size: fontSize(14);
                line-height: 140%;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(12);
                }
                @include media-breakpoint-med-desktop {
                    font-size: fontSize(11);
                }
            }
        }
    }
    .card-with-white-bg {
        background: $white;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        min-height: 300px;
        @include media-breakpoint-tab-port {
            min-height: 280px;
        }
        @include media-breakpoint-med-desktop {
            min-height: 280px;
        }
        .white-card-title {
            font-weight: 800;
            font-size: fontSize(22);
            line-height: 120%;
            color: $black;
            margin-bottom: 10px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(16);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(18);
            }
        }
        .white-card-subtitle {
            font-weight: 400;
            font-size: fontSize(16);
            line-height: 140%;
            color: $light-tw-2;
            margin-bottom: 10px;
            @include media-breakpoint-tab-port {
                font-size: fontSize(11);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(13);
            }
        }
        .white-card-description {
            font-weight: 400;
            font-size: fontSize(13);
            line-height: 140%;
            color: #455560b3;
            @include media-breakpoint-tab-port {
                font-size: fontSize(10);
            }
            @include media-breakpoint-med-desktop {
                font-size: fontSize(11);
            }
        }
        .top-content {
            padding: 20px;
        }
        .bottom-content {
            padding: 10px 20px;
            border-top: 1px solid #1a1c1f1a;
            display: flex;
            align-items: center;
            margin-top: auto;
            @include media-breakpoint-tab-port {
                padding: 10px 15px;
            }
            .explore-more {
                display: flex;
                align-items: center;
                color: $light-tw;
                font-weight: 800;
                font-size: fontSize(12);
                text-transform: uppercase;
                line-height: 120%;
                cursor: pointer;
                @include media-breakpoint-tab-port {
                    font-size: fontSize(9);
                }
                @include media-breakpoint-med-desktop {
                    font-size: fontSize(10);
                }
                img {
                    width: 12px;
                    margin-left: 10px;
                }
            }
            .get-quote {
                margin-left: auto;
                padding-left: 15px;
                @include media-breakpoint-tab-port {
                    padding-left: 5px;
                }
                button {
                    font-weight: 400;
                    font-size: fontSize(14);
                    line-height: 140%;
                    color: $orange-tw;
                    border: 1px solid $orange-tw;
                    border-radius: 6px;
                    background: transparent;
                    outline: 0;
                    padding: 8px 12px;
                    cursor: pointer;
                    @include media-breakpoint-tab-port {
                        font-size: fontSize(9);
                    }
                    @include media-breakpoint-med-desktop {
                        font-size: fontSize(11);
                    }
                }
            }
        }
    }
}