@import "../../../assets/scss/abstracts/abstracts";

.rtl {
	.faboutImgCard {
		.mr1 {
			margin-top: 100px;
		}

		.mr2 {
			margin-top: 50px;
			z-index: 1;
		}

		.mr3 {
			margin-top: 0;
			text-align: right;
		}
	}
}
.faboutImgCardContainer,
.faboutImgCard {
	width: auto;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	.mr1 {
	}

	.mr2 {
		margin-top: 50px;
		z-index: 1;
	}

	.mr3 {
		margin-top: 100px;
		text-align: right;
	}

	.faboutImgCc {
		margin-left: 20px;
		position: relative;
		flex: 0 0 calc(33.333% - 20px);
		img {
			height: auto;
			width: 100%;
		}

		.faboutImgTitlea,
		.faboutImgTitleb {
			font-weight: 800;
			font-size: fontSize(25);
			color: #ffffff;
			letter-spacing: -0.02em;
			line-height: 120%;
		}

		.faboutImgTitlea {
			position: absolute;
			top: 25px;
			left: 0;
			width: 100%;
			padding: 0 25px;
		}

		.faboutImgTitleb {
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			padding: 0 25px;
		}
	}
	@include media-breakpoint-med-desktop {
		.faboutImgCc {
			.faboutImgTitlea,
			.faboutImgTitleb {
				font-size: fontSize(26);
			}
		}
	}
}


@include media-breakpoint-tab-port {
	.faboutImgCardContainer,
	.faboutImgCard {
		.faboutImgCc {
			margin-left: 7px;
			flex: 0 0 calc(33.333% - 7px);
			.faboutImgTitlea {
				font-size: fontSize(16)
			}
			.faboutImgTitleb {
				font-size: fontSize(16)
			}
			.faboutImgTitlec {
				font-size: fontSize(16)
			}
		}
	}
}
