.investors_relation_container {
    .content_section {
        // padding: 16px;
    }

    .invest_intro_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 215px;

        .invest_intro_header_iframe {
            position: absolute;
            transform: translateY(-50px);
        }
    }

    .invest_intro_para {
        p {
            font-weight: 400;
            font-size: 16px;
            color: #455560;
            padding: 0px 16px;
        }
    }
}