.InsuranceFraudContainer{
    width: 1540px;
    height: 470px;
    border-radius: 20px;
    display: flex;
}
.shieldContainer{
    position: relative;
}
.backShield{
    
}
.frontShield{
    background-color:blue;
}



