.login_page_mobile {
    h5 {
        font-weight: 700;
        font-size: 28px;
        color: #213039;
        padding-top: 60px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        color: #4C565C;
        margin-bottom: 81px;
    }

    .authContinueBtn {
        background-color: #EE7500;
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        color: white;
        height: 54px;
        cursor: pointer;
    }

    .card_container {
        margin-top: 16px;
        background: #F2F3F5;
        border-radius: 12px;
        padding: 20px;
        min-height: 250px;



        .normal-search {
            .leftIcon {
                top: 35%;
            }

            .searchBox {
                box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
                border-radius: 4px;
                height: 54px;
                margin-bottom: 24px;
                padding-left: 63px;
            }
        }

        .phone-number-input-common {
            input {
                height: 54px;
                padding-left: 20px;
            }
        }

        .dateIconBox {
            top: 0px;

            .dateIcon {
                bottom: -38px
            }
        }

        .selectIconBox {
            top: 13px
        }

        .react-datepicker-wrapper {
            box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
            border-radius: 4px;
            height: 54px;
            margin-bottom: 24px;
            outline: none;

            .loginDatePicker {
                height: 54px;
                padding-left: 65px;
            }
        }

        .phone-number-input-common {
            z-index: 0;
        }
    }

    .single_input_container {
        min-height: 200px;
    }

    .loginMobilePhoneInput {
        border-radius: 0px 8px 8px 0px;
        padding: 15px 15px;
    }

    #motorSelectInputWidth {
        max-width: 105px;
    }

    #loginMobileSelectFlexType {
        display: flex;
        padding: 15px 20px;
        justify-content: space-around;
        align-items: center;
    }
}

.verify_page {

    .resendText,
    .noVerifyCodeMsg {
        color: #4C565C;
        font-weight: 400;
        font-size: 14px;
        color: #4C565C;
        text-align: center;
        padding: 24px 0px;
        margin: 0px;
    }

    .noVerifyCodeMsg {
        padding-top: 0px;

        .resendAgainLink {
            color: #EE7500;
            cursor: pointer;
        }
    }
}