.tint-image-card-container {
	.tint-image-container {
		border-radius: 12px;
		padding: 40px;

		.tint-text-top {
			margin-bottom: auto;
		}

		.tint-text-bottom {
			margin-top: auto;
		}

		.tint-img-innerText {
			height: 100%;
			font-family: "Bliss 2";
			font-style: normal;
			font-weight: 800;
			font-size: 26px;
			line-height: 32px;
			letter-spacing: -0.02em;
			color: #ffffff;
		}
	}
}
