.vitality_container {
  .Tawuniya_Vitality {
    display: flex;
    align-items: center;
    margin-left: 16px;

    img {
      margin-top: 24px;
      margin-left: 9px;
    }
  }

  .Vitality_Topic {
    margin: 16px 16px 32px;

    .vitality_more {
      font-weight: 800;
      font-size: 24px;
      color: #1a1c1f;
      margin-left: 16px;
      margin-top: 16px;
    }

    .vitality_pioneer {

      font-weight: 400;
      font-size: 16px;
      color: #455560;
      margin: 8px 16px 32px 16px;
    }
  }

  .Download_button {
    background-color: #f2f3f5;
    border: 2px solid #679ab4;
    color: #679ab4;
    border-radius: 13px;
    margin-left: 11px;
    padding: 0px 16px 0px 24px;
    width: 173px;
    height: 54px;
    gap: 8px;
  }

  .Vitality_Lifestyle {
    margin-top: 32px;
    padding: 0px 16px;
    width: 100%;
  }

  .Vitality_Question {
    font-weight: 800;
    font-size: 24px;
    margin-top: 16px;
    margin-left: 16px;
    p{
      margin: 8px 16px 0px 16px;
    }
  }

  .Vitality_content {
    p {
      font-weight: 400;
      font-size: 16px;
      margin: 8px 16px 0px 16px;
    }

    img {
      width: 100%;
      padding: 0px 8px;
      margin-top: 32px;
    }
  }

  .Vitality_Work {
    position: relative;
    margin-top: 32px;

    img {

      border-radius: 32px;
      width: 100%;
      padding: 0px 10px;
    }


    .Vitality_work_content {
      padding: 0px 35px;
      font-size: 16px;

      color: #ffffff;
      top: 6%;
      position: absolute;

      h4 {
        font-weight: 800;
        font-size: 24px;

      }

      h6 {
        font-weight: 400;
        font-size: 16px;

      }

      p {
        font-weight: 400;
        font-size: 16px;

      }
    }
  }

  .vitality_banner {
    position: relative;
    margin-top: 16px;

    img {
      width: 100%;
      border-radius: 32px;
      padding: 0px 13px;

    }

    .vitality_home_body {
      position: absolute;
      top: 11%;
      padding: 0px 36px;
      color: #1a1c1f;

      h5 {
        font-weight: 800;
        font-size: 24px;
        text-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

      }

      h6 {
        font-weight: 400;
        font-size: 16px;
        color: #1A1C1F;
        text-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);

      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: #1A1C1F;
        text-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      }
    }
  }

  .Vitality_lifestyle {
    background-image: url('../../../../assets/images/mobile/Vitality_Lifestyle1.svg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    p {
      font-weight: 800;
      font-size: 19px;
      color: white;
      margin: 0px 16px 16px;
    }
  }

  .Vitality_benefits {
    
    h4 {
      font-weight: 800;
      font-size: 24px;
      margin-top: 16px;
      margin-left: 16px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      margin-top: 8px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 16px;
      color: #455560;
    }
  }

  .pc_button_vitality {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 102px;
    background: #FFFFFF;
    box-shadow: 0px -8px 49px rgba(9, 30, 66, 0.15);
    border-radius: 12px 12px 0px 0px;

    .pc_button_pink {
      background: #DB1753;
      border-radius: 8px;
      border: navajowhite;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      position: fixed;
      left: 50%;
      bottom: 0px;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      padding: 19px;
      width: 90%;
      justify-content: center;
      display: flex;
    }
  }

}

.Vitality_Group {
  background-image: url('../../../../assets/images/mobile/Vitality_Group1.svg');
  height: 518px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  justify-content: center;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  h3 {
    font-weight: 800;
    font-size: 20px;
    color: white;
    width: 326px;
    display: flex;
    margin-left: 32px;
    margin-top: 120px;
  }

  span {
    color: white;
    margin-top: 24px;
    margin-left: 32px;
    width: 326px;
  }

  h4 {
    font-size: 20px;
    color: white;
    font-weight: 800;
    margin-left: 80px;
    margin-top: 30px;
  }

  .playbutton {
    height: 100px;
    margin-left: 32px;
    display: flex;
    align-items: center;

    img {
      width: 12%;
    }

    .watchfilm {
      color: white;
      font-weight: 800;
      font-size: 20px;
    }
  }

}


@media screen and (min-width: 320px) and (max-width: 360px) {
  .vitality_container {
    .Vitality_Topic {
      .vitality_more {
        font-size: 22px;
      }

      .vitality_pioneer {
        font-size: 14px;
      }

    }

    .Vitality_Question {
      font-size: 20px;
    }

    .Vitality_Work {

      .Vitality_work_content {
        h4 {
          font-weight: 800;
          font-size: 22px;
        }

        h6 {
          font-size: 13px;
        }

        p {
          font-size: 13px;
        }
      }


    }

    .Vitality_content {
      p {
        font-size: 14px;
      }
    }

    .vitality_banner {
      .vitality_home_body {
        h5 {
          font-size: 14px;
        }

        h6 {
          font-size: 13px;
        }

        p {
          font-size: 13px;
        }
      }
    }

    .Vitality_benefits {
      
      p {
        font-size: 14px;
        color: #455560;
      }

      h4 {
        font-size: 22px;
      }
    }



  }
}