// @import "../../../assets/scss/abstracts/abstracts";

// .offCanvasContainer {
//   padding: 30px;
//   background-color: $white;
//   .canvasContainerOne {
//     border-bottom: 2px solid #f2f3f5;
//     .canvasHeadingOne {
//       color: #262626;
//     }
//     .canvasSubHeadingOne {
//       color: #ee7500;
//     }
//     .lineSeperator {
//       padding: 0.5px;
//       background-color: #f2f3f5;
//     }
//     .canvasHeadingTwo {
//       transform: translateY(45px);
//     }
//     .canvasHeadingThree {
//       transform: translateY(45px);
//     }
//     .canvasClose {
//       width: 15px;
//       height: 15px;
//       position: relative;
//       top: 10px;
//     }
//   }
//   .canvasContainerTwo {
//     .canvasProducts {
//       font-size: 54px;
//       cursor: pointer;
//     }
//     #highlightProducts {
//       color: #262626;
//       cursor: pointer;
//     }
//     #nonHighlightProducts {
//       color: #b3b9c3;
//       cursor: pointer;
//     }
//     .otherProductsContents {
//       color: #262626;
//       cursor: pointer;
//     }
//     .otherProductSubContent {
//       color: #4c565c;
//       cursor: pointer;
//       &:hover {
//         color: #ee7500;
//         cursor: pointer;
//         font-weight: 700;
//       }
//     }
//   }
// }
// .offCanvasFooterContainer {
//   background-color: #f2f3f5;
//   padding: 0px 30px;
//   .canvasContainerThree {
//     .socialIcons {
//       width: 25px;
//       height: 25px;
//       transform: translateY(23px);
//       cursor: pointer;
//     }
//     .canvasButtonContainer {
//       position: relative;
//       top: 5px;
//       cursor: pointer;
//     }
//   }
// }
