@import "../../../../assets/scss/abstracts/abstracts";

.carWash-LandingContainer{
  #carWash-sub-home-container{
    padding: 65px 24px 65px 30px;
  }
  .carWash-carBanner {
    position: absolute;
    top:-103px;
    right: -15px;
    width: 630px;
    height: 560px;
  }
}