.cardContainer {
	display: flex;
	justify-content: space-between;
	.latestNewsCard {
		box-sizing: border-box;
		width: 235px;
		height: 270px;
		border-radius: 16px;
		background: #ffffff;
		box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
		border-radius: 12px;
		padding-right: 24px;
		padding-left: 24px;
		padding-top: 24px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 25px;
		.DateContainer {
			display: flex;
			justify-content: space-between;
			.buttonEl {
				height: 23px;
				padding: 5px 16px 6px;
				border-radius: 100px;
				background-color: #ee7500;
				font-weight: 400;
				font-size: 12px;
				line-height: 12px;
				border: none;
			}
			.dateEl {
				font-weight: 700;
				font-size: 14px;
				line-height: 19.6px;
			}
		}
		.latestNewsCardPar {
			font-weight: 800;
			font-size: 18px;
			line-height: 120%;
		}
	}
}
