@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.Road-accordionCollapseIcon {
	position: relative;
	top: 3px;
	width: 35px;
	height: 35px;
}

.needHelpContainer {
	// background-color: $white;
	.dashboard-needHelp-languageIcon {
		transform: translateY(100%);
	}
	.emergency-needHelp-DashboardBtn {
		background-color: $orange-tw;
		border-radius: 100px;
		font-size: 12px;
		font-weight: 400;
		color: $white;
		width: 100%;
		position: relative;
		top: 10%;
	}

	.recent-main-container {
		.recentTitle {
			color: $light-tw;
		}
		.recentContainer {
			padding: 25px 25px 10px 25px;
			background-color: $lightgrey-tw;
			border-radius: 8px;
			.timerText {
				color: $black;
			}
			.dashboard-progressLabel {
				color: $white;
				background-color: #6e9fbb;
				padding: 5px 10px 5px 10px;
				border-radius: 100px;
			}
			.recent-sub-container {
				background-color: $white;
				padding: 10px;
				border-radius: 4px;
				.userCarIcon {
					width: 40px;
					height: 40px;
				}
				.userCar {
					color: $light-tw;
				}
				.dashboard-userName {
					color: $black;
				}
			}
			.getHelpTxt,
			.vieDetailsTxt {
				color: $black;
			}
		}
	}
	.dashboard-languageIcon {
		transform: translateY(100%);
	}
	.emergencyDashboardBtn {
		background-color: $orange-tw;
		border-radius: 100px;
		font-size: 12px;
		font-weight: 400;
		color: $white;
		width: 100%;
		position: relative;
		top: 10%;
	}
	.subDashboardContainer {
		.needHelpTitle {
			color: $light-tw;
		}
		.searchDashboardContainer {
			background-color: $lightgrey-tw;
			padding: 25px;
			border-radius: 12px;
			.helptext {
				color: $light-tw;
			}
			.dashBoardheaderSearch {
				border-radius: 30px;
				width: 100%;
				border: none;
				background-color: $white;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			}
			.dashboard-helpIcons {
				background-color: $white;
				padding: 12px 12px 0px 12px;
				box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
				border-radius: 4px;
				width: 100%;
				height: 100%;
				cursor: pointer;
				.helpIconLabel {
					color: $light-tw;
				}
			}
		}
		.mostFaq {
			color: $light-tw;
			padding: 0px 0px 0px 18px;
		}
		.reportDashboardAccordionQuestion {
			border-bottom: 1px solid $lightgrey-tw;
			.reportDashboardQuestion {
				color: $black;
				text-align: left;
				width: 100%;
				max-width: 280px;
			}
			.reportDashboardAccordionAnswer {
				background-color: #f2f3f5;
				border-radius: 8px;
				text-align: left;
			}
			.addButton {
				background-color: transparent;
				border: none;
				padding: 0px;
			}
		}
	}
	.orangeNewArrow {
		width: 10px;
		height: 10px;
		cursor: pointer;
	}
	.orangeArrow {
		width: 15px;
		height: 15px;
		cursor: pointer;
	}
	.dashboard-socialIconBox {
		margin-top: 25px;
	}
}

@include media-breakpoint-med-desktop {
	.needHelpContainer {
		.dashboard-needHelp-languageIcon {
			width: 60px;
			height: 60px;
			position: absolute;
			top: -50px;
			left: 13%;
			z-index: 3;
		}
		.dashboard-needHelp-top-icons {
			width: 60px;
			height: 60px;
		}
		.emergency-needHelp-DashboardBtn {
			font-size: fontSize(12);
			width: 100%;
			height: 43px;
			position: relative;
			top: 10%;
			background-color: $orange-tw;
		}
	}
}

@include media-breakpoint-tab-land {
	.needHelpContainer {
		.dashboard-needHelp-languageIcon {
			width: 40px;
			height: 40px;
			position: absolute;
			top: -30px;
			left: 15%;
			z-index: 3;
		}
		.dashboard-needHelp-top-icons {
			width: 40px;
			height: 40px;
		}
		.emergency-needHelp-DashboardBtn {
			font-size: fontSize(10);
			width: 100%;
			height: 30px;
			position: relative;
			top: 10%;
			background-color: $orange-tw;
		}
	}
}
