@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.property-casualty-products-banner-common {
    padding-top: 40px;
    margin-bottom: 50px;
    .banner-bg {
        background: $white;
        border-radius: 20px;
    }
    .top-text-content {
        display: flex;
        margin-bottom: 25px;
        p {
            font-weight: 400;
            font-size: fontSize(18);
            line-height: 140%;
            color: $light-tw-2;
        }
        .text-content-left {
            flex: 0 0 60%;
            padding-right: 25px;
            .title {
                font-weight: 800;
                font-size: fontSize(40);
                line-height: 120%;
                color: $black;
                margin-bottom: 10px;
                max-width: 600px;
            }
        }
        .text-content-right {
            flex: 0 0 40%;
            padding-left: 25px;
            border-left: 1px solid #1a1c1f1a;
            .title {
                font-weight: 800;
                font-size: fontSize(24);
                line-height: 120%;
                color: $primary-tw;
                margin-bottom: 10px;
            }
        }
    }
    .banner-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 20px;
        text-align: center;
        padding: 30px 30px 0;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: #00000066;
            z-index: 1;
            border-radius: 20px;
        }
        .banner-text-content-root {
            min-height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: $white;
            position: relative;
            z-index: 2;
        }
        .banner-top {
            margin: auto 0;
            .title {
                font-weight: 800;
                font-size: fontSize(34);
                line-height: 120%;
                margin-bottom: 10px;
            }
            .description {
                font-weight: 400;
                font-size: fontSize(18);
                line-height: 140%;
                margin: 0 auto 25px;
                max-width: 700px;
            }
            .note {
                font-weight: 400;
                font-size: fontSize(12);
                line-height: 140%;
            }
        }
        .banner-bottom-root {
            padding-top: 20px;
            .banner-bottom-title {
                font-weight: 800;
                font-size: fontSize(24);
                line-height: 120%;
                margin-bottom: 20px;
            }
            .banner-bottom {
                display: flex;
                text-align: left;
                max-width: 860px;
                margin: 0 auto -28px;
                .bottom-card {
                    display: flex;
                    align-items: center;
                    padding: 7px 10px;
                    margin: 0 7px;
                    flex: 0 0 calc(25% - 14px);
                    background: $black;
                    box-shadow: 0px 10px 20px rgba(29, 37, 45, 0.1);
                    border-radius: 8px;
                    font-weight: 400;
                    font-size: fontSize(16);
                    line-height: 130%;
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .inputContainer-product-banner {
        width: 100%;
        max-width: 1000px;
        background-color: $white;
        box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
        border-radius: 12px;
        margin: 0 auto 25px;
        color: $black;
        text-align: left;
        .MuiFormControl-root {
            width: 100%;
        }
        .inputOne {
            width: 43%;
            border-right: 1px solid $lightgrey-tw;
            .inputTitleOne {
                position: relative;
                top: 13px;
                padding-left: 12px;
            }
            .inpOneField {
                border: none;
            }
        }
        .inputTwo {
            width: 43%;
            border-right: 1px solid $lightgrey-tw;
            .inputTitleTwo {
                position: relative;
                top: 13px;
                padding-left: 12px;
            }
            .bannerSelectInput {
                border: none;
                padding: 13px 14px;
                .selectArrowIcon {
                    top: -10px;
                }
                .Select__control {
                    min-height: 35px;
                }
            }
        }
        .inputThree {
            width: 43%;
            border-right: 1px solid $lightgrey-tw;
            .inputTitleThree {
                position: relative;
                top: 13px;
                padding-left: 12px;
            }
            .inpThreeField {
                border: none;
            }
        }
        .inpBtnField {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
            height: inherit;
            width: fit-content;
            padding: 0 15px;
            .buyButton {
                background-color: $orange-tw;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 400;
                color: $white;
                width: 100px;
            }
        }
    }
    .plans-for-future {
        padding: 100px 30px 80px;
        .title {
            font-weight: 800;
            font-size: fontSize(34);
            line-height: 120%;
            color: $black;
            margin-bottom: 10px;
            text-align: center;
        }
        .subtitle {
            font-weight: 400;
            font-size: fontSize(16);
            line-height: 140%;
            color: $light-tw-2;
            margin-bottom: 30px;
            text-align: center;
        }
        .plans-for-future-list {
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            .content-box {
                margin: 0 10px;
                flex: 0 0 calc(25% - 20px);
                background: $white;
                border: 1px solid #D9DCE1;
                box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
                border-radius: 12px;
                padding: 15px;
                .box-top {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    border-bottom: 1px solid #1a1c1f1a;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    .box-top-left {
                        .box-title {
                            font-weight: 800;
                            font-size: fontSize(24);
                            line-height: 120%;
                            color: $primary-tw;
                            margin-bottom: 10px;
                        }
                        .box-description {
                            font-weight: 800;
                            font-size: fontSize(16);
                            line-height: 120%;
                            color: $black;
                        }
                    }
                    .box-top-right {
                        margin-left: 15px;
                    }
                }
                .box-bottom {
                    button {
                        display: flex;
                        align-items: center;
                        margin-left: 0;
                        outline: 0;
                        justify-content: center;
                        text-align: center;
                        border: 0;
                        background: $orange-tw;
                        border-radius: 8px;
                        height: 42px;
                        padding: 7px 20px;
                        font-weight: 400;
                        font-size: fontSize(14);
                        color: $white;
                    }
                }
            }
        }
    }
    .plans-for-future-my-family {
        padding: 100px 30px 80px;
        .title {
            font-weight: 800;
            font-size: fontSize(34);
            line-height: 120%;
            color: $black;
            margin-bottom: 10px;
            text-align: center;
        }
        .subtitle {
            font-weight: 400;
            font-size: fontSize(16);
            line-height: 140%;
            color: $light-tw-2;
            margin-bottom: 30px;
            text-align: center;
        }
        .plans-for-future-list {
            display: flex;
            max-width: 1200px;
            margin: 0 auto 30px;
            .content-box {
                margin: 0 10px;
                flex: 0 0 calc(25% - 20px);
                background: $white;
                border: 1px solid #D9DCE1;
                box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
                border-radius: 12px;
                padding: 15px;
                .box-top {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    border-bottom: 1px solid #1a1c1f1a;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    .box-top-left {
                        .box-title {
                            font-weight: 800;
                            font-size: fontSize(24);
                            line-height: 120%;
                            color: $primary-tw;
                            margin-bottom: 15px;
                        }
                        .box-subtitle {
                            font-weight: 400;
                            font-size: fontSize(12);
                            line-height: 140%;
                            color: #818B9B;;
                        }
                        .box-price {
                            font-weight: 800;
                            font-size: fontSize(20);
                            line-height: 120%;
                            color: #818B9B;;
                        }
                    }
                    .box-top-right {
                        margin-left: 15px;
                    }
                }
                .box-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .compare {
                        color: $light-tw-2;
                        font-weight: 800;
                        font-size: fontSize(12);
                        line-height: 120%;
                    }
                }
            }
        }
        .plans-description {
            font-weight: 400;
            font-size: fontSize(16);
            line-height: 140%;
            color: $light-tw-2;
            text-align: center;
            max-width: 1050px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        button {
            display: flex;
            align-items: center;
            margin-left: 0;
            outline: 0;
            justify-content: center;
            text-align: center;
            border: 0;
            background: $orange-tw;
            border-radius: 8px;
            height: 42px;
            padding: 7px 20px;
            font-weight: 400;
            font-size: fontSize(14);
            color: $white;
        }
        .grey-bg-box {
            background: $lightgrey-tw;
            border-radius: 12px;
            max-width: 1260px;
            margin: 0 auto;
            padding: 38px 30px 38px 372px;
            position: relative;
            z-index: 1;
            .bg-image {
                position: absolute;
                bottom: -8px;
                left: 0;
            }
            .box-content {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .box-content-left {
                    .box-content-title {
                        font-weight: 800;
                        font-size: fontSize(34);
                        line-height: 120%;
                        color: $black;
                        margin-bottom: 15px;
                    }
                    .box-content-description {
                        color: $light-tw-2;
                        font-weight: 400;
                        font-size: fontSize(16);
                        line-height: 140%;
                    }
                }
                .box-content-right {
                    margin-left: 20px;
                }
            }
        }
    }
    .plans-for-your-trip {
        padding: 100px 30px 80px;
        .title {
            font-weight: 800;
            font-size: fontSize(34);
            line-height: 120%;
            color: $black;
            margin-bottom: 10px;
            text-align: center;
        }
        .subtitle {
            font-weight: 400;
            font-size: fontSize(16);
            line-height: 140%;
            color: $light-tw-2;
            margin-bottom: 40px;
            text-align: center;
        }
        .plans-for-your-trip-content-root {
            max-width: 1200px;
            margin: 0 auto;
        }
        .plans-for-your-trip-content {
            padding: 0 1rem;
            font-weight: 500;
            font-size: fontSize(16);
            line-height: 130%;
            color: $black;
            > div {
                padding: 10px 0;
            }
            .bottom-bordered {
                border-bottom: 1px solid #1a1c1f1a;
            }
            .grey-bg {
                background: #F9FAFC;
            }
            .title-block {
                color: $orange-tw;
                font-weight: 900;
                font-size: fontSize(20);
                line-height: 120%;
            }
            strong {
                color: $light-tw-2;
                font-weight: 900;
                line-height: 140%;
                font-size: fontSize(18);
            }
            .title-block-black {
                font-weight: 900;
                font-size: fontSize(20);
                line-height: 120%;
                padding: 15px 0;
            }
        }
        .more-benefits {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 30px;
            > div {
                color: $black;
                font-weight: 800;
                font-size: fontSize(16);
                line-height: 120%;
                text-transform: uppercase;
                img {
                    transform: rotate(90deg);
                    margin-left: 15px;
                    width: 14px;
                }
            }
        }
        .bottom-box-content {
            background: $lightgrey-tw;
            padding: 30px;
            display: flex;
            align-items: center;
            border-radius: 12px;
            justify-content: space-between;
            .content-left {
                font-weight: 800;
                font-size: fontSize(28);
                line-height: 120%;
                color: $black;
            }
            .content-right {
                display: flex;
                align-items: center;
                padding-left: 10px;
                button {
                    display: flex;
                    align-items: center;
                    margin-left: 0;
                    outline: 0;
                    justify-content: center;
                    text-align: center;
                    border: 0;
                    background: $orange-tw;
                    border-radius: 8px;
                    height: 42px;
                    padding: 7px 20px;
                    font-weight: 400;
                    font-size: fontSize(14);
                    color: $white;
                    margin-left: 10px;
                }
            }
        }
    }
    @include media-breakpoint-tab-port {
        .inputContainer-product-banner {
            .inputOne {
                width: 40%;
                .inputTitleOne {
                    font-size: fontSize(12);
                }
            }
            .inputThree {
                width: 40%;
                .inputTitleThree {
                    font-size: fontSize(12);
                }
            }
            .inpBtnField {
                margin-right: 0;
                .buyButton {
                    font-size: fontSize(12);
                }
            }
            .normal-input {
                .MuiInputBase-input {
                    font-size: fontSize(12);
                    padding-top: 24px;
                    padding-bottom: 14px;
                }
            }
        }
    }
}