@import "../../../../assets/scss/abstracts/abstracts";

.board-of-directors-tree-view {
    padding-bottom: 50px;
    .chairman-details {
        .card-root {
            margin-bottom: 50px;
            position: relative;
            z-index: 1;
            &:after {
                content: "";
                border-right: 1px dashed $silver;
                position: absolute;
                height: 50px;
                right: 50%;
                top: 100%;
            }
        }
    }
    .director-details {
        position: relative;
        z-index: 1;
        margin-bottom: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .card-root {
            position: relative;
            z-index: 1;
            margin: 30px 0;
            margin-right: 20px;
            &::before {
                content: "";
                border: 1px dashed $silver;
                border-bottom: 0;
                position: absolute;
                height: 30px;
                width: calc(100% + 20px);
                left: 50%;
                bottom: 100%;
                border-left-width: 0;
            }
            &::after {
                content: "";
                border: 1px dashed $silver;
                border-top: 0;
                position: absolute;
                height: 30px;
                width: calc(100% + 20px);
                left: 50%;
                top: 100%;
                border-left-width: 0;
            }
            &:first-child {
                &::after {
                    border-left-width: 1px;
                }
                &::before {
                    border-left-width: 1px;
                }
            }
            &:last-child {
                margin-right: 0;
                &::after {
                    border: 0;
                }
                &::before {
                    border: 0;
                }
            }
        }
        &:after {
            content: "";
            border-right: 1px dashed $silver;
            position: absolute;
            height: 50px;
            right: 50%;
            top: 100%;
        }
    }
    .officer-details {
        position: relative;
        z-index: 1;
        padding-top: 30px;
        margin-bottom: 50px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        // flex-wrap: wrap;
        .card-root {
            position: relative;
            z-index: 1;
            margin-right: 20px;
            &::before {
                content: "";
                border: 1px dashed $silver;
                border-bottom: 0;
                border-left-width: 0;
                position: absolute;
                height: 30px;
                width: calc(100% + 20px);
                left: 50%;
                bottom: 100%;
            }
            &:first-child {
                &:before {
                    border-left-width: 1px;
                }
            }
            &:last-child {
                margin-right: 0;
                &:before {
                    display: none;
                }
            }
        }
        @media (max-width: 1600px) {
            .card-root {
                margin-right: 10px;
                &::before {
                    width: calc(100% + 10px);
                }
            }
        }
    }
}
.language-alignment-right { 
    .board-of-directors-tree-view {
        .chairman-details {
            .card-root {
                &:after {
                    right: auto;
                    left: 50%;
                }
            }
        }
        .director-details {
            &:after {
                right: auto;
                left: 50%;
            }
            .card-root {
                margin-right: 0;
                margin-left: 20px;
                &:last-child {
                    margin-left: 0;
                }
                &::before {
                    left: auto;
                    right: 50%;
                    border-left-width: 1px;
                    border-right-width: 0;
                }
                &::after {
                    left: auto;
                    right: 50%;
                    border-left-width: 1px;
                    border-right-width: 0;
                }
                &:first-child {
                    &::before {
                        border-right-width: 1px;
                    }
                    &::after {
                        border-right-width: 1px;
                    }
                }
            }
        }
        .officer-details {
            .card-root {
                margin-right: 0;
                margin-left: 20px;
                &:last-child {
                    margin-left: 0;
                }
                &::before {
                    left: auto;
                    right: 50%;
                    border-left-width: 1px;
                    border-right-width: 0;
                }
                &:first-child {
                    &::before {
                        border-right-width: 1px;
                    }
                }
            }
        }
    }
}