@import "../../../../assets/scss/abstracts/abstracts";

.insurance-program-banner {
    position: relative;
    z-index: 1;
    .banner-content {
        height: 500px;
        background-color: $silver;
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        padding: 0 50px;
        .banner-title {
            color: $white;
            text-align: center;
            min-height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-size: fontSize(40);
            font-weight: 700;
            max-width: 800px;
            margin: auto;
        }
    }
    .banner-card {
        background: $white;
        max-width: 850px;
        margin: auto;
        box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
        border-radius: 20px;
        padding: 30px;
        margin-top: -160px;
        h2 {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-size: fontSize(22);
            font-weight: 400;
            color: $black;
            margin-bottom: 20px;
            line-height: 1.4;
        }
        p {
            margin: 0;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-size: fontSize(16);
            font-weight: 400;
            color: $light-tw;
        }
    }
}