.road_assistance_header_banner {
    .road_assistance_header {
        height: 158px;
        background: #8BB2C9;
        border-radius: 0px 0px 20px 0px;
        position: relative;

        .close_icon {
            position: absolute;
            right: 5%;
            top: 10%
        }

        .title_banner_mobile {
            position: absolute;
            top: 40%;
            left: 5%;

            h6 {
                font-weight: 400;
                font-size: 12px;
                color: white;
                margin-bottom: 0px;
            }


            h5 {
                font-weight: 800;
                font-size: 20px;
                color: white;
            }

        }
    }
}