.mobile_sticky_bottom_menu {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;

    .third-footer {
        background-image: url("../assets/images/mobile/thirdbg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 500px;
        height: 145px;
        border: none !important;
    }

    .footer-icons {

        position: relative;
        top: 50%;

        .footer_body {
            display: flex;
            justify-content: space-around;

            p {
                font-weight: 500;
                font-size: 12px;
                margin: 0px;
            }

            .active_menu {
                color: #EE7500;
            }

            .greenball-placing {
                position: relative;
                left: 8px;
                top: -55px;
            }
        }

    }
}