.financial-mobile {
  .awards {
    margin: 0px 16px;
    position: relative;
    // top: -10px;

    h5 {
      color: #1a1c1f;
     
      font-weight: 800;
      margin-top: 24px;
      padding-bottom: 16px;
      font-size: 21px;

      span {
        color: #679AB4;
      }
    }

    .awards-accomplishments{
      color: #4c565c;
    font-size: 11px;
    font-weight: 800;
    position: relative;
    bottom: 12px;
    }

    .awards-title h6 {
      font-weight: 800;
      font-size: 22px;
      color: #1a1c1f;
      padding-bottom: 5px;
     
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: flex;

        .about_icon{
          padding-right: 13px;
          position: relative;

          img {
            position: relative;
            z-index: 9;
          }

          &::before {
            position: absolute;
            content: "";
            background: #4c565c;
            height: 66px;
            width: 1.4px;
            left: 11px;
            top: 30px;
            opacity: 0.7;
          }

          // &::after {
          //   position: absolute;
          //   content: "";
          //   height: 10px;
          //   width: 10px;
          //   top: -3px;
          //   left: 7px;
          //   z-index: 0;
          //   background: #f2f3f5;
          // }
        }

        .content {
          h6 {
            font-weight: 800;
            font-size: 14px;
            color: #1a1c1f;
            margin: 0;
          }

          p {
            font-weight: 400;
            font-size: 12px;
            color: #4c565c;
          }
        
        }
      }

      li:last-child {
        .about_icon {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .awards-2020{
    position: relative;
  bottom: 5px;
  }

  .highlights {
    padding-bottom: 10rem;
    position: relative;
    margin-right: 0;

    .related_news_scroll {
      white-space: pre;
      overflow: auto;
      padding: 16px;

      .news_slider_card {
        position: relative;
      }
    }

    .right_arrow_container label {
      color: white;
      position: relative;
    }

    .txt-size {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #ffffff;
      padding-left: 16px;
    }

    img.high-light {
      position: absolute;
      bottom: 0px;
    }

    h4 {
      color: #1a1c1f;
      font-weight: 700;
      padding-left: 16px;
    }

    p {
      color: #455560;
      font-size: 13px;
      font-weight: 400;
      padding-bottom: 24px;
      margin-bottom: 0px;
      padding-left: 16px;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.mobile_sticky_bottom_menu {
  display: none;
}



