.what-tawuniya-drive {
	position: relative;
	height: 500px;

	img {
		position: absolute;
		width: auto;
		height: 500px;
		left: calc(24%);
		bottom: 45%;
		transform: rotate(4.7deg);
	}

	.what-tawuniay-drive-text {
		width: 70%;

		h5 {
			font-family: "Bliss 2";
			font-style: normal;
			font-weight: 800;
			font-size: 40px;
			line-height: 48px;
			text-align: center;
			letter-spacing: -0.02em;
			color: #1a1c1f;
		}

		p {
			font-family: "Bliss 2";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
			color: #455560;
		}
	}
}
