@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	.mainBannerHeading {
		font-size: 25px;
	}
	.mainBannerPara {
		font-size: 11px;
		line-height: 18px;
	}
	.accord-ptag {
		font-size: 11px;
	}
	.medicalFraudMainContainer .medicalFaqSubContainer .accordianbg .faqParEl {
		font-size: 15px;
	}
	.medicalFraudMainContainer .canNotFindContainer .canNotFindMainHeading {
		font-size: 22px;
		line-height: 20px;
	}
	.medicalFraudMainContainer .canNotFindContainer .medical-ptag {
		font-size: 14px;
	}
	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.canNotFindSubCard
		.findContainerSubHeading {
		font-size: 9px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.canNotFindSubCard
		.findContainerSubPar {
		font-size: 10px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.canNotFindSubCard
		.findContainerSmallPar {
		font-size: 5px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.findContainerSubHeading {
		font-size: 10px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.findContainerSubPar {
		font-size: 8px;
		line-height: 4px;
	}

	.medicalFraudMainContainer .canNotFindContainer .canNotFindCard .onlineEl {
		font-size: 6px;
		height: 15px;
		width: 30px;
		padding: 3px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubLeftContainer
		.hrLineContainer
		.orName {
		font-size: 12px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubLeftContainer
		.buttonEl {
		font-size: 8px;
		width: 115px;
		height: 45px;
		/* padding: 0px 15px; */
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	.mainBannerHeading {
		font-size: 24px;
	}

	.mainBannerPara {
		font-size: 12px;
		line-height: 15px;
	}

	.accord-ptag {
		font-size: 14px;
	}

	.medicalFraudMainContainer .medicalFaqSubContainer .accordianbg .faqParEl {
		font-size: 12px;
	}
	.medicalFraudMainContainer .canNotFindContainer .canNotFindMainHeading {
		font-size: 30px;
		line-height: 30px;
	}

	.medicalFraudMainContainer .canNotFindContainer .medical-ptag {
		font-size: 14px;
	}
	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.canNotFindSubCard
		.findContainerSubPar {
		font-size: 10px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.canNotFindSubCard
		.findContainerSubHeading {
		font-size: 12px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.canNotFindSubCard
		.findContainerSmallPar {
		font-size: 6px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.findContainerSubHeading {
		font-size: 12px;
	}
	.medicalFraudMainContainer .canNotFindContainer .canNotFindCard .onlineEl {
		font-size: 8px;
		width: 30px;
		padding: 3px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubLeftContainer
		.hrLineContainer
		.orName {
		font-size: 12px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubLeftContainer
		.buttonEl {
		width: 124px;
		font-size: 10px;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1699px) {
	.mainBannerHeading {
		font-size: 28px;
	}

	.mainBannerPara {
		font-size: 15px;
		line-height: 21px;
	}

	.accord-ptag {
		font-size: 14px;
	}

	.medicalFraudMainContainer .medicalFaqSubContainer .accordianbg .faqParEl {
		font-size: 14px;
	}
	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubCardContainer
		.canNotFindSubCard
		.findContainerSmallPar {
		font-size: 8px;
	}

	.medicalFraudMainContainer .canNotFindContainer .canNotFindCard .onlineEl {
		width: 30px;
		height: 15px;
		padding: 3px;
	}

	.medicalFraudMainContainer
		.canNotFindContainer
		.canNotFindCard
		.cardNotSubLeftContainer
		.buttonEl {
		font-size: 12px;
		width: 140px;
	}
}

@media only screen and (min-width: 1700px) {
}
