@import "../../../../assets/scss/abstracts/abstracts";

.medicalFraudMainContainer {
	.space-normal {
        &:first-child {
            margin-left: 20px;
        }
    }
	.medicalFaqSubContainer {
		width: 65%;
		margin: auto;
		margin-top: 45px;
		.accordianbg {
			background: #f2f3f5;
			border-radius: 4px;
			width: 97%;
			.faqParEl {
				font-size: 16px;
			}
		}
	}
	.canNotFindContainer {
		.canNotFindMainHeading {
			font-weight: 800;
			text-align: center;
			margin: 0;
			font-size: 30px;
			line-height: 48px;
		}
		.medical-ptag {
			color: #4c565c;
			text-align: left;
			font-weight: 400;
			font-size: 15px;
		}
		.medical-card {
			border-radius: 12px;
			border: none;
			// box-shadow: 0 0 2px #fff;
			height: 100%;
		}
		.canNotFindCard {
			background-color: #ffffff;
			box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			border-radius: 12px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 110px;
			padding: 0px 40px;
			margin-bottom: 100px;
			.cardNotSubCardContainer {
				display: flex;
				width: 75%;
				.canNotFindSubCard {
					width: 18%;
					display: flex;
					.imgCard {
						margin-right: 20px;
					}
					.findContainerSubPar {
						font-weight: 400;
						font-size: 10px;
						line-height: 10px;
						color: #4c565c;
						padding-top: 10px;
					}
					.findContainerSubHeading {
						font-weight: 700;
						font-size: 16px;
						color: #1a1c1f;
					}
					.findContainerSmallPar {
						font-weight: 400;
						font-size: 8px;
					}
				}
				.chatContainerEl {
					width: 18%;
				}
				.findContainerSubPar {
					font-weight: 400;
					font-size: 10px;
					line-height: 10px;
					color: #4c565c;
					padding-top: 10px;
				}
				.findContainerSubHeading {
					font-weight: 700;
					font-size: 16px;
					color: #1a1c1f;
				}
				.findContainerSmallPar {
					font-weight: 400;
					font-size: 8px;
				}
			}

			.verticalLine {
				height: 60%;
				width: 1px;
				background-color: silver;
				border-radius: 1px;
				padding-top: 65px;
				margin-right: 10px;
				margin-left: 10px;
			}
			.onlineEl {
				color: #237b4b;
				font-weight: 400;
				font-size: 10px;
				line-height: 12px;
				width: 60px;
				height: 21px;
				padding: 3px 12px 6px 12px;
				gap: 4px;
				background: #e3ffef;
				border-radius: 100px;
			}

			.cardNotSubLeftContainer {
				display: flex;
				.hrLineContainer {
					display: flex;
					align-items: center;
					.hrLine {
						width: 100px;
						margin-left: 10px;
						margin-right: 10px;
						background-color: #1a1c1f;
					}
				}
				.orName {
					font-size: 16px;
					font-weight: 400;
				}
			}

			.buttonEl {
				background-color: #ee7500;
				padding: 0px, 24px;
				border-radius: 8px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				border-width: 0px;
				font-size: 14px;
				height: 54px;
				color: White;
			}
		}
	}
}

.mainBannerHeading {
	font-weight: 800;
	text-align: center;
	font-size: 35px;
}
.mainBannerPara {
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
}

.medicFraud-Support-Title {
	font-size: fontSize(30);
}
.medicFraud-Support-InfoText {
	width: 100%;
	max-width: 650px;
	color: $light-tw;
}
.medicFraud-viewProducts-ServiceLink {
	color: $light-tw;
}
.medicFraud-viewArrowIcon {
	width: 30px;
	height: 30px;
}
.hrtag {
	width: 100%;
}
.imgbg {
	margin-top: 2px;
	width: 20%;
}
.imgbg-right {
	float: right;
	margin-top: 5px;
}
.align-btn {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.medical-btn {
	border-radius: 13px !important;
	background: #f2f3f5;
	color: black;
	font-size: fontSize(14) !important;
	border: none;
}
.medical-btn2 {
	border-radius: 13px !important;
	background: #ee7500;
	color: #ffff;
	font-size: fontSize(13) !important;
	border: none;
	float: right;
}
.medical-btn:hover {
	background: #ffff;
	color: black;
}

.vertical-line {
	width: 1.6px;
	background-color: rgba(26, 28, 31, 0.03);
	height: 60%;
	float: left;
	border-radius: 1px;
	margin-top: 20px;
}
.hrtag {
	width: 50%;
}
.alignhr {
	float: left;
}

.accord-ptag {
	font-size: 18px;
}
.aligndiv {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
