@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.dashboard-notifications-page {
	padding-top: 20px;

	.iframe-map-policies {
		margin-top: 0;

		iframe {
			position: relative;
			padding: "20px 0px 20px 20px";
			border: "none";
			margin-left: 20px;
			border-radius: 10px;
		}

		.dashboard-map-form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: fit-content;
			position: absolute;
			top: 5%;
			left: 10%;

			.header-Search {
				border-radius: 30px;
				width: 270px;
				border: none;
				background-color: $white;
				box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
			}

			input {
				width: 100%;
			}

			ul {
				display: flex;
				width: 100%;
				padding-left: 0;

				li {
					list-style: none;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 70px;
					height: 64px;
					background: #ffffff;
					box-shadow: 0px 7px 10px rgba(9, 30, 66, 0.05);
					border-radius: 4px;
					margin-top: 10px;

					&:not(:nth-child(0)) {
						margin-left: 10px;
					}

					img {
						margin-bottom: 5px;
					}

					span {
						font-weight: 400;
						font-size: 12px;
						line-height: 12px;
						color: #455560;
					}
				}
			}
		}
	}

	#dashNotificationsTextWidth {
		width: 100%;
		max-width: 700px;
	}

	.dashboard-notifications-services {
		color: $newLight-tw;
	}
}
