@import "../../../../assets//scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.discountClaimCard {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 8px;
	.alignDiscount-Tag {
		.renewDiscountTxt {
			color: $black;
			width: 100%;
			max-width: 250px;
			line-height: 19px;
			.percentageRenewDiscount {
				color: $orange-tw;
			}
		}
	}
	.align-discount-cardLayout {
		position: relative;
		bottom: 10px;
		.discountProductBox {
			margin: 0px 20px 0px 20px;
			padding: 20px 20px 18px 20px;
			background-color: #fdf1e5;
			border-radius: 6px;
			.car-Series {
				color: $black;
			}
			.car-Variety {
				color: $orange-tw;
			}
			.plateContainerLayout {
				width: 135px;
				position: relative;
				.plateContainer {
					background-color: $white;
					border: 1px solid $black;
					border-radius: 4px;
					:is(.plateText) {
						color: $light-tw;
					}
					.plateSubLayerOne {
						border-right: 1px solid $black;
						border-bottom: 1px solid $black;
						border-radius: 4px 0px 0px 0px;
					}
					.plateSubLayerTwo {
						border-left: 1px solid $black;
						border-right: 1px solid $black;
						border-bottom: 1px solid $black;
					}
					.plateSubLayerThree {
						border-top: 1px solid $black;
						border-right: 1px solid $black;
					}
					.plateSubLayerFour {
						border-top: 1px solid $black;
						border-left: 1px solid $black;
						border-right: 1px solid $black;
					}
					.plateSubLayerFive {
						position: absolute;
						right: 10px;
						.dark-point {
							width: 5px;
							height: 5px;
							border-radius: 50px;
							background-color: $black;
						}
					}
				}
			}
		}
		.get-Discount-Now-Btn {
			width: 100%;
			background-color: $orange-tw;
			color: $white;
			font-size: fontSize(16);
			font-weight: 400;
			border-radius: 6px;
		}
	}
}

.accident-claim-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 12px 15px;
	gap: 16px;
	margin-bottom: 15px;
	// width: 450px;
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
	border-radius: 4px;

	p {
		font-family: "Lato";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: -0.01em;
		color: #1a1c1f;
		margin-bottom: 0;
		width: 100%;
		max-width: 420px;
	}

	.a-c-c-details-timeline {
		.a-c-c-tag {
			background: #f1f5f8;
			border-radius: 100px;
			padding: 5px 15px;
			color: #679ab4;
		}
	}

	.a-c-c-details {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 16px;
		gap: 14px;
		width: 100%;
		background: #f2f3f5;
		border-radius: 8px;

		.vertical-line {
			width: 1px;
			background-color: silver;
			height: 40px;
			float: left;
			border-radius: 1px;
			margin-top: 5px;
		}

		.a-c-c-detailstxt {
			display: flex;
			align-items: flex-start;

			.a-c-c-details-img {
				margin-right: 8px;
			}

			.vertical-line {
				width: 1px;
				background-color: silver;
				height: 40px;
				float: left;
				border-radius: 1px;
				margin-top: 5px;
				// width: 1px;
				// border: 1px solid #1a1c1f;
				// height: 80%;
				// margin-top: 5px;
				// margin-left: 10px;
			}

			.a-c-c-details-icon {
				margin-top: 5px;
				margin-left: 8px;
			}

			.a-c-c-detailstxtcontainer {
				margin-left: 10px;
				span {
					font-weight: 400;
					font-size: 11px;
					line-height: 12px;
					color: #455560;
				}

				p {
					font-weight: 800;
					font-size: 12px;
					line-height: 20px;
					display: flex;
					align-items: center;
					color: #1a1c1f;
				}
			}
		}
	}

	.a-c-c-button {
		background-color: #ee7500;
		border-radius: 6px;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
		height: 35px;
		padding: 12px;
	}
}

@include media-breakpoint-med-desktop {
	.accident-claim-card {
		display: flex;
		padding: 12px 15px;
		gap: 8px;
		p {
			font-size: 12px;
			width: 100%;
			max-width: 350px;
		}
		.a-c-c-details {
			display: flex;
			padding: 16px;
			gap: 14px;
			.a-c-c-detailstxt {
				.a-c-c-details-img {
					margin-right: 8px;
				}
				.a-c-c-details-icon {
					margin-top: 5px;
					margin-left: 8px;
				}
				.a-c-c-detailstxtcontainer {
					margin-left: 9px;
					span {
						font-size: 10px;
						line-height: 12px;
					}
					p {
						font-size: 9px;
						line-height: 15px;
					}
				}
			}
		}
		.a-c-c-button {
			font-size: 12px;
			line-height: 14px;
		}
	}
}

@include media-breakpoint-tab-port {
	.accident-claim-card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 12px;
		gap: 10px;
		p {
			font-size: fontSize(9);
			width: 100%;
			max-width: 270px;
			line-height: 15px;
		}
		.a-c-c-details {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 14px;
			gap: 12px;
			.a-c-c-detailstxt {
				.a-c-c-details-img {
					width: 30px;
					height: 30px;
				}
				.a-c-c-detailstxtcontainer {
					margin-left: 7px;
					span {
						font-size: 6px;
						line-height: 12px;
					}
					p {
						font-size: 6px;
						line-height: 12px;
					}
				}
			}
		}
		.a-c-c-button {
			font-size: 9px;
			line-height: 14px;
		}
	}
}
