@import "../../../../../assets/scss/abstracts/abstracts";
@import "../../../../../assets/scss/abstracts/mixins.scss";

.violation-medical-card {
	.violation-report-support-box {
		.violation-landingSupportBtn {
			background-color: $orange-tw;
			color: $white;
			border-radius: 8px;
			width: 100%;
			font-size: fontSize(16);
			font-weight: 400;
			padding: 24px 18px 24px 18px;
			@include media-breakpoint-med-desktop {
				font-size: fontSize(14);
			}
		}
		.violation-mainBannerHeading {
			color: $black;
			font-size: fontSize(16);
			@include media-breakpoint-med-desktop {
				font-size: fontSize(14);
			}
		}
		.violation-medical-ptag {
			color: $newLight-tw;
			font-size: fontSize(12);
			@include media-breakpoint-med-desktop {
				font-size: fontSize(10);
			}
		}
	}
}

@include media-breakpoint-med-desktop {
	.alignViolationContent {
		transform: translateY(10%);
	}
}

@include media-breakpoint-tab-land {
	.violation-medical-card {
		.violation-report-support-box {
			.alignViolationContent {
				transform: translate(0px, 7px);
			}
			.violation-landingSupportBtn {
				font-size: fontSize(8);
				padding: 10px;
				position: relative;
				bottom: 4px;
			}
			.violation-mainBannerHeading {
				font-size: fontSize(10);
			}
			.violation-medical-ptag {
				font-size: fontSize(9);
			}
		}
		.online_badge {
			font-size: fontSize(9);
			width: 45px;
			margin-left: 28px;
		}
	}
}
