.news_color {
  background-color: #679ab4 !important;
  height: 30px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 29px;
  padding-right: 9px;
  width: 73px;
  border-radius: 40px;
  overflow-x: auto;
}
.tawuniyanow_content {
  font-weight: 800;
  font-family: Bliss 2;
}
.now-scroll {
  overflow: hidden;
  overflow-x: auto;
}
// .newsnow_scroll{
//      background-color: white;
//      min-height: 100px;
// }
.insurance_fonts {
  font-weight: 800;
  font-family: bliss 2;
  color: #455560;
  font-size: 20px;
}
.help_font {
  font-size: 16px;
  font-weight: 800;
  font-family: bliss 2;
  color: #455560;
}
.now_box {
  margin: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 210px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.now_heading {
  margin-left: 10px;
}

// ---------------health--
.health-overall {
  padding: 0px 15px;
  background: #f2f3f5;
  padding-top: 20px;
  .health {
    height: 102px;
    background: #ffffff;
    margin-top: 0;
    padding: 10px 0px;
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 8px;
    &:first-child {
      margin-bottom: 10px;
    }
  }

  .healthsinsurancecardtittle {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: #679ab4;
  }

  .insurancelink {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #455560;
  }

  .insuranceque {
    font-weight: 800;
    font-size: 16px;
    line-height: 120%;
    color: #1a1c1f;
  }

  .healthcontent {
    margin-left: 15px;
  }
}

// ------------faq
.question_section {
  padding: 0px 16px;
  background: #f2f3f5;
  margin: 0;

  .accordionCollapseIcon {
    position: relative;
    top: 0;
  }

  h6 {
    color: #1a1c1f;
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .txt-size {
    font-size: 12px;
    color: #455560;
    font-weight: 800;
    margin: 0px !important;
  }
  .image-size {
    margin: 0px !important;
    display: flex;
  }
}
// ------------service
.service_list {
  padding: 0px 0px 38px 16px;
  background: #f2f3f5;
  border-radius: 20px 20px 0px 0px;
  border-radius: 0;
  padding-bottom: 25px;
  .txt-size {
    color: #1a1c1f;
    font-size: 16px;
    font-weight: 800;
  }
  .insuranceBannerCardContainerMobile {
    margin-left: -15px;
  }

  h5 {
    padding-top: 34px;
    font-weight: 800;
    font-size: 20px;
    color: #1a1c1f;
    padding-bottom: 16px;
    margin: 0;
  }
}

.tawuniya-sec {
  background: #f2f3f5;
  h5.now_heading {
    margin-left: 10px;
    color: #1a1c1f;
    font-weight: 800;
    font-size: 20px;
  }
  .txt-size {
    font-size: 12px;
    color: #455560;
  }
  .now_heading.services {
    padding-bottom: 35px;
    margin-left: 19px;
  }
  .image-size img {
    height: 10px;
    width: 10px;
    margin-top: -7px;
  }
  .now_box {
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 12px;
    margin-right: 15px;
    border: none;

    .text-light {
      width: 60px;
      height: 25px;
      font-weight: 400;
      font-size: 12px;
      padding: 0px;
      text-align: center;
      align-items: center;
      margin: 0;
      display: flex;
      justify-content: center;
    }
    p.day {
      font-size: 12px;
      color: #1a1c1f;
      padding-bottom: 16px !important;
    }
  }
}
.help {
  background: #f2f3f5;
  padding-bottom: 3rem;
  .card.container {
    box-shadow: 0px 4px 10px #091e420f;
    border-radius: 8px;
    border: none;
    padding: 16px;
    p.help_font {
      font-size: 16px;
      font-weight: 800;
      color: #455560;
      margin: 0;
      padding-bottom: 8px;
    }
    h6 {
      font-weight: 800;
      font-size: 20px;
      color: #455560;
    }
  }
}
