@import "../../../assets/scss/abstracts/abstracts";
@import "../../../assets/scss/abstracts/mixins.scss";

.page-navbar-menu {
  margin: 0;
  position: absolute;
  left: -100%;
  width: 100%;
  top: 0;
  z-index: 15;
  box-shadow: 0px 50px 60px rgba(9, 30, 66, 0.15);
  border-radius: 0px 0px 20px 20px;
  background: $lightgrey-tw;
  padding: 20px 20px;
  transition: left 0.25s ease;

  &.active {
    left: 0;
  }

  .mobile-menu-close {
    .close-menu {
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      margin-bottom: 20px;

      img {
        margin-right: 20px;
      }
    }
  }

  .mobile-menu-login-option {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .user-image {
      margin-right: 20px;

      img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }

    .login-text {
      margin-right: 15px;
      font-weight: 700;
      font-size: fontSize(20);
      color: #1a1c1f;
    }
  }

  .mobile-menu-search {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;

    input {
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 8px;
      border: 0;
      width: 100%;
      padding: 12px 23px;
      font-weight: 400;
      font-size: fontSize(16);
      padding-right: 50px;
    }

    img {
      position: absolute;
      right: 23px;
      top: 15px;
    }
  }

  .mobile-menu-box-content {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;

    .looking-for-text {
      color: #9aa2af;
      font-weight: 500;
      font-size: fontSize(14);
      margin-bottom: 10px;
    }

    .mobile-menu-tabs {
      border-bottom: 1px solid #1a1c1f33;
      padding-bottom: 15px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;

      > div {
        flex: 0 0 calc(100% / 3);
        border-right: 1px solid #1a1c1f1a;
        padding: 0 10px;
        font-weight: 700;
        font-size: fontSize(16);
        color: #455560;

        &.active-tab-index {
          color: $orange-tw;
        }

        &:last-child {
          padding-right: 0;
          border-right: 0;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .menu-title-text {
      margin-bottom: 13px;
      color: #455560;
      font-weight: 700;
      font-size: fontSize(14);
    }

    .right-side-menu-list {
      .bold-menu {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: fontSize(22);
        color: #455560;
        margin-bottom: 10px;
        text-decoration: none;

        &.active-menu {
          color: $black;
        }

        .count {
          margin-left: 15px;
          color: #ffffff;
          font-weight: 400;
          font-size: fontSize(12);
          background: $orange-tw;
          border-radius: 50px;
          padding: 2px 5px;
          min-width: 38px;
          text-align: center;
        }

        img {
          width: 14px;
          margin-left: 10px;
        }
      }
    }
  }

  .mobile-menu-common-services {
    padding-bottom: 20px;

    .common-services-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: fontSize(14);
      color: #455560;
    }

    .insuranceBannerCardContainerMobile {
      .insuranceBannerCardMobile {
        margin-right: 10px;
      }
    }
  }

  @include media-breakpoint-med-desktop {
    .menu-list-section-root {
      .menu-list-section {
        .menu-list-title {
          min-height: 48px;
        }

        .menu-details {
          min-height: 95px;
        }
      }
    }
  }

  @media screen and (max-width: 1399px) and (min-width: 1360px) {
    .menu-list-section-root {
      .menu-list-section {
        .menu-list-title {
          min-height: initial;
        }

        .menu-details {
          min-height: 71px;
        }
      }
    }
  }
}

.search_box_mob {
  background-color: white;
  margin-bottom: 30px;
  h5 {
    font-weight: 800;
    padding: 3px 0px 24px 0px;
    margin: 0;
  }
  span {
    font-size: 14px;
    color: #455560;
  }
  h6 {
    font-weight: 800;
    margin-top: 20px;
  }
  .results_color {
    color: #f47b20;
    font-size: 14px;
  }
  p {
    margin: 0;
    color: #1a1c1f;
    font-size: 14px;
  }
  span.full_results {
    font-size: 12px;
  }
  img.right-arrow {
    height: 10px;
    width: 10px;
    cursor: pointer;
  }
  .popular_scroll {
    background-color: #f2f3f5;
    margin-bottom: 10px;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
    min-width: 143px;
  }
}

.mobile-search-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 22px;
  background: #f2f3f5;
  input {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #1a1c1f;
    width: 75%;
  }
  .normal-search {
    width: 80%;
    .searchBox {
      padding-left: 10px;
    }
  }
}
