@import "../../../../assets/scss/abstracts/abstracts";
@import "../../../../assets/scss/abstracts/mixins.scss";

.bannerMainContainer {
  .customerBannerStartEl {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-left: 50px;
    margin-top: 45px;
    margin-bottom: 20px;
  }
  .customerBannerMainCard {
    width: 100%;
    height: 785px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../../../../assets/images/customerServiceBackgroundimge.png");
    background-size: cover;
    .customerBannerMainHeading {
      font-weight: 800;
      font-size: 24px;
      line-height: 28.8px;
      letter-spacing: -1%;
      color: #ffffff;
      text-align: center;
    }
    .customerBannerSecondHeading {
      font-weight: 800;
      font-size: 48px;
      line-height: 110%;
      letter-spacing: -1%;
      color: #ffffff;
      text-align: center;
    }
    .customerBannerSearchingContainer {
      width: 509px;
      height: 45px;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 100px;
      padding-left: 20px;
      padding-right: 20px;
      .inputEl {
        width: 431px;
        font-size: fontSize(18);
        font-weight: 400;
        color: "#676F7C";
        border-width: 0px;
      }
    }

    .popularAndContainer {
      .popularHeading {
        font-weight: 400;
        font-size: fontSize(14);
        color: #ffffff;
        text-align: center;
      }
      .buttonEl {
        line-height: 14px;
        border: 1px solid #ffffff;
        border-radius: 100px;
        font-weight: 400;
        font-size: fontSize(14);
        color: #ffffff;
        line-height: 14px;
        background-color: transparent;
        margin-right: 10px;
        padding: 5px 10px;
      }
    }
  }

  .customerServiceMainHeading {
    color: #ffff;
    font-weight: 400;
  }

  .CustomerServiceDataContainer {
    display: flex;
    max-width: 1292px;
    width: 100%;
    margin-bottom: -202px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-38%);
    margin-left: auto;
    margin-right: auto;
    .customerBannerCardContainer {
      // width: 95%;
      display: flex;
      flex-direction: row;
      // justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: flex-start;
      // margin-right: 30px;
      .landing-CustomerCard {
        height: 120px;
      }
      @include media-breakpoint-tab-land {
        .landing-CustomerCard {
          height: 100px;
        }
      }

      .bannerCard {
        margin: 0 10px;
        margin-bottom: 20px;
        flex: 0 0 calc(100% / 6 - 20px);
        > div {
          width: 100%;
        }
      }
      .MuiTypography-root {
        flex: 0 0 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: left;
        > p {
          margin: 0;
        }
      }
    }
    .itemContainerActive {
      background-color: #ffffff;
      display: flex;
      font-style: normal;
      align-items: center;
      border-radius: 100px;
      padding: 8px 11px 8px;
      padding-right: 16px;
    }
    .itemContainerInActive {
      display: flex;
      font-style: normal;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      padding: 5px;
    }
    .serviceBtnEl {
      font-weight: 800;
      font-size: fontSize(16);
      cursor: pointer;
      text-transform: uppercase;
      color: #4c565c;
      margin-left: 10px;
    }
    .iconDivEl {
      color: #ffffff;
      font-weight: 400;
      font-size: 16px;
      margin-left: 10px;
    }

    .ActiveImg {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      padding: 3px;
      background-color: #ee7500;
      border-radius: 50%;
      font-size: 12px;
      color: #111111;
    }

    .inActive {
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
      padding: 3px;
      border-radius: 50%;
      font-size: 16px;
    }
    .viewMore {
      width: 203px;
      height: 12px;
      margin-top: 16px;
      font-family: "Lato";
      font-style: normal;
      font-weight: 800;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      color: #4c565c;
    }
  }

  .TrendingContainer {
    margin-bottom: 60px;
    .surpluscard {
      border-radius: 13px !important;
      box-shadow: 0 0 2px 2px #fff;
      height: 400px;
      border: none;
      background: url("../../../../assets/svg/Layer1.svg");
      background-color: #ffff;
      background-repeat: no-repeat !important;
      background-position: right !important;
      background-size: contain !important;
    }
    .surpluscard2 {
      border-radius: 13px !important;

      box-shadow: 0 0 2px 2px #fff;
      height: auto;
      border: none;
      background: #ee7500;
    }
    .accordiancard {
      border-radius: 5px !important;

      box-shadow: 0 0 2px 2px #fff;
      margin-top: 14px;
      border: none;
    }
    .accord-hdg {
      background: #ffff !important;
    }
    .accordion-button {
      background-color: #ffff !important;
      border: 1px solid #ffff;
      font-size: fontSize(17) !important;
    }
    .accord-ptag {
      margin-left: 20px;
    }

    .surplush4 {
      font-weight: bold;
    }
    .surplusptag {
      color: #4c565c !important;
      font-style: normal;
      font-weight: 400;
    }
    .surplus-btn {
      border-radius: 10px !important;
      background: #ee7500;
      border: none;
      cursor: pointer;
    }
    .surplus-btn-c2 {
      border-radius: 10px !important;
      background: #ffff;
      border: none;
      cursor: pointer;
      float: right;
      color: black;
    }
    .surplus-btn:hover {
      background: #ffff;
      color: #ee7500;

      border: 1px solid #ee7500;
    }

    .vertical-line {
      width: 1px;
      background-color: silver;
      height: 100%;
      float: left;
      border-radius: 1px;
    }

    .card2-h4 {
      color: #ffff;
    }
  }

  .landingSupportBtn {
    background-color: $orange-tw;
    color: $white;
    border-radius: 8px;
    width: 100%;
    font-size: fontSize(16);
    font-weight: 400;
    padding: 24px 18px 24px 18px;
  }

  .mainDIV {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // justify-content: space-evenly;
    // padding: 40px 8px;
    grid-gap: 30px;
    width: 100%;
    // height: 937px;
    > div {
      flex: 0 0 calc(100% / 2 - 15px);
    }
  }

  .mainContainer {
    padding: 40px;
    padding-bottom: 0;
    // width: 590px;
    // height: 710px;
    // margin: 14px;
    /* White */

    background: #ffffff;
    /* Shadow - Stacked */

    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 20px;
  }

  .textSection {
    width: 370px;
    height: 96px;

    /* Heading En/Heading 1 */

    // font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */

    letter-spacing: -0.02em;

    /* Black */

    color: #1a1c1f;
  }
  .paraText {
    // width: 540px;
    height: auto;

    /* Paragraph En/L Paragraph */
    text-align: left;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 25px */

    /* Text */

    color: #4c565c;
  }
  .learn-more {
    color: #1a1c1f;
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .frauds {
    // width: 150px;
    // height: 14px;
    text-align: left;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: $black;
    display: flex;
    align-items: center;
    img {
      margin-left: 8px;
    }
  }
  .buttonFraud {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    color: #ffffff;
    width: 152px;
    height: 54px;
    position: relative;
    z-index: 1;
    border: none;
    background: #ee7500;
    border-radius: 8px;
  }
  .fraudItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 420px;
  }
  .fraudImg {
    position: relative;
    margin-top: -50px;
    left: -22px;
    width: 100%;
    bottom: -15px;
  }
  .fraudImg img {
    width: auto;
    height: 19.4rem;
  }
  .fraudImg2 {
    position: relative;
    // width: 604px;
    // height: 425.47px;
    // left: -30px;
    top: 16px;

    // transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .fraudImg2 img {
    width: 100%;
    // height: 100%;
  }
  .textSection1 {
    height: 48px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */

    letter-spacing: -0.02em;

    /* Black */

    color: #1a1c1f;
  }
  ul {
    text-align: left;
  }
  li {
    list-style: none;
    text-align: left;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .paraText2 {
    // width: 550px;
    height: fit-content;
    text-align: left;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #4c565c;
  }
  .paraText3 {
    // width: 670px;
    height: 25px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    color: #1a1c1f;
  }
  .fraudItems2 {
    display: flex;
    // width: 450px;
    text-align: left;
    margin-left: -40px;
    flex-direction: row;
    li {
      margin-bottom: 10px;
    }
  }

  .violationsDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 20px;
    // gap: 24px;
    isolation: isolate;
    // margin-left: -40px;
    // margin-right: -40px;
    // height: 268px;
    margin-top: 30px;

    background: #ffffff;
    /* Shadow - Stacked */

    box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
    border-radius: 20px;
    .violationsDiv-violations {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      flex: 0 0 54%;
    }
    .violationImg {
      flex: 0 0 46%;
    }
  }
  .violationsHeading {
    // width: 359px;
    height: 48px;

    /* Heading En/Heading 1 */

    font-family: "Lato";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */

    letter-spacing: -0.02em;

    color: #1a1c1f;
  }
  .violationsText {
    // width: 359px;
    height: 100px;

    // font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #4c565c;
  }
  .reportVBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 8px;
    font-size: 14px;
    width: 159px;
    height: 54px;
    color: #ffffff;
    background: #ee7500;
    border-radius: 8px;
  }
  .learnMBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 8px;
    margin-left: 10px;
    width: 141px;
    height: 54px;

    border: 1px solid $primary-tw;
    color: $primary-tw;
    border-radius: 8px;
  }
  .violationImg img {
    position: relative;
    width: 100%;
    bottom: -24px;
    right: -27px;
    // max-width: 263px;
    // height: 269.03px;
    // right: -30px;
    // bottom: -5.03px;
  }
  // img{
  //   width: 100%;
  //   height: 100%;
  // }

  .canNotFindContainer {
    // padding-left: 85px;
    // padding-right: 60px;
    margin-top: 80px;
    .findContainerMainPar {
      margin-bottom: 25px;
    }
    .canNotFindCard {
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(9, 30, 66, 0.06);
      border-radius: 12px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 110px;
      padding: 0px 40px;
      margin-bottom: 100px;
      .cardNotSubCardContainer {
        display: flex;
        .canNotFindSubCard {
          display: flex;
          .imgCard {
            margin-right: 20px;
          }
          .findContainerSubPar {
            font-weight: 400;
            font-size: 12px;
            line-height: 5px;
            color: #4c565c;
            padding-top: 10px;
          }
          .findContainerSubHeading {
            font-weight: 700;
            font-size: 16px;
            color: #1a1c1f;
          }
          .findContainerSmallPar {
            font-weight: 400;
            font-size: 10px;
            color: #4c565c;
          }
        }
        .findContainerSubPar {
          font-weight: 400;
          font-size: 10px;
          line-height: 10px;
          color: #4c565c;
          padding-top: 10px;
        }
        .findContainerSubHeading {
          font-weight: 700;
          font-size: 16px;
          color: #1a1c1f;
        }
        .findContainerSmallPar {
          font-weight: 400;
          font-size: 8px;
        }
      }

      .verticalLine {
        height: 60%;
        width: 1px;
        background-color: silver;
        border-radius: 1px;
        padding-top: 65px;
        margin-right: 20px;
        margin-left: 20px;
      }
      .onlineEl {
        color: #237b4b;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        width: 60px;
        height: 21px;
        padding: 3px 12px 6px 12px;
        gap: 4px;
        background: #e3ffef;
        border-radius: 100px;
      }

      .cardNotSubLeftContainer {
        display: flex;
        .hrLineContainer {
          display: flex;
          align-items: center;
          .hrLine {
            width: 100px;
            margin-left: 10px;
            margin-right: 10px;
            background-color: #1a1c1f;
          }
        }

        .buttonEl {
          background-color: #ee7500;
          padding: 0px, 24px;
          border-radius: 8px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border-width: 0px;
          font-size: 14px;
          height: 54px;
          color: White;
        }
      }
    }
  }
}

.tawuniyaHighlight h2 {
  width: 466px;
  height: 48px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;

  text-align: left;

  letter-spacing: -0.02em;

  color: #1a1c1f;
}
.highlights {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;

  letter-spacing: -0.02em;

  color: #b3b9c3;
}
.tawuniyaPara {
  width: 474px;
  height: 25px;

  /* Paragraph En/L Paragraph */

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  /* Text */

  color: #4c565c;
}
.viewMore1 {
  width: 260px;
  height: 16px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 100% */
  margin: 10px;
  text-align: right;
  text-transform: uppercase;

  /* White */

  color: #ffffff;
}

.language-alignment-right {
  .bannerMainContainer {
    .CustomerServiceDataContainer {
      .serviceBtnEl {
        margin-left: 0;
        margin-right: 10px;
      }
      .customerBannerCardContainer {
        .MuiTypography-root {
          img {
            transform: rotate(180deg);
            margin-right: 7px;
          }
        }
      }
    }
    .frauds {
      img {
        margin-left: 0;
        margin-right: 8px;
        transform: rotate(180deg);
      }
    }
    .violationsDiv {
      direction: ltr;
      .violationsDiv-violations {
        direction: rtl;
      }
    }
    .learnMBtn {
      margin-left: 0;
      margin-right: 10px;
    }
    .violation-medical-card {
      .alignViolationContent {
        > .pr-4 {
          padding-right: 0 !important;
          padding-left: 1.5rem;
        }
        > .ml-3 {
          margin-left: 0 !important;
          margin-right: 1rem;
        }
      }
      .violation-report-support-box {
        .violation-mainBannerHeading {
          text-align: right !important;
        }
      }
    }
  }
}

@include media-breakpoint-med-desktop {
  .bannerMainContainer {
    .fraudImg {
      left: 20px;
      bottom: -9px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .fraudImg2 {
      bottom: -8px;
    }
    .violationImg {
      img {
        right: -10px;
      }
    }
    .reportVBtn {
      width: 130px;
      padding: 0px 10px;
    }
    .learnMBtn {
      width: 106px;
      padding: 0px 10px;
    }
    .textSection {
      font-size: fontSize(32);
      width: 100%;
      max-width: 300px;
      height: 95px;
      margin: 0px;
    }
    .paraText {
      font-size: fontSize(14);
      margin: 0px;
    }
    .textSection1 {
      font-size: fontSize(74);
    }
    .violationsHeading {
      font-size: fontSize(32);
    }
    .frauds {
      font-size: fontSize(14);
    }
    .fraudItems {
      width: 470px;
    }
    .learn-more {
      font-size: fontSize(15);
      margin: 0px;
      padding-bottom: 10px;
    }
    .buttonFraud {
      width: 125px;
      max-height: 40px;
      font-size: fontSize(14);
      margin-top: 20px;
      padding: 0px 5px;
      margin-bottom: 20px;
    }
    .mainContainer {
      .textSection1 {
        font-size: fontSize(32);
      }
      .paraText2 {
        font-size: fontSize(14);
        padding-bottom: 5px;
      }
      .paraText3 {
        font-size: fontSize(16);
        margin: 0px;
        padding-bottom: 30px;
      }
      .fraudItems2 {
        width: 460px;
        .frauds {
          font-size: fontSize(14);
        }
      }
    }
  }
  .violationsDiv {
    .violationsDiv-violations {
      .violationsHeading {
        font-size: fontSize(32);
      }
      .violationsText {
        font-size: fontSize(14);
        width: 100%;
        max-width: 390px;
        height: 60px;
      }
      .reportVBtn {
        width: 125px;
        max-height: 40px;
        font-size: fontSize(14);
        margin-top: 20px;
        padding: 0px 5px;
      }
      .learnMBtn {
        width: 125px;
        max-height: 40px;
        font-size: fontSize(14);
        margin-top: 20px;
        padding: 0px 5px;
      }
    }
  }
}

@include media-breakpoint-tab-port {
  .bannerMainContainer {
    .fraudImg {
      left: 20px;
      bottom: -9px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .fraudImg2 {
      bottom: -8px;
    }
    .violationImg {
      img {
        right: -10px;
      }
    }
    .reportVBtn {
      width: 130px;
      padding: 0px 10px;
    }
    .learnMBtn {
      width: 106px;
      padding: 0px 10px;
    }
    .textSection {
      font-size: fontSize(24);
      width: 100%;
      max-width: 200px;
      height: 70px;
      margin: 0px;
    }
    .paraText {
      font-size: fontSize(10);
      margin: 0px;
    }
    .textSection1 {
      font-size: fontSize(34);
    }
    .violationsHeading {
      font-size: fontSize(34);
    }
    .frauds {
      font-size: fontSize(10);
    }
    .fraudItems {
      width: 350px;
    }
    .learn-more {
      font-size: fontSize(11);
      margin: 0px;
    }
    .buttonFraud {
      width: 102px;
      max-height: 35px;
      font-size: fontSize(10);
      margin-top: 20px;
      padding: 0px 5px;
      margin-bottom: 20px;
    }
    .mainContainer {
      .textSection1 {
        font-size: fontSize(24);
      }
      .paraText2 {
        font-size: fontSize(10);
      }
      .paraText3 {
        font-size: fontSize(11);
        margin: 0px;
      }
      .fraudItems2 {
        width: 370px;
        .frauds {
          font-size: fontSize(10);
        }
      }
    }
  }
  .violationsDiv {
    .violationsDiv-violations {
      .violationsHeading {
        font-size: fontSize(24);
      }
      .violationsText {
        font-size: fontSize(10);
        width: 100%;
        max-width: 210px;
        height: 45px;
      }
      .reportVBtn {
        width: 102px;
        max-height: 35px;
        font-size: fontSize(10);
        margin-top: 20px;
        padding: 0px 5px;
      }
      .learnMBtn {
        width: 90px;
        max-height: 35px;
        font-size: fontSize(10);
        margin-top: 20px;
        padding: 0px 5px;
      }
    }
  }
}
